<template>
  <div id="chipValidatorCont" class="md-layout md-size-70 md-small-size-100 md-alignment-center">
        <md-card class="md-layout-item md-size-100">
            <!-- cabecera -->
            <md-card-header class="blue" style="position: relative;">
                <md-avatar>
                <md-icon class="white">check_circle</md-icon>
                </md-avatar>
                <div class="md-headline white">Validación de Chips</div>
                <div style="position: absolute; right: 20px; top: 13px;" v-show="data_table.length > 0">
                    <download-excel :data="data_table" :fields="fields_excel" :name="name_excel">
                        <md-button class="md-icon-button"><md-icon class="material-icons" :class="{'rotate': loading }">{{ loading ? 'autorenew' : 'archive'}}</md-icon></md-button>
                        <md-tooltip md-direction="top">Desc argar Resultado</md-tooltip>
                    </download-excel>
                </div>
            </md-card-header>

            <md-card-content class="md-layout-item md-size-100">
                <!-- buscador -->
                <div class="md-layout md-size-100 md-alignment-center-center">
                    <div class="md-layout-item md-size-30 md-small-100">
                        <md-field>
                            <label><md-icon>search</md-icon></label>
                            <!-- <input type="text" id="scanner"> -->
                            <md-input type="text" v-model="lccid" v-on:keypress.enter="validateChip($event)"></md-input>
                        </md-field>
                    </div>
                </div>
                <!-- tabla -->
                <div class="md-layout md-size-100">
                    <md-progress-bar md-mode="indeterminate" v-if="loading" style="width: 100%;"></md-progress-bar>
                    <md-table  md-fixed-header :value="data_table" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" 
                    :md-sort-fn="customSort" style="background-color: #ffffff; width: 100%">

                    <md-table-empty-state md-label="Sin Datos" md-description="No se han escaneado chips"></md-table-empty-state>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
                        <md-table-cell style="text-align: left;" md-label="LCCID" md-sort-by="lccid">{{ item.lccid }}</md-table-cell>
                        <md-table-cell style="text-align: center;" md-label="Estado" md-sort-by="status">{{ item.status }}</md-table-cell>
                    </md-table-row>
                    </md-table>
                </div>
            </md-card-content>
        </md-card>
        <md-dialog-alert :md-active.sync="alert" md-title="Aviso!"  :md-content="content" />
    </div>
</template>

<script>

export default {
    data() {
        return {
            loading:            false,
            lccid:              '',
            currentSort:        "index",
            currentSortOrder:   "asc",
            data_table:         [],
            data_excel:         [],
            name_excel:         'Resultado Chips Validados.xls',
            fields_excel:       {
                'N°':           'index',
                lccid:          'lccid',
                estado:         'status'
            },
            content:            '',
            alert:              false

        }
    },
    created() {
    },
    mounted() {
        // const scanner = document.getElementById('scanner');
        // scanner.addEventListener('keypress',  (event) => {this.validateChip(event) });
    },
    methods: {
        validateChip(event) {
            if(event.keyCode == 13) {

            this.loading = true;
                // this.$http.get(this.getUrlBase() + "/api/v1/chip/?lccid=" + event.originalTarget.value, this.getHeaders()).then( resp => {
                this.$http.get(this.getUrlBase() + "/api/v1/chip/?lccid=" + this.lccid, this.getHeaders()).then( resp => {
                    this.data_table.push({ 
                        index: this.data_table.length + 1,
                        // lccid: event.originalTarget.value, 
                        lccid: this.lccid, 
                        status: resp.body.length > 0 ? 'encontrado' : 'no encontrado' 
                    })
                    this.data_table.sort((a, b) => b.index - a.index);
                    this.lccid = '';
                    // event.originalTarget.value = '';

                    this.loading = false;
                }, (error) => {
                    if(error.status == 401) this.validateChip();
                    else { 
                        this.content = "No se logro comprobar el estado del chip."
                        this.alert = true
                    }
                    this.loading = false;
                })
            }
        },
        customSort(value) {
            const sortBy = this.currentSort
            return this.data_table.sort((a, b) => {
                const sortBy = this.currentSort;
                if (this.currentSortOrder === "desc") {
                if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
                else return a[sortBy] - b[sortBy];
                } else {
                if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
                else return b[sortBy] - a[sortBy];
                }
            })
        },
    }
}
</script>

<style lang="scss">
#chipValidatorCont > div > div> div:nth-child(2) > div > div > div > table > thead > tr {
    background-color: #448aff !important;
}
#chipValidatorCont > div > div > div:nth-child(2) > div > div > div > table > thead > tr > th > div > div {
    color: white !important;
}

/* ENDLESS ROTATE */
.rotate {
  -webkit-animation: rotate 1.5s linear infinite; 
          animation: rotate 1.5s linear infinite; 
}
@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }
</style>