<template >
    <div id="statusContent">
<!-- botonera -->
        <md-button id="fabsType" class="md-fab md-mini" @click="showInsertDialog">
            <md-icon>add</md-icon>
        </md-button>
<!-- filtrar tabla -->
        <md-field id="searchInput" >
            <label>Buscar..</label>
            <md-input status="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
<!-- ingresar tipo -->
    <md-dialog id="StatusContInsert" :md-active.sync="dialog_insert">
      <md-card style="height: 100%">
        <md-card-header  style="background-color:#ff6702;">
          <span class="dialog-title">Ingresar Estado sucursal</span>
        </md-card-header>
        <form @submit.prevent="register">
          <md-card-content class="md-layout md-alignment-center">
              <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('status')}">
                  <label>Nombre</label>
                  <md-input v-validate data-vv-rules="required|min:5|max:40" name="status" status="text" v-model="status.status" required></md-input>
              </md-field>
          </md-card-content>
        </form>
        <md-card-actions class="fabsCont">
          <md-button class="md-fab md-mini orange" @click="register"><md-icon>add</md-icon></md-button>
          <md-button class="md-fab md-mini dismiss" @click="dialog_insert = false"><md-icon>close</md-icon></md-button>
        </md-card-actions>
      </md-card>
    </md-dialog>
<!-- actualizar tipo -->
      <md-dialog id="StatusContInsert" :md-active.sync="dialog_edit">
        <md-card style="height: 100%">
          <md-card-header  style="background-color:#ff6702;">
            <span class="dialog-title">Actualizar Estado sucursal</span>
          </md-card-header>
          <form @submit.prevent="editStatus">
            <md-card-content class="md-layout md-alignment-center">
              <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('status')}">
                <label>Nombre</label>
                <md-input v-validate data-vv-rules="required|min:5|max:40" name="status" status="text" v-model="status.status" required></md-input>
              </md-field>
            </md-card-content>
          </form>
          <md-card-actions class="fabsCont">
            <md-button class="md-fab md-mini orange" @click="editStatus"><md-icon>edit</md-icon></md-button>
            <md-button class="md-fab md-mini dismiss" @click="dialog_edit = false"><md-icon>close</md-icon></md-button>
          </md-card-actions>
        </md-card>
      </md-dialog>
<!-- tabla -->
        <md-table id="tableContType" v-model="status_list" md-sort="status" md-sort-order="asc" md-fixed-header @md-selected="onSelect">
        <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-status="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
          <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
        </md-table-empty-state>
          <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
            <md-table-cell md-label="ID" md-sort-by="status">{{ item.id }}</md-table-cell>
            <md-table-cell style="text-align: left;" md-label="Estado" md-sort-by="status">{{ item.status }}</md-table-cell>
            <md-table-cell md-label="Activo" style="text-align: center;">
              <md-button class="md-icon-button md-mini md-accent" @click="disableState(item.id, !item.is_active)">
                <md-icon>{{item.is_active ? 'check_circle' : 'block'}}</md-icon>
                <md-tooltip md-direction="top">{{!item.is_active ? 'habilitar' : 'deshabilitar'}}</md-tooltip>
              </md-button>
            </md-table-cell>
          </md-table-row>
        </md-table>
<!-- alertas -->
        <md-dialog-alert :md-active.sync="wrongData"
            md-title="Datos incorrectos!" md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert :md-active.sync="snack500" :md-content="contentError" />
        <md-dialog-alert :md-active.sync="successful"
            md-title="Exito!" md-content="Los datos han sido ingresados correctamente" />
        <md-dialog-alert :md-active.sync="successfulEdit"
            md-title="Exito!" md-content="Los datos han sido actualizados correctamente" />
    </div>

</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.status).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "configSubsidiaryStatus",
  data() {
    return {
      loading_table: false,
      dialog_edit: false,
      dialog_insert: false,
      swEdit: false,
      successful: false,
      successfulEdit: false,
      aerror: "",
      snackOauth: false,
      snack500: false,
      contentError: "",
      wrongData: false,
      radio: false,
      search: null,
      searched: [],
      repassword: "",
      enterprise: [],
      status_list: [],
      status: {
        user_created: "",
        status: "",
        is_active: false,
        value: 0
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      atoken: "",
      correo: "",
      url: "",
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.Subsidiarystates();
  },
  watch: {},
  methods: {
    onSelect(items) {
      this.swEdit = true
      this.status = {
        id: items.id,
        status: items.status
      }
      this.dialog_edit = true
    },
    searchOnTable() {
      this.searched = searchByName(this.status_list, this.search);
    },
    //obtener todos los tipos y precios
    async Subsidiarystates() {
      this.loading_table = true
      this.status_list = []
      try {
        let response = await this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-status/", this.getHeaders())

        response.body = response.body.sort((a,b) => a.id - b.id)
        this.status_list = response.body
        this.searched = response.body
        this.loading_table = false

      } catch (error) {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.Subsidiarystates()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Listado de estados."
        }
      }
    },
    showInsertDialog() {
      this.clearStatus()
      this.dialog_insert = true
      this.swEdit = false
    },
    register() {
      if ( this.status.status == "" || this.status.status == undefined) this.wrongData = true
      else {
        var data_form = new FormData()
        data_form.append("status", this.status.status)
        data_form.append("is_active", true)

        this.$http.post(this.getUrlBase() + "/api/v1/subsidiary-status/", data_form, this.getHeaders())
        .then(response => {
          this.successful = true
          this.dialog_insert = false
          this.Subsidiarystates()
        },
        error => {
          this.aerror = error.status;
          if (this.aerror == 401) this.register()
          if (this.aerror == 400) this.wrongData = true
          if (this.aerror == 500) {
            this.snack500 = true
            this.contentError = "Error al intentar insertar un registro."
          }
        })
      }
    },
    disableState(id_state, state) {
      var data_form = new FormData()
      data_form.append("is_active", state)
      this.$http.patch(this.getUrlBase() + "/api/v1/subsidiary-status/" + id_state + "/", data_form, this.getHeaders())
      .then(response => {
        this.successfulEdit = true
        this.Subsidiarystates()
      },
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.disableState(id_state, state)
        if (this.aerror == 400) this.wrongData = true
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al intentar deshabilitar un registro."
        }
      })
    },
    editStatus() {
      if (this.status.status == "" || this.status.status == undefined) this.wrongData = true
      else {
        var data_form = new FormData()
        data_form.append("status", this.status.status)

        this.$http.patch(this.getUrlBase() + "/api/v1/subsidiary-status/" + this.status.id + "/", data_form, this.getHeaders())
        .then( response => {
          this.successfulEdit = true
          this.dialog_edit = false
          this.Subsidiarystates()
        },
        error => {
          this.aerror = error.status
          if (this.aerror == 401) this.editStatus()
          if (this.aerror == 400) this.wrongData = true
          if (this.aerror == 500) {
            this.snack500 = true
            this.contentError = "Error al intentar actualizar un registro."
          }
        })
      }
    },
    clearStatus() {
      this.status = {
        cycle_end: false,
        status: "",
        is_active: false
      };
    },
    dismissDialog() {
      this.$router.push({ name: "Login" });
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.correo = this.$localStorage.get("theEmail");
  }
};
</script>
<style>
#statusContent {
  background-color: white;
}
#StatusContInsert {
  width: 40vw;
  margin: 0 2% 80px 2%;
}
#StatusContInsert > div {
  height: fit-content;
}
#tableContType {
  padding-top: 30px;
}
#inputContType {
  margin-left: 40px;
}
#fabsType {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
  top: 10px;
}
#fabs2Type {
  float: right;
  position: relative;
  right: 10px;
  bottom: -35px;
  background-color: #ff6702;
}
.dismiss {
  background-color: #727272 !important;
}
.fabsCont {
  position: absolute;
  bottom: 0;
}
#tableContType {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#descriContType {
  width: 90%;
  display: inline-block;
}
#tableContType > div > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tableContType > div > div > table > thead > tr > th.md-table-head > div > div {
  color: beige !important;
}
.dialog-title {
  font-size: 24px;
  color: #ffffff !important;
  position: relative;
}
.c-green {
  color:  #39af1c !important;
}
.c-red {
  color:  #af211c !important;
}
.orange {
  background-color: #f64b2d !important;
}
.progress-bar {
  width: 60% !important;
  top: 80px !important;
  position: absolute;
  z-index: 20 !important;
}
</style>
