<template >
    <div id="categoriesCont">
<!-- botonera -->
        <md-button id="fabsCat" class="md-fab md-mini" @click="showInsertDialog">
            <md-icon>add</md-icon>
        </md-button>
        <md-button v-if="swEdit" id="fabsCat" class="md-fab md-mini" @click="dialogEdit = true">
            <md-icon>edit</md-icon>
        </md-button>
<!-- filtrar tabla -->
        <md-field id="searchInput" >
            <label>Buscar..</label>
            <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
<!-- agregar categoria -->
    <md-dialog id="CategoryContInsert" :md-active.sync="dialogInsert">
        <md-dialog-title style="background-color:#ff6702;">
          <span class="dialog-title">
            Ingresar Categoría</span>
        </md-dialog-title>
        <div id="inputCont">
            <form @submit.prevent="register">
                <md-field id="descriContCat" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="category.description" required></md-input>
                </md-field>
            </form>
          </div>
          <div class="fabsContCat">
            <md-button id="fabs2Cat" class="md-fab md-mini" @click="register">
              <md-icon>add</md-icon>
            </md-button>
            <md-button id="fabs2Cat" class="md-fab md-mini dismiss" @click="dialogInsert = false">
              <md-icon>close</md-icon>
            </md-button>
          </div>
    </md-dialog>
<!-- actualizar categoria -->
    <md-dialog id="CategoryContInsert" :md-active.sync="dialogEdit">
        <md-dialog-title style="background-color:#ff6702;">
          <span class="dialog-title">
            Actualizar Categoría</span>
        </md-dialog-title>
        <div id="inputCont">
            <form @submit.prevent="editCategory">
                <md-field id="descriContCat" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="category.description" required></md-input>
                </md-field>
            </form>
          </div>
          <div class="fabsContCat">
            <md-button id="fabs2Cat" class="md-fab md-mini" @click="editCategory">
              <md-icon>edit</md-icon>
            </md-button>
            <md-button id="fabs2Cat" class="md-fab md-mini dismiss" @click="dialogEdit = false">
              <md-icon>close</md-icon>
            </md-button>
          </div>
    </md-dialog>
<!-- tabla -->
        <div id="tableContCategory">
          <md-table v-model="searched" md-sort="description" md-sort-order="asc" md-fixed-header @md-selected="onSelect">
              <md-table-empty-state v-if="loading_table" style="align" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
              </md-table-empty-state>
            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
              <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
              <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="description">{{ item.description }}</md-table-cell>
            </md-table-row>
          </md-table>
        </div>
        <md-dialog-alert
            :md-active.sync="noData"
            md-title="No hay datos!"
            md-content="Favor ingresar los datos correspondientes" />
        <md-dialog-alert
            :md-active.sync="wrongData"
            md-title="Datos incorrectos!"
            md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert
            :md-active.sync="snack500"
            :md-content="contentError" />
        <md-dialog-alert
            :md-active.sync="successful"
            md-title="Exito!"
            md-content="Los datos han sido ingresados correctamente" />
        <md-dialog-alert
            :md-active.sync="successfulEdit"
            md-title="Exito!"
            md-content="Los datos han sido actualizados correctamente" />
    </div>

</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.description).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "configCategory",
  data() {
    return {
      loading_table: false,
      dialogEdit: false,
      dialogInsert: false,
      swEdit: false,
      successful: false,
      successfulEdit: false,
      aerror: "",
      noData: false,
      snack500: false,
      snackOauth: false,
      contentError: "",
      wrongData: false,
      radio: false,
      search: null,
      searched: [],
      repassword: "",
      enterprise: [],
      allTheCategories: [],
      category: {
        user_created: "",
        description: "",
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      correo: "",
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.getAllCategories();
  },
  watch: {},
  methods: {
    onSelect(items) {
      this.swEdit = true;
      this.category = {
        description: "",
        is_active: false
      };
      this.category = items;
    },
    searchOnTable() {
      this.searched = searchByName(this.allTheCategories, this.search);
    },
    getAllCategories() {
      this.loading_table = true
      this.allTheCategories = [];
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        response.body.forEach((el, index) => { el.index = ++index })
        this.allTheCategories = response.body
        this.searched = this.allTheCategories
        this.loading_table = false
      },
      error => {
        this.loading_table = false
        this.aerror = error.status
        if(this.aerror == 401) this.getAllCategories()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Listado de categorias.";
        }
      })
    },
    showInsertDialog(){
      this.clearCategory();
      this.swEdit = false;
      this.dialogInsert = true;
    },
    register() {
      this.category.user_created = this.correo;
      var data_form = new FormData();
      data_form.append('user_created', this.category.user_created);
      data_form.append('description', this.category.description);
      data_form.append('is_active', this.category.is_active);

      this.$http
        .post(this.getUrlBase() + "/api/v1/categories/", data_form, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getAllCategories();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.register();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar insertar un registro.";
            }
          }
        );
    },
    disableCategory() {
      // this.radio = !this.radio;
      this.category.is_active = !this.category.is_active;

      var data_form = new FormData();
      data_form.append('is_active',this.category.is_active);
      this.$http
        .patch(this.getUrlBase() + "/api/v1/categories/" + this.category.id + "/", data_form, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getAllCategories();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.disableCategory();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar deshabilitar un registro.";
            }
          }
        );
    },
    editCategory() {
      this.category.user_created = this.correo;
      if (this.category.description == "") {
        this.noData = true;
      } else {
      var data_form = new FormData();
      data_form.append('description',this.category.description);
      this.$http
        .patch(this.getUrlBase() + "/api/v1/categories/" + this.category.id + "/", data_form, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getAllCategories();
            this.dialogEdit = false;
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.editCategory();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar actualizar un registro.";
            }
          }
        );
      }
    },
    clearCategory(){
      this.category= {
        user_created: "",
        description: "",
        is_active: false
      }
    },
    dismissDialog() {
      this.successful = !this.successful;
      this.$router.push({ name: "Login" });
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.correo = this.$localStorage.get("theEmail");
  }
};
</script>
<style>
#categoriesCont {
  background-color: white;
}
#CategoryContInsert{
  width: 500px;
  margin: 0 2% 80px 2%;
}
#inputCont {
  margin: 0px 16px;
}
.fabsContCat {
  width: 100%;
  float: right;
}
#fabsCat {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
  top: 10px;
}
#fabs2Cat{
  float: right;
  right: 10px;
  bottom: 0;
  background-color: #ff6702;
}
.dismiss {
  background-color: #727272 !important;
}
#tableContCategory {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
#descriContCat {
  width: 90%;
  display: inline-block;
}
#tableContCategory > div > div > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tableContCategory > div > div > div > table > thead > tr > th > div > div {
  color: beige !important;
}
.dialog-title {
  font-size: 24px;
  color: #ffffff !important;
  top: -10px;
  position: relative;
}
</style>
