<template >
    <div id="typeContent">
<!-- botonera -->
        <md-button id="fabsType" class="md-fab md-mini" @click="showInsertDialog">
            <md-icon>add</md-icon>
        </md-button>
        <md-button v-if="swEdit" id="fabsType" class="md-fab md-mini" @click="dialogEdit = true">
            <md-icon>edit</md-icon>
        </md-button>
<!-- filtrar tabla -->
        <md-field id="searchInput" >
            <label>Buscar..</label>
            <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
<!-- ingresar tipo -->
    <md-dialog id="TypeContInsert" :md-active.sync="dialogInsert">
      <md-card>
        <md-card-header style="background-color:#ff6702;">
          <span class="md-title white">Ingresar tipo</span>
        </md-card-header>
        <form @submit.prevent="editAType">
          <md-card-content class="md-layout md-alignment-center">
            <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('description')}">
              <label>Nombre</label>
              <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="type.description" required></md-input>
            </md-field>
          </md-card-content>
        </form>
        <md-card-actions>
          <md-button class="md-fab md-mini b-orange" @click="register">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button class="md-fab md-mini dismiss" @click="dialogInsert = false">
            <md-icon>close</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-dialog>
<!-- actualizar tipo -->
    <md-dialog id="TypeContInsert" :md-active.sync="dialogEdit">
      <md-card>
        <md-card-header style="background-color:#ff6702;">
          <span class="md-title white">Actualizar tipo</span>
        </md-card-header>
        <form @submit.prevent="editAType">
          <md-card-content class="md-layout md-alignment-center">
            <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('description')}">
              <label>Nombre</label>
              <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="type.description" required></md-input>
            </md-field>
          </md-card-content>
        </form>
        <md-card-actions>
          <md-button class="md-fab md-mini b-orange" @click="editAType">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button class="md-fab md-mini dismiss" @click="dialogEdit = false">
            <md-icon>close</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-dialog>
<!-- tabla -->
        <div id="tableContType">
          <md-table v-model="searched" md-sort="description" md-sort-order="asc" md-fixed-header @md-selected="onSelect">
            <md-table-empty-state v-if="loading_table" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar class="progress-bar" md-mode="indeterminate"></md-progress-bar>
            </md-table-empty-state>
            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
              <md-table-cell md-label="ID" md-sort-by="id">{{ item.id }}</md-table-cell>
              <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="description">{{ item.description }}</md-table-cell>
              <md-table-cell md-label="Valor" md-numeric md-sort-by="value">{{ item.value }}</md-table-cell>
              <md-table-cell md-label="Acciones" style="text-align: center;">
                <md-button class="md-icon-button md-mini md-accent" v-if="item.value != 'sin valor asignado'" @click="editValueDialog(item)">
                  <md-icon>attach_money</md-icon>
                  <md-tooltip md-direction="top">configurar valor</md-tooltip>
                </md-button>
                <md-button v-else class="md-icon-button md-mini md-accent" @click="addValueDialog(item)">
                  <md-icon>money_off</md-icon>
                  <md-tooltip md-direction="top">configurar valor</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-mini md-accent" @click="changeTerrainType(item.id, !item.terrain)">
                  <md-icon>{{item.terrain ? 'check_circle' : 'block'}}</md-icon>
                  <md-tooltip md-direction="top">{{!item.terrain ? 'asignar a territorio' : 'quitar de territorio'}}</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-mini md-accent" @click="disableType(item.id, !item.is_active)">
                  <md-icon>{{item.is_active ? 'check_circle' : 'block'}}</md-icon>
                  <md-tooltip md-direction="top">{{!item.is_active ? 'habilitar' : 'deshabilitar'}}</md-tooltip>
                </md-button>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </div>
<!-- actualizar valor -->
      <md-dialog id="TypeContInsert" :md-active.sync="dialogValueEdit">
          <md-card>
            <md-card-header style="background-color:#ff6702;">
              <span class="md-title white">Actualizar Valor</span>
              <span class="md-title white">- {{type.description}}</span>
            </md-card-header>
            <form @submit.prevent="editAType">
              <md-card-content class="md-layout md-alignment-center">
                <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('value')}">
                  <label>Valor</label>
                  <md-input v-validate data-vv-rules="required|numeric|min:3|max:5" name="value" type="text" v-model="type.value" required></md-input>
                </md-field>
              </md-card-content>
            </form>
            <md-card-actions>
              <md-button class="md-fab md-mini b-orange" @click="editValue">
                <md-icon>edit</md-icon>
              </md-button>
              <md-button class="md-fab md-mini dismiss" @click="dialogValueEdit = false">
                <md-icon>close</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
    </md-dialog>
<!-- añadir valor -->
      <md-dialog id="TypeContInsert" :md-active.sync="dialogValueAdd">
          <md-card>
            <md-card-header style="background-color:#ff6702;">
              <span class="md-title white">Ingresar Valor</span>
              <span class="md-title white">- {{type.description}}</span>
            </md-card-header>
            <form @submit.prevent="addValue">
              <md-card-content class="md-layout md-alignment-center">
                <md-field class="md-layout-item md-size-90" :class="{'md-invalid': errors.has('value')}">
                  <label>Valor</label>
                  <md-input v-validate data-vv-rules="required|numeric|min:3|max:5" name="value" type="text" v-model="type.value" required></md-input>
                </md-field>
              </md-card-content>
            </form>
            <md-card-actions>
              <md-button class="md-fab md-mini b-orange" @click="addValue">
                <md-icon>edit</md-icon>
              </md-button>
              <md-button class="md-fab md-mini dismiss" @click="dialogValueAdd = false">
                <md-icon>close</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
    </md-dialog>
<!-- alertas -->
        <md-dialog-alert
            :md-active.sync="noData"
            md-title="No hay datos!"
            md-content="Favor ingresar los datos correspondientes" />
        <md-dialog-alert
            :md-active.sync="wrongData"
            md-title="Datos incorrectos!"
            md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert
            :md-active.sync="snack500"
            :md-content="contentError" />
        <md-dialog-alert
            :md-active.sync="successful"
            md-title="Exito!"
            md-content="Los datos han sido ingresados correctamente" />
        <md-dialog-alert
            :md-active.sync="successfulEdit"
            md-title="Exito!"
            md-content="Los datos han sido actualizados correctamente" />
    </div>

</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.description).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "configType",
  data() {
    return {
      loading_table: false,
      dialogValueEdit: false,
      dialogValueAdd: false,
      dialogEdit: false,
      dialogInsert: false,
      swEdit: false,
      successful: false,
      successfulEdit: false,
      aerror: "",
      noData: false,
      snackOauth: false,
      snack500: false,
      contentError: "",
      wrongData: false,
      radio: false,
      search: null,
      searched: [],
      repassword: "",
      enterprise: [],
      allTheTypes: [],
      type: {
        user_created: "",
        description: "",
        is_active: false,
        value: 0
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      atoken: "",
      correo: "",
      url: "",
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.getAllTypes();
  },
  watch: {},
  methods: {
    onSelect(items) {
      if(items != null) {
        this.swEdit = true
        this.type = {
          description: items.description,
          id: items.id,
          id_value: items.id_value,
          is_active: items.is_active,
          terrain: items.terrain,
          value: items.value
        }
      } else this.swEdit = false
    },
    searchOnTable() {
      this.searched = searchByName(this.allTheTypes, this.search);
    },
    //obtener todos los tipos y precios
    async getAllTypes() {
      this.loading_table = true
      this.allTheTypes = [];
      try {
        let resp_1 = await this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
        var types = resp_1.body.sort((a,b) => a.id - b.id)
        let resp_2 = await this.$http.get(this.getUrlBase() + "/api/v1/value-chip/", this.getHeaders())
        var values = resp_2.body
        types.forEach(type => {
          var idx = values.findIndex(n => n.id_type == type.id);
          if (idx != -1) {
            this.allTheTypes.push({
              id: type.id,
              description: type.description,
              value: values[idx].value,
              terrain: type.terrain,
              is_active: type.is_active,
              id_value: values[idx].id
            });
          } else {
            this.allTheTypes.push({
              id: type.id,
              terrain: type.terrain,
              description: type.description,
              value: "sin valor asignado",
              is_active: type.is_active,
              id_value: -1
            })
          }
        })
        this.searched = this.allTheTypes
        this.loading_table = false
      } catch (error) {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.getAllTypes()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Listado de tipos."
        }
      }
    },
    showInsertDialog() {
      this.clearType();
      this.dialogInsert = true;
      this.swEdit = false;
    },
    register() {
      if (
        this.type.description == "" || this.type.description == undefined){
        this.wrongData = true;
      } else {
        this.type.user_created = this.correo;
        var data_form = new FormData();
        data_form.append("user_created", this.type.user_created);
        data_form.append("description", this.type.description);
        data_form.append("is_active", true);

        this.$http
          .post(this.getUrlBase() + "/api/v1/type/", data_form, this.getHeaders())
          .then(
            response => {
              this.successful = true;
              this.getAllTypes();
              this.dialogInsert = false
            },
            error => {
              this.aerror = error.status;
              if (this.aerror == 401) {
                this.register();
              }
              if (this.aerror == 400) {
                this.wrongData = true;
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al intentar insertar un registro.";
              }
            }
          );
      }
    },
    changeTerrainType(idType, state) {
      var data_form = new FormData();
      data_form.append("terrain", state);

      this.$http.patch(this.getUrlBase() + "/api/v1/type/" + idType + "/", data_form, this.getHeaders())
        .then(response => {
            this.successfulEdit = true;
            this.getAllTypes();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) this.changeTerrainType(idType, state)
            if (this.aerror == 400) this.wrongData = true
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar deshabilitar un registro.";
            }
          }
        );
    },
    disableType(idType, state) {
      var data_form = new FormData();
      data_form.append("is_active", state);

      this.$http
        .patch(this.getUrlBase() + "/api/v1/type/" + idType + "/", data_form, this.getHeaders())
        .then(
          response => {
            //LISTAR TODOS LOS VALUE-TYPE
            this.$http.get(this.getUrlBase() + "/api/v1/value-chip/", this.getHeaders())
              .then(response => {
                var values = response.body;
                //OBTENER ID DE VALUE-TYPE SEGUN ID_TYPE
                var obj = values.filter(val => val.id_type == idType)[0];
                var id = obj != undefined ? obj.id : -1
                if (id != -1) {
                  //ACTUALIZAR VALUE DE TYPE ACTUALIZADO
                  this.$http.patch(this.getUrlBase() + "/api/v1/value-chip/" + id + "/",
                    data_form,this.getHeaders())
                    .then( response => {
                        this.successfulEdit = true;
                        this.getAllTypes();
                      },
                      error => {
                        this.aerror = error.status;
                        if (this.aerror == 401) this.getToken()
                        if (this.aerror == 400) this.wrongData = true
                        if (this.aerror == 500) {
                          this.snack500 = true;
                          this.contentError = "Error al intentar deshabilitar un registro.";
                        }
                      }
                    );
                }
                else {
                  this.successfulEdit = true
                  this.getAllTypes();
                }
              });
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) this.disableType(idType, state)
            if (this.aerror == 400) this.wrongData = true
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar deshabilitar un registro.";
            }
          }
        );
    },
    editAType() {
      this.type.user_created = this.correo;
      if (this.type.description == "" || this.type.description == undefined) {
        this.noData = true;
      } else {
        var data_form = new FormData();
        data_form.append("description", this.type.description);
        this.$http
          .patch(this.getUrlBase() + "/api/v1/type/" + this.type.id + "/", data_form, this.getHeaders())
          .then(
            response => {
              this.successfulEdit = true;
              this.dialogEdit = false
              this.getAllTypes();
            },
            error => {
              this.aerror = error.status;
              if (this.aerror == 401) {
                this.editAType();
              }
              if (this.aerror == 400) {
                this.wrongData = true;
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al intentar actualizar un registro.";
              }
            }
          );
      }
    },
  // ##############################valor##############################
    editValueDialog(items){
      this.dialogValueEdit = true;
      this.type = {
        description: items.description,
        id: items.id,
        id_value: items.id_value,
        is_active: items.is_active,
        terrain: items.terrain,
        value: items.value
      }
    },
    closeValueEdit(){
      this.type.value = "sin valor asignado";
      this.dialogValueAdd = false;
    },
    addValueDialog(items){
      this.type = {
        description: items.description,
        id: items.id,
        id_value: items.id_value,
        is_active: items.is_active,
        terrain: items.terrain,
        value: items.value
      }
      this.type.value = 0;
      this.dialogValueAdd = true;
    },
    addValue(){
      //RESPONSE RETORNA REGISTRO INSERTADO
      var data_form = new FormData();
      data_form.append("id_type", this.type.id);
      data_form.append("user_created", this.correo);
      data_form.append("value", this.type.value != 'sin valor asignado' ? this.type.value : 0);

      this.$http
        .post(this.getUrlBase() + "/api/v1/value-chip/", data_form, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.dialogValueAdd = false;
            this.getAllTypes();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.addValue();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Error al intentar insertar un registro.";
            }
          }
        );
    },
    editValue(){
      var data_form_value = new FormData();
      data_form_value.append("value", this.type.value);
      this.$http
        .patch(
          this.getUrlBase() + "/api/v1/value-chip/" + this.type.id_value + "/",
          data_form_value, this.getHeaders())
        .then(
          response => {
            this.successfulEdit = true;
            this.getAllTypes();
            this.dialogValueEdit = false;
          },
          error => {
            this.dialogValueEdit = false;
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.editValue();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Error al intentar actualizar un registro.";
            }
          }
        );
    },
    clearType() {
      this.type = {
        user_created: "",
        description: "",
        is_active: false,
        value: 0,
        id_value: -1
      };
    },
    dismissDialog() {
      this.successful = !this.successful;
      this.$router.push({ name: "Login" });
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.correo = this.$localStorage.get("theEmail");
  }
};
</script>
<style>
#typeContent {
  background-color: white;
}
#TypeContInsert {
  width: 40vw;
  margin: 20px 2% 80px 2%;
}
#inputContType {
  margin-left: 40px;
}
#fabsType {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
  top: 10px;
}
#fabs2Type {
  float: right;
  position: relative;
  right: 10px;
  bottom: -35px;
  background-color: #ff6702;
}
.dismiss {
  background-color: #727272 !important;
}
.fabsCont {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#tableContType {
  top: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#descriContType {
  width: 90%;
  display: inline-block;
}
.b-orange {
  background-color: #ff6702 !important;
}
#tableContType > div > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tableContType > div > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: beige !important;
}
.dialog-title {
  font-size: 24px;
  color: #ffffff !important;
  top: -10px;
  position: relative;
}
.progress-bar {
  width: 60% !important;
  top: 80px !important;
  position: absolute;
  z-index: 20 !important;
}
.white {
  color: beige !important;
}
</style>
