<template>
  <div id="contentSC">

    <div class="md-layout-item md-layout md-size-100 md-alignment-center-right">

      <div  class="md-layout-item md-size-25 md-xsmall-size-90">
        <md-field id="table_field" class="md-layout-item md-size-80 md-xsmall-size-90">
          <label>Buscar..</label>
          <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
      </div>

    </div>

    <div class="md-layout md-layout-item md-size-100 md-alignment-center">
      <md-table md-card class="md-layout-item md-size-90" :value="data_pagging" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder"
        :md-sort-fn="customSort" md-fixed-header>

        <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin datos para mostrar'" 
          :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando' : 
          'No se han encontrado registros'">
          <md-progress-bar v-if="loading_table" class="progress-bar" md-mode="indeterminate"></md-progress-bar>
        </md-table-empty-state>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Región" md-sort-by="region_name">{{ item.region_name }}</md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Comuna" md-sort-by="name">{{ item.name }}</md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Encargado" md-sort-by="region">
            <md-field id="table_field">
              <md-select placeholder="Seleccionar" name="manager" :value="item.cm.user" @md-selected="selectedManager(item, $event)">
                <md-option v-for="(manager, idx) in item.users" :value="manager.id" :key="idx">{{ manager.name }}</md-option>
              </md-select>
            </md-field>
          </md-table-cell>
        </md-table-row>

      </md-table>

      <div id="icons" v-if="searched.length > 6">
        <md-button id="navs" class="md-fab md-mini" @click="prevPage">
          <md-icon class="nav-icon">keyboard_arrow_left</md-icon>
        </md-button>
        <span style="width: 50%">{{currentPage}} - {{maxPage}}</span>
        <md-button id="navs" class="md-fab md-mini" @click="nextPage">
          <md-icon class="nav-icon">keyboard_arrow_right</md-icon>
        </md-button>
      </div>
    </div>

    <md-dialog-confirm :md-active.sync="confirm_dialog"
      md-title="Advertencia, se debe confirmar cambio de comuna"
      :md-content="`El Encargado ${current_commune.user_name}
       ya se encuentra asignado a otra comuna: ${old_commune.commune_name}.`"
      md-confirm-text="Confirmar"
      md-cancel-text="Cancelar"
      @md-cancel="closeDialog"
      @md-confirm="validateCM"/>

    <md-dialog-alert :md-active.sync="alert" md-title="Aviso!" :md-content="content" />

  </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByEveryThing = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.index).includes(toLower(term)) ||
      toLower(item.name).includes(toLower(term)) ||
      toLower(item.region_name).includes(toLower(term)) ||
      toLower(item.cm.user_info.first_name).includes(toLower(term)) ||
      toLower(item.cm.user_info.last_name).includes(toLower(term)) ||
      toLower(item.cm.user_info.email).includes(toLower(term))
    );
  }

  return items;
};
export default {
  name: "ConfigManagerCommune",
  data() {
    return {
      alert:                  false,
      content:                "",

      confirm_dialog:         false,

      users:                  [],
      regions:                [],
      communes:               [],
      commune_managers:       [],

      searched:               [],
      search:                 "",

      pageSize:               6,
      currentPage:            1,
      maxPage:                0,

      loading_table:          false,
      loading_regions:        false,
      loading_communes:       false,

      currentSort:            "name",
      currentSortOrder:       "asc",

      old_commune:            {
        "cm":                 {
          "id":               0,
          "user":             0,
          "commune":          0,
          "commune_name":     "",
          "created_at":       "",
          "user_info":        {
              "first_name":   "",
              "last_name":    "",
              "email":        "",
              "photo":        ""
          },
          "region_id":        0,
          "region_name":      ""
        } 
      },
      current_commune:        {
        "cm":                 {
          "id":               0,
          "user":             0,
          "commune":          0,
          "commune_name":     "",
          "created_at":       "",
          "user_info":        {
              "first_name":   "",
              "last_name":    "",
              "email":        "",
              "photo":        ""
          },
          "region_id":        0,
          "region_name":      ""
        } 
      },
      default_mc:             {
        "id":                 0,
        "user":               0,
        "commune":            0,
        "commune_name":       "",
        "created_at":         "",
        "user_info": {
            "first_name":     "",
            "last_name":      "",
            "email":          "",
            "photo":          ""
        },
        "region_id":          0,
        "region_name":        ""
      }
    }
  },
  created() {},
  mounted() {
    this.loading_table = true
    this.getUsers()
  },
  computed: {
    data_pagging() {
      return this.searched
        .filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    }
  },
  methods: {
    // obtener listado de usuarios rol arroba
    async getUsers() {
      try {

        this.loading_users = true
        this.users = []
        const resp = await this.$http.get(this.getUrlBase() + "/api/v1/users/", this.getHeaders())
        resp.body.forEach( u => u.name = u.first_name + " " + u.last_name)
        this.users = resp.body.filter(u => u.groups == 3)
        this.loading_users = false
        this.getCommuneManager()

      } catch (error) {
        this.loading_users = false
        if (error.status == 401) this.getUsers()
        if(error.status == 500) {
          this.alert = true
          this.content = "No se logro obtener el listado de usuarios"
        }
      }
    },
    // obtener listado de comunas con supervisores
    async getCommuneManager() {
      this.commune_managers = []
      try {
        const resp = await this.$http.get(this.getUrlBase() + "/api/v1/commune-manager/", this.getHeaders())
        resp.body.forEach(cm => cm.user_info.name = cm.user_info.first_name + " " + cm.user_info.last_name)
        this.commune_managers = resp.body
        this.getCommunes();

      } catch (error) {
        this.loading_table = false
        if (error.status == 401) this.getCommuneManager()
        if(error.status == 500) {
          this.alert = true
          this.content = "No se logro obtener el listado de comunas"
        }
      }
    },
    // obtener listado de comunas 
    async getCommunes() {
      this.communes = []
      this.searched = []
      try {
        this.loading_table = true
        const resp = await this.$http.get(this.getUrlBase() + "/api/v1/reports/commune/", this.getHeaders())
        resp.body.forEach((c, index) => {
          c.index = ++index
          c.users = this.users
          let mc = this.commune_managers.filter(cm => cm.commune == c.id)[0]
          c.cm = mc != undefined ? mc : this.default_mc
        })
        this.communes = resp.body
        this.searched = this.communes
        this.getLastPage()
        this.loading_table = false

      } catch (error) {
        this.loading_table = false
        if (error.status == 401) this.getCommunes()
        if(error.status == 500) {
          this.alert = true
          this.content = "No se logro obtener el listado de comunas"
        }
      }
    },
    // al seleccionar una fila, validar si ya existe otra comuna con el usuario seleccionado
    selectedManager(commune, value) {
      // validar id usuario
      const commune_manager = this.commune_managers.filter(cm => cm.user == value)[0]
      commune.user = value
      commune.user_name = this.users.filter(u => u.id == value)[0].name

      if(commune_manager != undefined) {
        
        this.old_commune = commune_manager
        this.current_commune = commune
        this.confirm_dialog = true

      } else {

        this.current_commune = commune
        this.validateCM()

      }
    },
    // chequear si existe registro de commune-manager para actualizar o crear dependiendo del caso
    validateCM() {
      const commune_manager = this.commune_managers.filter(cm => cm.commune == this.current_commune.id)[0]
      if(commune_manager != undefined) { // actualizar registro
        this.update();
      } else { // crear registro
        this.register();
      }
      
      if(this.old_commune.id != undefined) {
        this.updateOld()
      }
    },
    // insertar en manager-commune
    async register() {
      try {
        const data_form = new FormData()
        data_form.append("user", this.current_commune.user);
        data_form.append("commune", this.current_commune.id);

        await this.$http.post(this.getUrlBase() + "/api/v1/commune-manager/", data_form, this.getHeaders())
        
        this.alert = true
        this.content = "Se ha ingresado un registro."
        
        this.getUsers()
        this.clearField()

      } catch (error) {
        if(error.status == 401) this.register()
        if(error.status == 500) {
          this.error = true
          this.content = "No se logro asignar un encargado a la comuna: " + this.current_commune.name
        }
      }
    },
    // actualizar en manager-commune
    async update() {
      try {
        const data_form = new FormData()
        data_form.append("user", this.current_commune.user);
        
        await this.$http.patch(this.getUrlBase() + "/api/v1/commune-manager/" + this.current_commune.cm.id + "/", data_form, this.getHeaders())

        this.alert = true
        this.content = "Se ha actualizado un registro."

        this.getUsers()
        this.clearField()

      } catch (error) {
        if(error.status == 401) this.update()
        if(error.status == 500) {
          this.error = true
          this.content = "No se logro asignar un encargado a la comuna: " + this.current_commune.name
        }
      }
    },
    async updateOld() {
      try {
        const data_form = new FormData()
        data_form.append("user", null);

        await this.$http.patch(this.getUrlBase() + "/api/v1/commune-manager/" + this.old_commune.id + "/", data_form, this.getHeaders())

        this.getUsers()
        this.clearField()

      } catch (error) {
        if(error.status == 401) this.updateOld()
        if(error.status == 500) {
          this.error = true
          this.content = "No se logro asignar un encargado a la comuna: " + this.current_commune.name
        }
      }
    },
    //----------------------------------------------------------------------------------------------
    getManager(id) {
      const mc = this.commune_managers.filter(cm => cm.commune_id == id)[0];
      
      return mc != undefined ? mc : null
    },
    closeDialog() {
      this.getCommuneManager();
      this.confirm_dialog = false
      this.clearField()
      
    },
    clearField() {
      this.old_commune = {
        "cm":                 {
          "id":               0,
          "user":             0,
          "commune":          0,
          "commune_name":     "",
          "created_at":       "",
          "user_info":        {
              "first_name":   "",
              "last_name":    "",
              "email":        "",
              "photo":        ""
          },
          "region_id":        0,
          "region_name":      ""
        } 
      }
      this.current_commune = {
        "cm":                 {
          "id":               0,
          "user":             0,
          "commune":          0,
          "commune_name":     "",
          "created_at":       "",
          "user_info":        {
              "first_name":   "",
              "last_name":    "",
              "email":        "",
              "photo":        ""
          },
          "region_id":        0,
          "region_name":      ""
        } 
      }
    },
    customSort(value) {
      return this.communes.sort((a, b) => {
        var sortBy = this.currentSort
        if (this.currentSortOrder === "desc") {
          if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
          else return a[sortBy] - b[sortBy];
        } else {
          if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
          else return b[sortBy] - a[sortBy];
        }
      })
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.searched.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.searched.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.searched.length; n++) {
        this.maxPage++;
      }
    },
    searchOnTable() {
      this.searched = searchByEveryThing(this.communes, this.search)
      this.currentPage = 1
    },
  }
}
</script>
<style>
#icons {
  width: 200px;
  align-items: center;
  display: inline-flex;
}
#icons > span {
  color: #448aff;
  font-size: 18px;
  font-weight: 600;
  margin: 0 1%;
}
#navs {
  background-color: #448aff;
  float: left;
}
.progress-bar {
  width: 60% !important;
  top: 80px !important;
  position: absolute;
  z-index: 20 !important;
}
#table_field {
  margin: 0 !important;
}
#contentSC > div > div > div.md-table-fixed-header > div > table > thead {
  background-color: #ff6702;
}
#contentSC > div > div > div.md-table-fixed-header > div > table > thead > tr > th > div {
  color: white;
}
#contentSC > div > div > div > div > table > thead > tr > th {
  width: 25% !important;
}
#contentSC > div > div > div > table > tbody > tr > td {
  width: 25% !important;
}
</style>


