<template>
  <div id="configProductCont">
<!-- botonera -->
    <md-button id="fabs" class="md-fab md-mini" @click="showInsertDialog">
        <md-icon>add</md-icon>
    </md-button>
    <md-button id="fabs" class="md-fab md-mini" @click="dialog_form = true" v-if="swEdit">
        <md-icon>create</md-icon>
    </md-button>
<!-- filtrar tabla -->
    <md-field id="searchInput" >
        <label> <md-icon>search</md-icon>Buscar...</label>
        <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
    </md-field>
<!-- formulario puntos -->
    <md-dialog :md-active.sync="dialog_form" style="overflow: hidden;">
      <md-card id="point-card-form">
        <md-card-header style="background-color: #ff6702;">
          <span class="md-title white">{{ mdTitle }}</span>
        </md-card-header>
        <md-card-content>
          <form @submit.prevent="register">
            <div class="md-layout md-alignment-center md-gutter">
              <div class="md-layout-item md-size-90">
                <md-field :class="{'md-invalid': errors.has('type')}">
                  <label>Tipo de Punto</label>
                  <md-select ref="types" v-validate="'required|not_in:Choose'" name="type" v-model="point.type" required>
                    <md-option v-for="(item, idx) in filterTypes" v-bind:value="item.id" :key="idx">{{item.description}}</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-90">
                <md-field :class="{'md-invalid': errors.has('points')}">
                  <label>Puntos</label>
                  <md-input v-validate data-vv-rules="numeric" name="points" type="text" v-model="point.points" required></md-input>
                </md-field>
              </div>
            </div>
          </form>
        </md-card-content>
        <md-card-actions style="padding-right: 20px;">
          <md-button class="md-fab md-mini dismiss" @click="dialog_form = false">
            <md-icon>close</md-icon>
          </md-button>
          <md-button class="md-fab md-mini confirm" @click="!swEdit ? register() : editPoint()">
            <md-icon>{{ !swEdit ? 'add' : 'create' }}</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-dialog>
<!-- tabla -->
    <div id="tableContUser">
      <md-table id="tableUser" :value="searched" :md-sort.sync="currentSort" md-fixed-header
      :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" @md-selected="onSelect">
        <md-table-empty-state v-if="loading_table" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
            <md-progress-bar class="progress-bar" md-mode="indeterminate"></md-progress-bar>
        </md-table-empty-state>
        <md-table-row slot="md-table-row" slot-scope="{ item }"  md-selectable="single" style="height: 30px !important;">
          <md-table-cell md-label="ID" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Tipo de Punto" md-sort-by="type_n">{{ item.type_n }}</md-table-cell>
          <md-table-cell md-numeric md-label="Puntos" md-sort-by="points">{{ item.points }}</md-table-cell>
          <md-table-cell md-label="Activo" style="text-align: center;">
            <md-button class="md-icon-button md-mini md-accent" @click="disablePoint(item.id, !item.is_active)">
              <md-icon>{{item.is_active ? 'check_circle' : 'block'}}</md-icon>
              <md-tooltip md-direction="top">{{!item.is_active ? 'habilitar' : 'deshabilitar'}}</md-tooltip>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>

    </div>
<!-- alerta -->
    <md-dialog-alert :md-active.sync="noData" md-title="No hay datos!" md-content="Favor ingresar los datos correspondientes" />
    <md-dialog-alert :md-active.sync="wrongData" md-title="Datos incorrectos!" md-content="Favor ingresar nuevamente los datos" />
    <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError" />
    <md-dialog-alert :md-active.sync="successful" md-title="Exito!" md-content="Los datos han sido ingresados correctamente" />
    <md-dialog-alert :md-active.sync="successfulEdit" md-title="Exito!" md-content="Los datos han sido actualizados correctamente" />
  </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByEveryThing = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.index).includes(toLower(term)) || 
      toLower(item.type_n).includes(toLower(term)) || 
      toLower(item.points).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "ConfigPoints",
  data() {
    return {
      // dialog
      dialog_form:          false,
      swEdit:               false,
      // switches
      swChangePassword:     false,
      swPhotoChanged:       false,
      // pagging
      pageSize:             11,
      currentPage:          1,
      maxPage:              0,
      // sort
      currentSort:          "type",
      currentSortOrder:     "asc",
      // alerts
      successful:           false,
      successfulEdit:       false,
      swError:              false,
      contentError:         "",
      aerror:               "",
      noData:               false,
      wrongData:            false,
      snackOauth:           false,
      snack500:             false,
      // table
      searched:             [],
      search:               null,
      // models
      loading_table:        true,
      point: {
        id: "",
        type: "",
        points: "",
        is_active: true
      },
      point_list:           [],
      type_list:            []
    };
  },
  mounted() {
    this.getTypes()
  },
  computed: {
    mdTitle(){
      return !this.swEdit ? 'Ingresar Punto' : 'Actualizar Punto'
    },
    sortedSubs: function() {
      return this.searched
    },
    filterTypes() {
      if ( this.point_list.length != 0) {
        if (this.type_list.length != 0) {
          const arr = this.point_list.map(p => p.type);
          return this.type_list.filter(t => !arr.includes(t.id))
        }
      } else return this.type_list
    }
  },
  methods: {
    //ordenar tabla
    customSort(value) {
      return this.searched.sort((a, b) => {
        var sortBy = this.currentSort
        if (this.currentSortOrder === "desc") {
          if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
          else return a[sortBy] - b[sortBy];
        } else {
          if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
          else return b[sortBy] - a[sortBy];
        }
      })
    },
    //limpia los campos antes de mostrar modal con formulario
    showInsertDialog() {
      this.clearPoint()
      this.dialog_form = true
      this.swEdit = false
    },
    //al seleccionar punto completar campos con sus datos
    onSelect(items) {
      if(items != undefined) {
        this.swEdit = true
        this.point = {
          id: items.id,
          type: items.type,
          points: items.points,
          is_active: items.is_active
        };
      } else this.swEdit = false
    },
    //limpiar campos
    clearPoint() {
      this.point = {
          id: "",
          type: "",
          points: "",
          is_active: false
      }
    },
    //filtrar tabla por nombre
    searchOnTable() {
      this.searched = searchByEveryThing(this.point_list, this.search);
      this.currentPage = 1
    },
    // obtener listado de tipos de productos
    getTypes() {
      this.type_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
      .then( response => {
        this.type_list = response.body;
        this.getPoints();
      }, 
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getTypes()
        if (this.aerror == 500) {
          this.contentError = "Error al obtener datos relacionados con: Listado de Tipo de Productos.";
          this.snack500 = true;
        }
      })
    },
    //obtener listado de puntos
    async getPoints() {
      this.point_list = [];
      try {
        let response = await this.$http.get(this.getUrlBase() + "/api/v1/point/", this.getHeaders())
        response.body.forEach((el, index) => { el.index = ++index });
        response.body.forEach(p => {
          const type = this.type_list.filter(t => t.id == p.type)[0]
          p.type_n = (type != undefined) ? type.description : "Sin Información"
        })
        this.point_list = response.body.sort((a,b) => a.index - b.index)
        this.searched = this.point_list
        this.loading_table = false
      } catch (error) {
        this.loading_table = false
        this.aerror = error.status
        if(this.aerror == 401) this.getPoints()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Listado de Puntos."
        }
      }
    },
    //insertar un registro de punto
    register() {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          this.contentError = "Favor completar el formulario."
          this.swError = true
        } else { 
          var data_form = new FormData()
          data_form.append("type", this.point.type)
          data_form.append("points", this.point.points)
          data_form.append("is_active", true)
          this.$http.post(this.getUrlBase() + "/api/v1/point/", data_form, this.getHeaders())
          .then( response => {
            this.successful = true
            this.dialog_form = false
            this.clearPoint()
            this.getPoints()
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) this.register()
            if (this.aerror == 400) this.wrongData = true
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al intentar insertar un registro."
            }
          })
        }
      })
    },
    //cambiar is_activate de punto seleccionado
    disablePoint(id_point, state) {
      var data_form = new FormData();
      data_form.append("is_active", state)
      this.$http.patch(this.getUrlBase() + "/api/v1/point/" + id_point + "/", data_form, this.getHeaders())
      .then( response => {
        this.successfulEdit = true
        this.clearPoint()
        this.getPoints()
      },
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.disablePoint(id_point, state)
        if (this.aerror == 400) this.wrongData = true
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al intentar deshabilitar un registro."
        }
      })
    },
    //actualizar punto
    editPoint() {
      this.$validator.validateAll().then(result => {
        if(!result) {
          this.contentError = "Favor completar el formulario."
          this.swError = true
        } else {
          var form_data = new FormData()
          form_data.append("type", this.point.type)
          form_data.append("points", this.point.points)

          this.$http.patch(this.getUrlBase() + "/api/v1/point/" + this.point.id + "/", form_data, this.getHeaders())
          .then( response => {
            this.successfulEdit = true
            this.dialog_form = false
            this.clearPoint()
            this.getPoints()
          },
          error => {
            this.aerror = error.status
            if (this.aerror == 401) this.editPoint()
            if (this.aerror == 400) this.wrongData = true
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al intentar actualizar un registro."
            }
          })
        }
      })
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
  },
  created() {}
};
</script>
<style lang="scss">
#configProductCont {
  background-color: white;
}
#point-card-form {
  width: 50vw;
  height: min-content;
  overflow-x: hidden;
}
#UserContEdit {
  width: 70%;
  height: 460px;
  margin: 0 2% 80px 2%;
}
#sendBtn {
  background-color: #ff6702;
}
#fabs {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
  top: 10px;
}
.dismiss {
  background-color: #727272 !important;
}
#icons {
  width: 200px;
  align-items: center;
  display: inline-flex;
}
#icons > span {
  color: #448aff;
  font-size: 18px;
  font-weight: 600;
  margin: 0 1%;
}
#navs {
  background-color: #448aff;
  float: left;
}
#toGroups {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 220px;
  margin: 0 2% 0 0;
  color: #d3d3d3;
  font-weight: bold;
  border-radius: 3%;
  z-index: 101;
}
#toGroups:hover {
  color: #ffffff;
}
#groupCont {
  width: 45%;
  display: inline-block;
  top: -14px !important;
}
#groupCont.md-focused {
  position: relative;
  top: 0px !important;
}
#groupCont.md-has-value {
  top: 0px !important;
}
#tableContUser {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
#tableUser {
  width: 100%;
}
#tableUser > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tableUser > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: beige !important;
}
#tableContUser > div.md-table {
  max-height: 1735px;
}
.progress-bar {
  width: 60% !important;
  top: 80px !important;
  position: absolute;
  z-index: 20 !important;
}
.md-helper-text {
  opacity: 1 !important;
  top: 55px !important;
  left: 0px !important;
}
#tableContUser
  > div.md-content.md-table.md-theme-default
  > div
  > table
  > tbody
  > tr
  > td:nth-child(4)
  > div
  > div {
  margin: 0 !important;
}

.dialog-title {
  font-size: 24px;
  color: #ffffff !important;
  top: -10px;
  position: relative;
}
.badge {
  cursor: pointer;
  text-align: center;
  border-bottom-left-radius: 45px * 2;
  border-bottom-right-radius: 45px * 2;
  background-color: rgba(63, 63, 63, 0.5);
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  transition: 0.5s all;
}
.badge:hover {
  color:white;
  background-color: rgba(63, 63, 63, 0.9);
}
.pointer {
  cursor: pointer;
}
.white {
  color: white !important;
}
.confirm {
  background-color: #ff6702 !important;
}
.form-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}
.form-img {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}
</style>
