<template >
    <div id="typeContent">
<!-- botonera -->
        <md-button id="fabsGroup" class="md-fab md-mini" @click="showInsertDialog">
            <md-icon>add</md-icon>
        </md-button>
        <md-button v-if="swEdit" id="fabsGroup" class="md-fab md-mini" @click="dialogEdit = true">
            <md-icon>edit</md-icon>
        </md-button>
<!-- filtrar tabla -->
        <md-field id="searchInput" >
            <label>Buscar..</label>
            <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
<!-- insertar grupo -->
    <md-dialog id="GroupContInsert" :md-active.sync="dialogInsert">
        <md-dialog-title style="background-color:#ff6702;" >
            <span class="dialog-title">Ingresar tipo</span>
        </md-dialog-title>
        <div id="inputContGroup">
            <form @submit.prevent="register">
                <md-field id="descContGroups" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="group.name" required></md-input>
                </md-field>
            </form>
        </div>
        <div class="fabsCont">
          <md-button id="fabs2Group" class="md-fab md-mini" @click="register">
            <md-icon>add</md-icon>
          </md-button>
          <md-button id="fabs2Group" class="md-fab md-mini dismiss" @click="dialogInsert = false">
            <md-icon>close</md-icon>
          </md-button>
        </div>
    </md-dialog>
<!-- actualizar grupo -->
      <md-dialog id="GroupContInsert" :md-active.sync="dialogEdit">
        <md-dialog-title style="background-color:#ff6702;">
          <span class="dialog-title">
            Ingresar tipo</span>
        </md-dialog-title>
        <div id="inputContGroup">
            <form @submit.prevent="editGroup">
                <md-field id="descContGroups" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="group.name" required></md-input>
                </md-field>
            </form>
        </div>
        <div class="fabsCont">
          <md-button id="fabs2Group" class="md-fab md-mini" @click="editGroup">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button id="fabs2Group" class="md-fab md-mini dismiss" @click="dialogInsert = false">
            <md-icon>close</md-icon>
          </md-button>
        </div>
    </md-dialog>
<!-- tabla -->
        <div id="tablaContGroup">
            <md-table v-model="searched" md-sort="description" md-sort-order="asc" @md-selected="onSelect">
                <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                    <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="name">{{ item.name }}</md-table-cell>
                </md-table-row>

            </md-table>
        </div>
        <md-dialog-alert
            :md-active.sync="noData"
            md-title="No hay datos!"
            md-content="Favor ingresar los datos correspondientes" />
        <md-dialog-alert
            :md-active.sync="wrongData"
            md-title="Datos incorrectos!"
            md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert
            :md-active.sync="snack500"
            :md-content="contentError" />
        <md-dialog-alert
            :md-active.sync="successful"
            md-title="Exito!"
            md-content="Los datos han sido ingresados correctamente" />
        <md-dialog-alert
            :md-active.sync="successfulEdit"
            md-title="Exito!"
            md-content="Los datos han sido actualizados correctamente" />
    </div>

</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.name).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "configGroup",
  data() {
    return {
      contentError: "",
      dialogEdit: false,
      dialogInsert: false,
      swEdit: false,
      successful: false,
      successfulEdit: false,
      aerror: "",
      noData: false,
      snackOauth: false,
      snack500: false,
      wrongData: false,
      radio: false,
      search: null,
      searched: [],
      repassword: "",
      enterprise: [],
      allTheGroups: [],
      group: {
        id: "",
        name: "",
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      atoken: "",
      correo: "",
      url: "",
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.getGroups();
  },
  watch: {},
  methods: {
    onSelect(items) {
      this.swEdit = true;
      this.group = {
        id: 0,
        name: "",
      };
      this.group = items;
    },
    searchOnTable() {
      this.searched = searchByName(this.allTheGroups, this.search);
    },
    showInsertDialog(){
      this.swEdit = false;
      this.clearGroup();
      this.dialogInsert = true;
    },
    getGroups() {
      this.allTheGroups = [];
      this.$http
        .get(this.getUrlBase() + "/api/v1/groups/", this.getHeaders())
        .then(
          response => {
            response.body.forEach(element => {
              this.allTheGroups.push(element);
            });
            this.searched = this.allTheGroups;
          },
          error => {
            if(this.aerror == 401){
              this.getGroups();
            }
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al obtener datos relacionados con: Listado de grupos.";
            }
          }
        );
    },
    register() {
      this.group.user_created = this.correo;
      this.$http
        .post(this.getUrlBase() + "/api/v1/groups/", this.group, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getGroups();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.register();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al intentar insertar un registro.";
            }
          }
        );
    },
    editGroup() {
      this.group.user_created = this.correo;
      var update = new FormData();
      update.append('name', this.group.name);
      this.$http
        .patch(this.getUrlBase() + "/api/v1/groups/" + this.group.id + "/", update, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getGroups();
            this.dialogEdit = false;
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.editGroup();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al intentar actualizar un registro.";
            }
          }
        );
    },
    disableGroup() {
      // this.radio = !this.radio;
      this.group.is_active = !this.group.is_active;

      var data_form = new FormData();
      data_form.append('is_active',this.group.is_active);
      this.$http
        .patch(this.getUrlBase() + "/api/v1/groups/" + this.group.id + "/", data_form, this.getHeaders())
        .then(
          response => {
            this.successful = true;
            this.getGroups();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.disableGroup();
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true
              this.contentError = "Error al intentar deshabilitar un registro.";
            }
          }
        );
    },
    clearGroup(){
      this.group = {
        id: 0,
        name: "",
      };
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.correo = this.$localStorage.get("theEmail");
  }
};
</script>


<style>
#typeContent {
  background-color: white;
}
#GroupContInsert{
  height: 250px;
  width: 500px;
  margin: 0 2% 80px 2%;
}
#inputContGroup {
  margin-left: 40px;
}
#fabsGroup {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
}
#fabs2Group {
  float: right;
  position: relative;
  right: 10px;
  bottom: -35px;
  background-color: #ff6702;
}
.dismiss {
  background-color: #727272 !important;
}
.fabsCont {
  width: 100%;
  float: right;
}
#tablaContGroup {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
#descContGroups {
  width: 90%;
  display: inline-block;
}

#tablaContGroup > div > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tablaContGroup > div > div > table > thead > tr > th.md-table-head > div > div {
  color: beige !important;
}
</style>
