<template >
    <div id="questionCont">
<!-- botonera -->
        <md-button id="fabsQuestion" class="md-fab md-mini" @click="showInsertDialog">
            <md-icon>add</md-icon>
        </md-button>
        <md-button v-if="swEdit" id="fabsQuestion" class="md-fab md-mini" @click="dialogEdit = true">
            <md-icon>edit</md-icon>
        </md-button>
<!-- filtrar tabla -->
        <md-field id="searchInput" >
            <label>Buscar..</label>
            <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
        </md-field>
<!-- agregar pregunta -->
    <md-dialog id="QuestionContInsert" :md-active.sync="dialogInsert">
        <md-dialog-title style="background-color:#ff6702;">
          <span class="dialog-title">
            Ingresar Pregunta</span>
        </md-dialog-title>
        <div id="inputCont">
            <form @submit.prevent="register">
                <md-field id="descriContQuestion" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="question.description" required></md-input>
                </md-field>
                    <md-datepicker id="dateContQuestion" v-model="question.expired_date" required></md-datepicker>
            </form>
          </div>
          <div class="fabsCont">
            <md-button id="fabs2Question" class="md-fab md-mini" @click="register">
              <md-icon>add</md-icon>
            </md-button>
            <md-button id="fabs2Question" class="md-fab md-mini dismiss" @click="dialogInsert = false">
              <md-icon>close</md-icon>
            </md-button>
          </div>
    </md-dialog>
<!-- actualizar pregunta -->
    <md-dialog id="QuestionContInsert" :md-active.sync="dialogEdit">
        <md-dialog-title style="background-color:#ff6702;">
          <span class="dialog-title">
            Actualizar Pregunta</span>
        </md-dialog-title>
        <div id="inputCont">
            <form @submit.prevent="editQuestion">
                <md-field id="descriContQuestion" :class="{'md-invalid': errors.has('description')}">
                    <label>Nombre</label>
                    <md-input v-validate data-vv-rules="required|min:5|max:40" name="description" type="text" v-model="question.description" required></md-input>
                </md-field>
                    <md-datepicker id="dateContQuestion" v-model="question.expired_date" required></md-datepicker>
            </form>
          </div>
          <div class="fabsCont">
            <md-button id="fabs2Question" class="md-fab md-mini" @click="editQuestion">
              <md-icon>edit</md-icon>
            </md-button>
            <md-button id="fabs2Question" class="md-fab md-mini dismiss" @click="dialogEdit = false">
              <md-icon>close</md-icon>
            </md-button>
          </div>
    </md-dialog>
<!-- tabla -->
        <div id="tableContQuestion">
            <md-table v-model="searched" md-sort="description" md-sort-order="asc" md-fixed-header @md-selected="onSelect">
              <md-table-toolbar v-if="loading_table">
                <div class="md-toolbar-row">
                  <md-table-empty-state style="align"
                    md-label="Cargando Datos"
                    md-description="por favor espere un momentos los datos se están cargando">
                      <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
                  </md-table-empty-state>
                </div>
              </md-table-toolbar>
                <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                    <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="description">{{ item.description }}</md-table-cell>
                    <md-table-cell md-label="Fecha Expiración" md-sort-by="expired_date">{{ getTime(item.expired_date) }}</md-table-cell>
                   <md-table-cell md-label="Activo">
                      <md-button class="md-icon-button md-mini md-accent" @click="disableQuestion(item.id, !item.is_active)">
                        <md-icon>{{item.is_active ? 'check_circle' : 'block'}}</md-icon>
                        <md-tooltip md-direction="top">{{!item.is_active ? 'habilitar' : 'deshabilitar'}}</md-tooltip>
                      </md-button>
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </div>
        <md-dialog-alert
            :md-active.sync="noData"
            md-title="No hay datos!"
            md-content="Favor ingresar los datos correspondientes" />
        <md-dialog-alert
            :md-active.sync="wrongData"
            md-title="Datos incorrectos!"
            md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert
            :md-active.sync="snack500"
            :md-content="contentError" />
        <md-dialog-alert
            :md-active.sync="successful"
            md-title="Exito!"
            md-content="Los datos han sido ingresados correctamente" />
        <md-dialog-alert
            :md-active.sync="successfulEdit"
            md-title="Exito!"
            md-content="Los datos han sido actualizados correctamente" />
    </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.description).includes(toLower(term))
    );
  }
  return items;
};
export default {
  name: "configQuestion",
  data() {
    return {
      loading_table:false,
      contentError: "",
      dialogEdit: false,
      dialogInsert: false,
      swEdit: false,
      successful: false,
      successfulEdit: false,
      aerror: "",
      noData: false,
      snackOauth: false,
      snack500: false,      
      wrongData: false,
      radio: false,
      search: null,
      searched: [],
      repassword: "",
      enterprise: [],
      allTheQuestions: [],
      question: {
        user_created: "",
        description: "",
        expired_date: new Date(),
        is_active: true
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      atoken: "",
      correo: "",
      url: "",
      refresh_call: true,
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.getAllQuestions();
  },
  watch: {},
  methods: {
    onSelect(items) {
      if(items != null){
        this.swEdit = true;
        this.question = {
          description: "",
          expired_date: null,
          is_active: false
        };
      this.question = items;
      } else this.swEdit = false;

    },
    searchOnTable() {
      this.searched = searchByName(this.allTheQuestions, this.search);
    },
    getAllQuestions() {
      this.loading_table = true;
      this.allTheQuestions = [];
      this.$http.get(this.getUrlBase() + "/api/v1/polls/", this.getHeaders())
      .then( response => {
        response.body.forEach((el, index) => { el.index = ++index })
        this.allTheQuestions = response.body
        this.searched = this.allTheQuestions
        this.loading_table = false
      },
      error => {
        this.loading_table = false
        if(this.aerror == 401) this.getAllQuestions()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Listado de preguntas.";
        }
      })
    },
    showInsertDialog() {
      this.clearQuestion();
      this.swEdit = false;
      this.dialogInsert = true;
    },
    register() {
      this.question.user_created = this.correo;
      if (
        this.question.description == "" &&
        this.question.expired_date > this.today
      ) {
        this.noData = true;
      } else {
        this.question.user_created = this.correo;
        var data_form = new FormData();
        data_form.append("user_created", this.question.user_created);
        data_form.append("description", this.question.description);
        data_form.append("is_active", this.question.is_active);
        data_form.append(
          "expired_date",
          this.question.expired_date.toISOString()
        );

        this.$http
          .post(this.getUrlBase() + "/api/v1/polls/", data_form, this.getHeaders())
          .then(
            response => {
              this.successful = true;
              this.dialogInsert = false;
              this.getAllQuestions();
            },
            error => {
              this.aerror = error.status;
              if (this.aerror == 401) {
                this.register();
              }
              if (this.aerror == 400) {
                this.wrongData = true;
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al intentar insertar un registro.";
              }
            }
          );
      }
    },
    disableQuestion(idQuestion, state) {
      var data_form = new FormData();
      data_form.append("is_active", state);

      this.$http
        .patch(
          this.getUrlBase() + "/api/v1/polls/" + idQuestion + "/",
          data_form, this.getHeaders()
        )
        .then(
          response => {
            this.successful = true;
            this.getAllQuestions();
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.disableQuestion(idQuestion, state);
            }
            if (this.aerror == 400) {
              this.wrongData = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al intentar deshabilitar un registro.";
            }
          }
        );
    },
    editQuestion() {
      this.question.user_created = this.correo;
      if (
        this.question.description == "" &&
        this.question.expired_date > this.today
      ) {
        this.noData = true;
      } else {
        var data_form = new FormData();
        data_form.append("description", this.question.description);
        data_form.append(
          "expired_date",
          this.question.expired_date.toISOString()
        );
        this.$http
          .patch(
            this.getUrlBase() + "/api/v1/polls/" + this.question.id + "/",
            data_form, this.getHeaders()
          )
          .then(
            response => {
              this.successful = true;
              this.dialogEdit = false;
              this.getAllQuestions();
            },
            error => {
              this.aerror = error.status;
              if (this.aerror == 401) {
                this.editQuestion();
              }
              if (this.aerror == 400) {
                this.wrongData = true;
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al intentar actualizar un registro.";
              }
            }
          );
      }
    },
    getTime(fecha) {
      var date = new Date(fecha);

      var options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric"
      };

      const dia = date.toLocaleString("es-ES", options);
      return dia.replace(",", "");
    },
    clearQuestion() {
      this.question = {
        user_created: "",
        description: "",
        expired_date: new Date(),
        is_active: true
      };
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.correo = this.$localStorage.get("theEmail");
  }
};
</script>
<style>
#questionCont {
  background-color: white;
}
#QuestionContInsert {
  width: 700px;
  margin: 0 2% 80px 2%;
}
#inputCont {
  margin: 0px 16px 50px 16px;
}
.fabsCont {
  width: 100%;
  float: right;
}
#fabsQuestion {
  background-color: #ff6702;
  float: left;
  margin-left: 16px;
  top: 10px;
}
#fabs2Question {
  float: right;
  right: 10px;
  background-color: #ff6702;
}
.dismiss {
  background-color: #727272 !important;
}
#tableContQuestion {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
#descriContQuestion {
  width: 45%;
  margin-right: 16px;
  display: inline-block;
}
#dateContQuestion {
  width: 45% !important;
  display: inline-block;
  top: 2px;
}
#tableContQuestion > div > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #ff6702 !important;
}
#tableContQuestion > div > div.md-table-fixed-header > div > table > thead > tr
  > th.md-table-head
  > div
  > div {
  color: beige !important;
}
.dialog-title {
  font-size: 24px;
  color: #ffffff !important;
  top: -10px;
  position: relative;
}
</style>
