<template>
  <div id="authCont" class="md-layout md-gutter md-alignment-center">
    <md-card class="md-layout-item md-size-85 auth-card-header">
      <md-card-header style="padding: 16px 0;">
        <md-avatar>
            <md-icon class="auth-card-icon">monetization_on</md-icon>
        </md-avatar>
        <div class="md-title-card">Puntos de venta pendientes de aprobación</div>
        <div class="md-subhead-card">solicitudes de precio</div>
      </md-card-header>
      <md-card-content style="padding: 0;">
<!-- tabla sin autorizar-->
        <md-table id="pendingTable" v-show="state" class="md-layout-item md-size-100 auth-table" v-model="searchedFilter" md-card md-fixed-header>
            <md-table-toolbar>
                <div class="md-toolbar-section-start">
                    <md-switch @change="changeTableViewed" :value="state" class="md-primary md-dense md-raised">
                      <span v-if="state" class="auth-switch-text">Sin autorizar</span>
                      <span v-else class="auth-switch-text">Historial</span>
                    </md-switch>
                    <md-field style="width: 40%;">
                      <md-select  v-model="selected_type" placeholder="filtrar por tipo de chip">
                          <md-option  v-for="type in types"  :value="type.id" :key="type.id">{{type.description}}</md-option>
                      </md-select>
                    </md-field>
                </div>
                <div class="md-toolbar-section-end">
                    <md-field id="toolbar-search" md-clearable>
                        <md-input placeholder="Buscar sucursal por nombre..." v-model="search" @input="searchOnTable" />
                    </md-field>
                </div>
            </md-table-toolbar>
            <md-table-empty-state v-if="search != '' "
                md-label="No se encontraron registros"
                :md-description="`No hay coincidencias para el nombre '${search}'`">
            </md-table-empty-state>
            <md-table-empty-state v-if="searched.length == 0 && !loading"
                md-label="No se encontraron registros">
            </md-table-empty-state>
            <md-table-empty-state v-if="loading"
              md-label="Cargando Datos"
              md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
            </md-table-empty-state>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="N°" md-numeric>{{ item.index }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Sucursal">{{ item.name_business }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Usuario Solicitante">{{ item.request_user }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Tipo Chip">{{ item.type }}</md-table-cell>
                <md-table-cell md-label="Fecha"> {{ getTime(item.created_at) }} </md-table-cell>
                <md-table-cell md-label="Valor" md-numeric style="text-align: right">
                  <md-field>
                    <md-icon style="color: rgb(108, 108, 108) !important;">attach_money</md-icon>
                    <md-input @keyup="patternNumber(item)" type="number" min="0" style="text-align: end;" v-model="item.value"></md-input>
                  </md-field>
                </md-table-cell>
                <md-table-cell md-label="Acciones">
                    <md-button @click="onClickButton(item, true)" class="md-dense md-raised md-icon-button" style="background-color: #36d125;">
                        <md-icon class="auth-card-icon">check_circle_outline</md-icon>
                    </md-button>
                    <md-button @click="onClickButton(item, false)" class="md-dense md-raised md-icon-button" style="background-color: #d62a2a;">
                        <md-icon class="auth-card-icon">highlight_off</md-icon>
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table>
<!-- tabla historial -->
        <md-table id="historicalTable" v-show="!state" class="md-layout-item md-size-100 auth-table" v-model="searched2Filter" md-card md-fixed-header>
            <md-table-toolbar>
                <div class="md-toolbar-section-start">
                    <md-switch @change="changeTableViewed" :value="state" class="md-primary md-dense md-raised">
                      <span v-if="state" class="auth-switch-text">Sin autorizar</span>
                      <span v-else class="auth-switch-text">Historial</span>
                    </md-switch>
                   <md-field style="width: 40%;">
                      <md-select  v-model="selected_type" placeholder="filtrar por tipo de chip">
                          <md-option  v-for="type in types"  :value="type.id" :key="type.id">{{type.description}}</md-option>
                      </md-select>
                    </md-field>
                </div>
                <div class="md-toolbar-section-end">
                    <md-field id="toolbar-search" md-clearable>
                        <md-input placeholder="Buscar sucursal por nombre..." v-model="search2" @input="searchOnTable2" />
                    </md-field>
                </div>
            </md-table-toolbar>
            <md-table-empty-state v-if="search2 != ''" md-label="No se encontraron registros" :md-description="`No hay coincidencias para el nombre '${search2}'`">
            </md-table-empty-state>
            <md-table-empty-state v-if="searched2.length == 0 && !loading" md-label="No se encontraron registros"></md-table-empty-state>
            <md-table-empty-state v-if="loading" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
            </md-table-empty-state>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="N°" md-numeric>{{ item.index }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Sucursal">{{ item.name_business }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Usuario Solicitante">{{ item.request_user }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Tipo Chip">{{ item.type }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Autoriza">{{ item.authorization_user }}</md-table-cell>
                <md-table-cell md-label="Fecha"> {{ getTime(item.created_at) }} </md-table-cell>
                <md-table-cell md-label="Valor" md-numeric style="text-align: right">{{ item.value }}</md-table-cell>
                <md-table-cell style="text-align: left;" md-label="Estado">
                  <span v-if="item.state == 'Approved'">Aceptada</span>
                  <span v-if="item.state == 'Rejected'">Rechazada</span>
                </md-table-cell>
            </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
<!-- modal confirmación -->
        <md-dialog :md-active.sync="showConfirm" style="width: 40vw;">
            <md-card class="md-layout md-alignment-center" style="width: 100%;">
                <md-card-header class="confirm-header">
                    <div class="md-title" v-if="authorized">¿Desea confirmar la  autorizar de la solicitud?</div>
                    <div class="md-title" v-if="!authorized">¿Desea confirmar el rechazo de la solicitud?</div>
                </md-card-header>
                <md-card-content class="confirm-body">
                    <md-list v-if="authorized">
                      <md-list-item>
                        <span>Punto de venta:</span>
                        <span style="font-weight: bold;">{{selected_auth.name_business}}</span>
                      </md-list-item>
                      <md-list-item>
                        <span>Tipo de chip:</span>
                        <span style="font-weight: bold;">{{selected_auth.type}}</span>
                      </md-list-item>
                      <md-list-item>
                        <span>Valor:</span>
                        <span style="font-weight: bold;">{{selected_auth.value}}</span>
                      </md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-actions>
                    <md-button @click="showConfirm = false" class="md-dense md-raised" style="background-color: grey;">
                        <md-icon class="auth-card-icon">highlight_off</md-icon>
                    </md-button>
                    <md-button  v-if="authorized" @click="authorize" class="md-dense md-raised" style="background-color: #448aff;">
                        <md-icon class="auth-card-icon">check_circle_outline</md-icon>
                    </md-button>
                    <md-button  v-else @click="unauthorize" class="md-dense md-raised" style="background-color: #448aff;">
                        <md-icon class="auth-card-icon">check_circle_outline</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-dialog>
<!-- alertas -->
        <md-dialog-confirm :md-active.sync="snackOauth" 
            md-content="Su sesión ha expirado, favor volver a iniciar sesión."
            @md-confirm="onConfirm" @md-cancel="onConfirm"/>
        <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
        <md-dialog-alert :md-active.sync="snacknoDataFilter" :md-content="contentError"/>
        <md-dialog-alert :md-active.sync="updated" :md-content="contentAuth"/>
        <md-dialog-alert :md-active.sync="snack400" md-title="Datos incorrectos!" 
            md-content="Favor ingresar nuevamente los datos" />
        <md-dialog-alert :md-active.sync="snacknodata" 
            md-content="No hay registros para mostrar."/>
    </div>    
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.name_business).includes(toLower(term))
    );
  }

  return items;
};

export default {
  name: "valueAuthorizations",
  data: () => ({
    showConfirm: false,
    authorized: false,
    state: true,
    //alerts
    snacknoDataFilter: false,
    snack500: false,
    snackOauth: false,
    snack400: false,
    snacknodata: false,
    updated: false,
    contentError: "",
    contentAuth: "",
    position: "center",
    isInfinity: false,
    Infinity: true,
    duration: 10000,
    aerror: "",
    //table
    selected_type: 0,
    search: "",
    search2: "",
    authorizations: [],
    selected_auth: {
      id: 0,
      id_subsidiary: 0,
      request_user: "",
      created_at: null,
      updated_at: null,
      value: 0,
      is_authorized: false,
      authorization_user: ""
    },
    searched: [],
    types: [],
    historical: [],
    searched2: [],
    // configuration
    loading: true,
    url: "",
    dd: null,
    mm: null,
    yyyy: null,
    today: null,
    MonthActually: null,
    months: [
      "Enero",
      "Febrero",
      "Marzo",
      "Abril",
      "Mayo",
      "Junio",
      "Julio",
      "Agosto",
      "Septiembre",
      "Octubre",
      "Noviembre",
      "Diciembre"
    ],
    atoken: "",
    correo: "",
    refresh_call: true
  }),
  created() {
    this.correo = this.$localStorage.get("theEmail");
  },
  mounted() {
    this.today = new Date()
    this.dd = this.today.getDate()
    this.mm = this.today.getMonth() + 1
    this.yyyy = this.today.getFullYear()
    this.MonthActually = this.months[this.today.getMonth()]
    this.getAllTypes()
  },
  computed: {
    searchedFilter: function(){
      if(this.selected_type != 0){
        return this.searched.filter(item => item.id_type == this.selected_type)
      }else{
        return this.searched;
      }
    },
    searched2Filter: function(){
      
      if(this.selected_type != 0){

        return this.searched2.filter(item => item.id_type == this.selected_type)
      }else{
        return this.searched2;
      }
    }
  },
  methods: {
    patternNumber(item){
      var idx = this.searched.findIndex(el => el.id == item.id);
      if(idx != -1){
        this.searched[idx].value = this.searched[idx].value.toString().replace('.','');
      }
    },
    // cambiar vista
    changeTableViewed() {
      this.state = !this.state
    },
    // filtrar tabla
    searchOnTable() {
      this.searched = searchByName(this.authorizations, this.search)
    },
    // filtrar tabla
    searchOnTable2() {
      this.searched2 = searchByName(this.historical, this.search2)
    },
    /**
     * Metodo que obtiene todo los tipos de chips del modelo type, para llenar lista 
     * despegable tipo de chips
     */     
    getAllTypes() {
      this.types= [];
      this.types.push({
        id: 0,
        description: "Todos",
        is_active: true
      })
      this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
      .then( response => {
        const r = response.body.filter(c => c.id == 1 || c.id == 2)
        r.forEach(c => this.types.push(c))
        this.getAllAuthorizations()
      },
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getAllTypes()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError =
            "Error al obtener datos relacionados con: Listado de tipos."
        }
      })
    },
    getNameType(id_type) {
      var idx = this.types.findIndex(type => type.id == id_type);
      return idx != -1 ? this.types[idx].description : null;
    },
    /**
     * Metodo para obtener las autorizaciones 
     */   
    getAllAuthorizations() {
      this.authorizations = []
      this.historical = []
      this.searched = []
      this.searched2 = []
      this.loading = true
      this.$http.get(this.getUrlBase() + "/api/v1/authorization-order/", this.getHeaders())
      .then( response => {
        if (response.body.length != 0) {
          let idx = 0
          let idx2 = 0
          response.body.forEach((el, index) => {
            if (el.is_authorized == "Pending") {
              this.authorizations.push({
                index: ++idx,
                id: el.id,
                type: this.getNameType(el.id_type),
                id_type:el.id_type,
                id_subsidiary: el.id_subsidiary,
                value: el.value,
                request_user: el.request_user,
                name_business: el.subsidiary_name.name_business,
                state: el.state,
                created_at: el.created_at
              })
            } else{
              this.historical.push({
                index: ++idx2,
                id: el.id,
                type: this.getNameType(el.id_type),
                id_subsidiary: el.id_subsidiary,
                id_type:el.id_type,
                value: el.value,
                request_user: el.request_user,
                authorization_user: el.authorization_user,
                name_business: el.subsidiary_name.name_business,
                state: el.is_authorized,
                created_at: el.created_at
              })
            }
            if(index == response.body.length - 1) {
              this.searched = this.authorizations
              this.searched2 = this.historical
              if(this.authorizations.length == 0){
                this.contentError = "No hay solicitudes pendientes"
                this.snacknoDataFilter = true
              }
              this.loading = false
            }
          })
        } else this.snacknodata = true
        this.loading = false
      },
      error => {
        this.loading = false
        this.aerror = error.status
        if (this.aerror == 401) this.getAllAuthorizations()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError =
            "Error al obtener datos relacionados con: Listado de Autorizaciones"
        }
      })
    },
    onClickButton(auth, state) {
      auth.value = Math.round(auth.value);
      this.selected_auth = auth;
      this.authorized = state;
      this.showConfirm = true;
    },
    authorize() {
      this.showConfirm = false
      var data_form = new FormData()
      data_form.append("authorization_user", this.correo)
      data_form.append("value", this.selected_auth.value)
      data_form.append("is_authorized", "Approved")

      this.$http.patch( this.getUrlBase() + "/api/v1/authorization-order/" +
        this.selected_auth.id + "/", data_form, this.getHeaders())
      .then( response => {
        this.updated = true
        this.contentAuth = "Se ha aprobado correctamente el valor solicitado."
        this.getAllAuthorizations()
      },
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.authorize()
        if (this.aerror == 400) this.snack400 = true 
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al intentar actualizar un registro."
        }
      })
    },
    unauthorize() {
      this.showConfirm = false
      var data_form = new FormData()
      data_form.append("authorization_user", this.correo)
      data_form.append("value", this.selected_auth.value)
      data_form.append("is_active", false)
      data_form.append("is_authorized", "Rejected")

      this.$http.patch(this.getUrlBase() + "/api/v1/authorization-order/" +
      this.selected_auth.id + "/", data_form, this.getHeaders())
      .then( response => {
        this.updated = true
        this.contentAuth = "Se ha rechazado correctamente el valor solicitado."
        this.getAllAuthorizations()
      },
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.unauthorize()
        if (this.aerror == 400) this.snack400 = true
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al intentar actualizar un registro."
        }
      })
    },
    getTime(fecha) {
      // const substr = fecha.toDate();
      const substr = new Date(fecha);

      var options = {
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };

      const dia = substr.toLocaleString("es-ES", options);
      return dia.replace(".", "");
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  }
};
</script>
<style>
/* HEADER CARD*/
.auth-card-header {
  background-color: #448aff !important;
  height: 72px !important;
}
#authCont > div {
  padding: 0 !important;
}
.auth-card-icon {
  color: beige !important;
}
.md-title-card {
  color: beige !important;
  font-weight: bold;
  font-size: 24px;
}
.md-subhead-card {
  color: rgb(211, 211, 211) !important;
  font-size: 18px;
}
/* TOOLBAR SWITCH */
.auth-switch-text {
  font-weight: bold;
  font-size: 18px;
  color: #424242;
}
/* TOOLBAR SEARCH */
#toolbar-search {
  width: 40% !important;
}
/* HEADER TABLE */
#pendingTable > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
#pendingTable > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: beige !important;
}
/* width */
#pendingTable > div.md-table-fixed-header > table > thead > tr
  > th:nth-child(1) {
  width: 5vw !important;
}
#pendingTable > div.md-table-fixed-header > table > thead > tr 
  > th:not(:nth-child(1)) {
  width: 15vw !important;
}
#historicalTable > div.md-table-fixed-header > table > thead > tr 
  > th:first-child {
  width: 5vw !important;
}
#historicalTable > div.md-table-fixed-header > table > thead > tr 
  > th:not(:first-child) {
  width: 12.5vw !important;
}
/* TABLE */
.auth-table {
  height: 490px !important;
}
#pendingTable > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr
  > td:nth-child(1) {
  width: 5vw !important;
}
#pendingTable > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr
  > td:not(:nth-child(1)){
  width: 15vw !important;
}
#historicalTable > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr
  > td:first-child{
  width: 5vw !important;
}
#historicalTable > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr
  > td:not(:first-child) {
  width: 12.5vw !important;
}
/* confirm  */
.confirm-header {
  padding: 16px 0;
  width: 100%;
  background-color: rgb(68, 138, 255);
  color: white;
  box-shadow:  3px 2px 5px 2px rgba(39, 39, 87, 0.397);
  text-align: center;
}
.confirm-body {
  width: 98%;
  padding: 0 !important;
}
div.md-card-content.confirm-body > ul {
  background-color: transparent !important;
  padding: 0 5% !important;
}
</style>


