<template>
  <div>
    <div v-show="loading">
      <div class="overlay-market-page"></div>
      <div>
        <md-progress-bar style="width: 100% !important; position: relative; top: 0px; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
      </div>
    </div>
    <div v-show="!loading">
      <md-card class="md-layout-item md-medium-size-45 md-small-size-100 my-3" style="width: -webkit-fill-available;" v-for="(table, index) in market_research" :key="index">
        <md-card-header>
          <md-avatar>
            <i class="material-icons">store</i>
          </md-avatar>
          <div class="md-title">Comportamiento de Puntos de Venta</div>
          <div class="md-subhead">{{getSegmentationName(index)}} - {{totals[index].month}}: {{totals[index].total}}</div>
        </md-card-header>
        <md-card-content>
        <md-table :value="table" style="width: 100%; height: 350px !important;" md-fixed-header>
          <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Segmentacion" style="text-align: left;">{{ getSegmentationName(item.segmentation_score - 1) }}</md-table-cell>
          <md-table-cell v-for="(month, index) in Object.keys(item)" :key="index"  :md-label="month"
            style="text-align: right !important;" v-if="month != 'segmentation_score'">{{item[month]}}
          </md-table-cell>
          </md-table-row>
        </md-table>
        </md-card-content>
      </md-card>    
    </div>
    <!-- alerta -->
     <md-dialog-alert :md-active.sync="alert" :md-content="contentAlert"/>    
  </div>
</template>
<script>
export default {
  data() {
    return {
      alert:                      false,
      contentAlert:               '',
      // market research
      market_research:            [],
      // category list
      category_list:              [],
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      regions: [
        {id: 1, id_region:"1", region_n: 'I', region_name: "I Region de Tarapaca" },
        {id: 2, id_region:"2", region_n: 'II', region_name: "II de Antofagasta" },
        {id: 3, id_region:"3", region_n: 'III',  region_name: "III de Atacama" },
        {id: 4, id_region:"4", region_n: 'IV', region_name: "IV de Coquimbo" },
        {id: 5, id_region:"5", region_n: 'V', region_name: "V Region de Valparai­so" },
        {id: 6, id_region:"6", region_n: 'VI', region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, id_region:"7", region_n: 'VII',region_name: "VII del Maule" },
        {id: 8, id_region:"8", region_n: 'VIII',  region_name: "VIII del BÃ­o BÃ­o" },
        {id: 9, id_region:"9", region_n: 'IX', region_name: "IX Region de la Araucania" },
        {id: 10, id_region:"10", region_n: 'X',  region_name: "X Region de Los Lagos" },
        {id: 11, id_region:"11", region_n: 'XI', region_name: "XI Region de Aysen del General Carlos Ibañez del Campo" },
        {id: 12, id_region:"12", region_n: 'XII', region_name: "XII Region de Magallanes y de la Antartica Chilena" },
        {id: 13, id_region:"13", region_n: 'RM', region_name: "Metropolitana de Santiago" },
        {id: 14, id_region:"14", region_n: 'XIV', region_name: "XIV Region de Los Ri­os" },
        {id: 15, id_region:"15", region_n: 'XV', region_name: "XV de Arica y Parinacota" },
        {id: 16, id_region:"16", region_n: 'XVI', region_name: "XVI Region de Ñuble" },
      ],
      totals:                     [],
      loading:                    true
    }
  },
  created(){},
  mounted(){
    this.getMarketResearch()
  },
  methods: {
    // obtener datos tablas - estudio de mercado
    async getMarketResearch() {
      const market_research = [[],[],[],[],[]]
      try {
        for(let i = 0; i < 5; i++) { // recorrer segmentaciones
          const url = this.getUrlBase() + "/api/v1/reports/current-segmentation-behaviour/?id_segmentation=" + (i + 1)
          let resp = await this.$http.get(url, this.getHeaders())
          const sort = resp.body.sort((a,b) => a.created_at.localeCompare(b.created_at))
          sort.forEach((data, index) => {
            let month = parseInt(data.created_at.substr(5,2))
            let obj = {}
            obj.segmentation_score = data.segmentation_score
            obj[this.months[month-1]] = data.total
            let idx = market_research[i].findIndex(mr => mr.segmentation_score == data.segmentation_score)
            if (idx != -1) market_research[i][idx][this.months[month-1]] = data.total
            else market_research[i].push(obj);
            
            if (index == sort.length -1 && i == 4) {
              this.sortAndFilter(market_research)
              this.loading = false
            }
          })
        }
      } catch (error) {
        this.loading = false
        this.aerror = error.status
        if(this.aerror == 401) this.getMarketResearch()
        if(this.aerror == 500) {
          this.alert = true
          this.contentAlert = 'Error al obtener Estudios de Mercadeo.'
        }
      }
    },
    /* obtener totales por tabla eliminar propiedad total dentro de los objectos
       ordenar segmentacion
    */
    sortAndFilter(market_research) {
      market_research.forEach(table => {
        const data = table.sort((a,b) => Object.keys(b).length - Object.keys(a).length)[0]
        let idx = -1
        // buscar el indice del ultimo mes para poder eliminarlo
        Object.keys(data).forEach(month => {
          if(month != 'segmentation_score') {
            if(idx < this.months.indexOf(month)) {
              idx = this.months.indexOf(month)
            }
          }
        })
        // total PDV por segmentacion en el mes actual
        this.totals.push({month: this.months[idx], total: data[this.months[idx]]}) 
        delete data[this.months[idx]] // eliminar propiedad de objecto

        // ordenar segmentaciones
        table = table.sort((a,b) => a.segmentation_score - b.segmentation_score)

        // añadir columna de total
        let total_row = {}
        total_row.segmentation_score = 10
        table.forEach(d => {
          Object.keys(d).forEach(month => {
            if(month != 'segmentation_score') {
              if(total_row[month] == undefined) total_row[month] = parseInt(d[month])
              else total_row[month] += parseInt(d[month])
            }
          })
        })
        table.push(total_row)
      })

      this.market_research = market_research
    },
    getSegmentationName(index) {
      switch(index) {
        case 0:
          return 'Muy Bueno'
          break;
        case 1:
          return 'Alta Recarga | Baja Habilitacion'
          break;
        case 2:
          return 'Alta Habilitacion | Baja Recarga'
          break;
        case 3:
          return 'Malo'
          break;
        case 4:
          return 'Sin Habilitacion'
          break;
        default:
          return 'Total'
          break;
      }
    }
  }
}
</script>
<style>
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
#menuCont > div > main > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar > div > div > div > div > div.md-card-content > div > div.md-content.md-table-content.md-theme-default > table > tbody > tr:last-child {
  font-weight: 600;
}
.overlay-market-page {
  background: #a1a1a1;
  display: flex;
  z-index: 10;
  position: absolute;
  height: calc(100% - 64px);
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
</style>


