<template>
  <div id="productCatalogCont" class="md-layout">
    <!-- filters -->
      <div class="md-layout md-layout-item mx-4 my-2 md-xsmall-size-100 md-small-size-90 md-medium-size-25 md-size-25 md-alignment-top-center">
        <div class="md-layout-item md-size-100 md-elevation-3 px-3" style="position: sticky; top: 90px;">
          <md-field>
            <label>Buscar..</label>
            <md-input type="text" v-model="search" @input="searchOnTable"></md-input>
          </md-field>
        </div>
        <div class="md-layout-item md-size-100 mt-2" v-if="loading_table">
          <md-progress-bar style="top:0; position: relative; width: 100%; height: 4px;" md-mode="indeterminate"></md-progress-bar> <!-- v-if="loading_table" -->
        </div>
        <div class="md-layout-item md-size-100 md-elevation-3 px-3 mt-3 md-subheading" v-if="empty_table">
          <p>Sin productos para mostrar</p>
        </div>
      </div>
    <!-- content -->
      <div class="md-layout md-layout-item mt-2 md-small-size-100 md-medium-size-70 md-size-70">
        <div class="flip md-layout-item md-size-30 md-xsmall-size-100 md-small-size-45
          md-medium-size-30 md-size-30 mx-2" v-for="product in searched" :key="product.id">
          <md-card class="front md-layout-item md-size-100 md-elevation-1">
            <md-card-media-cover md-solid style="height: 100%;">
              <md-card-media>
                <img :src="product.photo" alt="product">
              </md-card-media>
              <md-card-area>
                <md-card-header>
                  <span class="md-title">{{ product.name }}</span>
                  <span class="md-subhead">sku: {{ product.sku }}</span>
                </md-card-header>
              </md-card-area>
            </md-card-media-cover>
          </md-card>
          <md-card class="back md-layout-item md-size-100 md-elevation-7">
            <md-card-header>
              <md-card-header-text class="md-layout">
                <span class="md-layout-item md-size-100 md-body-1">{{ product.name }}</span>
                <span class="md-layout-item md-size-100 md-subhead">{{ product.sku }}</span>
              </md-card-header-text>
              <md-card-media>
                <img :src="product.photo" alt="product">
              </md-card-media>
            </md-card-header>
            <md-divider class="divider-white"></md-divider>
            <md-card-content class="md-layout md-size-100 md-alignment-center-top">
              <div class="md-layout-item md-size-100">puntos: {{ product.points }}</div>
              <div class="md-layout-item md-size-100">desc: {{ product.description }}</div>
              <div class="md-layout-item md-size-100"></div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    <!-- alerts -->
  </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByEveryThing = (items, term) => {
  if (term) {
    const array = items.filter(item =>
      toLower(item.name).includes(toLower(term)) ||
      toLower(item.description).includes(toLower(term)) ||
      toLower(item.sku).includes(toLower(term))
    );
    this.empty_table = (array.length == 0) ? true : false
    return array
  }

  return items;
};
export default {
  data() {
    return {
      // filter
      search:               "",
      product_list:         [],
      // table
      data_table:           [],
      searched:             [],
      loading_table:        false,
      empty_table:          false,
      // error
      error:                false,
      contentError:         false,
    };
  },
  created() {},
  mounted() {
    this.getProducts()
  },
  computed: {},
  methods: {
    searchOnTable() {
      this.searched = searchByEveryThing(this.data_table, this.search);
    },
    async getProducts() {
      try {
        this.loading_table = true
        const resp = await this.$http.get(this.getUrlBase() + "/api/v1/product/", this.getHeaders())
        if (resp.body.length != 0) {
          this.data_table = resp.body
          this.searched = this.data_table
        } else this.empty_table = true
        this.loading_table = false

      } catch (error) {
        this.loading_table = false
        if (error.status == 401) this.getProducts()
        if (error.status == 500) {
          this.contentError = "Error al intentar obtener listado de Productos."
          this.error = true
        }        
      }
    }
  }
};
</script>
<style lang="scss">
// base
.flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 1.5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
        overflow-y: hidden !important;
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 0.95;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}
// custom
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    height: 33vh;
    >.front,
    >.back {
      height: 100%;
      overflow: auto;
      display: block;
      color: white;
      background-size: cover !important;
      background-position: center !important;
      background: #313131;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
.divider-white {
  border: 0.5px white solid;
  margin: 0 5px;
}

#productCatalogCont > div.md-layout.md-layout-item.mt-2.md-size-small-100.md-size-medium-70.md-size-70 > div > div.md-card.front.md-layout-item.md-size-100.md-elevation-1.md-theme-default > div > div > img {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

</style>


