<template>
  <div id="CommissionCont">
<!--  Sale's Man -->
    <md-table id="commission_table" class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;"
     :value="totalForUser" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
      <md-table-toolbar  style="padding: 0;">
          <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
            <div class="md-toolbar-section-start" >
                <i class="material-icons" style="left:3%; position:relative;">assignment_turned_in</i>
                <h1 class="md-title" style="color: #ffffff !important;">Reportes de Comisión</h1>
            </div>
          </div>
          <div class="md-toolbar-row md-layout md-size-100">
            <div class="md-layout-item md-layout md-alignment-center md-size-100">
              <div style="width: 30%; margin-right: 10%;">
                <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                  <span style="top:0px; position:absolute;">Desde</span>
                  <md-datepicker v-model="selected_datestart" md-immediately />
                </div>
              </div>
              <div style="width: 30%">
                <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                  <span style="top:0px; position:absolute;">Hasta</span>
                  <md-datepicker v-model="selected_dateend" md-immediately />
                </div>
              </div>
              <div style="width: 10%">
                <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                  <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
                </div>
              </div>
              <div style="width: 10%;">
                <download-excel :data="json_data" :fields="json_fields" :name="nameFile" v-if="totalForUser.length != 0">
                  <md-icon class="md-size-2 btn">archive</md-icon>
                  <p style="position:relative; top:5px;">Descargar excel</p>
                </download-excel>
              </div>
            </div>
          </div>
          <div class="md-toolbar-row" v-if="swSelected">
            <md-table-empty-state
              md-label="Cargando Datos"
              md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
            </md-table-empty-state>
          </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell style="max-width: 80px !important; text-align: left;" md-label="Nombre" md-sort-by="user">{{ item.user }}</md-table-cell>
        <md-table-cell md-label="Chips 356 Recargados" md-sort-by="chipR" md-numeric style="text-align: right !important;">{{ item.totalReload356 }}</md-table-cell>        
        <md-table-cell md-label="Chips 356+ Recargados" md-sort-by="chipRP" md-numeric style="text-align: right !important;">{{ item.totalReload356plus }}</md-table-cell>        
        <md-table-cell md-label="Chips AutoPlan Suscripciones" md-sort-by="chipSS" md-numeric style="text-align: right !important;">{{ item.totalSuscripcion374 }}</md-table-cell>        
        <md-table-cell md-label="Publicidad entregada" md-sort-by="quantity" md-numeric style="text-align: right !important;">{{ item.totalPublish }}</md-table-cell>
        <md-table-cell md-sort-by="redamigos" md-label="Portabilidades" md-numeric style="text-align: right !important;">{{ item.redamigos }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-table :value=[0]>
      <md-table-row slot="md-table-row" class="table-row-total">
        <md-table-cell>Total</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;">{{ totalR }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;">{{ totalRP }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;">{{ totalSS }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;">{{ totalPublish }}</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;">{{ total_portability }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-dialog :md-active.sync="showDialog">
      <img id="imgDialog" v-bind:src="img" alt="photo">
    </md-dialog>
<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
     <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
    </div>
</template>
<script>
export default {
  name: "salesMan",
  data() {
    return {
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      img: "",
      swError: false,
      showDialog: false,
      currentSort: "name_business",
      currentSortOrder: "asc",
      totalPublish: 0,
      totalR: 0,
      totalRP: 0,
      totalSS: 0,
      total_portability: 0,
      totalForUser: [],
      json_data: [],
      json_fields: {
        Nombre: "user",
        "Chips 356 Recargados": "totalReload356",
        "Chips 356+ Recargados": "totalReload356plus",
        "Chips 374 Suscripciones": "totalSuscripcion374",
        "Publicidad Entregada": "totalPublish",
        "Portabilitades": "redamigos"
      },
      nameFile: "",
      selected_datestart: null,
      selected_dateend: new Date(),
      swSelected: false,
      swSelectedSearch: false,
      url: "",
      contentError: "",
      search: null,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "user":
          return value.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "quantity":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.totalPublish - b.totalPublish;
            } else {
              return b.totalPublish - a.totalPublish;
            }
          });
          break;
        case "chipR":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.totalReload356 - b.totalReload356;
            } else {
              return b.totalReload356 - a.totalReload356;
            }
          });
          break;
        case "chipRP":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.chipRP - b.chipRP;
            } else {
              return b.chipRP - a.chipRP;
            }
          });
          break;
        case "chipSS":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.totalSuscripcion374 - b.totalSuscripcion374;
            } else {
              return b.totalSuscripcion374 - a.totalSuscripcion374;
            }
          });
          break;
          case "redamigos":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.redamigos - b.redamigos;
              } else {
                return b.redamigos - a.redamigos;
              }
            });
            break;
      }
    },
    //validar fechas antes de hacer petición http
    validateFields() {
      if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        this.getData();
      }
    },
    getData() {
      this.totalR = 0
      this.totalRP = 0
      this.totalSS = 0
      this.totalPublish = 0
      this.total_portability = 0
      this.totalForUser = []
      this.json_data = []
      this.swSelected = true
      this.swSelectedSearch = true
      const startDate =
        this.selected_datestart.getFullYear() +
        "-" +
        (this.selected_datestart.getMonth() + 1) +
        "-" +
        this.selected_datestart.getDate();
      const endDate =
        this.selected_dateend.getFullYear() +
        "-" +
        (this.selected_dateend.getMonth() + 1) +
        "-" +
        this.selected_dateend.getDate();

      this.$http.get(this.getUrlBase() + "/api/v1/reports/comisionColaboradores/?datestart=" +
        startDate + "&dateend=" + endDate, this.getHeaders()).then( response => {
            if (response.body.length != 0) {
              this.swSelected = false;

              //cargar datos para documento xls
              this.nameFile =
                "Reporte Comisiones Colaboradores -Arroba-" +
                this.selected_datestart.getFullYear() +
                (this.selected_datestart.getMonth() + 1) +
                this.selected_datestart.getDate() +
                "-" +
                this.selected_dateend.getFullYear() +
                (this.selected_dateend.getMonth() + 1) +
                this.selected_dateend.getDate() +
                ".xls";

              response.body.forEach(item => {
                if ( item.totalReload356 != 0 
                || item.totalReload356plus != 0 
                || item.totalSuscripcion374 != 0 
                || item.totalPublish != 0 
                || item.redamigos != 0) {
                  this.totalForUser.push(item);
                  this.json_data.push(item);
                  this.totalR += item.totalReload356;
                  this.totalRP += item.totalReload356plus;
                  this.totalSS += item.totalSuscripcion374;
                  this.totalPublish += item.totalPublish;
                  this.total_portability += item.redamigos;
                }
              });
              if(this.totalForUser.length == 0){
                this.snackNoData = true;
              }
            } else {
              this.snackNoData = true;
              this.swSelected = false;
              this.swSelectedSearch = false;
            }
          },
          error => {
            this.swSelected = false;
            this.swSelectedSearch = false;
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getData();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: Reporte de comisión por colaborador.";
            }
          }
        );
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() { }
};
</script>
<style>
.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#CommissionCont {
  padding: 0 2%;
}
#commission_table > div > div > table > thead > tr {
  background-color: #448aff !important;
}
#commission_table > div > div > table > thead > tr
  > th
  > div
  > div {
  color: #ffffff !important;
}
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
/* table headers  */
#commission_table > div.md-table-fixed-header > table > thead > tr > th{
  width: 20vw !important;
}
#commission_table > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
  width: 16.6vw !important;
}
/* Total */
.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
#commission_table > tr > td {
  width: 16.6vw !important;
}
/* end Total */
</style>
