<template>
  <div id="concesionCont">
       <!--  Sale's Man -->
    <md-table class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;" v-model="totalForConcessions" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
      <md-table-toolbar style="padding: 0;">
        <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
          <div class="md-toolbar-section-start">
              <i class="material-icons" style="left:3%; position:relative;">wallpaper</i>
              <h1 class="md-title" style="color: #ffffff !important;">Reportes de Chips en Concesión</h1>
          </div>
        </div>
        <div class="md-toolbar-row">
          <div class="md-layout-item md-layout md-gutter md-alignment-center">
              <div style="width: 30%; margin-right: 10%;">
                  <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                      <span style="top:0px; position:absolute;">Desde</span>
                      <md-datepicker v-model="selected_datestart" md-immediately/>
                  </div>
              </div>
              <div style="width: 30%">
                  <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                      <span style="top:0px; position:absolute;">Hasta</span>           
                      <md-datepicker v-model="selected_dateend" md-immediately/>
                  </div>
              </div>
              <div style="width: 10%">
                  <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                      <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
                  </div>
              </div>
              <div style="width: 10%" v-if="swSelectedSearch">
                  <download-excel
                    :data   = "json_data"
                    :fields = "json_fields"
                    :name    = "nameFile"> <md-icon style="top: 10px; position:relative; cursor: pointer;" class="md-size-2 btn">archive</md-icon>
                    <p style="position:relative; top:5px;"> Descargar excel</p>
                  </download-excel> 
              </div>
          </div>
        </div>
        <div class="md-toolbar-row" v-if="swLoading">
          <md-table-empty-state style="align"
            md-label="Cargando Datos"
            md-description="por favor espere un momentos los datos se están cargando">
              <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </div>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Dirección" md-sort-by="address">{{ item.address }}</md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Región" md-sort-by="region">{{ item.region }}</md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Comuna" md-sort-by="commune">{{ item.commune }}</md-table-cell>
        <md-table-cell md-label="Total en Concesión" md-sort-by="concession" md-numeric style="text-align: right !important;">{{ item.total_concesion }}</md-table-cell>
        <md-table-cell md-label="Total a Cobrar" md-sort-by="charge" md-numeric  style="text-align: right !important;">{{ item.charged_concesion }}</md-table-cell>
      </md-table-row>
      <md-table-row v-if="swSelectedSearch" class="table-row-total" slot="md-table-row">
        <md-table-cell md-label="Nombre">Total</md-table-cell>
        <md-table-cell md-label="Dirección"></md-table-cell>
        <md-table-cell md-label="Región"></md-table-cell>
        <md-table-cell md-label="Comuna"></md-table-cell>
        <md-table-cell md-label="Total en Concesión" md-numeric style="text-align: right !important;">{{ totalConcession }}</md-table-cell>
        <md-table-cell md-label="Total a Cobrar" md-numeric style="text-align: right !important;">{{ totalCharge }}</md-table-cell>
      </md-table-row>
    </md-table>

<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
     <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>

  </div>
</template>
<script>
export default {
  name: "reportConcesion",
  data() {
    return {
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackRoleViewNoData: false,
      snackRegister: false,
      snackEdit: false,
      snackOauth: false,
      snack404: false,
      snack400: false,
      snack500: false,
      position: "center",
      isInfinity: false,
      Infinity: true,
      duration: 10000,
      // table
      currentSort: "name",
      currentSortOrder: "asc",
      totalConcession: 0,
      totalCharge: 0,
      totalForConcessions: [],
      json_data: [],
      json_fields: {
        Nombre: "name",
        Direccion: "address",
        Region: "region",
        Comuna: "commune",
        "En concesion": "total_consecion",
        Cobrados: "charged_concesion"
      },
      nameFile: "",
      // filter
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del Bío Bío" },
        { id: 164, name: "Penco", region_name: "VIII del Bío Bío" },
        { id: 51, name: "Cabildo", region_name: "V de Valparaíso" },
        { id: 52, name: "La Ligua", region_name: "V de Valparaíso" },
        { id: 53, name: "Papudo", region_name: "V de Valparaíso" },
        { id: 54, name: "Petorca", region_name: "V de Valparaíso" },
        { id: 55, name: "Zapallar", region_name: "V de Valparaíso" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X Región de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X Región de Los Lagos"
        },
        {
          id: 236,
          name: "Río Negro",
          region_name: "X Región de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X Región de Los Lagos" },
        { id: 238, name: "Futaleufú", region_name: "X Región de Los Lagos" },
        { id: 239, name: "Chaitén", region_name: "X Región de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X Región de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "Curicó", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 245,
          name: "O'Higgins",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de Valparaí­so" },
        { id: 62, name: "Cartagena", region_name: "V de Valparaí­so" },
        { id: 63, name: "El Quisco", region_name: "V de Valparaí­so" },
        { id: 64, name: "El Tabo", region_name: "V de Valparaíso" },
        { id: 65, name: "San Antonio", region_name: "V de Valparaíso" },
        { id: 66, name: "Santo Domingo", region_name: "V de Valparaíso" },
        { id: 70, name: "Putaendo", region_name: "V de Valparaíso" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de Valparaíso" },
        { id: 74, name: "Valparaí­so", region_name: "V de Valparaíso" },
        { id: 75, name: "Concón", region_name: "V de Valparaíso" },
        { id: 77, name: "Puchuncaví­", region_name: "V de Valparaíso" },
        { id: 78, name: "Quintero", region_name: "V de Valparaíso" },
        { id: 79, name: "Viña del Mar", region_name: "V de Valparaíso" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV Región de Los Ríos" },
        { id: 313, name: "Los Lagos", region_name: "XIV Región de Los Ríos" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV Región de Los Ríos" },
        { id: 315, name: "Mariquina", region_name: "XIV Región de Los Ríos" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "Requínoa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de Valparaío" },
        { id: 46, name: "San Esteban", region_name: "V de Valparaíso" },
        { id: 47, name: "Limache", region_name: "V de Valparaíso" },
        { id: 143, name: "Alto Biobío", region_name: "VIII del Bío Bío" },
        { id: 144, name: "Antuco", region_name: "VIII del Bío Bío" },
        { id: 145, name: "Cabrero", region_name: "VIII del Bío Bío" },
        { id: 58, name: "La Cruz", region_name: "V de Valparaíso" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de Valparaíso" },
        { id: 44, name: "Los Andes", region_name: "V de Valparaíso" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X Región de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X Región de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de Tarapacá" },
        { id: 2, name: "Iquique", region_name: "I de Tarapacá" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de Tarapacá" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "Colbún", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "Longaví", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃón", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "Río Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del Bí Bí" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del Bí Bí" },
        { id: 149, name: "Nacimiento", region_name: "VIII del Bí Bí" },
        { id: 151, name: "Quilaco", region_name: "VIII del Bí Bí" },
        { id: 152, name: "Quilleco", region_name: "VIII del Bí Bí" },
        { id: 166, name: "Santa Juana", region_name: "VIII del Bí Bí" },
        { id: 167, name: "Talcahuano", region_name: "VIII del Bí Bí" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del Bí Bí" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San José de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "Curacaví",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "María Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X Región de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X Región de Los Lagos" },
        { id: 216, name: "PuqueldÃón", region_name: "X Región de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X Región de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X Región de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X Región de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X Región de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X Región de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X Región de Los Lagos" },
        { id: 225, name: "Cochamó", region_name: "X Región de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X Región de Los Lagos" },
        { id: 12, name: "Ollague", region_name: "II de Antofagasta" },
        { id: 36, name: "Vicuña", region_name: "IV de Coquimbo" },
        { id: 37, name: "Combarbalá", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "Río Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X Región de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X Región de Los Lagos" },
        { id: 48, name: "Olmué", region_name: "V de Valparaí­so" },
        { id: 49, name: "Quilpué", region_name: "V de Valparaí­so" },
        { id: 311, name: "Corral", region_name: "XIV Región de Los RÃíos" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX Región de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX Región de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 302,
          name: "San Joaquín",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X Región de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X Región de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X Región de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X Región de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X Región de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI Región de Ñuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX Región de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de Tarapacá" },
        { id: 5, name: "Huara", region_name: "I de Tarapacá" },
        { id: 6, name: "Pica", region_name: "I de Tarapacá" },
        { id: 7, name: "Pozo Almonte", region_name: "I de Tarapacá" },
        { id: 17, name: "Chañaral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃó", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San Ramón",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de Valparaíso" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del Bío Bío" },
        { id: 56, name: "La Calera", region_name: "V de Valparaíso" },
        { id: 211, name: "Quellón", region_name: "X Región de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de Valparaíso" },
        { id: 67, name: "Catemu", region_name: "V de Valparaíso" },
        {
          id: 253,
          name: "Río Verde",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de Valparaíso" },
        { id: 69, name: "Panquehue", region_name: "V de Valparaíso" },
        { id: 71, name: "San Felipe", region_name: "V de Valparaíso" },
        {
          id: 279,
          name: "Estación Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "Aysén",
          region_name: "XI Aysén del General Carlos Ibañez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de Valparaíso" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 250,
          name: "Río Ibáñez",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 192,
          name: "Pitrufquén",
          region_name: "IX Región de la Araucania"
        },
        { id: 193, name: "Pucón", region_name: "IX Región de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de Valparaíso" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa María", region_name: "V de Valparaíso" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI Región de Ñuble" },
        { id: 324, name: "Chillán", region_name: "XVI Región de Ñuble" },
        {
          id: 325,
          name: "Chillán Viejo",
          region_name: "XVI Región de Ñuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI Región de Ñuble" },
        { id: 331, name: "Yungay", region_name: "XVI Región de Ñuble" },
        { id: 333, name: "Coelemu", region_name: "XVI Región de Ñuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "Vichuquén", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del Bío Bío" },
        { id: 179, name: "Carahue", region_name: "IX Región de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX Región de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX Región de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX Región de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX Región de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX Región de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX Región de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "Doñihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "Machalí­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV Región de Los Ríos" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 309,
          name: "La Unión",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV Región de Los Ríos" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV Región de Los Ríos"
        },
        { id: 318, name: "Valdivia", region_name: "XIV Región de Los Ríos" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del Bío Bío"
        },
        { id: 186, name: "Lautaro", region_name: "IX Región de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX Región de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX Región de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 197,
          name: "Toltén",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX Región de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX Región de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del Bío Bío" },
        { id: 150, name: "Negrete", region_name: "VIII del Bío Bío" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del Bío Bío" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del Bío Bío" },
        { id: 155, name: "Tucapel", region_name: "VIII del Bío Bío" },
        { id: 156, name: "Yumbel", region_name: "VIII del Bío Bío" },
        { id: 157, name: "Chiguayante", region_name: "VIII del Bío Bío" },
        { id: 158, name: "ConcepciÃón", region_name: "VIII del Bío Bío" },
        { id: 159, name: "Coronel", region_name: "VIII del Bío Bío" },
        { id: 160, name: "Florida", region_name: "VIII del Bío Bío" },
        { id: 206, name: "Lumaco", region_name: "IX Región de la Araucania" },
        { id: 207, name: "Purén", region_name: "IX Región de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX Región de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "Maipúº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI Región de Ñuble" },
        { id: 341, name: "San Carlos", region_name: "XVI Región de Ñuble" },
        { id: 342, name: "San Fabián", region_name: "XVI Región de Ñuble" },
        { id: 343, name: "San Nicolás", region_name: "XVI Región de Ñuble" },
        {
          id: 295,
          name: "Peñalolén",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de Maipó",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "Conchalí",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "Río Bueno",
          region_name: "XII Región de Magallanes y de la Antá¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X Región de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "Cañete", region_name: "VIII del Bío Bío" },
        { id: 356, name: "Los Alamos", region_name: "VIII del Bío Bío" },
        { id: 355, name: "Lebu", region_name: "VIII del Bío Bío" },
        {
          id: 346,
          name: "Peñaflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI Región de Ñuble" },
        { id: 337, name: "RáÂ¡nquil", region_name: "XVI Región de Ñuble" },
        { id: 338, name: "Treguaco", region_name: "XVI Región de Ñuble" },
        { id: 339, name: "Coihueco", region_name: "XVI Región de Ñuble" }
      ],
      regions: [],
      selected_datestart: null,
      selected_dateend: null,
      swSelectedSearch: false,
      swLoading: false,
      // config
      contentError: "",
      url: "",
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      today: null,
      dd: null,
      mm: null,
      yyyy: null,
      MonthActually: null,
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "name":
        case "address":
        case "region":
        case "commune":
        case "date":
          return value.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "concession":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.totalconsecion - b.totalconsecion;
            } else {
              return b.totalconsecion - a.totalconsecion;
            }
          });
          break;
        case "charge":
          return value.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.quantitytocharge - b.quantitytocharge;
            } else {
              return b.quantitytocharge - a.quantitytocharge;
            }
          });
          break;
      }
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return this.communes[idx].name;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return this.communes[idx].region_name;
    },
    //validar fechas antes de hacer petición http
    validateFields() {
      if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        this.getData();
      }
    },
    // obtener concesiones por punto de venta
    getData() {
      this.totalConcession = 0;
      this.totalCharge = 0;
      this.swLoading = true;
      this.swSelectedSearch = true;
      this.totalForConcessions = [];
      this.json_data = [];

      const startDate =
        this.selected_datestart.getFullYear() +
        "-" +
        (this.selected_datestart.getMonth() + 1) +
        "-" +
        this.selected_datestart.getDate();
      const endDate =
        this.selected_dateend.getFullYear() +
        "-" +
        (this.selected_dateend.getMonth() + 1) +
        "-" +
        this.selected_dateend.getDate();

      this.$http.get(this.getUrlBase() + 
            "/api/v1/reports/subsidiaryChipConsecionByDate/?datestart=" +
            startDate + "&dateend=" + endDate, this.getHeaders())
        .then(
          response => {
            if (response.body.length != 0) {
              //cargar datos para documento xls
              this.nameFile =
                "Reporte Concesiones -Arroba-" +
                this.selected_datestart.getFullYear() +
                (this.selected_datestart.getMonth() + 1) +
                this.selected_datestart.getDate() +
                "-" +
                this.selected_dateend.getFullYear() +
                (this.selected_dateend.getMonth() + 1) +
                this.selected_dateend.getDate() +
                ".xls";

              response.body.forEach(item => {
                if (
                  this.totalForConcessions.findIndex(
                    suc => suc.name == item.name
                  ) == -1
                ) {
                  if (item.total_concesion != 0) {
                    this.totalForConcessions.push({
                      name: item.name,
                      address: item.address,
                      region: this.getRegionName(item.idcommune),
                      // region: this.replace(region),
                      commune: this.getCommuneName(item.idcommune),
                      total_concesion: item.total_concesion,
                      charged_concesion: item.charged_concesion
                    });
                    this.json_data.push({
                      name: item.name,
                      address: item.address,
                      region:  this.getRegionName(item.idcommune),
                      commune: this.getCommuneName(item.idcommune),
                      total_concesion: item.total_concesion,
                      charged_concesion: item.charged_concesion
                    });
                    this.totalConcession += item.total_concesion;
                    this.totalCharge += item.charged_concesion;
                  }
                }
                this.swLoading = false;
              });
            } else {
              this.snackNoData = true;
              this.swLoading = false;
              this.swSelectedSearch = false;
            }
          },
          error => {
            this.swLoading = false;
            this.swSelectedSearch = false;
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getData();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Erro al obtener datos relacionados con: Reporte de Concesión.";
            }
          }
        );
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replace(name){ 
  
      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ").replace("íÂ¡","á")

      return Comuna;
    },   
  },
  created() {}
};
</script>
<style>
.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#concesionCont {
  padding: 0 2%;
}
/* header */
#concesionCont
> div > div > table > thead > tr {
  background-color: #448aff !important;
}
#concesionCont
> div > div > table > thead > tr
  > th
  > div
  > div {
  color: #ffffff !important;
}
#concesionCont
> div > div > table > thead > tr
  > th {
  width: 16.6vw !important;
}
/* Body */
#concesionCont
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody
  > tr
  > td{
  width: 16.6vw !important;
}
/* total */
.table-row-total {
  position: relative;
  background-color: #ff7f50 !important;
  color: #ffffff !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
#concesionCont > div > tr > td {
  width: 16.6vw !important;
}
/* end Total */
.img-suc {
  height: 35px !important;
}
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}

</style>
