<template>
  <div id="contStock">
<!-- RESUMEN -->
    <div>
      <md-card class="md-layout-item md-size-100 md-elevation-0" style="background-color: white !important;">
        <!-- <md-card-header style="height: 60px;">
          <md-avatar>
            <i class="material-icons" style="left:3%; top:-5px !important; position:relative;">wallpaper</i>
          </md-avatar>
          <div class="md-title" style="color: #ffffff !important; font-size: 22px !important;">RESUMEN STOCK PDV</div>
        </md-card-header> -->
        <md-card-content class="md-layout md-layout-item md-size-100 md-alignment-center">

          <md-card class="md-layout-item md-size-15 mx-1">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-green mr-4">
                <md-icon>sim_card</md-icon>
              </div>
              <b class="font-general pt-2">{{qdos_15}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">Activo </span>
              <span class="md-small-hide">{{"(DOS > 1.5) "}}</span>
            </md-card-content>
          </md-card>

          <md-card class="md-layout-item md-size-15 mr-1">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-yellow mr-4">
                <md-icon>sim_card</md-icon>
              </div>
              <b class="font-general pt-2">{{qdos_1_15}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">Con Habilitaciones</span>
              <span class="md-small-hide">{{"(DOS > 1 & &lt;= 1.5)"}}</span>
            </md-card-content>
          </md-card>

          <md-card class="md-layout-item md-size-15 mr-1">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-red mr-4">
                <md-icon>sim_card</md-icon>
              </div>
              <b class="font-general pt-2">{{qdos_05_1}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">DOS Crítico</span>
              <span class="md-small-hide">{{"(DOS > 0.5 & &lt;= 1)"}}</span>
            </md-card-content>
          </md-card>

          <md-card class="md-layout-item md-size-15 mr-1">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-purple mr-4">
                <md-icon>sim_card</md-icon>
              </div>
              <b class="font-general pt-2">{{qdos_0_05}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">Quiebre</span>
              <span class="md-small-hide">{{"(DOS &lt;= 0.5)"}}</span>
            </md-card-content>
          </md-card>

          <md-card class="md-layout-item md-size-15">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-blue mr-4">
                <md-icon>remove_shopping_cart</md-icon>
              </div>
              <b class="font-general pt-2">{{status_no}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">No Quiere</span>
            </md-card-content>
          </md-card>

          <md-card class="md-layout-item md-size-15 mx-1">
            <md-card-content class="indicator-content py-0">
              <div class="icon-container b-light-blue mr-4">
                <md-icon>sync</md-icon>
              </div>
              <b class="font-general pt-2">{{status_taken}}</b>
            </md-card-content>
            <md-divider class="mx-2"></md-divider>
            <md-card-content class="indicator-legend py-1">
              <span class="md-small-hide">Tomado por la Competencia</span>
            </md-card-content>
          </md-card>

        </md-card-content>
        <md-progress-bar v-if="loading_resumen" md-mode="indeterminate" ></md-progress-bar>
        <md-card-content class="md-layout md-alignment-center md-elevation-5" style="padding: 16px 16px;">
          <div class="md-layout md-alignment-center">
            <div class="md-layout-item md-size-30 md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-100 md-xsmall-size-100" style="padding: 0 16px;">
              <md-field>
                <md-select v-model="selected_segmentation" placeholder="Segmentación"  @md-selected="onChangeSeg">
                  <md-option  v-for="(segmentation) in segmentation_list" :value="segmentation.id" :key="segmentation.id">{{ segmentation.description }}</md-option>
                </md-select>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-100 md-xsmall-size-100" style="padding: 0 16px;">
              <md-field>
                <md-select v-model="selected_category" placeholder="Categoría" @md-selected="onChangeCat">
                  <md-option  v-for="(category) in categories_list" :value="category.id" :key="category.id">{{ category.description }}</md-option>
                </md-select>
              </md-field>
            </div>
            <div v-if="sw_step == 'qpdv'" class="md-layout-item md-size-30 md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-100 md-xsmall-size-100" style="padding: 0 16px;">
              <md-field>
                  <md-select name="type_chip" id="idComuns" v-model="switch_chip_356" @md-selected="changeHeaders">
                    <md-option :value="true" >Chip 356</md-option>
                    <md-option :value="false" >Chip Autoplan</md-option>
                  </md-select>
                </md-field>
            </div>
            <div v-if="resumen_table.length != 0 || sucursales.length != 0" class="md-layout-item md-size-10 md-large-size-15 md-medium-size-15 md-small-100 md-xsmall-100">
              <download-excel :data="json_data" :fields="json_fields" :name="nameFile">
                <md-icon style="cursor: pointer;" class="md-size-2 btn">archive</md-icon>
              </download-excel>
            </div>
          </div>
        </md-card-content>
<!-- TABLA REGION/COMUNA -->
      <md-table id="region-table" class="md-layout-item md-size-100 md-elevation-5" :value="resumen_table" :md-sort.sync="currentSort" md-fixed-header
       :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSortRegCom" v-show="sw_step == 'region' || sw_step == 'commune'" @md-selected="onSelectRow">
        <!-- buscador -->
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button v-if="sw_step == 'commune'" class="md-raised md-primary md-layout-item" @click="selected_segmentation != -1 ? onChangeSeg(selected_segmentation) : onChangeCat(selected_category)"><md-icon>keyboard_arrow_left</md-icon></md-button>         
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
          <br>
            <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state  md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
              <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell style="text-align: center;" md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" :md-label="sw_step == 'region' ? 'Región' : 'Comuna'" md-sort-by="name">{{sw_step == 'region' ? item.region_name : item.commune_name }}</md-table-cell>
          <md-table-cell md-label="Activos" md-numeric md-sort-by="total_actives">{{ item.dos_15 }}</md-table-cell>
          <md-table-cell md-label="Con Habilitaciones" md-numeric md-sort-by="with_hab">{{ item.dos_1_15 }}</md-table-cell>
          <md-table-cell md-label="DOS Crítico" md-numeric md-sort-by="critic">{{ item.dos_05_1 }}</md-table-cell>
          <md-table-cell md-label="Quiebre" md-numeric md-sort-by="without_hab">{{ item.dos_0_05 }}</md-table-cell>
          <md-table-cell md-label="No Quiere" md-numeric md-sort-by="status_no">{{ item.status_no }}</md-table-cell>
          <md-table-cell md-label="TPLC" md-numeric md-sort-by="status_taken">{{ item.status_taken }}</md-table-cell>
        </md-table-row>
      </md-table>
      <md-table :value="[0]" v-show="sw_step == 'region' || sw_step == 'commune'" class="md-elevation-5">
        <md-table-row slot="md-table-row" class="table-row-total-region">
          <md-table-cell style="text-align: center;">Total</md-table-cell>
          <md-table-cell></md-table-cell>
          <md-table-cell md-numeric>{{ dos_15 }}</md-table-cell>
          <md-table-cell md-numeric>{{ dos_1_15 }}</md-table-cell>
          <md-table-cell md-numeric>{{ dos_05_1 }}</md-table-cell>
          <md-table-cell md-numeric>{{ dos_0_05 }}</md-table-cell>
          <md-table-cell md-numeric>{{ status_no }}</md-table-cell>
          <md-table-cell md-numeric>{{ status_taken }}</md-table-cell>
        </md-table-row>
      </md-table>
<!-- TABLA PDV -->
      <md-table ref="qpdv_table" id="qpdv-table" class="md-layout-item md-size-100  md-elevation-5" :value="sortedProds" :md-sort.sync="currentSort"
       :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_step == 'qpdv'" md-fixed-header @md-selected="onSelect">
        <!-- buscador -->
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button class="md-raised md-primary md-layout-item" @click="refresh(selected_region)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
          <br>
          <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state  md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
              <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="Sucursal" md-sort-by="name" style="padding-bottom:20px;">
            <div class="div-pdv">
              <md-avatar class="md-large">
                <img :src="item.photo">
              </md-avatar>
              <!-- segmentation -->
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
              <!-- name -->
              <span>{{item.name}}</span>
              <!-- address -->
              <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
              <!-- category -->
              <span>{{item.category}}</span>
            </div>
            <div style="display: block">
              <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
              <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
            </div>
            <div style="display: inline-flex">
              <div class="badge-s" :class="getCoverageColor(item.coverage)"><md-icon class="white">wifi</md-icon><span>{{ item.coverage }}%</span></div>
              <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ item.q_home }}</span></div>
              <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock356 }}</span></div>
              <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stockautoplan }}</span></div>
            </div> 
          </md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Chips 356 Entregados' : 'Chips Autoplan Entregados'"  md-numeric md-sort-by="deliveries">{{ switch_chip_356 ?  item.d356 : item.dAutoPlan }}</md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Stock 356' : 'Stock AutoPlan'" md-numeric md-sort-by="stock">{{ switch_chip_356 ? item.stock356 : item.stockautoplan }}</md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Sell Out 356' : 'Sell Out 374'" md-numeric md-sort-by="sellout">{{ switch_chip_356 ? item.sellout356 : item.sellout374 }}</md-table-cell>
          <md-table-cell v-if="switch_chip_356" md-label="Tasa Recargas" md-numeric md-sort-by="tasa_reload">{{ parseInt(item.tasa_reload).toFixed(2) }}%</md-table-cell>
          <md-table-cell md-label="Estado DOS" md-sort-by="dos" md-numeric>
            <md-icon v-if="item.subsidiary_status == 2" class="c-blue">remove_shopping_cart</md-icon>
            <md-icon v-if="item.subsidiary_status == 3" class="c-light-blue">sync</md-icon>
            <md-icon v-if="item.dos <= 0.5" style="color: #8c2078 !important">sim_card</md-icon>
            <md-icon v-else-if="item.dos > 0.5 && item.dos <= 1" style="color: #dd1919 !important">sim_card</md-icon>
            <md-icon v-else-if="item.dos > 1 && item.dos <= 1.5" style="color: #dad61f !important">sim_card</md-icon>
            <md-icon v-else-if="item.dos > 1.5" style="color: #1d9c18 !important">sim_card</md-icon>
            {{ item.dos }}
          </md-table-cell>
          <md-table-cell md-label="Última Visita"  md-numeric md-sort-by="last_visit">{{ item.last_visit }}</md-table-cell>
        </md-table-row>
      </md-table>
      <md-table :value="[0]" v-show="sw_step == 'qpdv'" class="md-elevation-5">
        <md-table-row slot="md-table-row" class="table-row-total">
          <md-table-cell md-label="Sucursal" md-sort-by="name">Total</md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Chips 356 Entregados' : 'Chips Autoplan Entregados'" md-numeric md-sort-by="deliveries">{{ switch_chip_356 ? total356D : total374D }}</md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Stock 356' : 'Stock AutoPlan'" md-numeric md-sort-by="stock">{{ switch_chip_356 ? stock356 : stockautoplan }}</md-table-cell>
          <md-table-cell :md-label="switch_chip_356 ? 'Sell Out 356' : 'Sell Out 374'" md-numeric md-sort-by="sellout">{{ switch_chip_356 ? sellout356 : sellout374 }}</md-table-cell>
          <md-table-cell v-if="switch_chip_356" md-label="Tasa Recargas" md-numeric md-sort-by="tasa_reload">{{ tasa_reload }}%</md-table-cell>
          <md-table-cell md-label="Estado DOS" md-sort-by="dos" md-numeric></md-table-cell>
          <md-table-cell md-label="Última Visita" md-numeric md-sort-by="last_visit"></md-table-cell>
        </md-table-row>
      </md-table>
<!-- PAGGING -->
      <!-- <div id="pagging" v-if="sucursales.length > 15">
        <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
          <md-icon class="pagging-icon-ten">first_page</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="prevPage">
          <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
        </md-button>
        <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
        <md-button class="pagging-btn md-icon-button" @click="nextPage(sucursales)">
          <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="nextTenPage(sucursales)">
          <md-icon class="pagging-icon">last_page</md-icon>
        </md-button>
      </div> -->
      </md-card>
<!-- MODAL MAPA -->
    <md-dialog class="modal-map" :md-active.sync="showDialog">
        <gmap-map :center="center" :zoom="zoom" style="width: 100%; height: 80vh;">
          <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true"
            :draggable="false" :icon="m.icon" @click="toggleInfoWindow(m,index)">
          </gmap-marker>
          <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
            <div>
              <div class="md-layout">
                <md-avatar style="width: 140px; height: 140px;">
                  <img :src="dataMarker.photo" width="140px" />
                </md-avatar>
              </div>
              <div style="text-align: center;">
                <md-icon class="i-star">star</md-icon>
                <md-icon class="i-star">{{ dataMarker.segmentation > 1 ? (2 > dataMarker.segmentation ? 'star_half' : 'star') : 'star_border'}}</md-icon>
                <md-icon class="i-star">{{ dataMarker.segmentation > 2 ? (3 > dataMarker.segmentation ? 'star_half' : 'star') : 'star_border'}}</md-icon>
                <md-icon class="i-star">{{ dataMarker.segmentation > 3 ? (4 > dataMarker.segmentation ? 'star_half' : 'star') : 'star_border'}}</md-icon>
                <md-icon class="i-star">{{ dataMarker.segmentation > 4 ? (5 > dataMarker.segmentation ? 'star_half' : 'star') : 'star_border'}}</md-icon>
              </div>
              <div style="display: block; text-align: center">
                <div class="badge-p" :class="dataMarker.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
                <div class="badge-p" :class="dataMarker.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
              </div>
              <div class="md-layout-item md-layout md-alignment-center md-size-100" style="display: inline-flex">
                <div class="badge-s" :class="getCoverageColor(dataMarker.coverage)"><md-icon class="white">wifi</md-icon><span>{{ dataMarker.coverage }}%</span></div>
                <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ dataMarker.q_home }}</span></div>
                <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ dataMarker.stock356 }}</span></div>
                <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ dataMarker.stockautoplan }}</span></div>
              </div>
              <div>
                <p style="color: #000;">Local: {{ dataMarker.name_business }} </p>
                <p style="color: #000;">Categoría: {{ dataMarker.category }} </p>
                <p style="color: #000;" v-if="perfil != 2 && perfil != 5">Dirección: {{ dataMarker.address }}</p>
                <p style="color: #000;">Entregas 356: {{ dataMarker.deliverys356 }}</p>
                <p style="color: #000;">Entregas Autoplan: {{ dataMarker.deliverys374 }}</p>
                <p style="color: #000;">Stock 356: {{ dataMarker.stock356 }}</p>
                <p style="color: #000;">Stock Autoplan: {{ dataMarker.stockautoplan }}</p>
                <p style="color: #000;">DOS: {{ dataMarker.dos }}</p>
                <p style="color: #000;">Última Visita: {{ dataMarker.last_visit }}</p>
              </div>
          </div>
          </gmap-info-window>
        </gmap-map>
        <md-dialog-actions style="background-color: #EB754A !important; margin: 0%;">
          <md-button style="color: #ffffff" @click="showDialog = false">Cerrar</md-button>
        </md-dialog-actions>
    </md-dialog>

<!-- ALERTAS  -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
    </div>
  </div>
</template>
<script>
export default {
  name: "reportStock",
  data() {
    return {
      selected_commune: -1,
      selected_region: -1,
      // stepper
      sw_step: 'none',
      roman_regions: ['I','II','III','IV','V','VI','VII','VIII','IX','X','XI','XII','RM','XIV','XV','XVI'],
      // Pagination
      pageSize: 15,
      currentPage: 1,
      maxPage: 0,
      // alertas
      loading_resumen: true,
      switch_chip_356: true,
      snackOauth: false,
      snack500: false,
      snackNoData: false,
      aerror: "",
      // SORT
      currentSort: "name",
      currentSortOrder: "asc",
      // TABLE
      // region
      dos_15: 0,
      total_actives_374: 0,
      dos_1_15: 0,
      total_with_hab_374: 0,
      dos_0_05: 0,
      total_without_hab_374: 0,
      dos_05_1: 0,
      status_no: 0,
      status_taken: 0,
      total_critic_374: 0,
      total_publish: 0,
      total_trained: 0,
      sellout356: 0,
      sellout374: 0,
      tasa_reload: 0,
      status_no: 0,
      status_taken: 0,
      // qpdv
      total356D: 0,
      total374D: 0,
      stock356: 0,
      stockautoplan: 0,
      totalGood: 0,
      totalRegular: 0,
      totalBad: 0,
      totalNN: 0,
      tasa_reload: 0,
      nameFile: "",
      json_data: [],
      json_fields: {
        "Foto":                       "photo",
        "direccion":                  "address",
        "sucursal":                   "name",
        "entregados 356":             "d356",
        "entregados autoplan":        "dAutoPlan",
        "stock 356":                  "stock356",
        "stock autoplan":             "stockautoplan",
        "Capacitado":                 "training_t",
        "Con Publicidad":             "publish_t",
        "Categoría":                  "category",
        "Segmentación":               "segmentation_name",
        "Última Visita":              "last_visit"
      },
      // CONFIG
      resumen_location:[],
      resumen_location: [],
      // map
      markers: [],
      iconOptions: {},
      zoom: 16,
      center: { lat: -33.4446479, lng: -70.6582718 },
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      dataMarker: {
        name_business: "",
        segmentation: "",
        category: "",
        photo: "",
        deliverys356: 0,
        deliverys374: 0,
        stock356: 0,
        stockautoplan: 0,
        last_visit: 0,
        region: '',
        commune: '',
        address: ''
      },
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      infoWinOpen: false,
      iconOptions: {},
      currentMidx: null,
      // totales
      qdos_0_05: 0,
      qdos_05_1: 0,
      qdos_1_15: 0,
      qdos_15: 0,
      qsim374sHab: 0,
      qsim374Regular: 0,
      qsim374Bueno: 0,
      qsim374Excelente: 0,
      switch_region_356: false,
      resumenRegion: [{
        stock356Bueno:0,
        stock356Regular:0,
        stock356Malo:0,
        stock356SinMover:0,
        stock374Bueno:0,
        stock374Regular:0,
        stock374Malo:0,
        stock374SinMover:0,
        nameRegion:"",
      }],
      // tabla
      showDialog: false,
      loading_table: false,
      currentSort: "region",
      currentSortOrder: "asc",
      sucursales: [],
      commune: [],
      communs: [],
      regiones: [],
      region: [],
      regions: [
        {id: 1, id_region:"1", region_name: "I de TarapacÃ¡" },
        {id: 2, id_region:"2", region_name: "II de Antofagasta" },
        {id: 3, id_region:"3",  region_name: "III de Atacama" },
        {id: 4, id_region:"4", region_name: "IV de Coquimbo" },
        {id: 5, id_region:"5", region_name: "V de ValparaÃ­so" },
        {id: 6, id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, id_region:"7",region_name: "VII del Maule" },
        {id: 8, id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        {id: 9, id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {id: 10, id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {id: 11, id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo" },
        {id: 12, id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena" },
        {id: 13, id_region:"13", region_name: "Metropolitana de Santiago" },
        {id: 14, id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {id: 15, id_region:"15", region_name: "XV de Arica y Parinacota" },
        {id: 16, id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
      ],
      communes: [
        { id: 26, name: "Canela", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", id_region:"2", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", id_region:"2", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", id_region:"7",region_name: "VII del Maule" },
        { id: 114, name: "Chanco", id_region:"7",region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", id_region:"7",region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", id_region:"7",region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", id_region:"7",region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", id_region:"3",  region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", id_region:"2", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", id_region:"7",region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", id_region:"3",  region_name: "III de Atacama" },
        { id: 121, name: "Romeral", id_region:"7",region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", id_region:"7",region_name: "VII del Maule" },
        { id: 123, name: "Teno", id_region:"7",region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", id_region:"7",region_name: "VII del Maule" },
        { id: 126, name: "Linares", id_region:"7",region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", id_region:"7",region_name: "VII del Maule" },
        { id: 128, name: "Parral", id_region:"7",region_name: "VII del Maule" },
        { id: 129, name: "Retiro", id_region:"7",region_name: "VII del Maule" },
        { id: 130, name: "San Javier", id_region:"7",region_name: "VII del Maule" },
        { id: 268, name: "Paine", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", id_region:"7",region_name: "VII del Maule" },
        { id: 134, name: "Curepto", id_region:"7",region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", id_region:"7",region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", id_region:"7",region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", id_region:"7",region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", id_region:"7",region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", id_region:"7",region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", id_region:"7",region_name: "VII del Maule" },
        { id: 142, name: "Talca", id_region:"7",region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", id_region:"2", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", id_region:"15", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", id_region:"3",  region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", id_region:"2", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", id_region:"2", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", id_region:"3",  region_name: "III de Atacama" },
        { id: 19, name: "Caldera", id_region:"3",  region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", id_region:"3",  region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", id_region:"3",  region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", id_region:"2", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", id_region:"2", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", id_region:"3",  region_name: "III de Atacama" },
        { id: 23, name: "Freirina", id_region:"3",  region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          id_region:"16", region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", id_region:"7",region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", id_region:"7",region_name: "VII del Maule" },
        { id: 172, name: "Maule", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", id_region:"15", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", id_region:"15", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          id_region:"8",  region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 351, name: "Puerto Montt", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 350, name: "Palmilla", id_region:"2", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", id_region:"3",  region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          id_region:"15", region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      segmentation_list: [],
      selected_segmentation: -1,
      categories_list: [],
      selected_category: -1,
      breadscrumb: '',
      today: null,
      dd: null,
      mm: null,
      yyyy: null,
      MonthActually: null,
      sw: 0,
      contentError: "",
      refresh_call: true,
      search: "",
      perfil: 0
    };
  },
  mounted() {
    this.today = new Date()
    this.dd = this.today.getDate()
    this.mm = this.today.getMonth() + 1
    this.yyyy = this.today.getFullYear()
    this.MonthActually = this.months[this.today.getMonth()]
    this.getSegmentationScore()
    this.getTotals(-1)
    this.getCategories()
  },
  computed: {
    sortedProds() {
      if(this.search != "") {
        return this.sucursales
          .filter(dt => dt.name.toUpperCase().includes(this.search.toUpperCase()))
      } else return this.sucursales
    },
    resumen_table() {
      if(this.search != "") {
        const name = (this.sw_step != 'commune') ? 'region' : 'commune'
        return this.resumen_location
        .filter(rcl => rcl[name].toUpperCase().includes(this.search.toUpperCase()))
      } else return this.resumen_location
    }
  },
  watch: {},
  methods: {
    customSort(value) {
      switch(this.currentSort){
        case "name":
        case "last_visit":
          return this.sucursales.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "deliveries":
          return this.sucursales.sort((a, b) => {
            let cur = (this.switch_chip_356) ? 'd356' : 'dAutoPlan'
            if (this.currentSortOrder == "desc") {
              return a[cur] - b[cur]
            } else {
              return b[cur] - a[cur]
            }
          });
          break;
        case "stock":
          return this.sucursales.sort((a, b) => {
            let cur = (this.switch_chip_356) ? 'stock356' : 'stockautoplan'
            if (this.currentSortOrder == "desc") {
              return a[cur] - b[cur]
            } else {
              return b[cur] - a[cur]
            }
          });
          break;
        case "sellout":
          return this.sucursales.sort((a, b) => {
            let cur = (this.switch_chip_356) ? 'sellout356' : 'sellout374'
            if (this.currentSortOrder == "desc") {
              return a[cur] - b[cur]
            } else {
              return b[cur] - a[cur]
            }
          });
          break;
        case "tasa_reload":
        case "dos": 
        case "index": 
          return this.sucursales.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort]
            } else {
              return b[this.currentSort] - a[this.currentSort]
            }
          });
          break;
      }          
    },
    customSortRegCom(value) {
      switch(this.currentSort){
        case "name":
          return this.resumen_location.sort((a, b) => {
            const sortBy = this.sw_step == 'region' ? 'region_name' : 'commune'
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "total_actives":
          return this.resumen_location.sort((a, b) => {
            var name = this.switch_chip_356 ? "dos_15" : "total_actives_374"
            if (this.currentSortOrder == "desc") {
              return a[name] - b[name];
            } else {
              return b[name] - a[name];
            }
          });
          break;
        case "with_hab":
          return this.resumen_location.sort((a, b) => {
            let name = (this.switch_chip_356) ? "dos_1_15" : "total_with_hab_374"
            if (this.currentSortOrder == "desc") {
              return a[name] - b[name];
            } else {
              return b[name] - a[name];
            }
          });
          break;
        case "critic":
          return this.resumen_location.sort((a, b) => {
            let name = (this.switch_chip_356) ? "dos_05_1" : "dos_05_1"
            if (this.currentSortOrder == "desc") {
              return a[name] - b[name];
            } else {
              return b[name] - a[name];
            }
          });
          break;
        case "without_hab":
          return this.resumen_location.sort((a, b) => {
            let name = (this.switch_chip_356) ? "dos_0_05" : "total_without_hab_374"
            if (this.currentSortOrder == "desc") {
              return a[name] - b[name];
            } else {
              return b[name] - a[name];
            }
          });
          break;
        case "index":
        case "status_no":
        case "status_taken":
        case "total_trained":
        case "total_publish":
          return this.resumen_location.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort]
            } else {
              return b[this.currentSort] - a[this.currentSort]
            }
          });
          break;
      }
    },    
    //Pagination
    nextPage: function(array) {
      if (this.currentPage * this.pageSize < array.length)
        this.currentPage++;
    },
    nextTenPage: function(array) {
      if ((this.currentPage + 10) * this.pageSize < array.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage(array) {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < array.length; n++) {
        this.maxPage++;
      }
    },
    getTime(fecha){
      var date = new Date(fecha)
      var options = {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      }
      date = date.toLocaleString("es-ES", options);
      return date.replace(".", "");
    },
    /**
     * Metodo que trae toda las regiones del modelo regions
     * para llenar la lista despegable region
     */
    getAllRegions() {
      this.$http
        .get(this.getUrlBase() + "/api/v1/regions/", this.getHeaders())
        .then(
          response => {
            for (let regiones of response.body) {
              regiones.name = this.replace(regiones.name);
              this.region.push(regiones);
            }
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getAllRegions();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Error al obtener datos relacionados con: listado de regiones";
            }
          }
        );
    },
    // obtener categorias
    getCategories(){
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
        this.getRegionData()
        this.setIconHeaders()
      }, 
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getCategories();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener listado de categorías"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.categories_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getSegmentationScore(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
      }, 
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.getSegmentationScore()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener listado de segmentaciones."
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1 ) ? this.communes[idx].name : null;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      if(val != undefined) {
        var idx = this.regions.findIndex(item => item.id == val);
        return (idx != -1) ? this.regions[idx].region_name : null;
      } else 'Sin Especificar'
    },
    onChangeSeg(val){
      this.selected_segmentation = val
      this.getRegionData()
      this.getTotals(-1)
      // this.breadscrumb ="";
    },
    onChangeCat(val){
      this.selected_category = val
      this.getRegionData()
      this.getTotals(-1)
      this.breadscrumb = "";
    },
    // al seleccionar la segmentación retornar qpdv por region según estados de stock
    async getRegionData() {
      this.loading_table = true
      this.dos_15 = 0
      this.total_actives_374 = 0
      this.dos_1_15 = 0
      this.total_with_hab_374 = 0
      this.dos_05_1 = 0
      this.total_critic_374 = 0
      this.dos_0_05 = 0
      this.total_without_hab_374 = 0
      this.total_publish = 0
      this.total_trained = 0
      this.status_no = 0
      this.status_taken = 0
      this.resumen_location = []
      this.sucursales = []
      this.json_data = []
      this.sw_step = 'region'
      try{
        let url = this.getUrlBase() + "/api/v1/reports/subsidiary-stock-region/?"
        if(this.selected_segmentation != -1) url += "&segmentation=" + this.selected_segmentation
        if(this.selected_category != -1) url += "&category=" + this.selected_category

        let response = await this.$http.get(url, this.getHeaders())
        this.nameFile = "Reporte de Stock Regiones" + this.dd + this.mm + this.yyyy + ".xls";
        this.json_fields = {
          "Region": "region_name",
          "Activos": "dos_15",
          "Con Habilitaciones": "dos_1_15",
          "DOS Crítico": "dos_05_1",
          "Quiebre": "dos_0_05",
          "No Quiere": "status_no",
          "Tomado por la Competencia": "status_taken"
        }
        let data = response.body
        // añadir datos region
        data.forEach( (reg, index) => { 
          reg.index = ++index 
          reg.id = reg.region_id
          reg.region_name = this.replace(reg.region_name)
          reg.dos_15 = reg.region_info[0].dos15 != null ? reg.region_info[0].dos15 : 0
          reg.dos_1_15 = reg.region_info[0].dos1_15 != null ? reg.region_info[0].dos1_15 : 0
          reg.dos_05_1 = reg.region_info[0].dos05_1 != null ? reg.region_info[0].dos05_1 : 0
          reg.dos_0_05 = reg.region_info[0].dos05 != null ? reg.region_info[0].dos05 : 0
          reg.status_no = reg.region_info[0].status_no != null ? reg.region_info[0].status_no : 0
          reg.status_taken = reg.region_info[0].status_taken != null ? reg.region_info[0].status_taken : 0

          this.resumen_location.push(reg)
          this.json_data.push(reg)

          //asignar totales
          this.dos_15 += reg.region_info[0].dos15 != null ? reg.region_info[0].dos15 : 0
          this.dos_1_15 += reg.region_info[0].dos1_15 != null ? reg.region_info[0].dos1_15 : 0
          this.dos_05_1 += reg.region_info[0].dos05_1 != null ? reg.region_info[0].dos05_1 : 0
          this.dos_0_05 += reg.region_info[0].dos05 != null ? reg.region_info[0].dos05 : 0
          this.status_no += reg.region_info[0].status_no != null ? reg.region_info[0].status_no : 0
          this.status_taken += reg.region_info[0].status_taken != null ? reg.region_info[0].status_taken : 0

          if(index == data.length - 1) this.loading_table = false;
        });
      } catch(error) {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.getRegionData()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: resumen total puntos de venta puntuados"
        }
      }
      this.resumen_location = this.resumen_location.sort((n1,n2) => n1.id - n2.id)
    },
    setIconHeaders() {
      let ths = document.querySelectorAll("#region-table > div.md-table-fixed-header > div.md-table-fixed-header-container > table > thead > tr > th")
      ths.forEach((el, index) => {
        switch(index) {
          case 2:
            el.insertAdjacentHTML("afterend", '<i class="md-icon md-icon-font md-theme-default" style="color: rgb(29, 156, 24) !important; bottom: 10px; right: 5px; position: relative;">sim_card</i>')
          break;
          case 3:
            el.insertAdjacentHTML("afterend", '<i class="md-icon md-icon-font md-theme-default" style="color: rgb(218, 214, 31) !important; bottom: 10px; right: 5px; position: relative;">sim_card</i>')
          break;
          case 4:
            el.insertAdjacentHTML("afterend", '<i class="md-icon md-icon-font md-theme-default" style="color: rgb(221, 25, 25) !important; bottom: 10px; right: 5px; position: relative;">sim_card</i>')
          break;
          case 5:
            el.insertAdjacentHTML("afterend", '<i class="md-icon md-icon-font md-theme-default" style="color: rgb(140, 32, 120) !important; bottom: 10px; right: 5px; position: relative;">sim_card</i>')
          break;
        }
      })
    },
    onSelectRow(item) {
      if(item != undefined) {
        this.search = ""
        this.currentPage = 1
        if(this.sw_step == 'region') {
          this.onRegionSelect(item.id)
          this.getTotals(item.id)
          this.breadscrumb = this.replace(this.regions.filter(r => r.id == item.id)[0].region_name);

        }
        else if(this.perfil != 2 && this.perfil != 5) {
          this.getDataByCommune(item)
          this.getTotals(item.commune_id)
          console.log(item)
          this.breadscrumb += " / " + this.replaceComuna(this.communes.filter(c => c.id == item.commune_id)[0].name);
        }
      }
    },
    // al seleccionar la región retornar los pqdv por comunas según estado de stock
    async onRegionSelect(id) {
      this.selected_region = id
      this.loading_table = true
      this.sw_step = 'commune'
      this.dos_15 = 0
      this.total_actives_374 = 0
      this.dos_1_15 = 0
      this.total_with_hab_374 = 0
      this.dos_05_1 = 0
      this.total_critic_374 = 0
      this.dos_0_05 = 0
      this.total_without_hab_374 = 0
      this.total_publish = 0
      this.total_trained = 0
      this.status_no = 0
      this.status_taken = 0
      this.resumen_location = []
      this.sucursales = []
      this.json_data = []
      this.breadscrumb =this.breadscrumb = this.regions.filter(r => r.id == id)[0].region_name

      let url = this.getUrlBase() + "/api/v1/reports/subsidiary-stock-commune/?id_region=" + id
      if(this.selected_segmentation != -1) url += "&segmentation=" + this.selected_segmentation
      if(this.selected_category != -1) url += "&category=" + this.selected_category

      let response = await this.$http.get(url, this.getHeaders())
      this.nameFile = "Reporte de Stock Comunas" + this.dd + this.mm + this.yyyy + ".xls";
      this.json_fields = {
        "Comuna": "commune_name",
        "Activos": "dos_15",
        "Con Habilitaciones": "dos_1_15",
        "DOS Crítico": "dos_05_1",
        "Quiebre": "dos_0_05",
        "No Quiere": "status_no",
        "Tomado por la Competencia": "status_taken"
      }
      let data = response.body
      data.forEach( (com, index) => {

        // añadir datos region
        com.index = ++index
        com.commune = this.replaceComuna(com.commune_name)
        com.dos_15 = com.commune_info[0].dos15 != null ? com.commune_info[0].dos15 : 0
        com.dos_1_15 = com.commune_info[0].dos1_15 != null ? com.commune_info[0].dos1_15 : 0
        com.dos_05_1 = com.commune_info[0].dos05_1 != null ? com.commune_info[0].dos05_1 : 0
        com.dos_0_05 = com.commune_info[0].dos05 != null ? com.commune_info[0].dos05 : 0
        com.status_no = com.commune_info[0].status_no != null ? com.commune_info[0].status_no : 0
        com.status_taken = com.commune_info[0].status_taken != null ? com.commune_info[0].status_taken : 0

        this.resumen_location.push(com)
        this.json_data.push(com)

        //asignar totales
        this.dos_15 += com.commune_info[0].dos15 != null ? com.commune_info[0].dos15 : 0
        this.dos_1_15 += com.commune_info[0].dos1_15 != null ? com.commune_info[0].dos1_15 : 0
        this.dos_05_1 += com.commune_info[0].dos05_1 != null ? com.commune_info[0].dos05_1 : 0
        this.dos_0_05 += com.commune_info[0].dos05 != null ? com.commune_info[0].dos05 : 0
        this.status_no += com.commune_info[0].status_no != null ? com.commune_info[0].status_no : 0
        this.status_taken += com.commune_info[0].status_taken != null ? com.commune_info[0].status_taken : 0

        if( index == data.length - 1) this.loading_table = false
      })
      
    },

    async refresh(id_region) {
      this.getTotals(id_region);
      this.onRegionSelect(id_region);
    },
    /**
     * Metodo que obtiene el total de stock de chip 365 y 374
     * de todas regiones
     */
    async getTotals(id_location) {
      this.loading_resumen = true
      this.qdos_0_05 = 0
      this.qdos_05_1 = 0
      this.qdos_1_15 = 0
      this.qdos_15 = 0
      this.status_no = 0
      this.status_taken = 0
      this.qsim374sHab = 0
      this.qsim374Regular = 0
      this.qsim374Bueno = 0
      this.qsim374Excelente = 0
      let url = this.getUrlBase() + "/api/v1/reports/subsidiary-stock-group/?"
      if(id_location != -1){
        if(this.sw_step == 'commune') url += '&id_region=' + id_location
        if(this.sw_step == 'qpdv') url += '&id_commune=' + id_location
      }
      if(this.selected_segmentation != -1) url += "&segmentation=" + this.selected_segmentation
      if(this.selected_category != -1) url += "&category=" + this.selected_category
      await this.$http.get(url, this.getHeaders())
      .then( response => {
        this.qdos_15 = response.body[0].dos15
        this.qdos_1_15 = response.body[0].dos1_15
        this.qdos_05_1 = response.body[0].dos05_1
        this.qdos_0_05 = response.body[0].dos05
        this.status_no = response.body[0].status_no
        this.status_taken = response.body[0].status_taken
        this.loading_resumen = false
        
      },
      error => {
        this.loading_resumen = false
        this.aerror = error.status
        if (this.aerror == 401) this.getTotals(id_location)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: resumen total puntos de venta puntuados";
        }
      })
    },
    getDataByCommune(item) {
      this.selected_commune = item.id
      this.loading_table = true
      this.sw_step = 'qpdv'
      this.currentPage = 1
      this.total356D = 0
      this.total374D = 0
      this.stock356 = 0
      this.stockautoplan = 0
      this.totalGood = 0
      this.totalRegular = 0
      this.totalBad = 0
      this.totalNN = 0
      this.sellout356 = 0
      this.sellout374 = 0    
      this.tasa_reload = 0  
      this.resumen_location = []
      this.sucursales = []
      this.json_data = []
      this.loading_table = true;
      let url = this.getUrlBase() + "/api/v1/reports/subsidiary-stock-detail/?id_commune=" + item.commune_id
      if(this.selected_segmentation != -1) url += "&segmentation=" + this.selected_segmentation
      if(this.selected_category != -1) url += "&category=" + this.selected_category
      this.$http.get(url, this.getHeaders())
      .then(data => {
          if (data.body.length  == 0) {
            this.snackNoData = true
            this.loading_table = false
          } else {
            this.nameFile = "Reporte de Stock " + this.dd + this.mm + this.yyyy + ".xls";
            this.json_fields = {
              "Foto": "photo",
              "direccion": "address",
              "sucursal": "name",
              "entregados 356": "d356",
              "entregados autoplan": "dAutoPlan",
              "stock 356": "stock356",
              "stock autoplan": "stockautoplan",
              "Sell Out 356": "sellout356",
              "Sell Out 374": "sellout374",
              "Tasa Recarga": "tasa_reload",
              "Capacitado": "training_t",
              "Con Publicidad": "publish_t",
              "Categoría": "category",
              "Segmentación": "segmentation_name",
              "DOS": "dos",
              "Última Visita": "last_visit",
              "Covertura": "coverage",
              "Viviendas": "q_home"
            }

            let count = 0
            data.body.forEach((elem, index) => {
              count++
              var subs = elem
              subs.dos = parseFloat(elem.dos.toPrecision(2));
              subs.stock356 = elem.stock356 < 0 ? 0 : elem.stock356;
              subs.stockautoplan = elem.stockautoplan < 0 ? 0 : elem.stockautoplan;
              subs.publish_t = subs.publish ? 'Si' : 'No'
              subs.training_t = subs.training ? 'Si' : 'No'
              subs.category = this.getCategoryName(subs.category)
              subs.segmentation_name = this.getSegmentationName(subs.segmentation_score)
              subs.last_visit = subs.last_visit.length != 0 ? this.getTime(subs.last_visit[0]) : 'Sin Visitas Registradas'
              subs.coverage = subs.coverage != null ? subs.coverage : 0.00,
              subs.q_home = subs.q_home != null ? subs.q_home : 0
              subs.sellout356 = parseFloat(elem.sellout356.toPrecision(2))
              subs.sellout374 = parseFloat(elem.sellout374.toPrecision(2))
              this.json_data.push(subs)
              this.sucursales.push(subs)
              this.total356D += elem.d356
              this.total374D += elem.dAutoPlan
              this.stock356 += elem.stock356
              this.sellout356 = this.sellout356 + parseFloat(elem.sellout356.toPrecision(2))
              this.sellout374 = this.sellout374 + parseFloat(elem.sellout374.toPrecision(2))              
              this.stockautoplan += elem.stockautoplan
              this.tasa_reload += elem.tasa_reload
              let stock = elem.stock356 + elem.stockautoplan

              switch (true) {
                case stock <= 25:
                  this.totalBad++;
                  break;
                case stock > 25 && stock <= 75:
                  this.totalRegular++;
                  break;
                case stock > 75:
                  this.totalGood++;
                  break;
              }
              if (elem.stock356 == elem.d356 && elem.stockautoplan == elem.dAutoPlan) {
                this.totalNN++;
              }
              if(index == data.body.length - 1 ) {
                if(this.tasa_reload != 0) this.tasa_reload = (this.tasa_reload / count).toFixed(2);

                this.sellout356 = parseFloat(this.sellout356 / data.body.length).toPrecision(2);
                this.sellout374 = parseFloat(this.sellout374 / data.body.length).toPrecision(2);
              }
              this.getLastPage(this.sucursales)
            })
            this.loading_table = false
          }
        },
        error => {
          this.aerror = error.status;
          if (this.aerror == 401) this.getDataByCommune(item)
          if (this.aerror == 500) {
            this.snack500 = true
            this.contentError = "Error al obtener datos relacionados con: Reporte de stock según comuna";
          }
          this.loading_table = false;
      })
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replace(name){

      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ")
      return Comuna;
    },
    onSelect(item) {
      if (item != undefined) {
        this.showDialog = true
        this.loadPin(item)
      }
    },
    loadPin(item) {
      this.infoWinOpen = false
      this.markers = [];

      this.iconOptions = {};
      this.iconOptions = {
        url: "/static/css/static/img/marker_stock_info.png",
        size: { width: 50, height: 50, f: "px", b: "px" },
        scaledSize: { width: 50, height: 50, f: "px", b: "px" }
      };
      this.markers.push({
        address:        item.address,
        category:       item.category,
        deliverys356:   item.d356,
        deliverys374:   item.dAutoPlan,
        last_visit:     item.last_visit,
        name_business:  item.name,
        photo:          item.photo,
        publish:        item.publish,
        segmentation:   item.segmentation_score,
        stock356:       item.stock356,
        stockautoplan:  item.stockautoplan,
        training:       item.training,
        dos:            item.dos,
        coverage:       item.coverage,
        q_home:         item.q_home,
        position: {
          lat:          item.latitude,
          lng:          item.longitude
        },
        icon: this.iconOptions
      });
      this.getCenter();
    },
    getCenter() {
      this.center = this.markers[0].position
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    //cargar datos a ventana de información de punto seleccionado dentro del mapa
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.dataMarker.name_business = marker.name_business
      this.dataMarker.category = marker.category
      this.dataMarker.segmentation = marker.segmentation
      this.dataMarker.photo = marker.photo;
      this.dataMarker.commune = marker.commune
      this.dataMarker.region = marker.region
      this.dataMarker.deliverys356 = marker.deliverys356
      this.dataMarker.deliverys374 = marker.deliverys374
      this.dataMarker.stock356 = marker.stock356
      this.dataMarker.stockautoplan = marker.stockautoplan
      this.dataMarker.address = marker.address
      this.dataMarker.publish = marker.publish
      this.dataMarker.training = marker.training
      this.dataMarker.last_visit = marker.last_visit
      this.dataMarker.stock356 = marker.stock356
      this.dataMarker.stockautoplan = marker.stockautoplan
      this.dataMarker.dos = marker.dos
      this.dataMarker.coverage = marker.coverage
      this.dataMarker.q_home = marker.q_home

      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        //if different marker set infowindow to open and reset current marker index
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    clearFields(){
      this.regiones = -1
      this.communs = -1
    },
    getCoverageColor(coverage) {
      if(coverage == 0) return 'b-grey'
      else if(coverage > 0 && coverage <= 25) return 'b-blue'
      else if(coverage > 25 && coverage <= 50) return 'b-morado'
      else if(coverage > 50 && coverage <= 75) return 'b-yellow'
      else if(coverage > 75) return 'b-green'
    },
    changeHeaders(val){
      if(val){
        this.$refs.qpdv_table.MdTable.items = {
          0:{
            label: "Sucursal",
            numeric: false,
            sortBy: "name",
            tooltip: undefined
          },
          1: {
            label: "Chips 356 Entregados",
            numeric: true,
            sortBy: "deliveries",
            tooltip: undefined
          },
          2: {
            label: "Stock 356",
            numeric: true,
            sortBy: "stock",
            tooltip: "blablabla"
          },
          3: {
            label: "Sell Out 356",
            numeric: true,
            sortBy: "sellout",
            tooltip: undefined
          },
          4: {
            label: "Tasa Recargas",
            numeric: true,
            sortBy: "tasa_reload",
            tooltip: undefined
          },
          5: {
            label: "Estado DOS",
            numeric: true,
            sortBy: "dos",
            tooltip: undefined
          },
          6: {
            label: "Última Visita",
            numeric: true,
            sortBy: "last_visit",
            tooltip: undefined
          }
        }
      } else {
        this.$refs.qpdv_table.MdTable.items = {
          0:{
            label: "Sucursal",
            numeric: false,
            sortBy: "name",
            tooltip: undefined
          },
          1: {
            label: "Chips 374 Entregados",
            numeric: true,
            sortBy: "deliveries",
            tooltip: undefined
          },
          2: {
            label: "Stock 374",
            numeric: true,
            sortBy: "stock",
            tooltip: "blablabla"
          },
          3: {
            label: "Sell Out 374",
            numeric: true,
            sortBy: "sellout",
            tooltip: undefined
          },
          4: {
            label: "Estado DOS",
            numeric: true,
            sortBy: "dos",
            tooltip: undefined
          },
          5: {
            label: "Última Visita",
            numeric: true,
            sortBy: "last_visit",
            tooltip: undefined
          }
        }
      }
    }
  },
  created(){
    this.perfil = this.$localStorage.get("ThePerfil")
  }
};
</script>
<style>
.font-general{
  font-size: 32px !important;
  position: absolute;
  right: 15px;
}
.title_region{
  top: 5px;
  position: relative;
  font-size: 18px;
  display: inline-block;
  width: 30px;
}
.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total-region {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
.md-title {
  color: beige !important;
}
.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#contStock {
  padding: 15px 2%;
}
/* headers region */
#region-table > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#region-table > div.md-table-fixed-header > div > table > thead > tr  > th > div > div {
  color: beige !important;
}
#contStock > div > div.md-content.md-table.md-layout-item.md-size-100.md-theme-default {
  overflow: hidden !important;
  height: fit-content !important;
}
#region-table > div > table > thead > tr > th:nth-child(2) {
  width: 12.5vw !important;
}
/* end headers region  */
/* body region */
#region-table > div > table > tbody > tr > td {
  width: 12.5vw !important;
}
/* end body region */
/* total region */
#contStock > div > div > div > div > table > tbody > tr > td {
  width: 12.5vw !important;
}
/* end total region */
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
#contStock > div.md-layout.md-size-100 > div.md-content.md-table.md-layout-item.md-size-100.md-theme-default{ 
  height:  fit-content !important;
}
.div-inline {
  position: relative;
  top: 15px;
  margin: 0 5%;
  display: inline;
}
.state-suc {
  font-size: 24px;
  font-weight: bold;
  color: #747474;
  position: relative;
  top: 5px;
  left: 10px;
}
/* Total */
.table-row-total > td > div {
  font-size: 16px;
}
.table-row-total-region > td > div {
  font-size: 16px;
}
#contStock > div > div > div:nth-child(9) > div > table > tbody > tr.table-row-total-region > td:nth-child(1) {
  width: 23% !important;
}
#contStock > div > div > div:nth-child(9) > div > table > tbody > tr.table-row-total-region > td:not(:nth-child(1)) {
  width: 12.8% !important;
}
#contStock > div> div > div > div > table > tbody > tr.table-row-total > td:nth-child(1) {
  width: 20% !important;
}
#contStock > div > div > div:nth-child(9) > div > table > tbody > tr.table-row-total > td:not(:nth-child(1)) {
  width: 12.8% !important;
}
/* end Total */
  /* header qpdv */
#qpdv-table > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
#qpdv-table > div.md-table-fixed-header > div > table > thead > tr  > th > div > div{
  color: beige !important;
}
/* body qpdv */
#qpdv-table > div > table > tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 28vw !important;
} 
#qpdv-table > div > table > tbody > tr:nth-child(1) > td:not(:nth-child(1)) {
  width: 18vw !important;
}
/* end body qpdv */
.modal-map {
  width: 100%;
  background-color: #448aff !important;
  color: #ffffff !important;
}
#pagging {
  align-items: left;
  padding: 10px 0;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}

.texto-crumb {
  text-align: left;
  display: flex;
  color: #448aff;
  font-weight: bold;
}


/* indicators */
.indicator-content {
  display: flex;
  min-width: 170px !important;
}
.indicator-legend {
  text-align: right !important;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.indicator-legend > span:first-child {
  font-weight: 600;
}
.icon-container {
  position: relative;
  top: -20px;
  width: 65px;
  height: 65px;
  border-radius: 20%;
  display: flex;
}
.icon-container > i {
  color: white !important;
  font-size: 36px !important;
}
/* colors */

</style>
