<template>
  <div id="publishCont">
<!-- TITULO & FILTROS -->
    <md-card style="background-color: white !important;">
      <md-card-header style="background-color: #3b7fff !important;">
        <md-avatar>
          <md-icon class="white">wallpaper</md-icon>
        </md-avatar>
        <div class="md-headline white">Reportes de Publicidad</div>
        <div style="position: absolute; right: 20px; top: 13px;" v-show="search_data">
          <download-excel :data="json_data_general" :fields="json_fields_general" :name="file_name_general">
            <md-button class="md-icon-button"><md-icon class="material-icons" :class="{'rotate': loading_general }">{{ loading_general ? 'autorenew' : 'archive'}}</md-icon></md-button>
            <md-tooltip md-direction="top">EXCEL GENERAL</md-tooltip>
          </download-excel>
        </div>
      </md-card-header>
      <md-card-content class="md-layout md-alignment-center md-gutter" style="padding: 0;">
        <div class="md-layout-item md-size-20 md-small-size-90 md-xsmall-size-90">
          <md-field>
            <label>Segmentación</label>
            <md-select v-model="selected_segmentation">
              <md-option v-for="seg in segmentation_list" :key="seg.id" :value="seg.id">{{ seg.description }}</md-option>
            </md-select>
          </md-field>
        </div>
        <div class="md-layout-item md-size-20 md-small-size-90 md-xsmall-size-90">
          <md-datepicker v-model="selected_datestart"><label>Fecha Inicio</label></md-datepicker>
        </div>
        <div  class="md-layout-item md-size-20 md-small-size-90 md-xsmall-size-90">
          <md-datepicker name="date_end" v-model="selected_dateend"><label>Fecha Termino</label></md-datepicker>
        </div>
        <div class="md-layout-item md-size-5 md-small-size-45 md-xsmall-size-45">
          <md-icon v-on:click.native="validateFields" class="icon-search2">search</md-icon>
        </div>
        <!-- <div v-if="data_table.length > 0" class="md-layout-item md-size-10 md-small-size-45 md-xsmall-size-45">
          <download-excel :data="json_data" :fields="json_fields" :name="file_name">
            <md-icon style="top: 10px; position:relative; cursor: pointer;" class="md-size-2 btn">archive</md-icon>
            <p style="position:relative; top:5px;">Excel</p>
          </download-excel>
        </div> -->
      </md-card-content>
      <md-divider></md-divider>
<!-- TABLA REGION/COMUNA -->
      <md-table id="location-table-publish" class="md-layout-item md-size-100" :value="resumenTable" :md-sort.sync="currentSort"
        :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 1 || sw_table == 2" md-fixed-header @md-selected="onSelectRow">
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button v-if="sw_table == 2" class="md-raised md-primary md-layout-item" @click="getData()"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                              <br>
            <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location">{{ sw_table == 1 ? item.region : item.commune }}</md-table-cell>
          <md-table-cell md-label="Publicidad" md-sort-by="total_publish" md-numeric>{{ item.total_publish }}</md-table-cell>
        </md-table-row>
      </md-table>
      <md-table :value="[0]" v-show="sw_table == 1 || sw_table == 2">
        <!-- totales -->
        <md-table-row v-if="data_table.length != 0" class="table-row-total3" slot="md-table-row">
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location">Total</md-table-cell>
          <md-table-cell md-label="Publicidad" md-sort-by="total_publish" md-numeric>{{ total_publish }}</md-table-cell>
        </md-table-row>
      </md-table>
<!-- TABLA PDV -->
      <md-table id="pdv-table-publish" class="md-large md-primary" :md-sort-fn="customSort" md-fixed-header v-if="sw_table == 3"
        style="background-color: #ffffff !important; color:#000 !important; overflow-x: hidden; top:10px; position:relative;"
        v-model="resumenTable" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" @md-selected="showImg">
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button class="md-raised md-primary md-layout-item" @click="getDataByRegion(selected_region)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                    <br>
            <p style="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
          <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
        </md-table-empty-state>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <!-- ficha PDV -->
          <md-table-cell md-label="Sucursal" md-sort-by="subsidiary__name_business">
            <div class="div-pdv">
              <md-avatar class="md-large">
                <img :src="item.subsidiary_photo">
              </md-avatar>
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
              <span>{{item.subsidiary__name_business}}</span>
              <span v-if="perfil != 2 && perfil != 5">{{item.subsidiary__address}}</span>
              <span>{{item.category_name}}</span>
            </div>
            <div style="display: inline-flex">
              <div class="badge-p green"><md-icon class="white">wallpaper</md-icon></div>
              <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
            </div>
            <div style="display: inline-flex">
              <div class="badge-s" :class="getCoverageColor(item.coverage)"><md-icon class="white">wifi</md-icon><span>{{ item.coverage }}%</span></div>
              <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ item.q_home }}</span></div>
              <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
              <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
            </div> 
          </md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Región" md-sort-by="region">{{ item.region }}</md-table-cell>
          <md-table-cell style="text-align: left;" md-label="Comuna" md-sort-by="commune">{{ item.commune }}</md-table-cell>
          <md-table-cell md-label="Cantidad" md-sort-by="quantity" md-numeric style="text-align: right !important;">{{ item.quantity }}</md-table-cell>
          <md-table-cell md-label="Última Visita" md-sort-by="last_visit">{{ item.last_visit }}</md-table-cell>
        </md-table-row>
      </md-table>
      <md-table :value="[0]" v-if="sw_table == 3">
        <md-table-row v-if="!loading_table" class="table-row-total" slot="md-table-row">
          <md-table-cell md-label="Sucursal" md-sort-by="subsidiary__name_business">Total</md-table-cell>
          <md-table-cell md-label="Región" md-sort-by="region"></md-table-cell>
          <md-table-cell md-label="Comuna" md-sort-by="commune"></md-table-cell>
          <md-table-cell md-label="Cantidad" md-sort-by="quantity" md-numeric style="text-align: right !important;">{{ total_publish }}</md-table-cell>
          <md-table-cell md-label="Última Visita" md-sort-by="last_visit"></md-table-cell>
        </md-table-row>
      </md-table>
    </md-card>
<!-- MODAL IMAGENES -->
    <md-dialog :md-active.sync="showDialog" style="width: 40vw;">
      <vueper-slides :fixed-height="true" fade>
        <md-icon slot="arrowLeft" style="font-size: 28px !important; color: #fff">keyboard_arrow_left</md-icon>
        <md-icon slot="arrowRight" style="font-size: 28px !important; color: #fff">keyboard_arrow_right</md-icon>
        <vueper-slide v-for="(slide, i) in publish" :key="i" :image="slide.photo">
          <div slot="slideContent" class="slide-content">
            {{slide.created_at}}
          </div>
        </vueper-slide>
      </vueper-slides>
    </md-dialog>
<!-- alertas -->
     <md-dialog-confirm md-confirm-text="Salir" :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
     <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>

  </div>
</template>
<script>
// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
import 'vueperslides/dist/vueperslides.min.css'

export default {
  name: "reportPublish",
  data() {
    return {
      loading_general: false,
      search_data: false,
      search: "",
      sw_table: "",
      selected_region: -1,
      // alerts
      contentError: "",
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      // pagging
      pageSize: 15,
      currentPage: 1,
      maxPage: 0,
      // carousel
      publish: [],
      images: [],
      showDialog: false,
      // sort
      currentSort: "name",
      currentSortOrder: "asc",
      // table
      total_publish: 0,
      data_table: [],
      last_visits: [],
      segmentation_list: [],
      // export to excel
      json_data: [],
      json_data_general: [],
      json_fields: {
        "Región":               "region",
        "Comuna":               "commune",
        "Foto":                 "photo",
        'Nombre Punto':         "subsidiary__name_business",
        'Rut':                  "subsidiary_rut",
        "Dirección":            "subsidiary__address",
        "stock 356":            "stock", 
        "stock 374":            "stock374",
        "Fecha Publicidad":     "created_at",
        "Nombre Publicidad":    "nameDeliveryPublish",
        "Publicidad Entregada": "quantity",
        "Capacitado":           "training_name",
        "Última Visita":        "last_visit",
        "Categoría":            "category_name",
        "Segmentación":         "segmentation_name"
      },
      json_fields_general: {
        "Región":               "region",
        "Comuna":               "commune",
        'Nombre':               "subsidiary__name_business",
        "Foto Publicidad":      "photo",
        "Fecha Publicidad":     "created_at",
        "Categoría":            "category_name",
        "Segmentación":         "segmentation_name"
      },
      nameFile: "",
      file_name_general: "",
      // filters
      selected_segmentation:  -1,
      selected_datestart: null,
      selected_dateend: new Date(),
      param_date_start: "",
      param_date_end: "",
      disabledDates: {
        to: new Date() + 1
      },
      loading_table: false,
      swSelected: false,
      // configuration
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      regions: [
        {id: 1, region_name: "I de Tarapacá" },
        {id: 2, region_name: "II de Antofagasta" },
        {id: 3, region_name: "III de Atacama" },
        {id: 4, region_name: "IV de Coquimbo" },
        {id: 5, region_name: "V de Valparaíso" },
        {id: 6, region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, region_name: "VII del Maule" },
        {id: 8, region_name: "VIII del Bí­o Bí­o" },
        {id: 9, region_name: "IX Región de la Araucania" },
        {id: 10, region_name: "X Región de Los Lagos" },
        {id: 11, region_name: "XI Aisén del General Carlos Ibáñez del Campo" },
        {id: 12, region_name: "XII Región de Magallanes y de la Antártica Chilena" },
        {id: 13, region_name: "Metropolitana de Santiago" },
        {id: 14, region_name: "XIV Región de Los Rí­os" },
        {id: 15, region_name: "XV de Arica y Parinacota" },
        {id: 16, region_name: "XVI Región de Ñuble" },
      ],
      categories_list: [],
      today: null,
      dd: null,
      mm: null,
      yyyy: null,
      refresh_call: true,
      perfil: 0
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.getCategories()
  },
  computed: {
    resumenTable: function() {
      if(this.search != "") {
        let name = ""
        if(this.sw_table == 1) name = "region"
        else if(this.sw_table == 2) name = "commune"
        else if(this.sw_table == 3) name = "subsidiary__name_business"
        return this.data_table
        .filter(dt => dt[name].toUpperCase().includes(this.search.toUpperCase()))
      } else return this.data_table
    }
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "subsidiary__name_business":
        case "subsidiary__address":
        case "nameDeliveryPublish":
        case "subsidiary_rut":
        case "last_visit":
        case "region":
        case "commune":
          return this.data_table.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "location": 
          return this.data_table.sort((a, b) => {
            const sortBy = this.sw_table == 1 ? 'region' : 'commune';
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "total_publish":
        case "dos":
          return this.data_table.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort];
            } else {
              return b[this.currentSort] - a[this.currentSort];
            }
          });
          break;
      }
    },
    // obtener segmentaciones
    getSegmentation(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
      }, 
      error => {
        this.swSelected = false;
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getSegmentation()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    // obtener categorias
    getCategories(){
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
        this.getSegmentation()
      }, 
      error => {
        this.swSelected = false;
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getCategories()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    // ---------------------------------------------------------------------------------------------
    //validar fechas antes de hacer petición http
    validateFields() {
      this.currentPage = 1;
      if (this.selected_datestart == null || this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        this.param_date_end = this.selected_dateend.getFullYear() + "-" + (this.selected_dateend.getMonth() + 1) + "-" + this.selected_dateend.getDate()
        this.param_date_start = this.selected_datestart.getFullYear() + "-" + (this.selected_datestart.getMonth() + 1) + "-" + this.selected_datestart.getDate()
        this.getData(this.param_date_end, this.param_date_start)
        this.loadGeneralData()
      }
    },
    getData() {
      
      this.total_publish = 0
      this.loading_table = true
      this.configTable(1)
      let url = this.getUrlBase() + '/api/v1/reports/region-publish/?date_start=' + this.param_date_start + "&date_end=" + this.param_date_end
      this.breadscrumb = "";
      if(this.selected_segmentation != -1) url += '&id_type=' + this.selected_segmentation
      
      this.$http.get(url, this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        response.body.forEach( (reg, index) => {
          reg.index = ++index
          reg.region = this.replace(this.getRegionName(reg.region_id))
          this.data_table.push(reg)
          this.json_data.push(reg)
          this.total_publish += parseInt(reg.total_publish)
          if(index == response.body.length) this.loading_table = false
        })
      },
      error =>  {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.getData()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      })
    },
    // obtener excel con todos los registros de publicidad
    async loadGeneralData() {
      this.search_data = true
      this.json_data_general = []
      this.file_name_general = 'Publicidades Regionales | ' + 
        this.param_date_start + " " + this.param_date_end + ".xls"
      try {
        this.loading_general = true
        const url = this.getUrlBase() + "/api/v1/reports/publish-total/?datestart=" + 
          this.param_date_start + "&dateend=" + this.param_date_end
        const response = await this.$http.get(url, this.getHeaders())
        response.body.forEach(r => {
          this.json_data_general.push({
            subsidiary__name_business: r.subsidiary__name_business,
            photo: r.photo,
            created_at: this.getTime(r.created_at),
            category_name: this.getCategoryName(r.subsidiary__idCategory),
            segmentation_name: this.getSegmentationName(r.subsidiary__segmentation_score),
            commune: r.commune,
            region: r.region
          })
        })
        this.loading_general = false
      } catch (error) {
        this.loading_general = false
        this.aerror = error.status
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "No se logro obtener datos para EXCEL GENERAL"
        }
        if (this.aerror == 401) this.loadGeneralData()
      }
    },
    onSelectRow(item) {
      if(item != undefined) {
        this.search = ""    
        this.breadscrumb = this.getRegionName(item.id_region);    
        if(this.sw_table == 1) {          
          this.getDataByRegion(item.region_id)
          this.breadscrumb = this.getRegionName(item.id_region);   
        } else if(this.sw_table == 2) {
          if(this.perfil != 2 && this.perfil != 5) this.getDataByCommune(item.id_commune, item.id_region)
          this.breadscrumb += " / " + this.getCommuneName(item.id_commune)
        }
      }
    },
    // obtener datos por comuna al seleccionar una región
    getDataByRegion(id) {
      this.breadscrumb =this.breadscrumb = this.regions.filter(r => r.id == id)[0].region_name  
      this.total_publish = 0
      this.selected_region = id
      this.loading_table = true
      this.configTable(2)
      let url = this.getUrlBase() + '/api/v1/reports/commune-publish/?id_region=' + id + 
      "&date_start=" + this.param_date_start + "&date_end=" + this.param_date_end
      if(this.selected_segmentation != -1) url += "&id_type=" + this.selected_segmentation

      this.$http.get(url, this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        // this.breadscrumb = "";
        response.body.forEach( (com, index) => {
          com.index = ++index
          com.commune = this.replaceComuna(com.commune)
          com.id_region = id
          com.region = this.replace(this.getRegionName(id))
          this.data_table.push(com)
          this.json_data.push(com)
          this.total_publish += com.total_publish

          if(index == response.body.length) this.loading_table = false
        })
      },
      error =>  {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataByRegion(id)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Comuna";
        }
      })
    },
    // obtener datos de todas las ultimas visitas en rango de fecha
    getLastVisits(date_end, date_start){
      this.swSelected = true;
      this.loading_table = true;
      const endDate = date_end.getFullYear() + "-" + (date_end.getMonth() + 1) + "-" + date_end.getDate();
      const startDate = date_start.getFullYear() + "-" + (date_start.getMonth() + 1) + "-" + date_start.getDate();
      this.last_visits = [];
      this.$http.get(this.getUrlBase() + "/api/v1/reports/last-delivery-user-subsidiary/?date_start="+ startDate +"&date_end=" + endDate, this.getHeaders()).then(response => {
        response.body.forEach( (el, index) => {
          this.last_visits.push({
            created_at: el.created_at,
            idSubsidiary: el.idSubsidiary,
            // user_created: this.getUserName(el.user_created)
          });
          if(index == response.body.length -1){
              this.getData(endDate, startDate);
          }
        });
      }, 
        error => {
          this.swSelected = false;
          this.loading_table = false;
          this.aerror = error.status;
          if (this.aerror == 401) this.getLastVisits(date_end, date_start)
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
          }
        });
    },
    getDataByCommune(commune, region) {
      this.search = ""
      this.loading_table = true
      this.data_table = []
      this.json_data = []
      this.configTable(3)
      this.total_publish = 0
      let url = this.getUrlBase() +"/api/v1/reports/publishMonthBySubsidiary/?id_commune=" + commune +
      "&datestart=" + this.param_date_start + "&dateend=" + this.param_date_end
      if(this.selected_segmentation != -1) url += "&id_type=" + this.selected_segmentation

      this.$http.get(url,this.getHeaders())
        .then( response => {
          if (response.body.length != 0) {
            for(let [index, row] of response.body.entries()){
              //obtener nombre region y comuna
              row.region = this.replace(this.getRegionName(region));
              row.commune = this.replaceComuna(this.getCommuneName(commune));
              row.last_visit = this.getTime(row.last_visit[0])
              row.category_name = this.getCategoryName(row.subsidiary__idCategory)
              row.training_name = row.subsidiary__training ? 'Si':'No'
              row.segmentation_name = this.getSegmentationName(row.subsidiary__segmentation_score)
              row.coverage = row.coverage != null ? row.coverage : 0.00,
              row.q_home = row.q_home != null ? row.q_home : 0
              //añadir fila a modelo de datos de excel
              this.json_data.push(row)

              //agrupar data
              var idx = this.data_table.findIndex(suc => suc.subsidiary__name_business == row.subsidiary__name_business)
              if(idx != -1){
                //añadir publicidad a arreglo de la misma sucursal y subar total de éstas
                this.data_table[idx].publish.push({
                  photo: row.photo,
                  created_at: this.getTime(row.created_at),
                  name_publish: row.nameDeliveryPublish
                })
                this.data_table[idx].quantity += row.quantity
              } else {
                //añadir fila
                this.data_table.push({
                  stock374: row.stock374,
                  stock: row.stock,
                  region: row.region,
                  commune: row.commune,
                  subsidiary__name_business: row.subsidiary__name_business,
                  subsidiary_photo: row.subsidiary_photo,
                  subsidiary__address: row.subsidiary__address,
                  subsidiary_rut: row.subsidiary_rut,
                  subsidiary__id: row.subsidiary__id,
                  publish: [{
                    name_publish: row.nameDeliveryPublish,
                    created_at: this.getTime(row.created_at),
                    photo: row.photo
                  }],
                  quantity: row.quantity,
                  last_visit: row.last_visit,
                  segmentation_score: row.subsidiary__segmentation_score,
                  training: row.subsidiary__training,
                  category_name: row.category_name,
                  coverage: row.coverage,
                  q_home: row.q_home
                });
              }
              this.total_publish += row.quantity; 
              if(index == response.body.length-1) this.loading_table = false               
            }
          } else {
            this.snackNoData = true;
            this.loading_table = false;
          }
        },
        error => {
          this.swSelected = false;
          this.loading_table = false;
          this.aerror = error.status;
          if (this.aerror == 401) this.getDataByCommune(commune, region)
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
          }
        }
      );
    },
    // ---------------------------------------------------------------------------------------------
    showImg(item) {
      if (item != undefined) {
        this.showDialog = true;
        this.publish = item.publish;
        publish.forEach(el => {
          this.images.push(el.photo);
        })
      }
    },
    configTable(param){
      this.count = 0
      this.total_publish = 0
      this.data_table = []
      this.currentPage = 1
      this.sw_table = param
      switch(param) {
        case 1:
          this.json_fields = { 
            'Región' :              'region',
            'Publicidad Entregada' :'total_publish',
          }
          this.file_name = "Resumen Publicidad Regional" +
          " | " + this.param_date_start + 
          " | " + this.param_date_end
          if(this.selected_segmentation != -1)  this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
          this.file_name += ".xls"
          break;
        case 2:
          this.json_fields = { 
            'Comuna' :              'commune',
            'Publicidad Entregada' :'total_publish',
          }
          this.file_name = "Resumen Publicidad Comunal" +
          " | " + this.param_date_start + 
          " | " + this.param_date_end
          if(this.selected_segmentation != -1)  this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
          this.file_name += ".xls"
          break;
        case 3:
          this.json_fields = {
            "Región":               "region",
            "Comuna":               "commune",
            "Foto":                 "photo",
            'Nombre Punto':         "subsidiary__name_business",
            'Rut':                  "subsidiary_rut",
            "Dirección":            "subsidiary__address",
            "stock 356":            "stock", 
            "stock 374":            "stock374",
            "Fecha Publicidad":     "created_at",
            "Nombre Publicidad":    "nameDeliveryPublish",
            "Publicidad Entregada": "quantity",
            "Capacitado":           "training_name",
            "Última Visita":        "last_visit",
            "Categoría":            "category_name",
            "Segmentación":         "segmentation_name",
            "Covertura":            "coverage",
            "Viviendas":            "q_home"
          }
          this.file_name = "Reporte Publicidad" +
          " | " + this.param_date_start + 
          " | " + this.param_date_end
          if(this.selected_segmentation != -1)  this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
          this.file_name += ".xls"
          break;
      }
    },
    getTime(fecha) {
      if(fecha != null && fecha != undefined){

        const substr = new Date(fecha);

        var options = {
          year: "numeric",
          month: "short",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric"
        };

        const dia = substr.toLocaleString("es-ES", options);
        return dia.replace(".", "");
      } else return "sin información"
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1 ) ? this.communes[idx].name : null;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      var idx = this.regions.findIndex(item => item.id == val);
      return (idx != -1) ? this.regions[idx].region_name : null;
    },
    getCategoryName(id) {
      return this.categories_list.filter(cl => cl.id == id)[0].description
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replace(name){
      if(name != null){
        let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
        replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
        replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
        replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
        return nombre;
      } else {
        return "Sin Información"
      }
    },
    getCoverageColor(coverage) {
      if(coverage == 0) return 'b-grey'
      else if(coverage > 0 && coverage <= 25) return 'b-blue'
      else if(coverage > 25 && coverage <= 50) return 'b-morado'
      else if(coverage > 50 && coverage <= 75) return 'b-yellow'
      else if(coverage > 75) return 'b-green'
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replaceComuna(name){
      if(name != null){
        let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
        replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
        replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
        replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
        replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
        replace("í¢â¬â¢","'").replace("íâ","Ñ")
        return Comuna;
      } else {
        return "Sin Información"
      }
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.data_table.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.data_table.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.data_table.length; n++) {
        this.maxPage++;
      }
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
  },
  created(){
    this.perfil = this.$localStorage.get("ThePerfil")
  }
};
</script>
<style lang="scss">

.texto-crumb {
  text-align: left;
  display: flex;
  color: #448aff;
  font-weight: bold;
}

.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#publishCont {
  padding: 0 2%;
}
/* headers*/
#location-table-publish > div> div > table > thead > tr {
  background-color: #448aff !important;
}
#location-table-publish > div> div > table > thead > tr > th > div > div {
  color: beige !important;
}
#pdv-table-publish > div > div > table > thead > tr {
  background-color: #448aff !important;
}
#pdv-table-publish > div > div > table > thead > tr > th > div > div {
  color: #ffffff !important;
}
// headers
#pdv-table-publish > div.md-table-fixed-header > table > thead > tr > th {
  width: 20vw !important;
}
// body
#pdv-table-publish > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
  width: 20vw !important;
}
/* total row */
#location-table-publish {
  transition: 0.5ms all;
}
#publishCont > div > div:nth-child(5) > div > table > tbody > tr {
  background-color: rgb(235, 117, 74) !important;
}
#publishCont > div > div:nth-child(5) > div > table > tbody > tr > td > div {
  color: beige;
  font-size: 16px;
  font-weight: bold;
}
#publishCont > div > div:nth-child(5) > div > table > tbody > tr > td {
  width: 50vw;
}
.img-suc {
  height: 35px !important;
}
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search2 {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search2:hover {
  color: #ff5111 !important;
}
#publishCont > div {
  overflow: hidden;
}
/* Total */
.table-row-total {
  position: relative;
  background-color: #ff7f50 !important;
  color: #ffffff !important;
}
#publishCont > div > div:nth-child(7) > div > table > tbody > tr > td {
  font-size: 16px;
  width: 20% !important;
}
/* end Total */
#pagging {
  align-items: left;
  padding-top: 15px;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
// slides bullets
.vueperslides__bullet {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 20px;
  height: 20px;
}
.vueperslides__bullet--active {
  background-color: #5166e0;
}
.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}
// slides fix height
.vueperslides--fixed-height { height: 500px; }
// slides content 
.vueperslide__content-wrapper {
  height: 100%;
}
.vueperslide__content {
  height: 100%;
}
.slide-content {
  color: #fff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.329);
  top: 0;
  width: 41vw;
  height: 40px;
  padding-top: 10px;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}
/* SPINNER JUST FOR DEMO */
.spinner {
  display: inline-block; width: 50px; height: 50px;
  border-radius: 50%;
  box-shadow: inset -2px 0 0 2px rgb(255, 255, 255);
}
/* ENDLESS ROTATE */
.rotate{
  -webkit-animation: rotate 1.5s linear infinite; 
          animation: rotate 1.5s linear infinite; 
}
@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }
</style>
