<template>
<div id="contSalesManRoute">
<!-- tabla -->
    <md-table class="md-large md-primary" style="background-color: #ffffff !important; color:#000 !important; top:10px; position:relative;" 
      v-model="totalForUser" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header @md-selected="onSelect">
      <md-table-toolbar style="padding: 0;">
        <div class="md-toolbar-row t-head" style="background-color: #448AFF; color: #ffffff !important;">
          <div class="md-toolbar-section-start" >
            <i class="material-icons" style="left:3%; position:relative;">near_me</i>
            <div class="md-title" style="color: #ffffff !important;">Reporte diario por Colaboradores</div>
          </div>
        </div>
        <div class="md-toolbar-row">
          <div class="md-layout-item md-layout md-gutter md-alignment-center">
            <div style="width: 10%">Fecha busqueda</div>
            <div style="width: 2%"></div>
            <div style="width: 25%">
                  <md-datepicker v-model="dateSearch" :md-disabled-dates="disabledDates" md-immediately/>
            </div>
            <div style="width: 10%;">
              <md-icon v-on:click.native="getTotalUsersByDate" class="icon-search">search</md-icon>
            </div>
            <div style="width: 10%"></div>
            <div style="width: 10%">
                <download-excel v-if="totalForUser.length != 0"
                  :data   = "json_data"
                  :fields = "json_fields"
                  :name    = "nameFile"> <md-icon style="top: 10px; position:relative; cursor: pointer;" class="md-size-2 btn">archive</md-icon>
                  <p style="position:relative; top:5px;"> Descargar excel</p>
                </download-excel>
            </div>
          </div>
        </div>
        <div class="md-toolbar-row" v-if="loading">
          <md-table-empty-state
            md-label="Cargando Datos"
            md-description="por favor espere un momentos los datos se están cargando">
              <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
        <md-table-cell style="cursor: pointer; text-align: left;" md-label="Nombre" md-sort-by="user" >{{ item.user }}</md-table-cell>
        <md-table-cell md-sort-by="totalposn" md-label="PDV creados" md-numeric>{{ item.totalposn }}</md-table-cell>
        <md-table-cell md-sort-by="totalchip356n" md-label="Chip's 356" md-numeric>{{ item.totalchip356n }}</md-table-cell>
        <md-table-cell md-sort-by="totalchip356n" md-label="Chip's 356+" md-numeric>{{ item.totalchip356plusn }}</md-table-cell>
        <md-table-cell md-sort-by="totalchipautoplann" md-label="Chip's AutoPlan" md-numeric>{{ item.totalchipautoplann }}</md-table-cell>
        <md-table-cell md-sort-by="totalpublishn" md-label="Publicidad" md-numeric>{{ item.totalpublishn }}</md-table-cell>
        <md-table-cell md-sort-by="totalposv" md-label="PDV visitados" md-numeric>{{ item.totalposv }}</md-table-cell>
        <md-table-cell md-sort-by="totalchip356v" md-label="Chip's 356" md-numeric>{{ item.totalchip356v }}</md-table-cell>
        <md-table-cell md-sort-by="totalchip356v" md-label="Chip's 356+" md-numeric>{{ item.totalchip356plusv }}</md-table-cell>
        <md-table-cell md-sort-by="totalchipautoplanv" md-label="Chip's AutoPlan" md-numeric>{{ item.totalchipautoplanv }}</md-table-cell>
        <md-table-cell md-sort-by="totalpublishv" md-label="Publicidad" md-numeric>{{ item.totalpublishv }}</md-table-cell>
      </md-table-row>
    </md-table>  
    <md-table v-if="totalForUser.length > 0" :value=[0]>
      <md-table-row class="table-row-total" slot="md-table-row">
        <md-table-cell md-label="Nombre">Total</md-table-cell>
        <md-table-cell md-label="PDV creados" md-numeric>{{ totalSubN }}</md-table-cell>
        <md-table-cell md-label="Chip's 356" md-numeric>{{ total356N }}</md-table-cell>
        <md-table-cell md-label="Chip's 356+" md-numeric>{{ total356plusN }}</md-table-cell>
        <md-table-cell md-label="Chip's AutoPlan" md-numeric>{{ totalAutoN }}</md-table-cell>
        <md-table-cell md-label="Publicidad" md-numeric>{{ totalPubN }}</md-table-cell>
        <md-table-cell md-label="PDV visitados" md-numeric>{{ totalSubV }}</md-table-cell>
        <md-table-cell md-label="Chip's 356" md-numeric>{{ total356V }}</md-table-cell>
        <md-table-cell md-label="Chip's 356+" md-numeric>{{ total356plusV }}</md-table-cell>
        <md-table-cell md-label="Chip's AutoPlan" md-numeric>{{ totalAutoV }}</md-table-cell>
        <md-table-cell md-label="Publicidad" md-numeric>{{ totalPubV }}</md-table-cell>
      </md-table-row>
    </md-table>
<!-- mapa -->
    <md-dialog class="modal-map" :md-active.sync="showDialog" >
        <md-progress-bar v-if="loadingMap" class="md-accent progress-bar3" md-mode="indeterminate"></md-progress-bar>      
      <md-dialog-title>Ruta del día -&nbsp;{{actualUserRoute}}

        <span class="date-title" v-if="orderMarkers.length > 0">
          {{orderMarkers[0].hour}}:{{( 10 > orderMarkers[0].minutes) ? "0"+orderMarkers[0].minutes : orderMarkers[0].minutes}} - &nbsp;
          {{orderMarkers[orderMarkers.length-1].hour}}:{{( 10 > orderMarkers[orderMarkers.length-1].minutes) ? "0"+orderMarkers[orderMarkers.length-1].minutes : orderMarkers[orderMarkers.length-1].minutes}}
          </span>   
      </md-dialog-title>
        <div class="map-legend md-elevation-1">
          <img style="padding: 5px;" width="28px" src="https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_blue.png"/>nuevas
          <img style="padding: 5px;" width="28px" src="https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_yellow.png"/>visitadas
        </div>
        <gmap-map ref="map" :center="center" :zoom="zoom" style="width: 100%; height: 800px;">
          <gmap-info-window
              :options="infoOptions" 
              :position="infoWindowPos" 
              :opened="infoWinOpen"   
              @closeclick="infoWinOpen=false">
              <div class="gmap-window">
                  <!-- <div><img :src="dataMarker.photo" width="150px"/> </div> -->
                  <div>
                      <p style="color: #000">Local: {{ dataMarker.title }} </p>
                      <p style="color: #000">Región: {{ dataMarker.region }}</p>
                      <p style="color: #000">Comuna: {{ dataMarker.commune }}</p>
                      <p style="color: #000" v-if="perfil != 2 && perfil != 5">Dirección: {{ dataMarker.address }}</p>
                      <p style="color: #000">Chips Entregados: {{ dataMarker.delivery }}</p>
                      <p style="color: #000">Publicidad Entregada: {{ dataMarker.publish }}</p>
                      <span v-for="(item, idx) in dataMarker.activities" :key="idx">
                      <md-divider></md-divider>
                      <p style="color: #000">Actividad: {{ item.actividad }}</p>                      
                      <p style="color: #000">Hora: {{ item.hora }}</p>
                      </span>
                  </div>
             </div>

            </gmap-info-window>
          <gmap-marker
            :key="index"
            v-for="(m, index) in orderMarkers"
            :position="m.position"
            :clickable="true"
            :draggable="false"
            :icon="m.icon"
            @click="toggleInfoWindow(m,index)">
          </gmap-marker>
          <gmap-polyline 
            v-if="paths.length > 0" 
            :path.sync="paths"
            :options="{geodesic:true, strokeColor:'#EB754A', strokeOpacity:0.7, strokeWeight: 7 }">
          </gmap-polyline>
        </gmap-map>
        <md-dialog-actions style="background-color: #EB754A !important; margin: 0%;">
          <md-button style="color: #ffffff" @click="showDialog = false"><md-icon>close</md-icon></md-button>
        </md-dialog-actions>
    </md-dialog>
<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
     <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
    </div>
</template>
<script>
import { load, Marker, Map, InfoWindow, Polyline } from "vue2-google-maps";

export default {
  name: "salesManRoute",
  data() {
    return {
      disabledDates: date => {
        var d = new Date();
        return date > d;
      },
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      //tabla
      selected: {},
      currentSort: "user",
      currentSortOrder: "asc",
      loading: true,
      total356N: 0,
      total356V: 0,
      total356plusN: 0,
      total356plusV: 0,
      totalAutoN: 0,
      totalAutoV: 0,
      totalSubN: 0,
      totalSubV: 0,
      totalPubN: 0,
      totalPubV: 0,
      totalForUser: [],
      nameFile: "",
      json_data: [],
      json_fields: {
        Nombre: "user",
        "QPDV creados": "totalposn",
        "entregados chips 356 N": "totalchip356n",
        "entregados chips 356+ N": "totalchip356plusn",
        "entregados chips autoplan N": "totalchipautoplann",
        "entregados publicidad N": "totalpublishn",
        "QPDV visitados": "totalposv",
        "entregados chips 356 V": "totalchip356v",
        "entregados chips 356+ V": "totalchip356plusv",
        "entregados chips autoplan V": "totalchipautoplanv",
        "entregados publicidad V": "totalpublishv"
      },
      //mapa
      actualUserRoute: "",
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      iconOptions: {
        url: "",
        size: { width: 50, height: 50, f: "px", b: "px" },
        scaledSize: { width: 50, height: 50, f: "px", b: "px" }
      },
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      markers: [],
      paths: [],
      dataMarker: {
        photo: "",
        title: "",
        delivery: 0,
        publish: 0,
        address: "",
        visited: ""
      },
      zoom: 16,
      center: { lat: -33.4446479, lng: -70.6582718 },
      //fin mapa
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del Bío Bío" },
        { id: 164, name: "Penco", region_name: "VIII del Bío Bío" },
        { id: 51, name: "Cabildo", region_name: "V de Valparaíso" },
        { id: 52, name: "La Ligua", region_name: "V de Valparaíso" },
        { id: 53, name: "Papudo", region_name: "V de Valparaíso" },
        { id: 54, name: "Petorca", region_name: "V de Valparaíso" },
        { id: 55, name: "Zapallar", region_name: "V de Valparaíso" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X Región de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X Región de Los Lagos"
        },
        {
          id: 236,
          name: "Río Negro",
          region_name: "X Región de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X Región de Los Lagos" },
        { id: 238, name: "Futaleufú", region_name: "X Región de Los Lagos" },
        { id: 239, name: "Chaitén", region_name: "X Región de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X Región de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "Curicó", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 245,
          name: "O'Higgins",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de Valparaí­so" },
        { id: 62, name: "Cartagena", region_name: "V de Valparaí­so" },
        { id: 63, name: "El Quisco", region_name: "V de Valparaí­so" },
        { id: 64, name: "El Tabo", region_name: "V de Valparaíso" },
        { id: 65, name: "San Antonio", region_name: "V de Valparaíso" },
        { id: 66, name: "Santo Domingo", region_name: "V de Valparaíso" },
        { id: 70, name: "Putaendo", region_name: "V de Valparaíso" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de Valparaíso" },
        { id: 74, name: "Valparaí­so", region_name: "V de Valparaíso" },
        { id: 75, name: "Concón", region_name: "V de Valparaíso" },
        { id: 77, name: "Puchuncaví­", region_name: "V de Valparaíso" },
        { id: 78, name: "Quintero", region_name: "V de Valparaíso" },
        { id: 79, name: "Viña del Mar", region_name: "V de Valparaíso" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV Región de Los Ríos" },
        { id: 313, name: "Los Lagos", region_name: "XIV Región de Los Ríos" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV Región de Los Ríos" },
        { id: 315, name: "Mariquina", region_name: "XIV Región de Los Ríos" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "Requínoa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de Valparaío" },
        { id: 46, name: "San Esteban", region_name: "V de Valparaíso" },
        { id: 47, name: "Limache", region_name: "V de Valparaíso" },
        { id: 143, name: "Alto Biobío", region_name: "VIII del Bío Bío" },
        { id: 144, name: "Antuco", region_name: "VIII del Bío Bío" },
        { id: 145, name: "Cabrero", region_name: "VIII del Bío Bío" },
        { id: 58, name: "La Cruz", region_name: "V de Valparaíso" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de Valparaíso" },
        { id: 44, name: "Los Andes", region_name: "V de Valparaíso" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X Región de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X Región de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de Tarapacá" },
        { id: 2, name: "Iquique", region_name: "I de Tarapacá" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de Tarapacá" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "Colbún", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "Longaví", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃón", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "Río Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del Bí Bí" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del Bí Bí" },
        { id: 149, name: "Nacimiento", region_name: "VIII del Bí Bí" },
        { id: 151, name: "Quilaco", region_name: "VIII del Bí Bí" },
        { id: 152, name: "Quilleco", region_name: "VIII del Bí Bí" },
        { id: 166, name: "Santa Juana", region_name: "VIII del Bí Bí" },
        { id: 167, name: "Talcahuano", region_name: "VIII del Bí Bí" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del Bí Bí" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San José de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "Curacaví",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "María Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X Región de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X Región de Los Lagos" },
        { id: 216, name: "PuqueldÃón", region_name: "X Región de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X Región de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X Región de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X Región de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X Región de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X Región de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X Región de Los Lagos" },
        { id: 225, name: "Cochamó", region_name: "X Región de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X Región de Los Lagos" },
        { id: 12, name: "Ollague", region_name: "II de Antofagasta" },
        { id: 36, name: "Vicuña", region_name: "IV de Coquimbo" },
        { id: 37, name: "Combarbalá", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "Río Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X Región de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X Región de Los Lagos" },
        { id: 48, name: "Olmué", region_name: "V de Valparaí­so" },
        { id: 49, name: "Quilpué", region_name: "V de Valparaí­so" },
        { id: 311, name: "Corral", region_name: "XIV Región de Los RÃíos" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX Región de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX Región de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 302,
          name: "San Joaquín",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X Región de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X Región de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X Región de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X Región de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X Región de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI Región de Ñuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX Región de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de Tarapacá" },
        { id: 5, name: "Huara", region_name: "I de Tarapacá" },
        { id: 6, name: "Pica", region_name: "I de Tarapacá" },
        { id: 7, name: "Pozo Almonte", region_name: "I de Tarapacá" },
        { id: 17, name: "Chañaral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃó", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San Ramón",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de Valparaíso" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del Bío Bío" },
        { id: 56, name: "La Calera", region_name: "V de Valparaíso" },
        { id: 211, name: "Quellón", region_name: "X Región de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de Valparaíso" },
        { id: 67, name: "Catemu", region_name: "V de Valparaíso" },
        {
          id: 253,
          name: "Río Verde",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de Valparaíso" },
        { id: 69, name: "Panquehue", region_name: "V de Valparaíso" },
        { id: 71, name: "San Felipe", region_name: "V de Valparaíso" },
        {
          id: 279,
          name: "Estación Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "Aysén",
          region_name: "XI Aysén del General Carlos Ibañez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de Valparaíso" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 250,
          name: "Río Ibáñez",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 192,
          name: "Pitrufquén",
          region_name: "IX Región de la Araucania"
        },
        { id: 193, name: "Pucón", region_name: "IX Región de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de Valparaíso" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa María", region_name: "V de Valparaíso" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI Región de Ñuble" },
        { id: 324, name: "Chillán", region_name: "XVI Región de Ñuble" },
        {
          id: 325,
          name: "Chillán Viejo",
          region_name: "XVI Región de Ñuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI Región de Ñuble" },
        { id: 331, name: "Yungay", region_name: "XVI Región de Ñuble" },
        { id: 333, name: "Coelemu", region_name: "XVI Región de Ñuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "Vichuquén", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del Bío Bío" },
        { id: 179, name: "Carahue", region_name: "IX Región de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX Región de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX Región de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX Región de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX Región de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX Región de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX Región de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "Doñihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "Machalí­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV Región de Los Ríos" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 309,
          name: "La Unión",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV Región de Los Ríos" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV Región de Los Ríos"
        },
        { id: 318, name: "Valdivia", region_name: "XIV Región de Los Ríos" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del Bío Bío"
        },
        { id: 186, name: "Lautaro", region_name: "IX Región de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX Región de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX Región de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 197,
          name: "Toltén",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX Región de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX Región de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del Bío Bío" },
        { id: 150, name: "Negrete", region_name: "VIII del Bío Bío" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del Bío Bío" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del Bío Bío" },
        { id: 155, name: "Tucapel", region_name: "VIII del Bío Bío" },
        { id: 156, name: "Yumbel", region_name: "VIII del Bío Bío" },
        { id: 157, name: "Chiguayante", region_name: "VIII del Bío Bío" },
        { id: 158, name: "ConcepciÃón", region_name: "VIII del Bío Bío" },
        { id: 159, name: "Coronel", region_name: "VIII del Bío Bío" },
        { id: 160, name: "Florida", region_name: "VIII del Bío Bío" },
        { id: 206, name: "Lumaco", region_name: "IX Región de la Araucania" },
        { id: 207, name: "Purén", region_name: "IX Región de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX Región de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "Maipúº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI Región de Ñuble" },
        { id: 341, name: "San Carlos", region_name: "XVI Región de Ñuble" },
        { id: 342, name: "San Fabián", region_name: "XVI Región de Ñuble" },
        { id: 343, name: "San Nicolás", region_name: "XVI Región de Ñuble" },
        {
          id: 295,
          name: "Peñalolén",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de Maipó",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "Conchalí",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "Río Bueno",
          region_name: "XII Región de Magallanes y de la Antá¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X Región de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "Cañete", region_name: "VIII del Bío Bío" },
        { id: 356, name: "Los Alamos", region_name: "VIII del Bío Bío" },
        { id: 355, name: "Lebu", region_name: "VIII del Bío Bío" },
        {
          id: 346,
          name: "Peñaflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI Región de Ñuble" },
        { id: 337, name: "RáÂ¡nquil", region_name: "XVI Región de Ñuble" },
        { id: 338, name: "Treguaco", region_name: "XVI Región de Ñuble" },
        { id: 339, name: "Coihueco", region_name: "XVI Región de Ñuble" }
      ],  
      swSearch: false,
      loadingMap: false,
      showDialog: false,
      dateSearch: null,
      url: "",
      contentError: "",
      search: null,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      today: "",
      dd: 0,
      mm: 0,
      yyyy: 0,
      MonthActually: "",
      now: "",
      refresh_call: true,
      perfil: 0
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
    this.getTotalUsers()
  },
  computed: {
    orderMarkers: function() {
      return this.markers.sort((a, b) => {
        if (a.hour == b.hour) {
          return a.minutes - b.minutes;
        } else {
          return a.hour - b.hour;
        }
      });
    }
  },
  methods: {
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.communes.filter(item => item.id == val)[0]
        return (obj != undefined) ? obj.name : "Sin información"
      }
    },
    //obtener el nombre de la region por su id
    getRegionName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.communes.filter(item => item.id == val)[0]
        return (obj != undefined) ? obj.region_name : "Sin información"
      }
    },
    //ordena la tabla dependiendo del encabezado de la columna
    customSort(value) {
      if (this.currentSort == "user") {
        return value.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
        });
      } else {
        switch (this.currentSort) {
          case "totalposn":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalposn - b.totalposn;
              } else {
                return b.totalposn - a.totalposn;
              }
            });
            break;
          case "totalchip356n":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalchip356n - b.totalchip356n;
              } else {
                return b.totalchip356n - a.totalchip356n;
              }
            });
            break;
          case "totalchipautoplann":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalchipautoplann - b.totalchipautoplann;
              } else {
                return b.totalchipautoplann - a.totalchipautoplann;
              }
            });
            break;
          case "totalpublishn":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalpublishn - b.totalpublishn;
              } else {
                return b.totalpublishn - a.totalpublishn;
              }
            });
            break;
          case "totalposv":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalposv - b.totalposv;
              } else {
                return b.totalposv - a.totalposv;
              }
            });
            break;
          case "totalchip356v":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalchip356v - b.totalchip356v;
              } else {
                return b.totalchip356v - a.totalchip356v;
              }
            });
            break;
          case "totalchipautoplanv":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalchipautoplanv - b.totalchipautoplanv;
              } else {
                return b.totalchipautoplanv - a.totalchipautoplanv;
              }
            });
            break;
          case "totalpublishv":
            return value.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.totalpublishv - b.totalpublishv;
              } else {
                return b.totalpublishv - a.totalpublishv;
              }
            });
            break;
        }
      }
    },
    //mensaje de alerta, página fuera de servicio
    alertDisabled() {
      this.contentError = "Temporalmente no disponible.";
      this.noData = true;
    },
    //obtiene la información general de los colaboradores
    getTotalUsers() {
      this.swSearch = true;
      this.total356N = 0;
      this.total356V = 0;
      this.total356plusN = 0;
      this.total356plusV = 0;
      this.totalAutoN = 0;
      this.totalAutoV = 0;
      this.totalSubN = 0;
      this.totalSubV = 0;
      this.totalPubN = 0;
      this.totalPubV = 0;
      this.$http
        .get(this.getUrlBase() + "/api/v1/reports/totalDeliveryTodayByUser/", this.getHeaders())
        .then( response => {
            this.json_data = [];
            this.totalForUser = [];
            if (response.body.length != 0) {
              this.nameFile = "Reporte Rutas Colaboradores -Arroba-" +
              this.dd + "-" + this.mm + "-" + this.yyyy + ".xls";
              response.body.forEach(item => {
                if (
                  item.data.totalchip356n != 0 ||
                  item.data.totalchip356plusn != 0 ||
                  item.data.totalchip356plusv != 0 ||
                  item.data.totalautoplann != 0 ||
                  item.data.totalposn != 0 ||
                  item.data.totalpublishn != 0 ||
                  item.data.totalchip356v != 0 ||
                  item.data.totalautoplanv != 0 ||
                  item.data.totalpublishv != 0 ||
                  item.data.totalvisits != 0
                ) {
                  if (item.user != " ") {
                    var obj = {
                      user: item.user,
                      email: item.email,
                      totalposv: item.data.totalvisits,
                      totalchip356n: item.data.totalchip356n,
                      totalchip356v: item.data.totalchip356v,
                      totalchip356plusn: item.data.totalchip356plusn,
                      totalchip356plusv: item.data.totalchip356plusv,
                      totalchipautoplann: item.data.totalautoplann,
                      totalchipautoplanv: item.data.totalautoplanv,
                      totalposn: item.data.totalposn,
                      totalpublishn: item.data.totalpublishn,
                      totalpublishv: item.data.totalpublishv
                    };

                    this.totalForUser.push(obj);
                    this.json_data.push(obj);
                    this.total356N += obj.totalchip356n;
                    this.total356V += obj.totalchip356v;
                    this.total356plusN += obj.totalchip356plusn;
                    this.total356plusV += obj.totalchip356plusv;
                    this.totalAutoN += obj.totalchipautoplann;
                    this.totalAutoV += obj.totalchipautoplanv;
                    this.totalSubN += obj.totalposn;
                    this.totalPubN += obj.totalpublishn;
                    this.totalSubV += obj.totalposv;
                    this.totalPubV += obj.totalpublishv;

                  }
                }
                this.loading = false;
              });
              if (this.totalForUser.length == 0) {
                this.snackNoData = true;
              }
            } else {
              this.snackNoData = true;
            }
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getTotalUsers();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: Reporte diario por colaborador"
            }
            this.loading = false;
          }
        );
    },
    //obtiene la información general de los colaboradores
    getTotalUsersByDate() {
      if (this.dateSearch == null) {
        this.failure = true;
        this.contentError = "Favor seleccionar una fecha.";
      } else if (this.dateSearch > this.today) {
        this.failure = true;
        this.contentError = "La fecha no puede ser posterior al día de hoy.";
      } else {
        this.loading = true;
        this.swSearch = true;
        this.total356N = 0;
        this.total356V = 0;
        this.totalAutoN = 0;
        this.totalAutoV = 0;
        this.totalSubN = 0;
        this.totalSubV = 0;
        this.totalPubN = 0;
        this.totalPubV = 0;
        //formato fecha
        this.now =
          this.dateSearch.getFullYear() +
          "-" +
          (this.dateSearch.getMonth() + 1) +
          "-" +
          this.dateSearch.getDate();

        this.$http.get(this.getUrlBase() + "/api/v1/reports/totalDeliveryTodayByUser/?day=" +
        this.now, this.getHeaders())
          .then( response => {
          this.json_data = [];
          this.totalForUser = [];
          if (response.body.length != 0) {
            this.nameFile = "Reporte Rutas Colaboradores -Arroba-" + this.dd + "-" + this.mm + "-" + this.yyyy + ".xls";
            response.body.forEach(item => {
              if (item.data.totalchip356n != 0 ||
                  item.data.totalchip356plusn != 0 ||
                  item.data.totalchip356plusv != 0 ||
                  item.data.totalautoplann != 0 ||
                  item.data.totalposn != 0 ||
                  item.data.totalpublishn != 0 ||
                  item.data.totalchip356v != 0 ||
                  item.data.totalautoplanv != 0 ||
                  item.data.totalpublishv != 0 ||
                  item.data.totalvisits != 0) {
                if (item.user != " ") {
                    var obj = {
                      user: item.user,
                      email: item.email,
                      totalposv: item.data.totalvisits,
                      totalchip356n: item.data.totalchip356n,
                      totalchip356v: item.data.totalchip356v,
                      totalchip356plusn: item.data.totalchip356plusn,
                      totalchip356plusv: item.data.totalchip356plusv,
                      totalchipautoplann: item.data.totalautoplann,
                      totalchipautoplanv: item.data.totalautoplanv,
                      totalposn: item.data.totalposn,
                      totalpublishn: item.data.totalpublishn,
                      totalpublishv: item.data.totalpublishv
                    };

                    this.totalForUser.push(obj);
                    this.json_data.push(obj);
                    this.total356N += obj.totalchip356n;
                    this.total356V += obj.totalchip356v;
                    this.total356plusN += obj.totalchip356plusn;
                    this.total356plusV += obj.totalchip356plusv;
                    this.totalAutoN += obj.totalchipautoplann;
                    this.totalAutoV += obj.totalchipautoplanv;
                    this.totalSubN += obj.totalposn;
                    this.totalPubN += obj.totalpublishn;
                    this.totalSubV += obj.totalposv;
                    this.totalPubV += obj.totalpublishv;
                }
              }
              this.loading = false;
            });
            if (this.totalForUser.length == 0) {
              this.snackNoData = true;
            }
          } else {
            this.snackNoData = true;
            this.loading = false;
          }
        },
        error => {
          this.aerror = error.status;
          if (this.aerror == 401) {
            this.getTotalUsersByDate();
          }
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener los registros relacionados con: Mapa de ruta colaboradores.";
          }
          this.loading = false;
        }
      )}
    },
    //envía al login
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    /*al seleccionar fila de la tabla despliega modal con mapa,
      llama al metodo loadPins*/
    onSelect(item) {
      this.infoWinOpen = false;
      this.showDialog = true;
      this.actualUserRoute = item.user;
      this.loadPins(item.email);

      // this.getUserEmail(item);
    },
    //cargas puntos de ventas en los marcadores
    loadPins(email) {
      this.loadingMap = true;
      this.paths = [];
      this.markers = [];
      var actividades = [];
      var date = null;
      if (this.dateSearch != null) {
        this.now =
          this.dateSearch.getFullYear() +
          "-" +
          (this.dateSearch.getMonth() + 1) +
          "-" +
          this.dateSearch.getDate();
      } else {
        this.now = this.yyyy + "-" + this.mm + "-" + this.dd;
      }
      this.$http.get( this.getUrlBase() +"/api/v1/reports/userSubsidiaryVisitsByDay/?user=" +
        email + "&day=" + this.now, this.getHeaders())
        .then(response => {
          response.body.forEach(deliverys => {
            //filtrar por nombre de colaborador
            this.iconOptions = {};
            let dateSale = new Date(deliverys.time);
            let ddSale = dateSale.getDate();
            let mmSale = dateSale.getMonth() + 1;
            let yyyySale = dateSale.getFullYear();
            var entregados = deliverys.d356 + deliverys.dAutoPlan;
            var stock = deliverys.stock356 + deliverys.stockautoplan;

            //obtener hora de la visita para ordenar arreglo
            var min = dateSale.getMinutes();
            var hour = dateSale.getHours();
            //hora para desplegar en el marcador
            var minutes = min < 10 ? "0" + min : min;
            var time = hour + ":" + minutes;

            //obtener fecha creación
            var dateCreate = new Date(deliverys.created_at);
            var created_at =
              dateCreate.getFullYear() +
              "-" +
              (dateCreate.getMonth() + 1) +
              "-" +
              dateCreate.getDate();

            var photo =
              deliverys.photo == null ? "../assets/icon.png" : deliverys.photo;

            //validar si existe ya una actividad en el mismo punto
            var idx = this.markers.findIndex(
              item => item.position.lat == deliverys.latitude
            );

            //agrupar puntos y añadir actividad realizada a arreglo
            if (idx != -1) {
              this.markers[idx].activities.push({
                actividad: deliverys.activity_type,
                hora: time
              });
              // this.markers[idx].delivery += deliverys.chip
              // this.markers[idx].publish += deliverys.publish
            } else {
              this.markers.push({
                photo: photo,
                position: {
                  lat: deliverys.latitude,
                  lng: deliverys.longitude
                },
                created_at: created_at,
                title: deliverys.name,
                delivery: deliverys.chip,
                publish: deliverys.publish,
                icon: this.iconOptions,
                address: deliverys.address,
                commune: this.getCommuneName(deliverys.id_commune),
                region: this.getRegionName(deliverys.id_commune),
                hour: hour, //para ordenar
                minutes: min, //para ordenar
                activities: [
                  {
                    actividad: deliverys.activity_type,
                    hora: time
                  }
                ]
              });
            }
          }, error => {
              this.loadingMap = false;
              this.aerror = error.status;
              if (this.aerror == 401) {
                this.loadPins(email);
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al obtener los registros relacionados con: Mapa de ruta colaboradores.";
              }
          });
          this.getCenter();
        });
    },
    //despliega la información del punto seleccionado dentro del mapa
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.dataMarker.photo = marker.photo;
      this.dataMarker.address = marker.address;
      this.dataMarker.title = marker.title;
      this.dataMarker.delivery = marker.delivery;
      this.dataMarker.publish = marker.publish;
      this.dataMarker.visited = marker.visited;
      this.dataMarker.activities = marker.activities;
      this.dataMarker.commune = marker.commune
      this.dataMarker.region = marker.region
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      } else {
        //if different marker set infowindow to open and reset current marker index
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    //asigna al centro del mapa la primera posición de la ruta
    getCenter() {
      if (this.orderMarkers.length != 0) {
        this.center = this.orderMarkers[0].position;
        this.loadRoute();
      }
    },
    loadRoute() {
      this.orderMarkers.forEach((item, index) => {
        if (item.created_at == this.now) {
          item.icon.url =
            "https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_blue"+
             (index + 1) +".png"
        } else {
          item.icon.url =
            "https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_yellow"+
             (index + 1) +".png"
        }
        //ruta con polyline
        // this.paths.push(item.position);

        //ruta con direction
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: this.$refs.map.$mapObject,
          suppressMarkers: true
        });

        if (index < this.orderMarkers.length - 1) {
          this.calculateAndDisplayRoute(
            directionsService,
            directionsDisplay,
            item.position,
            this.orderMarkers[index + 1].position
          );
        }
      });
      this.loadingMap = false;
    },
    calculateAndDisplayRoute( directionsService, directionsDisplay, latLng, atLng) {
      directionsService.route(
        {
          origin: new google.maps.LatLng(latLng.lat, latLng.lng),
          destination: new google.maps.LatLng(atLng.lat, atLng.lng),
          avoidTolls: false,
          avoidHighways: false,
          travelMode: google.maps.TravelMode.WALKING
        },
        function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            // window.alert(JSON.stringify(response, null, 4));
          } else {
            // window.alert(status);
          }
        }
      );
    },
    //al seleccionar cambia la clase de la fila
    getClass: ({}) => "md-primary"
  },
  created() {
    this.perfil = this.$localStorage.get("ThePerfil")
  }
};
</script>
<style>
.md-table-empty-state {
  color: #000 !important;
}
#contSalesManRoute {
  padding: 0 2% 20px 2%;
}
#contSalesManRoute > div {
  overflow: hidden;
}
/* thead */
#contSalesManRoute > div > div > div > table > thead > tr {
  background-color: #448aff !important;
}
#contSalesManRoute > div > div > div > table > thead > tr
  > th.md-table-head
  > div
  > div {
  color: beige !important;
}
#contSalesManRoute > div > div > div > table > thead > tr > th {
  width: 11vw !important;
}
/* end thead */
/* tbody */
/* #contSalesManRoute
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default {
  height: fit-content !important;
} */
#contSalesManRoute
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody
  > tr
  > td {
  width: 11vw !important;
}
/* end tbody */
/* total */
#contSalesManRoute > div > tr > td {
  width: 11vw !important;
}
.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
/* end total */
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
body
  > div.md-dialog.md-dialog-fullscreen.md-theme-default
  > div
  > div.md-dialog-actions
  > button {
  width: 40px;
}
.modal-map {
  width: 100%;
  max-height: 90% !important;
  height: 100%;
  background-color: #448aff !important;
  color: #ffffff !important;
}
.gmap-window {
  text-align: center;
}

.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
.progress-bar3 {
  height: 10px !important;
  width: 100% !important;
}
.map-legend {
  top: 80px;
  left: 200px;
  height: 40px;
  width: 190px;
  background-color: rgb(255, 255, 255);
  color: #595959;
  position: absolute;
  z-index: 100;
  border-radius: 3%;
}
.date-title{
  position: absolute;
  right: 20px;
  font-size: 22px !important;
}
</style>
