<template>
  <div id="reportSegHistCont">

<!-- TÍTULO & FILTROS -->
    <md-card style="background-color: white !important;">
      <md-card-header style="background-color: #3b7fff !important;">
        <md-avatar>
          <md-icon class="white">trending_up</md-icon>
        </md-avatar>
        <div class="md-headline white">Reporte de Segmentación Histórica por Punto de Venta</div>
      </md-card-header>
      <md-card-content class="md-layout md-alignment-center md-gutter" style="padding: 0;">
        <div class="md-layout-item md-size-20 md-small-size-90 md-xsmall-size-90">
          <md-datepicker v-model="month_start" :md-disabled-dates="disabledDates"><label>Mes Inicial</label></md-datepicker>
        </div>
        <div class="md-layout-item md-size-20 md-small-size-90 md-xsmall-size-90">
          <md-datepicker name="date_end" :md-disabled-dates="disabledDates" v-model="month_end"><label>Mes Final</label></md-datepicker>
        </div>
        <div class="md-layout-item md-size-10 md-small-size-45 md-xsmall-size-45">
          <md-icon v-on:click.native="prepareFilters" class="icon-search2">search</md-icon>
        </div>
        <div v-if="data_table.length > 0" class="md-layout-item md-size-15 md-small-size-45 md-xsmall-size-45">
          <download-excel :data="json_data" :fields="json_fields" :name="file_name">
            <md-icon style="cursor: pointer;" class="md-size-2 btn">archive</md-icon>
          </download-excel>
        </div>
      </md-card-content>
      <md-divider></md-divider>
<!-- TABLA REGION/COMUNA -->
      <md-table id="location-table-segmentation" class="md-layout-item md-size-100" :value="tablePagging" :md-sort.sync="currentSort"
        :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 1 || sw_table == 2" md-fixed-header @md-selected="onSelectRow">
        <!-- buscador -->
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button v-if="sw_table == 2" class="md-raised md-primary md-layout-item" @click="getData()"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                    <br>
            <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location">{{ sw_table == 1 ? item.region : item.commune }}</md-table-cell>
          <md-table-cell md-label="QPDV" md-sort-by="total_pos" md-numeric>{{ item.total_pos }}</md-table-cell>
          <md-table-cell md-label="Moda" md-sort-by="moda">{{ item.moda }}</md-table-cell>
          <md-table-cell md-label="Tendencia" md-sort-by="trend">
            <md-icon :class="getColor(item.moda)" v-if="item.trend > 0">keyboard_arrow_up</md-icon>
            <md-icon :class="getColor(item.moda)" v-else-if="item.trend <= 0">keyboard_arrow_down</md-icon>
          </md-table-cell>
        </md-table-row>
      </md-table>
      <md-table :value="[0]" v-show="sw_table == 1 || sw_table == 2">
        <!-- totales -->
        <md-table-row v-if="data_table.length != 0" class="table-row-total3" slot="md-table-row">
          <md-table-cell>Total</md-table-cell>
          <md-table-cell style="text-align: left;"></md-table-cell>
          <md-table-cell md-numeric>{{ total_pos }}</md-table-cell>
          <md-table-cell></md-table-cell>
          <md-table-cell></md-table-cell>
        </md-table-row>
      </md-table>
<!-- TABLA PDV -->
      <md-table ref="data_table" class="md-layout-item md-size-100" id="data_table" :value="tablePagging" :md-sort.sync="currentSort"
        :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 3" md-fixed-header>
        <!-- buscador -->
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button class="md-raised md-primary md-layout-item" @click="getDataByRegion(selected_region)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                    <br><p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="Sucursal" md-sort-by="name_business">
            <div class="div-pdv">
              <md-avatar class="md-large">
                <img :src="item.picture_business">
              </md-avatar>
              <!-- segmentation -->
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
              <!-- name -->
              <span>{{item.name_business}}</span>
              <!-- address -->
              <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
              <!-- category -->
              <span>{{item.category }}</span>
            </div>
            <!-- badge -->
            <div style="display: block">
              <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
              <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
            </div>
            <div style="display: inline-flex">
              <div class="badge-s" :class="getCoverageColor(item.coverage)"><md-icon class="white">wifi</md-icon><span>{{ item.coverage }}%</span></div>
              <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ item.q_home }}</span></div>
              <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
              <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
            </div> 
          </md-table-cell>
          <md-table-cell md-label="DOS" md-sort-by="dos" md-numeric>{{ item.dos }}</md-table-cell>
          <md-table-cell v-for="month in item.months" :key="month.month_n" style="text-align: center !important;" :md-label="month.month">
             <div style="display: grid; text-align: center;">
              <span style="font-weight: bold;">{{ month.segmentation_name }}</span>
              <span>Hab: {{ month.tasa_hab }}</span>
              <span>Rec: {{ month.tasa_rec }}</span>
              <span>Tasa H/R: {{ month.tasa_hab != 0 && month.tasa_rec != 0 ? parseInt((month.tasa_hab / month.tasa_rec)).toFixed(2) : 0 }} %</span>
             </div>
          </md-table-cell>
        </md-table-row>
      </md-table>
<!-- PÁGINADO -->
      <!-- <div id="pagging" v-if="data_table.length > 15">
        <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
          <md-icon class="pagging-icon-ten">first_page</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="prevPage">
          <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
        </md-button>
        <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
        <md-button class="pagging-btn md-icon-button" @click="nextPage(data_table)">
          <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="nextTenPage(data_table)">
          <md-icon class="pagging-icon">last_page</md-icon>
        </md-button>
      </div>  -->
    </md-card>
<!-- MODAL HISTÓRICO -->
    <md-dialog class="dialog-historic" :md-active.sync="dialog_hist">
      <md-dialog-title>Punto de Venta -&nbsp;{{ current_pdv }}</md-dialog-title>
      <md-divider></md-divider>
      <md-table :value="data_table" :md-sort.sync="currentSort" :md-sort-fn="customSort"
        :md-sort-order.sync="currentSortOrder">
        <md-table-empty-state v-if="loading_table" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
          <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
        </md-table-empty-state>
        <md-table-empty-state v-if="!loading_table && empty_table_pos" md-label="Sin Datos para mostrar" md-description="No se han encontrado datos para los filtros seleccionados.">
        </md-table-empty-state>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell md-label="Mes" md-sort-by="month">{{ item.month }}</md-table-cell>
            <md-table-cell md-label="Segmentación" md-sort-by="segmentation_name">{{ item.segmentation_name }}</md-table-cell>
            <md-table-cell md-label="Tasa Habilitación" md-sort-by="tasa_hab" md-numeric>{{ item.tasa_hab }}</md-table-cell>
            <md-table-cell md-label="Tasa Recargas" md-sort-by="tasa_rec" md-numeric>{{ item.tasa_rec }}</md-table-cell>
            <md-table-cell md-label="Estado"><md-icon :class="item.state">{{ item.state }}</md-icon></md-table-cell>
        </md-table-row>
      </md-table>
    </md-dialog>
<!-- ALERTAS -->
    <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="logout" @md-cancel="logout"/>
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>

  </div>
</template>
<script>
export default {
  name: "reportSegmentationHistorical",
  data() {
    return {
      // alerts
      snack500: false,
      snackOauth: false,
      contentError: "",
      // dialog
      dialog_hist: false,
      // empty state
      empty_table: false,
      empty_table_pos: false,
      // preload
      loading_table: false,
      loading_table: false,
      // filters
      search: "",
      selected_segmentation: -1,
      selected_region: -1,
      selected_commune: -1,
      month_start: new Date(),
      month_end: new Date(),
      disabledDates: date => {
        const month = date.getMonth()
        return month >= new Date().getMonth()
      },
      current_start_m: null,
      current_start_y: null,
      current_end_m: null,
      current_end_y: null,
      segmentation_list: [],
      region_list: [],
      commune_list: [],
      // pagging
      pageSize: 15,
      currentPage: 1,
      maxPage: 0,
      // sort
      currentSort: "name_business",
      currentSortOrder: "asc",
      // table
      sw_table: 0,
      data_table: [],
      data_table: [],
      // totals
      total_pos: 0,
      // export excel
      json_data: [],
      file_name: "",
      json_fields: {},
      // models
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      regions: [
        {id: 1, region_name: "I de TarapacÃ¡" },
        {id: 2, region_name: "II de Antofagasta" },
        {id: 3, region_name: "III de Atacama" },
        {id: 4, region_name: "IV de Coquimbo" },
        {id: 5, region_name: "V de ValparaÃ­so" },
        {id: 6, region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, region_name: "VII del Maule" },
        {id: 8, region_name: "VIII del BÃ­o BÃ­o" },
        {id: 9, region_name: "IX RegiÃ³n de la Araucania" },
        {id: 10, region_name: "X RegiÃ³n de Los Lagos" },
        {id: 11, region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo" },
        {id: 12, region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena" },
        {id: 13, region_name: "Metropolitana de Santiago" },
        {id: 14, region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {id: 15, region_name: "XV de Arica y Parinacota" },
        {id: 16, region_name: "XVI RegiÃ³n de Ãuble" },
      ],
      communes: [
        { id: 26, name: "Canela", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", id_region:"2", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", id_region:"2", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", id_region:"7",region_name: "VII del Maule" },
        { id: 114, name: "Chanco", id_region:"7",region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", id_region:"7",region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", id_region:"7",region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", id_region:"7",region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", id_region:"3",  region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", id_region:"2", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", id_region:"7",region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", id_region:"3",  region_name: "III de Atacama" },
        { id: 121, name: "Romeral", id_region:"7",region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", id_region:"7",region_name: "VII del Maule" },
        { id: 123, name: "Teno", id_region:"7",region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", id_region:"7",region_name: "VII del Maule" },
        { id: 126, name: "Linares", id_region:"7",region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", id_region:"7",region_name: "VII del Maule" },
        { id: 128, name: "Parral", id_region:"7",region_name: "VII del Maule" },
        { id: 129, name: "Retiro", id_region:"7",region_name: "VII del Maule" },
        { id: 130, name: "San Javier", id_region:"7",region_name: "VII del Maule" },
        { id: 268, name: "Paine", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", id_region:"7",region_name: "VII del Maule" },
        { id: 134, name: "Curepto", id_region:"7",region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", id_region:"7",region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", id_region:"7",region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", id_region:"7",region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", id_region:"7",region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", id_region:"7",region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", id_region:"7",region_name: "VII del Maule" },
        { id: 142, name: "Talca", id_region:"7",region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", id_region:"2", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", id_region:"4", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          id_region:"10",  region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", id_region:"15", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", id_region:"1", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", id_region:"3",  region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", id_region:"2", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", id_region:"2", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", id_region:"3",  region_name: "III de Atacama" },
        { id: 19, name: "Caldera", id_region:"3",  region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", id_region:"3",  region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", id_region:"3",  region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", id_region:"2", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", id_region:"2", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", id_region:"3",  region_name: "III de Atacama" },
        { id: 23, name: "Freirina", id_region:"3",  region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", id_region:"5", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          id_region:"11", region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", id_region:"5", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          id_region:"16", region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", id_region:"7",region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", id_region:"7",region_name: "VII del Maule" },
        { id: 172, name: "Maule", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", id_region:"14", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", id_region:"15", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", id_region:"15", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          id_region:"6", region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          id_region:"8",  region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          id_region:"9", region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", id_region:"9", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", id_region:"13", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", id_region:"13", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          id_region:"12", region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 351, name: "Puerto Montt", id_region:"10",  region_name: "X RegiÃ³n de Los Lagos" },
        { id: 350, name: "Palmilla", id_region:"2", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", id_region:"3",  region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", id_region:"8",  region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          id_region:"13", region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          id_region:"15", region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", id_region:"16", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      current_month: "",
      current_pdv: "",
      // config
      today: null,
      refresh_call: true,
      perfil: 0
    };
  },
  created() {
    this.perfil = this.$localStorage.get("ThePerfil")
  },
  mounted() { 
    this.today = new Date()
    this.current_month = this.months[this.today.getMonth()]
    this.month_start = this.month_start.setUTCMonth(this.month_start.getMonth()-1)
    this.month_end = this.month_end.setUTCMonth(this.month_end.getMonth()-1)
    this.getCategories()
  },
  computed: {
    tablePagging() {
      if(this.search != "") {
        let name = "" 
        if(this.sw_table == 1) name = "region"
        else if(this.sw_table == 2) name = "commune"
        else if(this.sw_table == 3) name = "name_business"
        this.currentPage = 1;
        return this.data_table
        .filter(dt => dt[name].toUpperCase().includes(this.search.toUpperCase()))
        // .filter((row, index) => {
        //     let start = (this.currentPage - 1) * this.pageSize;
        //     let end = this.currentPage * this.pageSize;
        //     if (index >= start && index < end) return true;
        // })
      } else {
        return this.data_table
        // .filter((row, index) => {
        //   let start = (this.currentPage - 1) * this.pageSize;
        //   let end = this.currentPage * this.pageSize;
        //   if (index >= start && index < end) return true;
        // });
      }
    },
  },
  methods: {
    // listar datos
    getCategories() {
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
        this.getSegmentationScore()
      }, 
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getCategories() 
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de categorías"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.categories_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getSegmentationScore(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
        this.getRegions()
      }, 
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.getSegmentationScore()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de segmentaciones."
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getRegions() {
      this.$http.get(this.getUrlBase() + "/api/v1/regions/", this.getHeaders())
      .then( response => {
        for (let reg of response.body) {
          reg.name = this.replace(reg.name)
          this.region_list.push(reg)
        }
      },
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getRegions()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: listado de regiones";
        }
      })
    },
    //----------------------------------------------------------------------------------------------
    prepareFilters() {
      this.currentPage = 1
      this.param_date_start = this.formatDate(this.month_start)
      this.param_date_end = this.formatDate(this.month_end)
      this.getData()
    },
    // obtener datos por región al seleccionar la segmentación
    async getData() {
      try {
        this.search = ""
        this.loading_table = true
        this.configTable(1)
        let url = this.getUrlBase() + '/api/v1/reports/region-data/'
        let response = await this.$http.get(url, this.getHeaders())
        this.data_table = []
        this.json_data = []
        this.breadscrumb = "";
        
        for (let [index, reg] of response.body.entries()) {
          const result = await this.getRegionMean(reg.region_id, index, response.body.length)
          reg.index = ++index
          reg.region = this.replace(this.getRegionName(reg.region_id))
          reg.moda = this.getSegmentationName(result.segmentation_score)
          reg.trend = result.pointer
          this.data_table.push(reg)
          this.json_data.push(reg)
          this.total_pos += parseInt(reg.total_pos)
          this.getLastPage(this.data_table)
          this.data_table.sort((a,b) => a.index - b.index)
          if(index == response.body.length-1) {
            this.data_table.sort((a,b) => a.index - b.index)
            this.getLastPage(this.data_table)
          }
        }
      } catch(error) {
        this.loading_table = false
        this.aerror = error.status
        if (this.aerror == 401) this.getData()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      }
    },
    // obtener media por región
    async getRegionMean(id_region, current, rb_length) {
      const response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/historic-region-tendency/?id_region=" + id_region
      + "&date_start=" + this.param_date_start + "&date_end=" + this.param_date_end, this.getHeaders())

      var months = response.body.reduce(function (r, a) { r[a.month] = r[a.month] || []; r[a.month].push(a);
        return r;
      }, Object.create(null));
      
      var highers = []
      Object.keys(months).forEach((key) => {
        highers.push(months[key].sort( (a, b) => b.c - a.c)[0])
      })

      var result = {}
      var pointer = 0
      var count = 0
      highers.map((seg, index, self) => {
        // obtener moda
        const length = self.filter(ar => ar.segmentation_score == seg.segmentation_score).length
        if( length > count ) {
          count = length
          result = seg
        }
        // obtener tendencia
        if(index != 0) {
          if(seg.segmentation_score < self[index-1].segmentation_score) { ++pointer }
          else if(seg.segmentation_score > self[index-1].segmentation_score) { --pointer }
        }
        if(index == self.length - 1){ 
          result.pointer = pointer
        }
      })
      if(current == rb_length-1) this.loading_table = false
      return result
    },
    // obtener datos por comuna al seleccionar una región
    async getDataByRegion(id) {
      this.loading_table = true
      this.configTable(2)    
      this.breadscrumb =this.breadscrumb = this.regions.filter(r => r.id == id)[0].region_name  
      try {
        let url = this.getUrlBase() + '/api/v1/reports/commune-data/?id_region=' + id
        const response = await this.$http.get(url, this.getHeaders())
        response.body = response.body.sort((a,b) => a.commune.localeCompare(b.commune))
        this.data_table = []
        this.json_data = []
        for(let [index, com] of response.body.entries()) {
          const result = await this.getCommuneMean(com.id_commune, index, response.body.length)
            com.index = ++index
            com.commune = this.replaceComuna(com.commune)
            com.id_region = id
            com.region = this.replace(this.getRegionName(id))
            com.moda = this.getSegmentationName(result.segmentation_score)
            com.trend = result.pointer
            this.data_table.push(com)
            this.json_data.push(com)
            this.total_pos += com.total_pos
            this.getLastPage(this.data_table)
            this.data_table.sort((a,b) => a.index - b.index)
          if(index == response.body.length-1) {
            this.data_table.sort((a,b) => a.index - b.index)
            this.getLastPage(this.data_table)
          }          
        }
      }
      catch(error) {
        this.loading_table = false
        this.aerror = error.status
        if (this.aerror == 401) this.getDataByRegion(id)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Comuna"
        }
      }
    },
    // obtener media por comuna
    async getCommuneMean(id_commune, current, rb_length) {
      const response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/historic-commune-tendency/?id_commune=" + id_commune
      + "&date_start=" + this.param_date_start + "&date_end=" + this.param_date_end, this.getHeaders())

      var months = response.body.reduce(function (r, a) { r[a.month] = r[a.month] || []; r[a.month].push(a);
        return r;
      }, Object.create(null));
      
      var highers = []
      Object.keys(months).forEach((key) => {
        highers.push(months[key].sort( (a, b) => b.c - a.c)[0])
      })

      var result = {}
      var pointer = 0
      var count = 0
      highers.map((seg, index, self) => {
        // obtener moda
        const length = self.filter(ar => ar.segmentation_score == seg.segmentation_score).length
        if( length > count ) {
          count = length
          result = seg
        }
        // obtener tendencia
        if(index != 0) {
          if(seg.segmentation_score < self[index-1].segmentation_score) { ++pointer }
          else if(seg.segmentation_score > self[index-1].segmentation_score) { --pointer }
        }
        if(index == self.length - 1){ 
          result.pointer = pointer
        }
      })
      if(current == rb_length-1) this.loading_table = false
      return result
    },
    onSelectRow(item) {
      if(item != undefined) {
        this.search = ""
        if(this.sw_table == 1) {
          this.getDataByRegion(item.region_id)
          this.selected_region = item.region_id
          this.breadscrumb = this.getRegionName(item.region_id)
        } else  if(this.sw_table == 2) {
          if(this.perfil != 2 && this.perfil != 5) {
            this.validateSelection(item.id_commune, item.id_region)
            this.selected_commune = item.id_commune
            this.breadscrumb += " / " + this.getCommuneName(item.id_commune)
          }
        }
      }
    },
    validateSelection(comuna, region){
      if(this.month_start > this.month_end) {
        this.snack500 = true
        this.contentError = "El mes inicial no puede ser superior al mes de final."
      } else {
        this.$refs.data_table.MdTable.items = {}
        this.getPDVs(comuna, region)
      }
    },
    async getPDVs(comuna, region) {
      this.configTable(3)
      this.loading_table = true
      this.data_table = []
      this.param_date_start = this.formatDate(this.month_start)
      this.param_date_end = this.formatDate(this.month_end)
      try {
        this.$http.get(this.getUrlBase() + "/api/v1/subsidiaryAll/?idcommune=" + comuna, this.getHeaders())
        .then( response => {
          this.data_table = []
          this.json_data = []
          this.total_pos = 0
          response.body = response.body.sort((a,b) => a.name_business.localeCompare(b.name_business))
          for([index, suc] of response.body.entries()){
            suc.publish_t = suc.check_publish ? 'Si' : 'No'
            suc.training_t = suc.training ? 'Si' : 'No'
            suc.segmentation_name = this.getSegmentationName(suc.segmentation_score)
            suc.region = this.replace(this.getRegionName(region))
            suc.commune = this.replaceComuna(this.getCommuneName(suc.idcommune))
            suc.coverage = suc.coverage != null ? suc.coverage : 0.00,
            suc.q_home = suc.q_home != null ? suc.q_home : 0
            this.getSegmentationPDV(suc, index, response.body.length) // obtener segmentaciones a través de los meses seleccionados
            if(index == response.body.length -1) this.loading_table = false
          }
        })
      } catch (error) {
        this.empty_table = true
        this.loading_table = false
        this.aerror = error.status
        if(this.aerror == 401) this.getPDVs(comuna, region)
        if(this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de PDV por Segmentación."
        }
      }
    },
    async getSegmentationPDV(suc, current, rb_length) {
      this.loading_table = true
      let response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-segmentation-history/" + 
        "?id_subsidiary=" + suc.id + 
        "&date_start=" + this.param_date_start +
        "&date_end=" + this.param_date_end, this.getHeaders())
      suc.months = []
      var segs = []
      if(response.body.length != 0){
        segs = response.body[0].segmentation_score.sort((a,b) =>  new Date(b.updated_at) - new Date(a.updated_at))
        segs = segs.filter((seg, i, arr) => arr.findIndex(s => new Date(s.created_at).getMonth() == new Date(seg.created_at).getMonth()) == i )
        segs = segs.sort((a,b) => a.created_at.localeCompare(b.created_at))
        segs.forEach((r, index) => {
          let month = parseInt(r.created_at.substr(5,2))

          suc[this.months[month-1]] = {
            month: this.months[month-1],
            segmentation_name: this.getSegmentationName(r.segmentation_score)
          }
          suc.months.push({
            month_n: month,
            month: this.months[month-1],
            segmentation_name: this.getSegmentationName(r.segmentation_score),
            tasa_hab: r.tasa_hab,
            tasa_rec: r.tasa_rec,
            segmentation_score: r.segmentation_score
          })
          suc.dos = parseFloat(response.body[0].dos).toFixed(2)
          suc.stock = response.body[0].stock
          suc.stock374 = response.body[0].stock374

          if(index == segs.length - 1){
            this.data_table.push(suc)
            // if(suc.months.length == this.data_table[--current].months.length) {
              this.json_data.push(suc)
            // }
            this.getLastPage(this.data_table)
            this.addFields()
          }
        })
      } else {
        suc.dos = 0
        suc.stock = 0
        suc.stock374 = 0
        this.data_table.push(suc)
        this.json_data.push(suc)
        this.getLastPage(this.data_table)
      }
    },
    //----------------------------------------------------------------------------------------------
    searchOnTable() {
      this.searched = searchByName(this.allTheCategories, this.search);
    },
    getColor(seg) {
      let id = this.segmentation_list.filter(sl => sl.description == seg)[0].id
      let c = "";
      switch(id) {
        case 1:
          c = "c-blue"
        break;
        case 2:
          c = "c-yellow"
        break;
        case 3:
          c = "c-green"
        break;
        case 4:
          c = "c-red"
        break;
        case 5:
          c = "c-red"
        break;
      }
      return c
    },
    configTable(param){
      this.count = 0
      this.total_pos = 0
      this.data_table = []
      this.currentPage = 1
      this.sw_table = param
      switch(param) {
        case 1:
          this.json_fields = { 
            'Región' :          'region',
            'QPDV' :            'total_pos',
            'Moda' :            'moda',
            // 'Tendencia' :       'trend'
          }
          this.file_name = "Resumen PDV Segmentación Regional" +
          " | " + this.param_date_start + 
          " | " + this.param_date_end
          this.file_name += ".xls"
          break;
        case 2:
          this.json_fields = { 
            'Comuna' :          'commune',
            'QPDV' :            'total_pos',
            'Moda' :            'moda',
            // 'Tendencia' :       'trend'
          }
          this.file_name = "Resumen PDV Segmentación Comunal" +
          " | " + this.param_date_start + 
          " | " + this.param_date_end
          this.file_name += ".xls"
          break;
        case 3:
            this.json_fields = {
              "Foto":           "picture_business",
              "Región":         "region",
              "Comuna":         "commune",
              "direccion":      "address",
              "sucursal":       "name_business",
              "Capacitado":     "training_t",
              "Con Publicidad": "publish_t",
              "Categoría":      "category",
              "Segmentación":   "segmentation_name",
              "stock 356":      "stock",
              "stock 374":      "stock374",
              "DOS":            "dos",
              "Covertura":      "coverage",
              "Viviendas":      "q_home"
            }
            this.file_name = "Reporte Segmentación " +
            " | " + this.param_date_start + 
            " | " + this.param_date_end
            // if(this.selected_category != -1)  this.file_name += " | " + this.getCategoryName(this.selected_category)
            this.file_name += ".xls"
          break;
      }
    },
    addFields() {
      this.data_table.forEach(suc => {
        if(suc.months.length != 0)
        suc.months.forEach((m, index) => {
          this.json_fields[m.month] =  m.month+".segmentation_name"
        })
      })
    },
    // sort
    customSort() {
      switch(this.currentSort){
        case "name_business":
        case "moda":
        case "segmentation_name":
          return this.data_table.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "location":
          return this.data_table.sort((a, b) => {
          const sortBy = (this.sw_table == 1) ? 'region' : 'commune';
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "total_reload":
        case "totalactivate":
        case "tasa_hab":
        case "total_pos":
        case "trend":
        case "tasa_rec":
        case "dos":
        case "index":
          return this.data_table.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort]
            } else {
              return b[this.currentSort] - a[this.currentSort]
            }
          });
          break;
      }
    },
    // pagging
    nextPage: function(array) {
      if (this.currentPage * this.pageSize < array.length)
        this.currentPage++;
    },
    nextTenPage: function(array) {
      if ((this.currentPage + 10) * this.pageSize < array.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage(array) {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < array.length; n++) {
        this.maxPage++;
      }
    },
    replace(name){
      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ")
      return Comuna;
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1 ) ? this.communes[idx].name : null;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      if(val != undefined) {
        var idx = this.regions.findIndex(item => item.id == val);
        return (idx != -1) ? this.regions[idx].region_name : null;
      } else 'Sin Especificar'
    },
    getCoverageColor(coverage) {
      if(coverage == 0) return 'b-grey'
      else if(coverage > 0 && coverage <= 25) return 'b-blue'
      else if(coverage > 25 && coverage <= 50) return 'b-morado'
      else if(coverage > 50 && coverage <= 75) return 'b-yellow'
      else if(coverage > 75) return 'b-green'
    },
    // format date
    getTime(fecha){
      var date = new Date(fecha)
      var options = {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      }
      date = date.toLocaleString("es-ES", options);
      return date.replace(".", "");
    }, 
    formatDate(date){
      let fecha = new Date(date)
      return fecha.getFullYear() + "-" + (fecha.getMonth() + 1) + "-" + fecha.getDate()
    },
    clearDates(){
      this.month_start = new Date()
      this.month_end = new Date()
      this.current_start_m = null
      this.current_start_y = null
      this.current_end_m = null
      this.current_end_y = null
    },
    getState(current, before){
      switch(current.segmentation_score){
        case 1:
        // solo puede ser menor
            return (current.segmentation_score > before.segmentation_score) ? 'arrow_drop_down' : 'remove'
          break;
        case 2:
        case 3:
        case 4:
            if(current.segmentation_score > before.segmentation_score) return 'arrow_drop_down'
            else if(current.segmentation_score > before.segmentation_score) return 'arrow_drop_up'
            else return 'remove'
        case 5:
            return (current.segmentation_score < before.segmentation_score) ? 'arrow_drop_up' : 'remove'
          break;
      }
    },
    logout() {
      this.$router.push({ name: 'Login'})
    }
  }
};
</script>
<style>
#reportSegHistCont {
  padding: 0 2%;
}
/* header region/comuna */
#location-table-segmentation > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#location-table-segmentation > div.md-table-fixed-header > div > table > thead > tr > th > div > div{
  color: white !important;
}
/* header pdv table */
#data_table > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#data_table > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: white !important;
}
#location-table-segmentation > div.md-table-fixed-header > div > table > thead > tr > th {
  width: 20vw !important;
}
#location-table-segmentation > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
  width: 20vw !important;
}
#data_table > div.md-table-fixed-header > table > thead > tr > th:not(:nth-child(1)):not(:nth-child(2)) {
  text-align: center !important;
}
/* total pdv table */
#data_table {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
#reportSegHistCont > div > div:nth-child(5) > div > table > tbody > tr {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
#reportSegHistCont > div > div:nth-child(5) > div > table > tbody > tr > td {
  width: 20vw !important;
  font-size: 18px;
}
/* end total pdv table */
/* header hist */
body > div.md-dialog.dialog-historic.md-dialog-fullscreen.md-theme-default > div > div > div > table > thead > tr {
  background-color: #3b7fff !important;
}
body > div.md-dialog.dialog-historic.md-dialog-fullscreen.md-theme-default > div > div > div > table > thead > tr > th > div > div {
  color: white; 
}
body > div.md-dialog.dialog-historic.md-dialog-fullscreen.md-theme-default > div > span {
  padding: 24px;
  margin: 0;
  background-color: #3b7fff;
  color: white;
}
.btn {
  color: #349616 !important;
}
.btn:hover {
  color: #26c918 !important;
}
.white {
  color: white !important;
}
/* paginado */
#pagging {
  align-items: left;
  padding-top: 15px;
  padding-bottom: 10px;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
/* search icon */
.icon-search2 {
  color: #ff7f50 !important;
  position: relative;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search2:hover {
  color: #ff5111 !important;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}
.nowrap {
  white-space: nowrap;
}
/* dialog hist */
.dialog-historic {
  width: 50vw;
  height: 55vh;
}
.remove {
  color: #333 !important
}
.arrow_drop_up {
  color: #349616 !important
}
.arrow_drop_down {
  color: #c70101 !important
}
/* total row */
#location-table-segmentation > tr {
  background-color: #ff5111;
}
#location-table-segmentation > tr > td > div {
  color: beige;
  font-size: 16px;
  font-weight: bold;
}
#location-table-segmentation > tr > td {
  width: 33vw;
}

.texto-crumb {
  text-align: left;
  display: flex;
  color: #448aff;
  font-weight: bold;
}
</style>

