<template>
<!-- modal region segmentation chart  -->
    <!--div class="div-chart-map">
      <md-card style="height: fit-content;">
        <md-card-header>
          <md-avatar>
            <img src="/static/css/static/img/chile-country.png" width="50">
          </md-avatar>
          <div class="md-title">Habilitaciones y Recargas</div>
          <span class="md-subhead"> {{ segmentation_name }} {{category_name != '' ? ' - ' + category_name : ''}}</span>
        </md-card-header>
        <md-card-content style="padding: 5px 20px;">
          <div class="map-chart-region" ref="chartdivRegion"></div>
        </md-card-content>
      </md-card>
      <div class="map-chart-commune" ref="chartdivCommune">
      </div>
    </div> -->
<!-- QPDV TABLA -->
    <div id="segmentationReport" class="md-size-100 md-layout md-alignment-top-center" style="height: 100%;">
        <md-table class="md-layout-item md-size-100" :value="dataTable" :md-sort.sync="currentSort" 
          :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-card md-fixed-header @md-selected="onSelect">
          <md-table-toolbar class="toolbar-primary" style="padding: 5px 0 0 0;  position: relative;">
            <div class="md-toolbar-row">
              <h1 class="md-title">
                <div>Segmentación de Puntos de Venta</div>
                <div>{{ region_name }} {{ ' - ' +commune_name }} {{' - ' + segmentation_name }} {{category_name != '' ? ' - ' + category_name : '' }}</div>
              </h1>
              <div style="width: 10%" v-if="subsidiaries.length != 0">
                <download-excel :data="json_data" :fields="json_fields" :name="nameFile">
                  <md-icon style="top: 10px; position:relative; cursor: pointer; color: beige !important;" class="md-size-2 btn">archive</md-icon>
                  <p style="position:relative; top:5px; color: beige;" >Descargar Excel</p>
                </download-excel>
              </div>
            </div>
            <div v-if="subsidiaries.length != 0 && !loading_table" class="md-toolbar-row md-layout md-alignment-center"
              style="background-color: white !important; padding: 0 16px !important;">
              <md-button @click="backToCommuneSegmentation" class="md-raised md-primary md-layout-item"><md-icon>keyboard_arrow_left</md-icon></md-button>
              <md-field class="md-layout-item md-size-90">
                <label>Buscar por nombre...</label>
                <md-input type="text" v-model="search"></md-input>
              </md-field>
            </div>
            <div class="md-toolbar-row" v-if="loading_table" style="background-color: white !important; padding: 0 16px !important;">
              <md-table-empty-state md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
              </md-table-empty-state> 
            </div>
          </md-table-toolbar>
          <!-- data -->
          <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
            <md-table-cell md-label="Sucursal" md-sort-by="name_business" style="padding-bottom:20px;">
              <div class="div-pdv">
                <md-avatar class="md-large">
                  <img :src="item.picture_business">
                </md-avatar>
                <!-- segmentation -->
                <div style="display: inline;">
                  <div v-if="item.segmentation_score == 1">
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                  </div>
                  <div v-if="item.segmentation_score == 2">
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                  </div>
                  <div v-if="item.segmentation_score == 3">
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                  </div>
                  <div v-if="item.segmentation_score == 4">
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                  </div>
                  <div v-if="item.segmentation_score == 5">
                    <md-icon class="i-star">star</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                    <md-icon class="i-star">star_border</md-icon>
                  </div>
                </div>
                <!-- name -->
                <span>{{item.name_business}}</span>
                <!-- address -->
                <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
                <!-- category -->
                <span>{{item.category}}</span>
              </div>
              <!-- badge -->
              <div style="display: inline-flex">
                <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
                <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
                <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
                <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
              </div> 
            </md-table-cell>
            <md-table-cell md-label="Entregas" md-sort-by="total_delivery" md-numeric>{{ item.total_delivery }}</md-table-cell>
            <md-table-cell md-label="Hab" md-sort-by="total_activate" md-numeric>{{ item.total_activate }}</md-table-cell>
            <md-table-cell md-label="Recargas" md-sort-by="total_reload" md-numeric>{{ item.total_reload }}</md-table-cell>
            <md-table-cell md-label="Tasa Hab(%)" md-sort-by="tasa_hab" md-numeric>{{ item.tasa_hab }}%</md-table-cell>
            <md-table-cell md-label="DOS" md-sort-by="dos" md-numeric>{{ parseFloat(item.dos).toFixed(2) }}</md-table-cell>
            <md-table-cell md-label="Última Visita" md-sort-by="last_visit">{{ item.last_visit }}</md-table-cell>
          </md-table-row>
        </md-table>
        <md-table id="total-seg-pdv" class="md-layout-item md-size-100" :value="[1]" md-card>
          <!-- totales -->
          <md-table-row class="table-row-total2" slot="md-table-row">
            <md-table-cell>Total</md-table-cell>
            <md-table-cell md-numeric>{{total_delivery}}</md-table-cell>
            <md-table-cell md-numeric>{{total_activate}}</md-table-cell>
            <md-table-cell md-numeric>{{total_reload}}</md-table-cell>
            <md-table-cell md-numeric>{{total_tasa.toFixed(2)}}%</md-table-cell>
            <md-table-cell></md-table-cell>
            <md-table-cell></md-table-cell>
          </md-table-row>
        </md-table>
<!-- MODAL MAPA -->
    <!-- <md-dialog class="modal-map" :md-active.sync="showDialog">
      <gmap-map :center="center" :zoom="zoom" style="width: 100%; height: 800px;">
        <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true"
          :draggable="false" :icon="m.icon">
        </gmap-marker>
      </gmap-map>
      <md-dialog-actions style="background-color: #EB754A !important; margin: 0%;">
        <md-button style="color: #ffffff" @click="showDialog = false">Cerrar</md-button>
      </md-dialog-actions>
    </md-dialog> -->
<!-- MODAL GRAPH REC/HAB BY DAY -->
    <md-dialog class="modal-graph-daily" :md-active.sync="showDialog">
      <md-card>
        <md-card-header v-show="!loading_chart">
          <span class="md-title">{{current_pdv}}</span>
        </md-card-header>
        <md-progress-bar v-if="loading_chart" md-mode="indeterminate"></md-progress-bar>
        <md-card-content v-show="!loading_chart">
          <canvas id="chartHabRecPDV"></canvas>
        </md-card-content>
      </md-card>
    </md-dialog>
    <!-- alertas -->
      <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
      <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    </div>
</template>
<script>
export default {
  name: "segmentationReport",
  data() {
    return {
      search:                 "",
      // mapa
      markers:                [],
      iconOptions:            {},
      zoom:                   16,
      center:                 { lat: -33.4446479, lng: -70.6582718 },
      showDialog:             false,
      // sorting
      currentSort:            "name_business",
      currentSortOrder:       "asc",
      // Pagination
      pageSize: 10,
      currentPage: 1,
      maxPage: 0,
      // alerts
      snackOauth:             false,
      snack500:               false,
      contentError:           "",
      // data
      current_pdv:            '',
      loading_chart:          false,
      loading_table:          true,
      param_segmentation:     0,
      segmentation_name:      "",
      commune_name:           "",
      region_name:            "",
      category_name:          "",
      region_table:           [],
      commune_table:          [],
      subsidiaries:           [],
      ids:                    "",
      categories_list:        [],
      segmentation_list:      [],
      // exportar excel
      json_data: [],
      json_fields: {
        "Región":             "region",
        "Comuna":             "commune",
        "Foto":               "picture_business",
        'Nombre':             "name_business",
        "Dirección":          "address",
        "Entregas":           "total_delivery",
        "Habilitaciones":     "total_activate",
        "Recargas":           "total_reload",
        "Tasa Hab(%)":        "tasa_hab",
        "stock 356":          "stock",
        "stock 374":          "stock374",
        "DOS":                "dos",
        "Última Visita":      "last_visit",
        "Capacitado":         "training_t",
        "Con Publicidad":     "publish_t",
        "Categoría":          "category",
        "Segmentación":       "segmentation_name",
      },
      nameFile: "",
      // totales
      total_delivery:         0,
      total_reload:           0,
      total_activate:         0,
      total_tasa:             0,
      // config
      url:                    "",
      token:                  "",
      regions: [
        {id: 1, region_name: "I de TarapacÃ¡" },
        {id: 2, region_name: "II de Antofagasta" },
        {id: 3, region_name: "III de Atacama" },
        {id: 4, region_name: "IV de Coquimbo" },
        {id: 5, region_name: "V de ValparaÃ­so" },
        {id: 6, region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, region_name: "VII del Maule" },
        {id: 8, region_name: "VIII del BÃ­o BÃ­o" },
        {id: 9, region_name: "IX RegiÃ³n de la Araucania" },
        {id: 10, region_name: "X RegiÃ³n de Los Lagos" },
        {id: 11, region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo" },
        {id: 12, region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena" },
        {id: 13, region_name: "Metropolitana de Santiago" },
        {id: 14, region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {id: 15, region_name: "XV de Arica y Parinacota" },
        {id: 16, region_name: "XVI RegiÃ³n de Ãuble" },
      ],
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      refresh_call:           true,
      perfil:                 0,
    };
  },
  mounted() {
    const today = new Date()
    this.getCategories()
    this.commune_name = this.replaceComuna(this.getCommuneName(this.$route.query.commune))
    this.region_name = this.replace(this.getRegionName(this.$route.query.commune))
  },
  computed: {
    dataTable: function() {
      if(this.search != "") {
        return this.subsidiaries
        .filter(dt => dt.name_business.toUpperCase().includes(this.search.toUpperCase()))
      } else return this.subsidiaries
    }
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "address":
        case "name_business":
        case "commune":
        case "region":
        case "last_visit":
          return this.subsidiaries.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "total_delivery":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.total_delivery - b.total_delivery;
            } else {
              return b.total_delivery - a.total_delivery;
            }
          });
          break;
        case "total_activate":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.total_activate - b.total_activate;
            } else {
              return b.total_activate - a.total_activate;
            }
          });
          break;
        case "total_sales":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.total_sales - b.total_sales;
            } else {
              return b.total_sales - a.total_sales;
            }
          });
          break;
        case "total_ported":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.total_ported - b.total_ported;
            } else {
              return b.total_ported - a.total_ported;
            }
          });
          break;
        case "total_reload":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.total_reload - b.total_reload;
            } else {
              return b.total_reload - a.total_reload;
            }
          });
          break;
        case "dos":
          return this.subsidiaries.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a.dos - b.dos;
            } else {
              return b.dos - a.dos;
            }
          });
          break;
      }
    },
    // obtener categorias
    getCategories(){
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
        if(this.$route.query.category != '') {
          this.category_name = this.$route.query.category
        }
        this.getSegmentation()
      }, 
      error => {
        this.swSelected = false;
        this.swSelectedSearch = false;
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getCategories();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.categories_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    // obtener segmentaciones
    getSegmentation(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
        this.getData(this.param_segmentation)
      }, 
      error => {
        this.swSelected = false;
        this.swSelectedSearch = false;
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getSegmentation();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    //reemplazar carácteres especiales
    replace(name){
      if(name != null){

      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
      } else {
        return 'Sin Información'
      }
    },
    replaceComuna(name){
      if(name != null){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ")
      return Comuna;
      } else {
        return 'Sin Información'
      }
    },
    //dar formato a fecha
    getTime(fecha) {
      if(fecha != undefined) {
        const substr = new Date(fecha)
        var options = {
          weekday: "short",
          year: "numeric",
          month: "short",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric"
        };
        const dia = substr.toLocaleString("es-ES", options);
        return dia.replace(".", "");
      } else {
        return "sin visitas"
      }
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1 ) ? this.communes[idx].name : null;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1) ? this.communes[idx].region_name : null;
    },    
    getRegionName2(val) {
      var idx = this.regions.findIndex(item => item.id == val);
      return (idx != -1) ? this.regions[idx].region_name : null;
    },  
    getData(param_segmentation){
      this.loading_table = true;
      switch(param_segmentation){
        case 1:
          this.segmentation_name = "Muy Buenos"
          this.nameFile = "Segmentación - Muy Buenos.xls"
          // this.getRegionSegmentationMap(1)
          this.getSubsidiaryData(1)
          break;
        case 2:
          this.segmentation_name = "Alta Habilitación | Baja Recarga"
          this.nameFile = "Segmentación - Alta Habilitación y Baja Recarga.xls"
          // this.getRegionSegmentationMap(3)
          this.getSubsidiaryData(3)
          break;
        case 3:
          this.segmentation_name = "Alta Recarga | Baja Habilitación"
          this.nameFile = "Segmentación - Alta Recarga y Baja Habilitación.xls"
          // this.getRegionSegmentationMap(2)
          this.getSubsidiaryData(2)
          break;
        case 4:
          this.segmentation_name = "Malo"
          this.nameFile = "Segmentación - Malo.xls"
          // this.getRegionSegmentationMap(4)
          this.getSubsidiaryData(4)
          break;
        case 5:
          this.segmentation_name = "Sin Habilitación"
          this.nameFile = "Segmentación - Sin Habilitación.xls"
          // this.getRegionSegmentationMap(5)
          this.getSubsidiaryData(5)
          break;
      }
    },
    async getSubsidiaryData(type){
      this.snack500 = false
      this.currentPage = 1;
      // datos sucursal
      var url = this.getUrlBase() + "/api/v1/reports/subsidiary-scoring-stockv5/?id_type=" + type +
      "&id_commune=" + this.$route.query.commune
      if(this.$route.query.category != '') {
        var id_category = await this.getCategoryID(this.$route.query.category)
        url += '&id_category=' + id_category
      }
      this.$http.get(url, this.getHeaders())
      .then( response => {
        let count = 0
        if(response.body.length == 0) {
          this.snack500 = true
          this.contentError = "No hay datos para mostrar."
          this.loading_table = false
        }
        response.body.forEach( (suc, index) => {
          count++
          suc.region = this.replace(this.getRegionName(suc.idcommune))
          suc.commune = this.replaceComuna(this.getCommuneName(suc.idcommune))
          suc.training_t = suc.training ? 'Si' : 'No'
          suc.publish_t = suc.publish ? 'Si' : 'No'
          suc.tasa_hab = (parseFloat(suc.tasa_hab)).toFixed(2)
          suc.last_visit = this.getTime(suc.last_visit[0])
          suc.position = { latitude: suc.latitude, longitude: suc.longitude}
          suc.category = (this.$route.query.category != '') ? this.$route.query.category : this.getCategoryName(suc.id_category)
          suc.segmentation_name = this.getSegmentationName(suc.segmentation_score)
          this.subsidiaries.push(suc)
          this.json_data.push(suc)
          //sumar totales
          this.total_delivery += suc.total_delivery;
          this.total_activate += suc.total_activate;
          this.total_reload += suc.total_reload;
          this.total_tasa += parseFloat(suc.tasa_hab);

          if(index == response.body.length-1) {
            this.total_tasa = this.total_tasa / count
          this.loading_table = false
          }
        })
      },
      error =>  {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getSubsidiaryData(type)
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError =
            "Error al obtener datos relacionados con: Tabla resumen puntos según segmentación";
        }
      })
    },
    async getCategoryID(category){
      let resp = await this.$http.get(this.getUrlBase() + "/api/v1/categories/?description=" + category, this.getHeaders())
      return resp.body[0].id
    },
    onSelect(item) {
      this.loading_chart = true
      this.showDialog = true
      this.current_pdv = item.name_business
      this.loadHabRecPDV(item)
      // this.loadPin(item);
    },
    async loadHabRecPDV(pdv) {
      try {
        const url = this.getUrlBase() + "/api/v1/reports/subsidiary-month-hab-reload/?id_subsidiary=" + pdv.id_subsidiary
        const response = await this.$http.get(url, this.getHeaders())
        const days = response.body[response.body.length-1].day
        let totalReload = [days]
        let totalHab = [days]
        let Alldays = [days]
        for (let k = 0; k < days; k++) { Alldays[k] = k + 1; }

        response.body.forEach(data => {
          totalReload[data.day - 1] = data.total_reload
          totalHab[data.day - 1] = data.total_hab
        })
        var canvas = document.getElementById("chartHabRecPDV").getContext("2d");
        canvas.translate(0.5, 0.5)
        this.buildChartPDV(canvas, Alldays, totalReload, totalHab)
      } catch (error) {
        this.loading_chart = false
        this.aerror = error.status
        if (this.aerror == 401) this.loadHabRecPDV(pdv)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos para Gráfico diario habilitaciones y recargas"
        }
      }
    },
    buildChartPDV(canvas, days, recs, habs) {
      new Chart(canvas, {
        type: "line",
        data: {
          labels: days,
          datasets: [
            {
              label: "Habilitaciones",
              type: "line",
              borderColor: "#004ca2",
              backgroundColor: "rgba(0,76,162,0.4)",
              data: habs,
              fill: false
            },
            {
              label: "Recargas",
              type: "line",
              borderColor: "#a20000",
              backgroundColor: "rgba(162, 0, 0, 0.4)",
              data: recs,
              fill: false
            }
          ]
        },
        options: {
          aspectRatio: 5,
          responsive: true,
          scales: {
            xAxes: [
              {
                stacked: false
              }
            ],
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  userCallback: function(label, index, labels) {
                    // when the floored value is the same as the value we have a whole number
                    if (Math.floor(label) === label) {
                        return label;
                    }
                  },
                },
                stacked: false
              }
            ]
          },
          title: {
            display: false,
            text: ""
          },
          legend: { display: true }
        }
      })
      this.loading_chart = false
    },
    loadPin(item) {
      this.markers = [];
      this.iconOptions = {};
      this.iconOptions = {
        url: "/static/img/marker_stock_info.png",
        size: { width: 45, height: 50, f: "px", b: "px" },
        scaledSize: { width: 45, height: 50, f: "px", b: "px" }
      };
      this.markers.push({
        position: {
          lat: item.position.latitude,
          lng: item.position.longitude
        },
        icon: this.iconOptions
      });
      this.getCenter();
    },
    getCenter() {
      this.center = this.markers[0].position;
    },
    // ---------------------------------------------------------------------------------------------
    //gráfico regional de chile con datos de: qpdv, hab y rec
    async getRegionSegmentationMap(type) {
      var data = await this.getRegionSegmentationData(type)
      // High detail map
      var mapchart = am4core.create(this.$refs.chartdivRegion, am4maps.MapChart)
      mapchart.geodata = window.am4geodata_chileHigh
      mapchart.projection = new am4maps.projections.Miller()
      var polygonSeries = mapchart.series.push(new am4maps.MapPolygonSeries())
      polygonSeries.useGeodata = true
      polygonSeries.mapPolygons.template.events.on("hit", function(ev) {
        mapchart.zoomToMapObject(ev.target)
      });
      // Configure series
      data.body.forEach(db => {
        db.id = db.region_id;
        db.value = (db.total_reload * 100) / db.total_hab
      })
      polygonSeries.heatRules.push({
        "property": "fill",
        "target": polygonSeries.mapPolygons.template,
        "min": am4core.color("#fdd835"),
        "max": am4core.color("#d32f2f")
      });
      polygonSeries.data =  data.body
      var polygonTemplate = polygonSeries.mapPolygons.template;
      polygonTemplate.propertyFields.fill = "fill";
      // Configure series
      polygonTemplate.tooltipHTML = `<center><strong>{name}</strong></center>
        <hr />
        <table>
        <tr>
          <th align="left">QPDV</th>
          <td>{total_pos}</td>
        </tr>
        <tr>
          <th align="left">Habilitaciones</th>
          <td>{total_hab}</td>
        </tr>
        <tr>
          <th align="left">Recargas</th>
          <td>{total_reload}</td>
        </tr>
        </table>
        <hr />`;

      // Create hover state and set alternative fill color
      let shadow = polygonSeries.mapPolygons.template.filters.push(new am4core.DropShadowFilter);
      shadow.opacity = 0.1;
      var hs = polygonTemplate.states.create("hover");
      hs.properties.fill = am4core.color("#bdbdbd");
      hs.properties.dx = -1;
      hs.properties.dy = -1;

      /* Slightly shift the shadow and make it more prominent on hover */
      let hoverShadow = hs.filters.push(new am4core.DropShadowFilter);
      hoverShadow.dx = 2;
      hoverShadow.dy = 2;
      hoverShadow.opacity = 0.3;

      // Bind "fill" property to "fill" key in data
      polygonTemplate.propertyFields.fill = "fill";
      
      let heatLegend = mapchart.createChild(am4maps.HeatLegend);
      heatLegend.series = polygonSeries;
      heatLegend.height = am4core.percent(1200);
      heatLegend.markerCount = 25;
      heatLegend.valueAxis.renderer.labels.template.color = am4core.color('#ffffff');
      heatLegend.valueAxis.renderer.labels.template.fontSize = 12;
      heatLegend.valueAxis.renderer.minGridDistance = 30;
      heatLegend.orientation = "vertical";
      // hover shadow translate effect
      polygonSeries.mapPolygons.template.events.on("over", function(ev) {
        if (!isNaN(ev.target.dataItem.value)) {
          heatLegend.valueAxis.showTooltipAt(ev.target.dataItem.value)
        }
        else {
          heatLegend.valueAxis.hideTooltip();
        }
      });
      polygonSeries.mapPolygons.template.events.on("out", function(ev) {
        heatLegend.valueAxis.hideTooltip();
      });
      // animation transition
      polygonSeries.hoverState.transitionDuration = 5000;
      polygonSeries.hoverState.transitionEase = am4core.ease.bounceIn
      mapchart.sequencedInterpolation = true
    },
    async getRegionSegmentationData(type) {
      var url = this.getUrlBase() + "/api/v1/reports/region-data/?id_type=" + type
      if(this.$route.query.category != '') {
        var id_category = await this.getCategoryID(this.$route.query.category)
        url += '&id_category=' + id_category
      }
      return this.$http.get(url, this.getHeaders())
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    backToCommuneSegmentation() {
      switch(this.param_segmentation){
        case 1:
          this.$router.push({name: "ReportSegmentationCommune", query: { type: 1, category: this.category_name, region: this.$route.query.region } });
          break;
        case 2:
          this.$router.push({name: "ReportSegmentationCommune", query: { type: 2, category: this.category_name, region: this.$route.query.region } });
          break;
        case 3:
          this.$router.push({name: "ReportSegmentationCommune", query: { type: 3, category: this.category_name, region: this.$route.query.region } });
          break;
        case 4:
          this.$router.push({name: "ReportSegmentationCommune", query: { type: 4, category: this.category_name, region: this.$route.query.region } });
          break;
        case 5:
          this.$router.push({name: "ReportSegmentationCommune", query: { type: 5, category: this.category_name, region: this.$route.query.region } });
          break;
      }
    },    
  },
  created() {
    if (this.$route.query.type != null) {
      this.param_segmentation = this.$route.query.type;
      this.perfil = this.$localStorage.get("ThePerfil")
    } else {
      this.$router.push({ name: "Home" });
    }
  }
};
</script>
<style>
.toolbar-primary{
  background-color: #3b7fff !important;
}
#segmentationReport{
  padding: 2% 2% 0 2%;
}
#segmentationReport > div > div > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#segmentationReport > div > div > div > table > thead > tr > th > div > div{
  color: beige !important;  
}
/* heading */
#segmentationReport > div.md-card.md-table.md-layout-item.md-size-100.md-theme-default > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > thead > tr > th {
  width: 12.5vw !important;
}
/* body */
#segmentationReport > div.md-card.md-table.md-layout-item.md-size-100.md-theme-default > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
  width: 12.5vw;
}
/* Total */
.table-row-total2 {
  width: 100%;
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total2 > td > div {
  font-size: 16px;
}
.table-row-total2 > td {
  width: 12.5vw !important;
}
/* paginado */
#pagging {
  align-items: left;
  padding-top: 15px;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}
/* end Total */
.modal-map {
  width: 100%;
  max-height: 65vh !important;
  height: 65vh;
  background-color: #448aff !important;
  color: #ffffff !important;
}
/* end Total */
.modal-graph-daily {
  width: 90vw;
  max-width: 90vw;
  max-height: auto !important;
  height: auto;
  background-color: #ffffffda !important;
  color: #ffffff !important;
}
/* grafico mapa */
.map-chart-region {
  width: 100%;
  height: 65vh;
}
.map-chart-commune {
  width: 45%;
  height: 98vh;
}
.div-chart-map {
  display: inline-flex;
  background-color: #ffffff7e !important;
  box-shadow: none !important;
  width: 100vw !important;
  max-width: 100vw !important; 
}
.card-chart-map {
  height: 65vh;
}
.map-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
}
#chartHabRecPDV {
  width: 90vw !important;
  height: 50vh !important;
}
</style>


