<template>
  <div id="reportSegmentation030Cont">
<!-- TÍTULO | GRÁFICOS | TABLAS RESUMENES -->
    <md-card style="background-color: white !important;" ref="resumen_card">
      <md-card-header style="background-color: #3b7fff !important;">
        <md-avatar>
          <md-icon class="white">trending_up</md-icon>
        </md-avatar>
        <div class="md-headline white">Reporte de Segmentación 0 - 30</div>
        <div class="md-title white" v-if="segmentation_name != ''">Segmentación: {{ segmentation_name }}</div>
      </md-card-header>
      <md-divider style="height: 2px;"></md-divider>
      <md-card-expand>
        <md-card-actions md-alignment="space-between" style="background-color: #3b7fff !important;">
          <div class="md-subheading white">Resumen</div>
          <md-button v-if="data_table.length > 0" class="md-icon-button">
            <download-excel :data="json_data" :fields="json_fields" :name="file_name">
              <md-icon style="cursor: pointer;" class="md-size-2 white">archive</md-icon>
            </download-excel>
          </md-button>
          <md-card-expand-trigger>
            <md-button class="md-icon-button">
              <md-icon class="white">keyboard_arrow_down</md-icon>
            </md-button>
          </md-card-expand-trigger>
        </md-card-actions>
        <md-card-expand-content>
          <div>
          <!-- GRAFICO SEGMENTACIÓN PDV - MES ANTERIOR -->
            <div class="md-layout md-alignment-center-top md-size-100 flexed">
              <md-card class="md-layout-item md-medium-size-45 md-small-size-100 my-3">
                <md-card-header style="background-color: #3b7fff !important;">
                  <md-avatar>
                    <md-icon class="white">store</md-icon>
                  </md-avatar>
                  <div class="md-title white">Puntos de Venta</div>
                  <div>
                    <span class="md-subhead white"> Segmentación - {{ currentMonth }} {{current_filter_segmentation != '' ? '- ' + current_filter_segmentation : '' }}</span>
                    <md-icon v-if="current_filter_segmentation != ''" @click.native="resetDataSegmentation" style="font-size: 16px !important; position: relative; top: -1px;" class="pointer close-icon">close</md-icon>
                  </div>
                  <!-- <div class="chile-button pointer" @click="getRegionSegmentationMap"><img src="/static/css/static/img/chile-country.png" width="50"></div> -->
                </md-card-header>
                <md-card-content>
                  <div v-if="loading_d" class="overlay"></div>
                  <div v-if="loading_d">
                    <md-progress-bar style="width: 95% !important; position: relative; top:0px; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
                  </div>
                  <canvas id="doughnutSubsidiary"></canvas>
                </md-card-content>
              </md-card>
          <!-- TABLA SEGMENTACIÓN PDV -->
              <md-card class="md-layout-item md-medium-size-45 md-small-size-100 my-3">
                <md-card-header style="background-color: #3b7fff !important;">
                  <md-avatar>
                    <md-icon class="white">store</md-icon>
                  </md-avatar>
                  <div class="md-title white">Gestión de la Segmentación</div> <!--@click="toReportActivate"-->
                  <div>
                    <span class="md-subhead white"> {{ currentMonth }} {{current_filter_segmentation != '' ? '- ' + current_filter_segmentation : '' }}</span>
                    <md-icon v-if="current_filter_segmentation != ''" @click.native="resetDataSegmentation" style="font-size: 16px !important; position: relative; top: -1px;" class="pointer close-icon">close</md-icon>
                  </div>
                </md-card-header>
                <md-card-content>
                  <div v-if="loading_ts" class="overlay"></div>
                  <div v-if="loading_ts">
                    <md-progress-bar style="width: 100% !important; position: relative; z-index:20 !important; top:0;" md-mode="indeterminate"></md-progress-bar>
                  </div>
                  <md-table v-model="table_segmentation">
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Segmentación" style="text-align: left;">{{ item.title }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Hab(%)" md-numeric>{{ item.tasa_hab != '-' ? item.tasa_hab : item.tasa_hab }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Rec(%)" md-numeric>{{ item.tasa_rec }}</md-table-cell>
                    </md-table-row>
                  </md-table>
                </md-card-content>
              </md-card>
            </div>
          <!-- TABLA CATEGORÍA DE PDV -->
            <div class="md-layout md-alignment-center-top md-size-100">
              <md-card class="md-layout-item md-medium-size-45 md-small-size-100 my-3" style="width: -webkit-fill-available;">
                <md-card-header style="background-color: #3b7fff !important;">
                  <md-avatar>
                    <md-icon class="white">store</md-icon>
                  </md-avatar>
                  <div class="md-title white">Resumen Categorízación de Puntos de Venta</div>
                  <div class="md-subhead">&nbsp;</div>
                </md-card-header>
                <md-card-content style="width: 100%; padding: 0 !important;">
                  <div v-if="loading_tc" class="overlay"></div>
                  <div v-if="loading_tc">
                    <md-progress-bar style="width: 100% !important; position: relative; z-index:20 !important; top:0;" md-mode="indeterminate"></md-progress-bar>
                  </div>
                  <md-table v-model="resumen_categorization" style="width: 100%; height: 330px !important;" md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Categoría" style="text-align: left;">{{ item.category }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="QPDV" md-numeric>{{ item.total_pos }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Mix (%)" md-numeric>{{ parseFloat(item.mix).toFixed(2) }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Hab (%)" md-numeric>{{ parseFloat(item.tasa_hab).toFixed(2) }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Rec (%)" md-numeric>{{ parseFloat(item.tasa_rec).toFixed(2) }}</md-table-cell>
                    </md-table-row>
                  </md-table>
                </md-card-content>
              </md-card>
          <!-- TABLA SEGMENTACIÓN POR CATEGORÍA DE PDV - FILTRO CATEGORÍA -->
              <md-card class="md-layout-item md-medium-size-45 md-small-size-100 my-3" style="width: -webkit-fill-available;">
                <md-card-header style="background-color: #3b7fff !important; position: relative;">
                  <md-avatar>
                    <md-icon class="white">store</md-icon>
                  </md-avatar>
                  <div class="md-title white">Resumen de Categorías Segmentadas</div>
                  <div class="md-subhead">&nbsp;</div>
                  <div class="md-subhead select-absolute-right">
                    <md-field class="md-field-select-2">
                      <label>Categoría</label>
                      <md-select class="md-select-xs" v-model="selected_category">
                        <md-option v-for="(cat, index) in category_list" :value="cat.id" :key="index">{{cat.description}}</md-option>
                      </md-select>
                    </md-field>
                  </div>
                </md-card-header>
                <md-card-content style="width: 100%; padding: 0 !important;">
                  <div v-if="loading_tcs" class="overlay"></div>
                  <div v-if="loading_tcs">
                    <md-progress-bar style="width: 100% !important; position: relative; z-index:20 !important; top:0;" md-mode="indeterminate"></md-progress-bar>
                  </div>
                  <md-table v-model="resumen_cat_seg_filter" style="width: 100%; height: 330px !important;" md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell md-label="Categoría" style="text-align: left;">{{ item.category }}</md-table-cell>
                    <md-table-cell md-label="Segmentación" style="text-align: left;">{{ item.segmentation }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Mix (%)" md-numeric>{{ parseFloat(item.tasa_own).toFixed(2) }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Hab (%)" md-numeric>{{ item.tasa_hab != '-' ? parseFloat(item.tasa_hab).toFixed(2) : item.tasa_hab }}</md-table-cell>
                    <md-table-cell style="font-size: 18px; color: #ff9f50 !important; font-weight: bold;" md-label="Tasa Rec (%)" md-numeric>{{ parseFloat(item.tasa_rec).toFixed(2) }}</md-table-cell>
                    </md-table-row>
                    <template slot="expand">
                      
                    </template>
                  </md-table>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </md-card-expand-content>
      </md-card-expand>
      <md-divider></md-divider>
<!-- TABLA REGION/COMUNA -->
      <md-table id="location-table" class="md-layout-item md-size-100" :value="resumenTable" :md-sort.sync="currentSort"
       :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 1 || sw_table == 2" md-fixed-header @md-selected="onSelectRow">
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button v-if="sw_table == 2" class="md-raised md-primary md-layout-item" @click="getDataBySegmentation(selected_segmentation)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location">{{ sw_table == 1 ? item.region : item.commune }}</md-table-cell>
          <md-table-cell md-label="QPDV" md-sort-by="total_pos" md-numeric>{{ item.total_pos }}</md-table-cell>
          <md-table-cell md-label="Habilitaciones" md-sort-by="total_hab" md-numeric>{{ item.total_hab }}</md-table-cell>
          <md-table-cell md-label="Recargas" md-sort-by="total_reload" md-numeric>{{ item.total_reload }}</md-table-cell>
          <md-table-cell md-label="Tasa Recargas/Habilitaciones" md-sort-by="porc" md-numeric>{{ (item.porc).toFixed(2) }} %</md-table-cell>
        </md-table-row>
        <!-- totales -->
      </md-table>
      <md-table :value="[0]" v-if="data_table.length != 0">
        <md-table-row class="table-row-total3" slot="md-table-row">
          <md-table-cell style="text-align: left;" >Total</md-table-cell>
          <md-table-cell  md-numeric>{{total_pos}}</md-table-cell>
          <md-table-cell  md-numeric>{{ total_hab }}</md-table-cell>
          <md-table-cell  md-numeric>{{ total_reload }}</md-table-cell>
          <md-table-cell  md-numeric>{{ total_porc }} %</md-table-cell>
        </md-table-row>
      </md-table>
<!-- TABLA PDVs -->
      <md-table id="pdv-table" class="md-layout-item md-size-100" :value="resumenTable" :md-sort.sync="currentSort"
       :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 3" md-fixed-header>
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button class="md-raised md-primary md-layout-item" @click="getDataByRegion(selected_region)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="Sucursal" md-sort-by="name_business" style="padding-bottom:20px;">
            <div class="div-pdv">
              <md-avatar class="md-large">
                <img :src="item.picture_business">
              </md-avatar>
              <!-- segmentation -->
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
              <!-- name -->
              <span>{{item.name_business}}</span>
              <!-- address -->
              <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
              <!-- category -->
              <span>{{item.category}}</span>        
            </div>
            <!-- badge -->
            <div style="display: inline-flex">
              <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
              <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
              <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
              <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
            </div> 
          </md-table-cell>
          <md-table-cell md-label="Entregas" md-sort-by="total_delivery" md-numeric>{{ item.total_delivery }}</md-table-cell>
          <md-table-cell md-label="Hab" md-sort-by="total_activate" md-numeric>{{ item.total_activate }}</md-table-cell>
          <md-table-cell md-label="Recargas" md-sort-by="total_reload" md-numeric>{{ item.total_reload }}</md-table-cell>
          <md-table-cell md-label="Tasa Hab(%)" md-sort-by="tasa_hab" md-numeric>{{ item.tasa_hab }}%</md-table-cell>
          <md-table-cell md-label="DOS" md-sort-by="dos" md-numeric>{{ parseFloat(item.dos).toFixed(2) }}</md-table-cell>
          <md-table-cell md-label="Última Visita" md-sort-by="last_visit">{{ item.last_visit }}</md-table-cell>
        </md-table-row>
        <!-- totales -->
        <md-table-row v-if="data_table.length != 0" class="table-row-total2" slot="md-table-row">
          <md-table-cell md-label="Sucursal" md-sort-by="name_business">Total</md-table-cell>
          <md-table-cell md-label="Entregas" md-sort-by="total_reload" md-numeric>{{total_delivery}}</md-table-cell>
          <md-table-cell md-label="Hab" md-sort-by="total_activate" md-numeric>{{total_activate}}</md-table-cell>
          <md-table-cell md-label="Recargas" md-sort-by="total_reload" md-numeric>{{total_reload}}</md-table-cell>
          <md-table-cell md-label="Tasa Hab(%)" md-sort-by="tasa_hab" md-numeric>{{total_tasa.toFixed(2)}}%</md-table-cell>
          <md-table-cell md-label="DOS" md-sort-by="dos" md-numeric></md-table-cell>
          <md-table-cell md-label="Última Visita" md-sort-by="last_visit"></md-table-cell>
        </md-table-row>
      </md-table>
<!-- PÁGINADO -->
      <!-- <div id="pagging" v-if="data_table.length > 16">
        <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
          <md-icon class="pagging-icon-ten">first_page</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="prevPage">
          <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
        </md-button>
        <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
        <md-button class="pagging-btn md-icon-button" @click="nextPage(data_table)">
          <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
        </md-button>
        <md-button class="pagging-btn md-icon-button" @click="nextTenPage(data_table)">
          <md-icon class="pagging-icon">last_page</md-icon>
        </md-button>
      </div>  -->

    </md-card>
  </div>
</template>
<script>
export default {
  name: "reportSegmentation030",
  data() {
    return {
      selected_region:            -1,
      search:                     "",
      // expand
      expand:                     true,
      // preload
      loading_d:                  true,
      loading_ts:                 true,
      loading_tc:                 true,
      loading_tcs:                true,
      // grafico dona
      segmentation_grl:           {},
      current_filter_segmentation:'',
      // tabla resumen segmentacion
      table_segmentation:         [],
      // tabla resumen categorización
      resumen_categorization:     [],
      // tabla resumen categorización segmentada
      resumen_cat_seg:            [],
      // selection
      selected_category:          1,
      selected_segmentation:      -1,
      segmentation_name:          '',
      segmentation_list:          [],
      category_list:              [],
      region_list:                [],
      // alerts
      snack500:                   false,
      snackOauth:                 false,
      aerror:                     false,
      contentError:               "",
      // pagging
      pageSize:                   15,
      currentPage:                1,
      maxPage:                    0,
      // sort
      currentSort:                "name_business",
      currentSortOrder:           "asc",
      // table
      sw_table:                   0,
      empty_table:                false,
      loading_table:              false,
      data_table:                 [],
      // totales
      total_pos:                  0,
      total_hab:                  0,
      total_reload:               0,
      total_porc:                 0,
      total_delivery:             0,
      total_activate:             0,
      total_reload:               0,
      total_tasa :                0,
      // export excel
      json_data:                  [],
      file_name:                  "",
      json_fields:                {},
      // models
      category_list:            [],
      regions: [
        {id: 1, region_name: "I de TarapacÃ¡" },
        {id: 2, region_name: "II de Antofagasta" },
        {id: 3, region_name: "III de Atacama" },
        {id: 4, region_name: "IV de Coquimbo" },
        {id: 5, region_name: "V de ValparaÃ­so" },
        {id: 6, region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, region_name: "VII del Maule" },
        {id: 8, region_name: "VIII del BÃ­o BÃ­o" },
        {id: 9, region_name: "IX RegiÃ³n de la Araucania" },
        {id: 10, region_name: "X RegiÃ³n de Los Lagos" },
        {id: 11, region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo" },
        {id: 12, region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena" },
        {id: 13, region_name: "Metropolitana de Santiago" },
        {id: 14, region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {id: 15, region_name: "XV de Arica y Parinacota" },
        {id: 16, region_name: "XVI RegiÃ³n de Ãuble" },
      ],
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      // config
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      currentMonth:               '',
      refresh_call:               true,
      perfil:                     0
    }
  },
  created(){
    this.perfil = this.$localStorage.get("ThePerfil")
  },
  mounted(){
    let today = new Date()
    this.currentMonth = this.months[(today.getMonth())]
    this.getCategories()
    this.$refs.resumen_card.MdCard.expand = true
  },
  computed: {
    resumenTable: function() {
        if(this.search != "") {
          let name = ""
          if(this.sw_table == 1) name = "region"
          else if(this.sw_table == 2) name = "commune"
          else if(this.sw_table == 3) name = "name_business"
          this.currentPage = 1;
          return this.data_table
          .filter(dt => dt[name].toUpperCase().includes(this.search.toUpperCase()))
          // .filter((row, index) => {
          //   let start = (this.currentPage - 1) * this.pageSize;
          //   let end = this.currentPage * this.pageSize;
          //   if (index >= start && index < end) return true;
          // });
        } else return this.data_table
        // .filter((row, index) => {
        //     let start = (this.currentPage - 1) * this.pageSize;
        //     let end = this.currentPage * this.pageSize;
        //     if (index >= start && index < end) return true;
        //   });
    },
    resumen_cat_seg_filter() {
      if(this.resumen_cat_seg.length != 0) {
        return this.resumen_cat_seg.filter(rcs => rcs.id == this.selected_category)
      } else return []
    }
  },
  methods: {
    // listar datos
    getCategories() {
      this.category_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.category_list = response.body
        this.getSegmentationScore()
      }, 
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getCategories() 
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de categorías"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.category_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getSegmentationScore(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
        this.getRegions()
      }, 
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.getSegmentationScore()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de segmentaciones."
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getRegions() {
      this.$http.get(this.getUrlBase() + "/api/v1/regions/", this.getHeaders())
      .then( response => {
        for (let reg of response.body) {
          reg.name = this.replace(reg.name)
          this.region_list.push(reg)
        }
        this.getDoughnutSegmentation()
      },
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getRegions()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: listado de regiones";
        }
      })
    },
    //----------------------------------------------------------------------------------------------
    // obtener datos de gráfico DONA segmentación
    getDoughnutSegmentation(){
      this.loading_d = true;
      this.$http.get(this.getUrlBase() + "/api/v1/reports/segmentation-current-month/", this.getHeaders()).then( response => {
        var data = {};  
        response.body.forEach( el => {
          this.segmentation_grl.regularRec = el.Regular_Alta_recarga;
          this.segmentation_grl.regularHab = el.Regular_Alta_Hab;
          this.segmentation_grl.Malo = el.Malo;
          this.segmentation_grl.MuyBueno = el.Muy_Buenos;
          this.segmentation_grl.SinHab = el.Sin_hab;
        })
        new Chart(document.getElementById("doughnutSubsidiary"), {
          type: "doughnut",
          data: {
            labels: [
              "Muy Buenos",
              "Alta Habilitación | Baja Recarga",
              "Alta Recarga | Baja Habilitación",
              "Malo",
              "Sin Habilitación"
            ],  
            datasets: [
            {
              backgroundColor: [
                "rgba(214, 63, 18, 0.7)",
                'rgba(0, 137, 123,0.7)',
                'rgba(53, 40, 129, 0.7)',
                'rgba(189, 210, 20, 0.7)',
                'rgba(100, 120, 200, 0.7)',
                'rgba(250, 100, 90, 0.7)',
              ],
              // data: [] 
              data: [this.segmentation_grl.MuyBueno, this.segmentation_grl.regularHab, this.segmentation_grl.regularRec, this.segmentation_grl.Malo, this.segmentation_grl.SinHab] 
            }]
          },
          options: {
            hover: {
                onHover: function(e) {
                  var point = this.getElementAtEvent(e);
                  if (point.length) e.target.style.cursor = 'pointer';
                  else e.target.style.cursor = 'default';
                }
            },
            onClick: (evt, item) => {
              if(item.length != 0){
                var segmentation = item[0]["_model"].label;
                // this.getDataBySegmentation(segmentation, this.current_filter_segmentation)
                this.toRegionTable(segmentation)
              }
            },
            plugins: {
              labels: {
                showZero: false,
                fontSize: 12,
                fontColor: '#fff',
                fontStyle: 'bold',
                textShadow: true,
                shadowBlur: 10,
                shadowOffsetX: -5,
                shadowOffsetY: 5,
                position: 'border',
                overlap: true,
                textMargin: 12
              }
            },
            responsive: true,
          }
        });
        this.loading_d = false;
        this.loadTableSegmentation(-1);
      },
      error => {
        this.loading_d = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDoughnutSegmentation()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos Gráfico Segmentación PDV";
        }
      })
    },
    // obtener datos tabla segmentación
    loadTableSegmentation(category){
      this.loading_ts = true
      var url = this.getUrlBase() + "/api/v1/reports/segmentation-current-month-scoring/"
      if(category != -1) url +=  '?id_category=' + category

      this.$http.get(url, this.getHeaders()).then( response => {
        this.table_segmentation = [{},{},{},{},{}];
        var data = response.body[0];
        this.table_segmentation[0].title = 'Muy buenos'
        this.table_segmentation[0].tasa_hab = (parseFloat(data.habilitaciones_muy_bueno)).toFixed(2)
        this.table_segmentation[0].tasa_rec = (parseFloat(data.recargas_muy_bueno)).toFixed(2)
        this.table_segmentation[1].title = 'Alta Hab | Baja Rec'
        this.table_segmentation[1].tasa_hab = (parseFloat(data.habilitaciones_regular_alta_hab)).toFixed(2)
        this.table_segmentation[1].tasa_rec = (parseFloat(data.recargas_regular_alta_hab)).toFixed(2)
        this.table_segmentation[2].title = 'Alta Rec | Baja Hab'
        this.table_segmentation[2].tasa_hab = (parseFloat(data.habilitaciones_regular_alta_recarga)).toFixed(2)
        this.table_segmentation[2].tasa_rec = (parseFloat(data.recargas_regular_alta_recarga)).toFixed(2)
        this.table_segmentation[3].title = 'Malo'
        this.table_segmentation[3].tasa_hab = (parseFloat(data.habilitaciones_malo)).toFixed(2)
        this.table_segmentation[3].tasa_rec = (parseFloat(data.recargas_malo)).toFixed(2)
        this.table_segmentation[4].title = 'Sin Habilitación'
        this.table_segmentation[4].tasa_hab = '-'
        this.table_segmentation[4].tasa_rec = (parseFloat(data.recargas_sin_hab)).toFixed(2)
        this.loading_ts = false
        this.getCategoryTableData()
      }, 
      error =>{
        this.loading_ts = false
        this.aerror = error.status
        if (this.aerror == 401) this.loadTableSegmentation(category)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Tabla Segmentación de puntos de venta"
        }
      })
    },
    async getCategoryTableData(){
      this.resumen_categorization = []
      this.resumen_cat_seg = []
      let response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-resume-category-current-month/", this.getHeaders())
        for(let [index, cat] of response.body.entries()) {
          this.resumen_categorization.push({
            category: cat.category,
            total_pos: cat.qpdv,
            mix: cat.mix,
            tasa_hab: parseFloat(cat.habilitaciones_muy_bueno) + parseFloat(cat.habilitaciones_regular_alta_hab) + parseFloat(cat.habilitaciones_regular_alta_recarga) + parseFloat(cat.habilitaciones_malo),
            tasa_rec: parseFloat(cat.recargas_muy_bueno) + parseFloat(cat.recargas_regular_alta_hab) + parseFloat(cat.recargas_regular_alta_recarga) + parseFloat(cat.recargas_malo) + parseFloat(cat.recargas_sin_hab),
          })
          let id = this.category_list.filter(cl => cl.description == cat.category)[0].id
          let tasa_own_1 = await this.getCategorySegmentPercentInTotal(cat.category, 1)
          this.resumen_cat_seg.push({
            id: id,
            category: cat.category,
            tasa_own: tasa_own_1,
            segmentation: "Muy Buenos",
            tasa_hab: parseFloat(cat.habilitaciones_muy_bueno),
            tasa_rec: parseFloat(cat.recargas_muy_bueno)
          })
          let tasa_own_2 = await this.getCategorySegmentPercentInTotal(cat.category, 2)
          this.resumen_cat_seg.push({
            id: id,
            category: cat.category,
            tasa_own: tasa_own_2,
            segmentation: "Alta Hab | Baja Rec",
            tasa_hab: parseFloat(cat.habilitaciones_regular_alta_hab),
            tasa_rec: parseFloat(cat.recargas_regular_alta_hab)
          })
          let tasa_own_3 = await this.getCategorySegmentPercentInTotal(cat.category, 3)
          this.resumen_cat_seg.push({
            id: id,
            category: cat.category,
            tasa_own: tasa_own_3,
            segmentation: "Alta Rec | Baja Hab",
            tasa_hab: parseFloat(cat.habilitaciones_regular_alta_recarga),
            tasa_rec: parseFloat(cat.recargas_regular_alta_recarga)
          })
          let tasa_own_4 = await this.getCategorySegmentPercentInTotal(cat.category, 4)
          this.resumen_cat_seg.push({
            id: id,
            category: cat.category,
            tasa_own: tasa_own_4,
            segmentation: "Malo",
            tasa_hab: parseFloat(cat.habilitaciones_malo),
            tasa_rec: parseFloat(cat.recargas_malo)
          })
          let tasa_own_5 = await this.getCategorySegmentPercentInTotal(cat.category, 5)
          this.resumen_cat_seg.push({
            id: id,
            category: cat.category,
            tasa_own: tasa_own_5,
            segmentation: "Sin Habilitación",
            tasa_hab: "-",
            tasa_rec: parseFloat(cat.recargas_sin_hab)
          })
          if(index == response.body.length - 1) {
            this.resumen_categorization.sort((a, b) => {
              return a.category.localeCompare(b.category)
            })
            this.resumen_cat_seg.sort((a, b) => {
              return a.category.localeCompare(b.category)
            })
            this.loading_tc = false
          }
        }
        this.loading_tcs = false
    },
    async getCategorySegmentPercentInTotal(category, seg) {
      let category_id = this.category_list.filter(cl => cl.description == category)[0].id
      var url = this.getUrlBase() + "/api/v1/reports/segmentation-current-month/?id_category=" + category_id
      let response = await this.$http.get(url, this.getHeaders())
      let total = response.body[0].Malo + response.body[0].Muy_Bueno + response.body[0].Regular_Alta_Ha + response.body[0].Regular_Alta_recarga + response.body[0].Sin_hab
      switch(seg) {
        case 1:
          return response.body[0].Muy_Buenos != 0 ?(response.body[0].Muy_Buenos * 100) / this.segmentation_grl.MuyBueno : 0
          break;
        case 2:
          return response.body[0].Regular_Alta_recarga != 0 ? (response.body[0].Regular_Alta_recarga * 100) / this.segmentation_grl.regularRec : 0
          break;
        case 3:
          return response.body[0].Regular_Alta_Hab != 0 ? (response.body[0].Regular_Alta_Hab * 100) / this.segmentation_grl.regularHab : 0
          break;
        case 4:
          return response.body[0].Malo != 0 ? (response.body[0].Malo * 100) / this.segmentation_grl.Malo : 0
          break;
        case 5:
          return (response.body[0].Sin_hab * 100) / this.segmentation_grl.SinHab 
          break;
      }
    },
    // ---------------------------------------------------------------------------------------------
    toRegionTable(segmentation){
      this.$refs.resumen_card.MdCard.expand = false
      this.segmentation_name = segmentation
      this.expand = false
      switch(segmentation){
        case "Muy Buenos":
          this.selected_segmentation = 1
          this.getDataBySegmentation(1)
          break;
        case "Alta Habilitación | Baja Recarga":
          this.selected_segmentation = 3
          this.getDataBySegmentation(3)
          break;
        case "Alta Recarga | Baja Habilitación":
          this.selected_segmentation = 2
          this.getDataBySegmentation(2)
          break;
        case "Malo":
          this.selected_segmentation = 4
          this.getDataBySegmentation(4)
          break;
        case "Sin Habilitación":
          this.selected_segmentation = 5
          this.getDataBySegmentation(5)
          break;
      }
    },
    // obtener datos por región al seleccionar la segmentación
    getDataBySegmentation(val) {
      this.total_pos = 0
      this.total_hab = 0
      this.total_reload = 0
      this.total_porc = 0
      this.loading_table = true
      this.configTable(1)
      this.$http.get(this.getUrlBase() + '/api/v1/reports/region-data030v2/?id_type=' + val, 
      this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        let count = 0
        response.body.forEach( (suc, index) => {
          ++count
          suc.region = this.replace(this.getRegionName(suc.region_id))
          suc.porc = suc.total_hab != 0 ? parseFloat( (suc.total_reload * 100) / suc.total_hab ) : 0
          this.data_table.push(suc)
          this.json_data.push(suc)
          this.total_pos += suc.total_pos
          this.total_hab += suc.total_hab
          this.total_reload += suc.total_reload
          this.total_porc += parseFloat(suc.porc)

          if(index == response.body.length-1) {
            this.getLastPage(this.data_table)
            this.total_porc = (this.total_porc / count).toFixed(2)
            this.loading_table = false
          }
        })
        this.loading_table = false
      },
      error =>  {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataBySegmentation(val)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      })
    },
    // obtener datos por región al seleccionar una región
    getDataByRegion(id) {
      this.total_pos = 0
      this.total_hab = 0
      this.total_reload = 0
      this.total_porc = 0
      this.loading_table = true
      this.configTable(2)
      this.$http.get(this.getUrlBase() + '/api/v1/reports/commune-data030v2/?id_type=' + this.selected_segmentation + 
      "&id_region=" + id, this.getHeaders())
      .then( response => {
        response.body = response.body.sort((a,b) => a.commune.localeCompare(b.commune))
        this.data_table = []
        this.json_data = []
        let count = 0
        response.body.forEach( (suc, index) => {
          count++
          suc.commune = this.replaceComuna(suc.commune)
          suc.region = this.replace(this.getRegionName2(suc.id_commune))
          suc.porc = suc.total_hab != 0 ? parseFloat( (suc.total_reload * 100) / suc.total_hab ) : 0
          this.data_table.push(suc)
          this.json_data.push(suc)
          this.total_pos += suc.total_pos
          this.total_hab += suc.total_hab
          this.total_reload += suc.total_reload
          this.total_porc +=  parseFloat(suc.porc)

          if(index == response.body.length-1) {
            this.getLastPage(this.data_table)
            this.total_porc = (this.total_porc / count).toFixed(2)
            this.loading_table = false;
          }
        })
      },
      error =>  {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataByRegion(id)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      })
    },
    onSelectRow(item) {
      if(item != undefined) {
        this.search = ""
        if(this.sw_table == 1) {
          this.selected_region = item.region_id
          this.getDataByRegion(item.region_id)
        } else if(this.sw_table == 2) {
          if(this.perfil != 2 && this.perfil != 5) this.getDataByCommune(item.id_commune)
        }
      }
    },
    // obtener datos por comuna al seleccionar una región
    async getDataByCommune(id){
      this.total_delivery = 0
      this.total_activate = 0
      this.total_reload = 0
      this.total_tasa = 0
      this.loading_table = true
      this.snack500 = false
      this.configTable(3)
      this.currentPage = 1;
      // datos sucursal
      var url = this.getUrlBase() + "/api/v1/reports/subsidiary-scoring-stock-030/?id_type=" + this.selected_segmentation +
      "&id_commune=" + id
      this.$http.get(url, this.getHeaders())
      .then( response => {
        let count = 0
        this.data_table = []
        this.json_data = []
        if(response.body.length == 0) {
          this.snack500 = true
          this.contentError = "No hay datos para mostrar."
          this.loading_table = false
        }
        response.body.forEach( (suc, index) => {
          count++
          suc.region = this.replace(this.getRegionName2(suc.idcommune))
          suc.commune = this.replaceComuna(this.getCommuneName(suc.idcommune))
          suc.training_t = suc.training ? 'Si' : 'No'
          suc.publish_t = suc.publish ? 'Si' : 'No'
          suc.tasa_hab = (parseFloat(suc.tasa_hab)).toFixed(2)
          suc.last_visit = this.getTime(suc.last_visit[0])
          suc.position = { latitude: suc.latitude, longitude: suc.longitude}
          suc.category = this.getCategoryName(suc.id_category)
          suc.segmentation_name = this.getSegmentationName(suc.segmentation_score)
          this.data_table.push(suc)
          this.json_data.push(suc)
          //sumar totales
          this.total_delivery += suc.total_delivery;
          this.total_activate += suc.total_activate;
          this.total_reload += suc.total_reload;
          this.total_tasa += parseFloat(suc.tasa_hab);

          if(index == response.body.length-1) {
            this.getLastPage(this.data_table);
            this.total_tasa = this.total_tasa / count
            this.loading_table = false
          }
        })
      },
      error =>  {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataByCommune(id)
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError =
            "Error al obtener datos relacionados con: Tabla resumen puntos según segmentación";
        }
      })
    },
    async getCategoryID(category){
      let resp = await this.$http.get(this.getUrlBase() + "/api/v1/categories/?description=" + category, this.getHeaders())
      return resp.body[0].id
    },
    //----------------------------------------------------------------------------------------------
    // sort
    customSort() {
        switch(this.currentSort){
          case "name_business":
            return this.data_table.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
            });
            break;
          case "location":
            return this.data_table.sort((a, b) => {
            const sortBy = (this.sw_table == 1) ? 'region' : 'commune'
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
            });
            break;
          case "total_pos":
          case "total_hab":
          case "dos":
          case "total_reload":
            return this.data_table.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a[this.currentSort] - b[this.currentSort]
              } else {
                return b[this.currentSort] - a[this.currentSort]
              }
            });
            break;
        }
    },
    // pagging
    nextPage: function(array) {
      if (this.currentPage * this.pageSize < array.length)
        this.currentPage++;
    },
    nextTenPage: function(array) {
      if ((this.currentPage + 10) * this.pageSize < array.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage(array) {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < array.length; n++) {
        this.maxPage++;
      }
    },
    replace(name){
      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ")
      return Comuna;
    },
    configTable(param){
      this.currentPage = 1;
      this.sw_table = param
      this.data_table = []
      switch(param) {
        case 1:
          this.json_fields = { 
            'Región' :            'region',
            'QPDV' :              'total_pos',
            'Habilitaciones':     'total_hab',
            'Recargas':           "total_reload",
            '% Rec/Hab':          "porc",
          }
          this.file_name = "Resumen Segmentación Regional.xls"
          break;
        case 2:
          this.json_fields = { 
            'Comuna' :            'commune',
            'QPDV' :              'total_pos',
            'Habilitaciones':     'total_hab',
            'Recargas':           'total_reload',
            '% Rec/Hab':          'porc',
          }
          this.file_name = "Resumen Segmentación Comunal.xls"
          break;
        case 3:
          this.json_fields = {
            // "Región":             "region",
            // "Comuna":             "commune",
            "Foto":               "picture_business",
            'Nombre':             "name_business",
            "Dirección":          "address",
            "Stock 356":          "stock",
            "Stock 374":          "stock374",
            "DOS":                "dos",
            "Entregas":           "total_delivery",
            "Habilitaciones":     "total_activate",
            "Recargas":           "total_reload",
            "Tasa Hab(%)":        "tasa_hab",
            "Última Visita":      "last_visit",
            "Capacitado":         "training_t",
            "Con Publicidad":     "publish_t",
            "Categoría":          "category",
            "Segmentación":       "segmentation_name",
          }
          this.file_name = "Reporte PDV Segmentados.xls"
          break;
      }
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1 ) ? this.communes[idx].name : null;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      var idx = this.regions.findIndex(item => item.id == val);
      return (idx != -1) ? this.regions[idx].region_name : null;
    }, 
    getRegionName2(val){
      var idx = this.communes.findIndex(item => item.id == val);
      return (idx != -1) ? this.communes[idx].region_name : null;
    },
    // format date
    getTime(fecha){
      var date = new Date(fecha)
      var options = {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      }
      date = date.toLocaleString("es-ES", options);
      return date.replace(".", "");
    }, 
    formatDate(date){
      return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()
    },
    logout() {
      this.$router.push({ name: 'Login'})
    },
  }
}
</script>
<style lang="scss">
#reportSegmentation030Cont{
  padding: 2% 2% 0 2%;
}
// table region
#location-table > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#location-table > div > table > thead > tr > th > div > div {
  color: beige !important;
}
#location-table {
  overflow-y: hidden;
}
#location-table > div > table > tbody > tr > td {
  width: 20vw;
}
// end table region
// table pdv
#pdv-table > div > table > thead > tr {
  background-color: #3b7fff !important;
}
#pdv-table > div > table > thead > tr > th > div > div {
  color: beige !important;
}
#pdv-table > div.md-table-fixed-header > table > thead > tr > th:nth-child(1) {
  width: 17vw !important;
}
#pdv-table > div.md-table-fixed-header > table > thead > tr > th:not(:nth-child(1)) {
  width: 13vw !important;
}
#pdv-table > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:nth-child(1) {
  width: 15vw !important;
}
#pdv-table > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:not(:nth-child(1)) {
  width: 14.1vw !important;
}
// end table pdv
/* Total */
.table-row-total3 {
  width: 100%;
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total3 > td > div {
  font-size: 16px;
}
.table-row-total3 > td {
  width: 20vw !important;
}
.table-row-total2 {
  width: 100%;
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total2 > td > div {
  font-size: 16px;
}
.table-row-total2 > td {
  width: 15vw !important;
}
/* end Total */
/* paginado */
#pagging {
  padding: 10px 0;
  align-items: left;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
/* div ficha pdv */
.modal-map {
  width: 100%;
  max-height: 90% !important;
  height: 100%;
  background-color: #448aff !important;
  color: #ffffff !important;
}
.btn {
  color: #39af1c !important
}
.overlay {
  background: #a1a1a1;
  display: flex;
  z-index: 10;
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.md-field-select-2 {
  margin: -0.5%;
  width: 10vw;
}
.select-absolute-right {
  position: absolute;
  right: 10px;
  top: 5px;
}
</style>


