<template>
  <div id="rewardsCont">
<!-- tabla -->
    <md-table class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;" 
      :value="sorted_table" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
      <md-table-toolbar style="padding: 0;">
        <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
          <div class="md-toolbar-section-start">
            <i class="material-icons" style="left:3%; position:relative;">sim_card</i>
            <h1 class="md-title" style="color: #ffffff !important;">Reportes de Premios en PDV</h1>
          </div>
        </div>
        <div class="md-toolbar-row md-layout md-size-100">
          <div class="md-layout-item md-large-size-25 md-medium-size-25 md-small-size-100 md-xsmall-size-100" style="margin: 0 2%;">
            <md-field>
              <md-select v-model="selected_segmentation" placeholder="Segmentación">
                <md-option  v-for="(segmentation) in segmentation_list" :value="segmentation.id" :key="segmentation.id">{{ segmentation.description }}</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-large-size-25 md-medium-size-25 md-small-size-100 md-xsmall-size-100" style="padding: 0 2%; position: relative;">
            <span style="left: 43%; position:absolute;">Desde</span>
            <md-datepicker id="2" v-model="selected_datestart"/>
          </div>
          <div class="md-layout-item md-large-size-25 md-medium-size-25 md-small-size-100 md-xsmall-size-100" style="padding: 0 2%; position: relative;">
            <span style="left: 43%; position:absolute;">Hasta</span>
            <md-datepicker id="1" v-model="selected_dateend" md-immediately/>
          </div>
          <div class="md-layout-item md-large-size-5 md-large-size-5 md-medium-size-5 md-small-size-45 md-xsmall-size-45" style="padding: 0 2%;">
            <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
          </div>
          <div class="md-layout-item md-large-size-5 md-medium-size-5 md-small-size-45 md-xsmall-size-45" style="padding: 0 2%;">
            <download-excel :data="json_data" :fields="json_fields" :name="nameFile" v-if="data_table.length != 0">
              <md-icon style="cursor: pointer" class="md-size-2 btn">archive</md-icon>
            </download-excel>
          </div>
        </div>
        <div class="md-toolbar-row" v-if="swLoading">
          <md-table-empty-state style="align"
            md-label="Cargando Datos"
            md-description="por favor espere un momentos los datos se están cargando">
              <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <!-- ficha PDV -->
        <md-table-cell md-label="Sucursal" md-sort-by="name_business">
          <div class="div-pdv">
            <md-avatar class="md-large">
              <img :src="item.picture_business">
            </md-avatar>
            <!-- segmentation -->
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
            <!-- name -->
            <span>{{item.name_business}}</span>
            <!-- address -->
            <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
            <!-- category -->
            <span>{{item.category}}</span>
          </div>
          <!-- badge -->
          <div style="display: block">
            <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
            <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
          </div>
          <div style="display: inline-flex">
            <div class="badge-s" :class="getCoverageColor(item.coverage)"><md-icon class="white">wifi</md-icon><span>{{ item.coverage }}%</span></div>
            <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ item.q_home }}</span></div>
            <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
            <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
          </div> 
        </md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Región" md-sort-by="region">{{ item.region }}</md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Comuna" md-sort-by="commune">{{ item.commune }}</md-table-cell>
        <md-table-cell md-label="Premios" md-sort-by="chips_rewards" md-numeric>{{ item.chips_rewards }}</md-table-cell>
        <md-table-cell md-label="Por Cobrar" md-sort-by="chips_prize" md-numeric>{{ item.chips_prize }}</md-table-cell>
        <md-table-cell md-label="Última Visita" md-sort-by="last_visit">{{ getTime(item.last_visit) }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-table :value="[0]">
      <md-table-row v-if="data_table.length > 0" class="table-row-total">
        <md-table-cell>Total</md-table-cell>
        <md-table-cell></md-table-cell>
        <md-table-cell></md-table-cell>
        <md-table-cell md-numeric>{{ chips_rewards }}</md-table-cell>
        <md-table-cell md-numeric>{{ chips_prize }}</md-table-cell>
        <md-table-cell></md-table-cell>
      </md-table-row>
    </md-table>
    <!-- <div id="pagging" v-if="data_table.length > 20">
      <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
        <md-icon class="pagging-icon-ten">first_page</md-icon>
      </md-button>
      <md-button class="pagging-btn md-icon-button" @click="prevPage">
        <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
      </md-button>
      <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
      <md-button class="pagging-btn md-icon-button" @click="nextPage">
        <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
      </md-button>
      <md-button class="pagging-btn md-icon-button" @click="nextTenPage">
        <md-icon class="pagging-icon">last_page</md-icon>
      </md-button>
    </div> -->
<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
  </div>
</template>
<script>
export default {
  name: "reportRewards",
  data() {
    return {
      // pagging
      pageSize: 15,
      currentPage: 1,
      maxPage: 0, 
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      // table
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 164, name: "Penco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 51, name: "Cabildo", region_name: "V de ValparaÃ­so" },
        { id: 52, name: "La Ligua", region_name: "V de ValparaÃ­so" },
        { id: 53, name: "Papudo", region_name: "V de ValparaÃ­so" },
        { id: 54, name: "Petorca", region_name: "V de ValparaÃ­so" },
        { id: 55, name: "Zapallar", region_name: "V de ValparaÃ­so" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        {
          id: 236,
          name: "RÃ­Â­o Negro",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 238, name: "FutaleufÃÂº", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 239, name: "ChaitÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "CuricÃÂ³", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 245,
          name: "OÃ¢â¬â¢Higgins",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de ValparaÃ­so" },
        { id: 62, name: "Cartagena", region_name: "V de ValparaÃ­so" },
        { id: 63, name: "El Quisco", region_name: "V de ValparaÃ­so" },
        { id: 64, name: "El Tabo", region_name: "V de ValparaÃ­so" },
        { id: 65, name: "San Antonio", region_name: "V de ValparaÃ­so" },
        { id: 66, name: "Santo Domingo", region_name: "V de ValparaÃ­so" },
        { id: 70, name: "Putaendo", region_name: "V de ValparaÃ­so" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de ValparaÃ­so" },
        { id: 74, name: "ValparaÃÂ­so", region_name: "V de ValparaÃ­so" },
        { id: 75, name: "ConcÃÂ³n", region_name: "V de ValparaÃ­so" },
        { id: 77, name: "PuchuncavÃÂ­", region_name: "V de ValparaÃ­so" },
        { id: 78, name: "Quintero", region_name: "V de ValparaÃ­so" },
        { id: 79, name: "ViÃÂ±a del Mar", region_name: "V de ValparaÃ­so" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 313, name: "Los Lagos", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 315, name: "Mariquina", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "RequÃÂ­noa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de ValparaÃ­so" },
        { id: 46, name: "San Esteban", region_name: "V de ValparaÃ­so" },
        { id: 47, name: "Limache", region_name: "V de ValparaÃ­so" },
        { id: 143, name: "Alto BiobÃÂ­o", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 144, name: "Antuco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 145, name: "Cabrero", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 58, name: "La Cruz", region_name: "V de ValparaÃ­so" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de ValparaÃ­so" },
        { id: 44, name: "Los Andes", region_name: "V de ValparaÃ­so" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de TarapacÃ¡" },
        { id: 2, name: "Iquique", region_name: "I de TarapacÃ¡" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de TarapacÃ¡" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "ColbÃÂºn", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "LongavÃÂ­", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃÂ³n", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "RÃÂ­o Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 149, name: "Nacimiento", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 151, name: "Quilaco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 152, name: "Quilleco", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 166, name: "Santa Juana", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 167, name: "Talcahuano", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San JosÃÂ© de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "CuracavÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "MarÃÂ­a Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 216, name: "PuqueldÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 225, name: "CochamÃÂ³", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 12, name: "OllagÃÂ¼e", region_name: "II de Antofagasta" },
        { id: 36, name: "VicuÃÂ±a", region_name: "IV de Coquimbo" },
        { id: 37, name: "CombarbalÃÂ¡", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "RÃÂ­o Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 48, name: "OlmuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 49, name: "QuilpuÃÂ©", region_name: "V de ValparaÃ­so" },
        { id: 311, name: "Corral", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 302,
          name: "San JoaquÃÂ­n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X RegiÃ³n de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de TarapacÃ¡" },
        { id: 5, name: "Huara", region_name: "I de TarapacÃ¡" },
        { id: 6, name: "Pica", region_name: "I de TarapacÃ¡" },
        { id: 7, name: "Pozo Almonte", region_name: "I de TarapacÃ¡" },
        { id: 17, name: "ChaÃÂ±aral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃÂ³", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San RamÃÂ³n",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de ValparaÃ­so" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 56, name: "La Calera", region_name: "V de ValparaÃ­so" },
        { id: 211, name: "QuellÃÂ³n", region_name: "X RegiÃ³n de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de ValparaÃ­so" },
        { id: 67, name: "Catemu", region_name: "V de ValparaÃ­so" },
        {
          id: 253,
          name: "RÃÂ­o Verde",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de ValparaÃ­so" },
        { id: 69, name: "Panquehue", region_name: "V de ValparaÃ­so" },
        { id: 71, name: "San Felipe", region_name: "V de ValparaÃ­so" },
        {
          id: 279,
          name: "EstaciÃÂ³n Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "AysÃÂ©n",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de ValparaÃ­so" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 250,
          name: "RÃÂ­o IbÃÂ¡ÃÂ±ez",
          region_name: "XI AisÃ©n del General Carlos IbÃ¡Ã±ez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 192,
          name: "PitrufquÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 193, name: "PucÃÂ³n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de ValparaÃ­so" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa MarÃÂ­a", region_name: "V de ValparaÃ­so" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 324, name: "ChillÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 325,
          name: "ChillÃÂ¡n Viejo",
          region_name: "XVI RegiÃ³n de Ãuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 331, name: "Yungay", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 333, name: "Coelemu", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "VichuquÃÂ©n", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 179, name: "Carahue", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "DoÃÂ±ihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "MachalÃÂ­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 309,
          name: "La UniÃÂ³n",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV RegiÃ³n de Los RÃ­os"
        },
        { id: 318, name: "Valdivia", region_name: "XIV RegiÃ³n de Los RÃ­os" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del BÃ­o BÃ­o"
        },
        { id: 186, name: "Lautaro", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 197,
          name: "ToltÃÂ©n",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX RegiÃ³n de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 150, name: "Negrete", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 155, name: "Tucapel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 156, name: "Yumbel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 157, name: "Chiguayante", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 158, name: "ConcepciÃÂ³n", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 159, name: "Coronel", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 160, name: "Florida", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 206, name: "Lumaco", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 207, name: "PurÃÂ©n", region_name: "IX RegiÃ³n de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX RegiÃ³n de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "MaipÃÂº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 341, name: "San Carlos", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 342, name: "San FabiÃÂ¡n", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 343, name: "San NicolÃÂ¡s", region_name: "XVI RegiÃ³n de Ãuble" },
        {
          id: 295,
          name: "PeÃÂ±alolÃÂ©n",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de MaipÃÂ³",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "ConchalÃÂ­",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "RÃÂ­o Bueno",
          region_name: "XII RegiÃ³n de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X RegiÃ³n de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "CaÃ±ete", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 356, name: "Los Alamos", region_name: "VIII del BÃ­o BÃ­o" },
        { id: 355, name: "Lebu", region_name: "VIII del BÃ­o BÃ­o" },
        {
          id: 346,
          name: "PeÃÂ±aflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 337, name: "RÃÂ¡nquil", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 338, name: "Treguaco", region_name: "XVI RegiÃ³n de Ãuble" },
        { id: 339, name: "Coihueco", region_name: "XVI RegiÃ³n de Ãuble" }
      ],
      regions: [],
      currentSort: "name",
      currentSortOrder: "asc",
      chips_rewards: 0,
      chips_prize: 0,
      data_table: [],
      segmentation_list: [],
      json_data: [],
      json_fields: {
        Foto:                  "picture_business",
        Nombre:                "name_business",
        Direccion:             "address",
        Region:                "region",
        Comuna:                "commune",
        "stock 356":           "stock",
        "stock 374":           "stock374",
        "Total Premios":       "chips_rewards",
        "Por Cobrar":          "chips_prize",
        "Capacitado":          "training_t",
        "Con Publicidad":      "publish_t",
        "Categoría":           "category",
        "Segmentación":        "segmentation_name",
        "Covertura":           "coverage",
        "Viviendas":           "q_home"
      },
      nameFile: "",
      selected_segmentation:  null,
      selected_datestart: null,
      selected_dateend: new Date(),
      disabledDates: {
        to: new Date() + 1
      },
      swSelectedSearch: false,
      swLoading: false,
      loadingDetail: false,
      url: "",
      contentError: "",
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      today: null,
      dd: null,
      mm: null,
      yyyy: null,
      MonthActually: null,
      refresh_call: true,
      perfil: 0
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
    this.getCategories()
    this.getSegmentation()
    
  },
  computed: {
    sorted_table: function() {
      return this.data_table
    }
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "name_business":
        case "last_visit":
          return this.data_table.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "chips_prize":
        case "chips_rewards":
          return this.data_table.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort];
            } else {
              return b[this.currentSort] - a[this.currentSort];
            }
          });
          break;
      }
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      var idx = this.communes.findIndex(item => item.id == val);
      return this.communes[idx].name;
    },
    //obtener el nombre de la comuna por su id
    getRegionName(val) {
      console.log(val)
      var idx = this.communes.findIndex(item => item.id == val);
      return this.communes[idx].region_name;
    },
    // obtener categorias
    getCategories(){
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
      }, 
      error => {
        this.swSelected = false;
        this.swSelectedSearch = false;
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getCategories();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.categories_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    // obtener segmentaciones
    getSegmentation(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
      }, 
      error => {
        this.swSelected = false;
        this.swSelectedSearch = false;
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getSegmentation();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Reporte de publicidad"
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },    
    //validar fechas antes de hacer petición http
    validateFields() {
      if(this.selected_segmentation == null){
        this.snackEmptyFilter = true
      } else if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        const endDate = this.selected_dateend.getFullYear() + "-" + (this.selected_dateend.getMonth() + 1) + "-" + this.selected_dateend.getDate();
        const startDate = this.selected_datestart.getFullYear() + "-" + (this.selected_datestart.getMonth() + 1) + "-" + this.selected_datestart.getDate();
        this.getData(endDate, startDate);
      }
    },
    //obtener total de portabilidades por punto de venta según fechas
    getData(endDate, startDate) { 
      this.chips_prize = 0;
      this.swLoading = true;
      this.swSelectedSearch = true;
      this.data_table = [];
      this.json_data = [];
      this.$http.get( this.getUrlBase() + "/api/v1/reports/rewardsByDateRange/?date_start=" +
        startDate + "&date_end=" + endDate + "&id_type=" + this.selected_segmentation, this.getHeaders())
        .then( response => {
          if (response.body.length != 0) {
            //cargar datos para documento xls
            this.nameFile =
              "Reporte Premios | " + startDate + " - " + endDate + ".xls"

            response.body.forEach(item => {
              this.chips_prize += item.chips_prize
              this.chips_rewards += (item.chips_rewards != null) ? item.chips_rewards : 0
              item.chips_rewards = (item.chips_rewards != null) ? item.chips_rewards : 0
              item.region = this.replace(this.getRegionName(item.idcommune))
              item.commune = this.replace(this.getCommuneName(item.idcommune))
              item.training_t = item.training ? 'Si' : 'No'
              item.publish_t = item.publish ? 'Si' : 'No'
              item.category = this.getCategoryName(item.id_category)
              item.segmentation_name = this.getSegmentationName(item.segmentation_score)
              item.last_visit = item.last_visit.length != 0 ? item.last_visit[0] : "Sin visitas registradas"
              item.coverage = item.coverage != null ? item.coverage : 0.00,
              item.q_home = item.q_home != null ? item.q_home : 0
              this.data_table.push(item)
              this.json_data.push(item);
              this.getLastPage()
            });
            if(this.data_table.length == 0){
              this.snackNoData = true;
              this.swLoading = false;
              this.swSelectedSearch = false;
            }
          } else {
            this.snackNoData = true;
            this.swLoading = false;
            this.swSelectedSearch = false;
          }
          this.swLoading = false
        },
        error => {
          this.swLoading = false;
          this.swSelectedSearch = false;
          this.aerror = error.status;
          if (this.aerror == 401) {
            this.getData(endDate, startDate);
          }
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener datos relacionados con: Reporte de Portabilidad.";
          }
        }
      );
    },
// -------------------------------------------------------------------------------------------------
    getCoverageColor(coverage) {
      if(coverage == 0) return 'b-grey'
      else if(coverage > 0 && coverage <= 25) return 'b-blue'
      else if(coverage > 25 && coverage <= 50) return 'b-morado'
      else if(coverage > 50 && coverage <= 75) return 'b-yellow'
      else if(coverage > 75) return 'b-green'
    },
    onConfirm() {
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replace(name){ 
      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ").replace("iÂ¡","á")

      return Comuna;
    },   
    getTime(fecha) {
      const substr = new Date(fecha);

      var options = {
        weekday: "long",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };

      const dia = substr.toLocaleString("es-ES", options);
      // console.log(substr.toString().substring(0,24));
      // return substr.toString().substring(0,24);
      return dia.replace(".", "");
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.data_table.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.data_table.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.data_table.length; n++) {
        this.maxPage++;
      }
    },
  },
  created() {
    this.perfil = this.$localStorage.get("ThePerfil")
  }
};
</script>
<style>
#rewardsCont {
  padding: 0 2% 20px 2%;
}
.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#rewardsCont > div > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
#rewardsCont > div > div.md-table-fixed-header > div > table > thead > tr
  > th
  > div
  > div {
  color: #ffffff !important;
}
/* headers */
#rewardsCont > div > div.md-table-fixed-header > div > table > thead > tr > th:nth-child(1) {
  width: 20vw;
}
#rewardsCont > div > div.md-table-fixed-header > div > table > thead > tr > th:not(:nth-child(1)) {
  width: 16vw;
}
/* body */
#rewardsCont > div > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:nth-child(1) {
  width: 19vw;
}
#rewardsCont > div > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:not(:nth-child(1)) {
  width: 16vw;
}
/* totales */
.table-row-total {
  position: relative;
  background-color: #ff7f50 !important;
  color: #ffffff !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
#rewardsCont > div > tr > td:nth-child(1) {
  width: 19vw !important;
}
#rewardsCont > div > tr > td:not(:nth-child(1)) {
  width: 16vw !important;
}

/* end Total */
.img-suc {
  height: 35px !important;
}
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
/* modal portados */
#detailDialogPorted{
  width: 1100px;
  height: 450px;
  background-color: #448aff
}
#detailPortedTable{
  height: 320px;
  overflow-y: auto;
}
.dialogTitlePorted{
  color: #ffffff !important;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}
</style>
