<template>
  <div id="salesPublishCont">
<!--  Sale's Man -->
    <md-table class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;"
      :value="sortedProds" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header @md-selected="showImg">
      <md-table-toolbar style="padding: 0;">
          <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
            <div class="md-toolbar-section-start" >
                <i class="material-icons" style="left:3%; position:relative;">wallpaper</i>
                <h1 class="md-title" style="color: #ffffff !important;">Reportes de Publicidad</h1>
            </div>
          </div>
        <div class="md-toolbar-row md-layout md-size-100">
          <div class="md-layout-item md-layout md-alignment-center md-size-100">
            <div style="width: 30%; margin-right: 10%;">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Desde</span>
                <md-datepicker v-model="selected_datestart" md-immediately />
              </div>
            </div>
            <div style="width: 30%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Hasta</span>
                <md-datepicker v-model="selected_dateend" md-immediately />
              </div>
            </div>
            <div style="width: 10%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
              </div>
            </div>
            <div style="width: 10%;" v-if="validateFields">
              <download-excel :data="json_data" :fields="json_fields" :name="nameFile" v-if="searched.length != 0">
                <md-icon class="md-size-2 btn">archive</md-icon>
                <p style="position:relative; top:5px;">Descargar excel</p>
              </download-excel>
            </div>
          </div>
        </div>
          <div class="md-toolbar-row" v-if="loading_table">
            <md-table-empty-state
              md-label="Cargando Datos"
              md-description="por favor espere un momentos los datos se están cargando">
                <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
            </md-table-empty-state>
          </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
        <md-table-cell md-label="Foto"><img class="md-fab md-mini" v-bind:src="item.photo"/></md-table-cell>
        <md-table-cell style="text-align: left;" md-label="Nombre" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="QPDV Visitados" md-sort-by="qpdv_visits"  md-numeric style="text-align: right !important;">{{ item.qpdv_visits }}</md-table-cell>
        <md-table-cell md-label="Entregas" md-sort-by="quantity" md-numeric style="text-align: right !important;">{{ item.quantity }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-table :value="[0]">
      <md-table-row slot="md-table-row" class="table-row-total">
        <md-table-cell>Total</md-table-cell>
        <md-table-cell></md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;">{{ total_visits }}</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;">{{ total_publish }}</md-table-cell>
      </md-table-row>
    </md-table>
<!-- pagging -->
    <div id="pagging" v-if="searched.length > 15">
      <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
        <md-icon class="pagging-icon-ten">first_page</md-icon>
      </md-button> 
      <md-button class="pagging-btn md-icon-button" @click="prevPage">
        <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
      </md-button> 
      <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
      <md-button class="pagging-btn md-icon-button" @click="nextPage">
        <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
      </md-button>
      <md-button class="pagging-btn md-icon-button" @click="nextTenPage">
        <md-icon class="pagging-icon">last_page</md-icon>
      </md-button>   
    </div>   
<!-- dialog carrousel -->
    <md-dialog :md-active.sync="showDialog" style="width: 40vw;">
      <vueper-slides :fixed-height="true" slide-image-inside :dragging-distance="70" :arrows="false">
        <!-- <md-icon slot="arrowLeft" style="font-size: 28px !important; color: #fff">keyboard_arrow_left</md-icon>
        <md-icon slot="arrowRight" style="font-size: 28px !important; color: #fff">keyboard_arrow_right</md-icon> -->
        <vueper-slide v-for="(slide, i) in publish" :key="i" :image="slide.photo">
          <div slot="slideContent" class="slide-content-sales-man">
            <span>{{ slide.name_business }}</span>
            <span>{{ slide.address }}</span>
            <span>{{ slide.created_at }}</span>
          </div>
        </vueper-slide>
      </vueper-slides>
    </md-dialog>
<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
     <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
  </div>
</template>
<script>
export default {
  name: "salesManPublish",
  data() {
    return {
      // pagging
      pageSize: 15,
      currentPage: 1,
      maxPage: 0,
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack404: false,
      snack400: false,
      snack500: false,
      // table
      currentSort: "name_business",
      currentSortOrder: "asc",
      users_data: [],
      total_publish: 0,
      total_visits: 0,
      search: null,
      searched: [],
      users: {
        item: [
          {
            email: 0,
            enterprise: 0,
            chips: 0,
            publish: 0
          }
        ]
      },
      // carousel
      publish: [],
      images: [],
      showDialog: false,
      // export
      nameFile: "",
      json_data: [],
      json_fields: {
        'Nombre Colaborador': "name",
        "Foto Colaborador": "photo",
        'Nombre Punto': "subsidiary__name_business",
        Dirección: "subsidiary__address",
        "Publicidad Entregada": "quantity",
        "Foto Publicidad": "photo_publish",
        Fecha: "created_at"
      },
      // date select
      selected_datestart: null,
      selected_dateend: new Date(),
      loading_table: false,
      sw_empty_data: false,
      // config
      url: "",
      contentError: "",
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],

      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
  },
  computed: {
    sortedProds: function() {
      return this.searched.filter((row, index) => {
        let start = (this.currentPage - 1) * this.pageSize;
        let end = this.currentPage * this.pageSize;
        if (index >= start && index < end) return true;
      });
    }
  },
  methods: {
    customSort(value) {
      switch (this.currentSort) {
        case "subsidiary__name_business":
        case "subsidiary__address":
        case "created_at":
        case "name":
          return this.searched.sort((a, b) => {
            const sortBy = this.currentSort;
            if (this.currentSortOrder === "desc") {
              return a[sortBy].localeCompare(b[sortBy]);
            }
            return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "qpdv_visits":
        case "quantity":
          return this.searched.sort((a, b) => {
            if (this.currentSortOrder == "desc") {
              return a[this.currentSort] - b[this.currentSort];
            } else {
              return b[this.currentSort] - a[this.currentSort];
            }
          });
          break;
      }
    },
    //validar fechas antes de hacer petición http
    validateFields() {
      this.currentPage = 1;
      if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        const endDate = this.selected_dateend.getFullYear() + "-" + (this.selected_dateend.getMonth() + 1) + "-" + this.selected_dateend.getDate();
        const startDate = this.selected_datestart.getFullYear() + "-" + (this.selected_datestart.getMonth() + 1) + "-" + this.selected_datestart.getDate();
        this.getData(endDate, startDate);
      }
    },
    getData(endDate, startDate) {
      this.loading_table = true
      this.sw_empty_data = true

      this.$http.get( this.getUrlBase() + "/api/v1/reports/publishMonthBySalesMan/?datestart=" +
      startDate + "&dateend=" + endDate, this.getHeaders())
      .then( response => {
        this.users_data = []
        this.json_data = []
        this.total_publish = 0
        if (response.body.length != 0) {
         for(let [index, row] of response.body.entries()) {
           row.created_at = this.getTime(row.created_at)
           this.json_data.push(row)
            var idx = this.users_data.findIndex(ud => ud.name == row.name)
            if(idx != -1){
              this.users_data[idx].publish.push({
                  photo: row.photo_publish,
                  created_at: row.created_at,
                  name_business: row.subsidiary__name_business,
                  address: row.subsidiary__address
              })
              this.users_data[idx].quantity++
            } else {
              this.users_data.push({
                photo: row.photo,
                photo_publish: row.photo_publish,
                name: row.name,
                subsidiary__name_business: row.subsidiary__name_business,
                subsidiary__address: row.subsidiary__address,
                quantity: row.quantity,
                qpdv_visits: row.qpdv_visits,
                publish: [{ 
                  photo: row.photo_publish, 
                  created_at: row.created_at,
                  name_business: row.subsidiary__name_business,
                  address: row.subsidiary__address  
                }]
              });
            this.total_visits += row.qpdv_visits
            }
            this.total_publish += row.quantity
            if(index == response.body.length-1) {
              this.loading_table = false
              this.searched = this.users_data
              this.getLastPage()
            }
          }
        } else {
          this.snackNoData = true
          this.loading_table = false
          this.sw_empty_data = false
        }
        //cargar datos para documento xls
        this.nameFile = "Reporte Publicidad Colaboradores -Arroba-" + startDate + " | " + endDate + ".xls";
        this.loading_table = false
      },
      error => {
        this.loading_table = false
        this.sw_empty_data = false
          this.aerror = error.status
          if (this.aerror == 401) this.getData(endDate, startDate)
          if (this.aerror == 500) {
            this.snack500 = true
            this.contentError = "Error al obtener datos relacionados con: Reporte de publidad por colaborador.";
          }
      })
    },
    showImg(item) {
      if (item != undefined) {
        this.showDialog = true
        this.publish = item.publish
        publish.forEach(el => {
          this.images.push(el.photo)
        })
      }
    },
    onConfirm() {
      this.$localStorage.set("theToken", "")
      this.$localStorage.set("ThePerfil", "")
      this.$localStorage.set("theName", "")
      this.$localStorage.set("theEmail", "")
      this.$router.push({ name: "Login" })
    },
    getTime(fecha) {
      const substr = new Date(fecha);

      var options = {
        weekday: "long",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };

      const dia = substr.toLocaleString("es-ES", options);
      return dia.replace(".", "");
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.searched.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.searched.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.searched.length; n++) {
        this.maxPage++;
      }
    }, 
  },
  created() {}
};
</script>
<style lang="scss">
.md-table-head-label {
  color: #000 !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#salesPublishCont {
  padding: 0 2%;
}
#salesPublishCont > div > div > div > table > thead > tr {
  background-color: #448aff !important;
}
#salesPublishCont > div > div > div > table > thead > tr
  > th
  > div
  > div {
  color: #ffffff !important;
}


#salesPublishCont
  > div.md-content.md-table.md-large.md-primary.md-theme-default
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody {
  max-height: fit-content !important;
}
.btn {
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
#salesPublishCont > div {
  overflow: hidden;
}
/* body */
#salesPublishCont
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody
  > tr
  > td {
  width: 33.3vw !important;
}
/* Total */
.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
#salesPublishCont > div > tr > td {
  width: 33.3vw !important;
}
/* end Total */
#pagging {
  align-items: left;
  padding-top: 15px;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
// slides bullets
.vueperslides__bullet {
  background-color: rgba(107, 107, 107, 0.63);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}
.vueperslides__bullets.vueperslides__bullets--outside {
  background-color: transparent !important;
}
.vueperslides__bullet--active {
  background-color: #5166e0;
}
.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}
// slides fix height
.vueperslides--fixed-height { 
  height: 500px;
  width: 100%;
 }
// slides content 
.vueperslide__content-wrapper {
  height: 100%;
  width: 100%;
}
.vueperslide__content {
  height: 100%;
  width: 100%;
}

.slide-content-sales-man {
  color: #fff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.329);
  width: 100%;
  display: inline-grid;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}
</style>
