<template>
    <div id="reportProspectChecked">
        <md-card>
            <md-card-header>
                <md-avatar style="position: relative; top: -8px !important;">
                    <i class="material-icons">schedule</i>
                </md-avatar>
                <div class="md-title-report">Reportes de Ejecutivos</div>
            </md-card-header>
            <md-card-content class="pa-0">
                <div class="md-toolbar-row md-layout md-size-100">
                    <div class="md-layout-item md-layout md-alignment-center md-size-100 md-gutter">
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Desde</span>
                            <md-datepicker v-model="selected_datestart" md-immediately />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Hasta</span>
                            <md-datepicker v-model="selected_dateend" md-immediately />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <md-field>
                                <md-select name="product" placeholder="Producto" :value="selected_product" @md-selected="onSelect($event)">
                                    <md-option v-for="(prod, idx) in list_product" :value="prod.id" :key="'P'+idx">{{ prod.description }}</md-option>
                                </md-select>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <download-excel :data="data_excel" :fields="fields_excel" :name="name_excel" v-if="data_table.length != 0">
                            <md-icon class="md-size-2 btn">archive</md-icon>
                            </download-excel>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-content class="pa-0">
                <md-table id="report_executive_table" class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;"
                    :value="data_table" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header @md-selected="onRowSelect">
                    <md-table-empty-state v-if="search" :md-label="loading ? 'Cargando Datos' : 'Sin datos para mostrar'" 
                        :md-description="loading ? 'por favor espere un momentos los datos se están cargando' : 
                        'No se han encontrado registros'">
                        <md-progress-bar v-if="loading" class="progress-bar" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
                    </md-table-empty-state>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
                        <md-table-cell md-label="N°" md-sort-by="index" style="text-align: center !important;">{{ item.index }}</md-table-cell>
                        <md-table-cell md-label="Foto" style="text-align: center !important;">
                            <md-avatar>
                                <img :src="item.photo" alt="avatar">
                            </md-avatar>
                        </md-table-cell>
                        <md-table-cell md-label="Nombre" md-sort-by="name" style="text-align: left !important;">{{ item.name }}</md-table-cell>
                        <md-table-cell md-label="Prospecto" md-sort-by="total_leads" style="text-align: right !important;">{{ item.total_leads }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>
        <!-- modal -->
        <md-dialog id="detail-executive" :md-active.sync="modal">
            <md-dialog-title class="detail-executive-title">Prospectos atendidos por &nbsp;{{current_executive}}</md-dialog-title>
            <md-button class="btn-close" @click="modal = false"><md-icon>close</md-icon></md-button>
            <md-table id="detail-executive-table" :value="detail_table" md-fixed-header :md-sort.sync="currentSort2" :md-sort-order.sync="currentSortOrder2" :md-sort-fn="customSort2">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell style="text-align: left;" md-sort-by="rut" md-label="Rut">{{ item.rut }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-sort-by="name" md-label="Nombre">{{ item.name }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-sort-by="address" md-label="Dirección">{{ item.address }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-sort-by="product" md-label="Producto">{{ item.product }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-sort-by="status" md-label="Estado">{{ item.status }}</md-table-cell>
                    <md-table-cell style="text-align: left;" md-sort-by="schedule_update" md-label="Última atención">{{ item.schedule_update }}</md-table-cell> 
                    <md-table-cell md-label="Comprobante Venta">
                        <md-avatar :class="{'pointer': !item.sale_image.includes('None') }">
                            <img :src="item.sale_image" alt="comp.vent." @click="showImage(item.sale_image, !item.sale_image.includes('None'))">
                        </md-avatar>                            
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </md-dialog>
        <!-- dialog imagen -->
        <md-dialog :md-active.sync="dialog_image" style="width: 40vw;">
            <img :src="image" alt="comprobante venta">
        </md-dialog>
        <!-- alertas -->
        <md-dialog-alert :md-active.sync="alert" :md-content="content"/>
        <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
        <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
        <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
        <md-dialog-alert :md-active.sync="nodata" md-content="No se encontraron registros."/>

    </div>
</template>

<script>
export default {
    data() {
        return {
            dialog_image:               false,
            image:                      '',
            modal:                      false,
            loading_detail:             false,
            current_executive:          "",
            detail_table:               [],

            startDate:                  null,
            endDate:                    null,
            currentSort:                "name",
            currentSortOrder:           "asc",
            currentSort2:                "name",
            currentSortOrder2:           "asc",
            alert:                      false,
            snackPassDateStart:         false,
            snackPassToday:             false,
            snackEmptyFilter:           false,
            nodata:                     false,
            content:                    "",
            loading:                    false,
            data_table:                 [],
            data_excel:                 [],
            json_detail_data:           [],
            json_detail_name:           "",
            json_detail_fields:         {
                "Rut": "rut",
                "Nombre": "name",
                "Dirección": "address",
                "Producto": "product",
                "Última Atención": "schedule_update",
                "Estado": "status",
                "Comprobante Venta": "sale_image"
            },
            fields_excel:               {
                "Foto": "photo",
                "Nombre": "name",
                "Prospectos": "total_leads",
            },
            name_excel:                 '',
            selected_datestart:         null,
            selected_dateend:           new Date(),
            selected_product:           null,
            list_product:               [],
            only_sales:                 false,
            search:                     false,
        }
    },
    created(){},
    mounted(){
        this.getProducts();
    },
    methods: {
        async getProducts() {
            this.list_product = [];
            try {
                const resp = await this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
                this.list_product = resp.body.filter(rb => rb.id != 1 && rb.id != 2 && rb.id != 8);
            } catch (error) {
                if (error.status == 401) this.getProducts();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener listado de productos.";
                }
            }
        },
        validateFields() {
            if (this.selected_datestart == null || this.selected_dateend == null) {
                this.snackEmptyFilter = true;
            } else if (this.selected_datestart > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend < this.selected_datestart) {
                this.snackPassDateStart = true;
            } else {
            this.startDate =
                this.selected_datestart.getFullYear() +
                "-" +
                (this.selected_datestart.getMonth() + 1) +
                "-" +
                this.selected_datestart.getDate();
            this.endDate =
                this.selected_dateend.getFullYear() +
                "-" +
                (this.selected_dateend.getMonth() + 1) +
                "-" +
                this.selected_dateend.getDate();
                this.getData();
            }
        },
        onSelect(event) {
            this.selected_product = event;
        },
        onRowSelect(event) {
            if(event != null ){
                if (event.total_leads != 0) {

                    this.loading_detail = true;
                    this.modal = true;
                    this.current_executive = event.name;
                    this.getDetailExecutive(event.email);
                } else {
                    this.alert = true;
                    this.content = "No posee prospectos."
                }
            }
        },
        getData() {
            this.count_sales = 0;
            this.data_table = [];
            this.data_excel = [];
            this.search = true;
            this.loading = true;

            let url = this.getUrlBase() + "/api/v1/reports/external-total-leads/?date_start=" + this.startDate + "&date_end=" + this.endDate;
            if(this.selected_product != null) url += "&id_type=" + this.selected_product;

            this.$http.get(url, this.getHeaders()).then( response => {
                this.data_table = []
                this.data_excel = []
                if (response.body.length != 0) {
                    this.name_excel =
                        "Reporte Ejecutivos " +
                        this.selected_datestart.getFullYear() +
                        (this.selected_datestart.getMonth() + 1) +
                        this.selected_datestart.getDate() +
                        "-" +
                        this.selected_dateend.getFullYear() +
                        (this.selected_dateend.getMonth() + 1) +
                        this.selected_dateend.getDate() +
                        ".xls";

                    response.body.forEach((item, index )=> {
                        item.index = ++index;
                        this.data_table.push(item);
                        this.data_excel.push(item);
                    });
                    this.loading = false;
                } else {
                this.loading = false;
                }
            },
            error => {
                this.loading = false;
                if (error.status == 401) this.getData();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener reporte de ejecutivos.";
                }
            });
        },
        async getDetailExecutive(email) {
            try {
                this.detail_table = [];
                let url = this.getUrlBase() + "/api/v1/reports/external-leads-detail/?email=" + email + "&date_start=" + this.startDate + "&date_end=" + this.endDate;
                if(this.selected_product != null) url += "&id_type=" + this.selected_product;
                let resp = await this.$http.get(url, this.getHeaders());
                resp.body.forEach( d => d.schedule_update = this.getTime(d.schedule_update));
                this.detail_table = resp.body;
                this.json_detail_data = resp.body;
                this.json_detail_name = "Detalle Prospectos " + this.current_executive;
                this.loading_detail = false;
            } catch (error) {
                this.loading_detail = false;
                if (error.status == 401) this.getDetailExecutive(email);
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener detalle de ejecutivos.";
                }
            }
        },
        customSort(value) {
            const sortBy = this.currentSort
            return this.data_table.sort((a, b) => {
                if (this.currentSortOrder === "desc") {
                if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
                else return a[sortBy] - b[sortBy];
                } else {
                if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
                else return b[sortBy] - a[sortBy];
                }
            })
        },
        customSort2(value) {
            const sortBy = this.currentSort2
            return this.detail_table.sort((a, b) => {
                if (this.currentSortOrder2 === "desc") {
                if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
                else return a[sortBy] - b[sortBy];
                } else {
                if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
                else return b[sortBy] - a[sortBy];
                }
            })
        },
        getTime(fecha) {
            if(fecha != null) {

                const substr = new Date(fecha)
                var options = {
                    weekday: "long",
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric",
                    second: "numeric"
                };

                const dia = substr.toLocaleString("es-ES", options);
                // console.log(substr.toString().substring(0,24));
                // return substr.toString().substring(0,24);
                return dia.replace(".", "");
            } else return 'Sin Atención'

        },
        showImage(image, show) {
            if(show) {
                this.dialog_image = true;
                this.image = image;
            }
        }        
    }
}
</script>

<style>
#report_executive_table {
    overflow-x: auto !important;
    height: 60vh;
}
#report_executive_table > div > div > table > thead > tr {
    background-color: #448aff !important;
}
#report_executive_table > div > div  > table > thead > tr > th > div > div {
    color: white !important;
}
#report_executive_table > div > div  > table > thead > tr > th {
    width: 10vw !important;
}

#report_executive_table > div  > table > tbody > tr > td {
    width: 10vw !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.footer-total {
    position: relative;
    text-align: right;
    font-weight: 600;
}
.btn-close {
  position: absolute;
  right: 15px;
  top:10px;
  color:white !important;
}
.btn-close > div > div > i {
  color: white !important;
}


#detailPortedTable > div.md-table-fixed-header > div > table > thead > tr {
    background-color: #448aff !important;
}
#detailPortedTable > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
    color: white !important;
}
#detail-executive-table > div.md-table-fixed-header > div > table > thead > tr > th {
    width: 18% !important;
}
#detail-executive-table > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
    width: 18% !important;
}

#detail-executive{
  width: 95vw;
  max-width: 100vw;
  background-color: #448aff
}
.detail-executive-title {
  color: #ffffff !important;
}
.detail-executive-table {
    height: max-content;
    overflow-y: auto;
}
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
#report_executive_table > div.md-content.md-table-content.md-scrollbar.md-theme-default {
    height: auto !important;
    max-height: auto !important;
}
.md-title-report {
    font-size: 20px !important;
}
.pointer {
    cursor: pointer;
}
</style>