<template>
  <div id="contSalesMan">
    <!--  Sale's Man -->
    <md-table class="md-large md-primary" style="background-color: #ffffff !important; color:#000 !important; overflow-x: hidden; top:10px; position:relative;"
      :value="totalForUser" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
      <md-table-toolbar style="padding: 0;">
        <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
          <div class="md-toolbar-section-start">
            <i class="material-icons" style="left:3%; position:relative;">supervisor_account</i>
            <h1 class="md-title" style="color: #ffffff !important;"> Reportes de Entregas</h1>
          </div>
        </div>
        <div class="md-toolbar-row md-layout md-size-100">
          <div class="md-layout-item md-layout md-alignment-center md-size-100">
            <div style="width: 30%; margin-right: 10%;">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Desde</span>
                <md-datepicker v-model="selected_datestart" md-immediately />
              </div>
            </div>
            <div style="width: 30%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Hasta</span>
                <md-datepicker v-model="selected_dateend" md-immediately />
              </div>
            </div>
            <div style="width: 10%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
              </div>
            </div>
            <div style="width: 10%;" v-if="validateFields">
              <download-excel :data="json_data" :fields="json_fields" :name="nameFile" v-if="totalForUser.length != 0">
                <md-icon class="md-size-2 btn">archive</md-icon>
                <p style="position:relative; top:5px;">Descargar excel</p>
              </download-excel>
            </div>
          </div>
        </div>
        <div class="md-toolbar-row" v-if="loading_table">
          <md-table-empty-state style="align" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
            <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;"
              md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-sort-by="email" style="text-align: left;" md-label="Nombre">{{item.email}}</md-table-cell>
        <md-table-cell md-sort-by="total_subsidiary" md-label="QPDV creados" md-numeric>{{ item.total_subsidiary }}</md-table-cell>
        <md-table-cell md-sort-by="qpdv_visits" md-label="QPDV Visitados" md-numeric>{{ item.qpdv_visits }}</md-table-cell>
        <md-table-cell md-sort-by="chipstype1" md-label="Chip's 356" md-numeric>{{ item.chipstype1 }}</md-table-cell>
        <md-table-cell md-sort-by="chipstypeplus" md-label="Chip's 356+" md-numeric>{{ item.chipstypeplus }}</md-table-cell>
        <md-table-cell md-sort-by="chipstype2" md-label="Chip's AutoPlan" md-numeric>{{ item.chipstype2 }}</md-table-cell>
        <md-table-cell md-sort-by="total_publish" md-label="Publicidad entregada" md-numeric>{{ item.total_publish }}</md-table-cell>
        <md-table-cell md-sort-by="redamigos" md-label="Portabilidades" md-numeric>{{ item.redamigos }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-table :value="[0]">
      <md-table-row v-if="totalForUser.length > 0" slot="md-table-row" class="table-row-total">
        <md-table-cell>Total</md-table-cell>
        <md-table-cell md-numeric>{{ total_subsidiary }}</md-table-cell>
        <md-table-cell md-numeric>{{ qpdv_visits }}</md-table-cell>
        <md-table-cell md-numeric>{{ total_356 }}</md-table-cell>
        <md-table-cell md-numeric>{{ total_356plus }}</md-table-cell>
        <md-table-cell md-numeric>{{ total_autoplan }}</md-table-cell>
        <md-table-cell md-numeric>{{ total_publish }}</md-table-cell>
        <md-table-cell md-numeric>{{ total_portability }}</md-table-cell>
      </md-table-row>
    </md-table>
<!-- alertas -->
    <md-dialog-confirm :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión."
      md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError" />
    <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
    <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
    <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
    <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
  </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.email).includes(toLower(term)));
  }

  return items;
};

export default {
  name: "salesMan",
  data() {
    return {
      // alertas
      aerror: "",
      snackPassToday: false,
      snackPassDateStart: false,
      snackEmptyFilter: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      currentSort: "user",
      currentSortOrder: "asc",
      total_356: 0,
      total_356plus: 0,
      total_autoplan: 0,
      total_subsidiary: 0,
      total_publish: 0,
      total_portability: 0,
      qpdv_visits: 0,
      totalForUser: [],
      json_data: [],
      json_fields: {
        Email: "email",
        "QPDV creados": "total_subsidiary",
        "QPDV Visitados": "qpdv_visits",
        "Chip's 356": "chipstype1",
        "Chip's 356+": "chipstypeplus",
        "Chip's AutoPlan": "chipstype2",
        "Publicidad Entregada": "total_publish",
        Portabilitades: "redamigos"
      },
      nameFile: "",
      selected_datestart: null,
      selected_dateend: new Date(),
      loading_table: false,
      url: "",
      contentError: "",
      search: null,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      today: null,
      dd: 0,
      mm: 0,
      yyyy: 0,
      MonthActually: "",
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
  },
  methods: {
    customSort(value) {
      if (this.currentSort == "email") {
        return this.totalForUser.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
        });
      } else {
        return this.totalForUser.sort((a, b) => {
          if (this.currentSortOrder == "desc") {
            return a[this.currentSort] - b[this.currentSort];
          } else {
            return b[this.currentSort] - a[this.currentSort]
          }
        })
      }
    },
    alertDisabled() {
      this.contentError = "Temporalmente no disponible.";
      this.swError = true;
      this.loading_table = false;
    },
    //validar fechas antes de hacer petición http
    validateFields() {
      if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        this.getData();
      }
    },
    getData() {
      this.total_356 = 0
      this.total_356plus = 0
      this.total_autoplan = 0
      this.total_subsidiary = 0
      this.total_publish = 0
      this.total_portability = 0
      this.qpdv_visits = 0
      this.totalForUser = []
      this.json_data = []
      this.loading_table = true

      const startDate =
        this.selected_datestart.getFullYear() +
        "-" +
        (this.selected_datestart.getMonth() + 1) +
        "-" +
        this.selected_datestart.getDate();
      const endDate =
        this.selected_dateend.getFullYear() +
        "-" +
        (this.selected_dateend.getMonth() + 1) +
        "-" +
        this.selected_dateend.getDate();
      this.$http.get( this.getUrlBase() + "/api/v1/reports/totalPorColaboradores/?datestart=" +
        startDate + "&dateend=" + endDate, this.getHeaders())
      .then( response => {
      this.totalForUser = []
      this.json_data = []
      if (response.body.length != 0) {
        response.body.forEach((item, index) => {
          if(item.chipstype1 != 0 || item.chipstype2 != 0 || item.total_subsidiary != 0 ||
            item.total_publish != 0 || item.redamigos != 0 || item.chipstypeplus != 0) {
            this.totalForUser.push(item)
            this.json_data.push(item)
            this.total_356 += item.chipstype1
            this.total_356plus += item.chipstypeplus
            this.total_autoplan += item.chipstype2
            this.total_subsidiary += item.total_subsidiary
            this.total_publish += item.total_publish
            this.qpdv_visits += item.qpdv_visits
            this.total_portability += item.redamigos
          }
          if(index == response.body.length - 1 && this.totalForUser.length == 0) this.snackNoData = true
        })
        this.nameFile = "Reporte Colaboradores -Arroba-" + startDate + "-" + endDate + ".xls";
        } else this.snackNoData = true
        this.loading_table = false
      },
      error => {
        this.loading_table = false
        this.aerror = error.status
        if (this.aerror == 401) this.getData()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Reporte de Entregas por Colaborador."
        }
      })
    },
    onConfirm() {
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {}
};
</script>
<style>
.tabla-data {
  height: fit-content !important;
}
.md-table-empty-state {
  color: #000 !important;
}
#contSalesMan {
  padding: 0 2%;
}
/* #contSalesMan
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default {
  overflow: hidden !important;
  height: fit-content !important;
} */
#contSalesMan> div > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
#contSalesMan
 > div > div.md-table-fixed-header > div > table > thead > tr
  > th.md-table-head
  > div
  > div {
  color: beige !important;
}
#contSalesMan
 > div > div.md-table-fixed-header > div > table > thead > tr
  > th:nth-child(1) {
  width: 19vw !important;
}
#contSalesMan
 > div > div.md-table-fixed-header > div > table > thead > tr
  > th:not(:nth-child(1)) {
  width: 16vw !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
#contSalesMan > div {
  overflow: hidden;
}
/* body */
#contSalesMan
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 19vw !important;
}
#contSalesMan
  > div
  > div.md-content.md-table-content.md-scrollbar.md-theme-default
  > table
  > tbody
  > tr:nth-child(1)
  > td:not(:nth-child(1)) {
  width: 16vw !important;
}
/* Total */
.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
.table-row-total > td > div {
  font-size: 16px;
}
#contSalesMan > div > tr > td:first-child {
  width: 19vw !important;
}

#contSalesMan > div > tr > td:not(:nth-child(1)) {
  width: 16vw !important;
}
/* end Total */
</style>
