<template>
  <div id="ContSurvey">
<!-- TITULO & FILTROS -->
    <md-card style="background-color: white !important;">
      <md-card-header style="background-color: #3b7fff !important;">
        <md-avatar>
          <md-icon class="white">live_help</md-icon>
        </md-avatar>
        <div class="md-headline white">Reportes de Encuestas</div>
        <h1 v-if="sw_table == 3" class="md-title white" style=" position: absolute; top: 25px; right: 25px; color: #ffffff !important;"> {{"Respuestas: " + count}}</h1>
      </md-card-header>
      <md-card-content class="md-layout md-alignment-center md-gutter" style="padding: 0;">
        <div class="md-layout-item md-size-25 md-small-size-90 md-xsmall-size-90">
          <md-field>
            <label>Pregunta</label>
            <md-select v-model="selected_question" @md-selected="clearFields">
              <md-option v-for="qtn in question_list" :key="qtn.id" :value="qtn.id">{{ qtn.description }}</md-option>
            </md-select>
          </md-field>
        </div>
        <div class="md-layout-item md-size-25 md-small-size-90 md-xsmall-size-90">
          <md-field>
            <label>Segmentación</label>
            <md-select v-model="selected_segmentation">
              <md-option v-for="seg in segmentation_list" :key="seg.id" :value="seg.id">{{ seg.description }}</md-option>
            </md-select>
          </md-field>
        </div>
        <div class="md-layout-item md-size-25 md-small-size-90 md-xsmall-size-90">
          <md-field>
            <md-select :disabled="selected_question == -1" v-model="selected_category" placeholder="Categoría">
                <md-option  v-for="(category) in categories_list" :value="category.id" :key="category.id">{{ category.description }}</md-option>
            </md-select>
          </md-field>
        </div>
        <div v-if="selected_question != -1" class="md-layout-item md-size-5 md-small-size-45 md-xsmall-size-45">
          <md-icon v-on:click.native="prepareFilters" class="icon-search2">search</md-icon>
        </div>
        <div v-if="data_table.length > 0" class="md-layout-item md-size-10 md-small-size-45 md-xsmall-size-45">
          <download-excel :data="json_data" :fields="json_fields" :name="file_name">
            <md-icon style="cursor: pointer;" class="md-size-2 btn">archive</md-icon>
          </download-excel>
        </div>
      </md-card-content>
      <md-divider></md-divider>
<!-- TABLA REGION/COMUNA -->
      <md-table id="location-table-survey" class="md-layout-item md-size-100" :value="resumenTable" :md-sort.sync="currentSort"
        :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-show="sw_table == 1 || sw_table == 2" md-fixed-header @md-selected="onSelectRow">
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button v-if="sw_table == 2" class="md-raised md-primary md-layout-item" @click="getData()"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                                  <br>
            <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
          <md-table-cell md-label="N°" md-sort-by="index">{{ item.index }}</md-table-cell>
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location">{{ sw_table == 1 ? item.region : item.commune }}</md-table-cell>
          <md-table-cell md-label="Encuestados" md-sort-by="total_pos" md-numeric>{{ item.total_pos }}</md-table-cell>
          <md-table-cell md-label="Afirmativo" md-sort-by="poll_true" md-numeric>{{ item.poll_true }}</md-table-cell>
          <md-table-cell md-label="Negativo" md-sort-by="poll_false" md-numeric>{{ item.poll_false }}</md-table-cell>
        </md-table-row>
        <!-- totales -->
        <md-table-row v-if="data_table.length != 0 && sw_table != 3" class="table-row-total3" slot="md-table-row">
          <md-table-cell md-label="N°" md-sort-by="index">Total</md-table-cell>
          <md-table-cell style="text-align: left;" :md-label="sw_table == 1 ? 'Región' : 'Comuna'" md-sort-by="location"></md-table-cell>
          <md-table-cell md-label="Respuestas" md-sort-by="total_pos" md-numeric>{{ total_pos }}</md-table-cell>
          <md-table-cell md-label="Afirmativo" md-sort-by="poll_true" md-numeric>{{ poll_true }}</md-table-cell>
          <md-table-cell md-label="Negativo" md-sort-by="poll_false" md-numeric>{{ poll_false }}</md-table-cell> 
        </md-table-row>
      </md-table>
<!-- TABLA PDV -->
      <md-table id="pdv-table-visits" class="md-layout-item md-size-100" :value="resumenTable" :md-sort.sync="currentSort" 
        :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" v-if="sw_table == 3" md-fixed-header>
        <!-- buscador -->
        <md-table-toolbar v-if="!loading_table" class="md-layout md-alignment-center">
          <md-button class="md-raised md-primary md-layout-item" @click="getDataByRegion(selected_region)"><md-icon>keyboard_arrow_left</md-icon></md-button>
          <md-field class="md-layout-item md-size-90">
              <label>Buscar por nombre...</label>
              <md-input type="text" v-model="search"></md-input>
          </md-field>
                                  <br>
            <p class="texto-crumb md-layout-item md-size-100">{{ breadscrumb }}</p>
        </md-table-toolbar>
        <md-table-toolbar v-if="loading_table">
          <md-table-empty-state :md-label="loading_table ? 'Cargando Datos' : 'Sin Información!'" :md-description="loading_table ? 'por favor espere un momentos los datos se están cargando': 'No se han encontrado datos'">
            <md-progress-bar v-if="loading_table" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <!-- ficha PDV -->
          <md-table-cell md-label="Sucursal" md-sort-by="name_business">
            <div class="div-pdv">
              <md-avatar class="md-large">
                <img :src="item.picture_business">
              </md-avatar>
              <!-- segmentation_score -->
              <div style="display: inline;">
                <div v-if="item.segmentation_score == 1">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                </div>
                <div v-if="item.segmentation_score == 2">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 3">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 4">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
                <div v-if="item.segmentation_score == 5">
                  <md-icon class="i-star">star</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                  <md-icon class="i-star">star_border</md-icon>
                </div>
              </div>
              <!-- name -->
              <span>{{item.name_business}}</span>
              <!-- address -->
              <span v-if="perfil != 2 && perfil != 5">{{item.address}}</span>
              <!-- category -->
              <span>{{item.category}}</span>
            </div>
            <div style="display: block">
              <div class="badge-p" :class="item.publish ? 'green': 'b-grey'"><md-icon class="white">wallpaper</md-icon></div>
              <div class="badge-p" :class="item.training ? 'green': 'b-grey'"><md-icon class="white">school</md-icon></div>
            </div>
            <div style="display: inline-flex">
              <div class="badge-s" :class="getCoverageColor(item.coverage)"><md-icon class="white">wifi</md-icon><span>{{ item.coverage }}%</span></div>
              <div class="badge-s green"><md-icon class="white">home</md-icon><span>{{ item.q_home }}</span></div>
              <div class="badge-s blue"><md-icon class="white">sim_card</md-icon><span>{{ item.stock }}</span></div>
              <div class="badge-s orange"><md-icon class="white">sim_card</md-icon><span>{{ item.stock374 }}</span></div>
            </div> 
          </md-table-cell>
          <md-table-cell md-label="Respuesta" md-sort-by="answer_t">{{item.answer_t}}</md-table-cell>
          <md-table-cell md-label="Última Visita" md-sort-by="last_visit">{{ item.last_visit }}</md-table-cell>
        </md-table-row>
      </md-table>
<!-- PAGINACIÓN -->
      <!-- <div id="pagging-visits" v-if="data_table.length > 16">
        <md-button class="pagging-visits-btn md-icon-button" @click="prevTenPage">
          <md-icon class="pagging-visits-icon-ten">first_page</md-icon>
        </md-button>
        <md-button class="pagging-visits-btn md-icon-button" @click="prevPage">
          <md-icon class="pagging-visits-icon">keyboard_arrow_left</md-icon>
        </md-button>
        <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
        <md-button class="pagging-visits-btn md-icon-button" @click="nextPage">
          <md-icon class="pagging-visits-icon">keyboard_arrow_right</md-icon>
        </md-button>
        <md-button class="pagging-visits-btn md-icon-button" @click="nextTenPage">
          <md-icon class="pagging-visits-icon">last_page</md-icon>
        </md-button>
      </div> -->
    </md-card>
<!-- ALERTAS -->
    <md-dialog-confirm :md-active.sync="snackOauth"
      md-content="Su sesión ha expirado, favor volver a iniciar sesión."
      md-confirm-text="Salir" @md-confirm="onConfirm" @md-cancel="onConfirm"/>
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
     <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
  </div>
</template>
<script>
export default {
  name: "ReportSurvey",
  data() {  
    return {
      question_list:          [],
      selected_question:      [],
      selected_region:        -1,
      search:                 "",
      total_pos:              0,
      poll_true:              0,
      poll_false:             0,
      count:                  0,
      // alertas
      aerror:                 "",
      snackEmptyFilter:       false,
      snackNoData:            false,
      snackOauth:             false,
      snack500:               false,
      contentError:           "",
      // filters
      selected_category:      -1,
      selected_segmentation:  -1,
      selected_commune:       -1,
      date_start:             new Date(),
      date_end:               new Date(),
      param_date_start:       null,
      param_date_end:         null,
      //tabla
      sw_table:               0,
      currentSort:            "name",
      currentSortOrder:       "asc",
      data_table:             [],
      region_list:            [],
      commune_list:           [],
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del Bío Bío" },
        { id: 164, name: "Penco", region_name: "VIII del Bío Bío" },
        { id: 51, name: "Cabildo", region_name: "V de Valparaíso" },
        { id: 52, name: "La Ligua", region_name: "V de Valparaíso" },
        { id: 53, name: "Papudo", region_name: "V de Valparaíso" },
        { id: 54, name: "Petorca", region_name: "V de Valparaíso" },
        { id: 55, name: "Zapallar", region_name: "V de Valparaíso" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X Región de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X Región de Los Lagos"
        },
        {
          id: 236,
          name: "Río Negro",
          region_name: "X Región de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X Región de Los Lagos" },
        { id: 238, name: "Futaleufú", region_name: "X Región de Los Lagos" },
        { id: 239, name: "Chaitén", region_name: "X Región de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X Región de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "Curicó", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 245,
          name: "O'Higgins",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de Valparaí­so" },
        { id: 62, name: "Cartagena", region_name: "V de Valparaí­so" },
        { id: 63, name: "El Quisco", region_name: "V de Valparaí­so" },
        { id: 64, name: "El Tabo", region_name: "V de Valparaíso" },
        { id: 65, name: "San Antonio", region_name: "V de Valparaíso" },
        { id: 66, name: "Santo Domingo", region_name: "V de Valparaíso" },
        { id: 70, name: "Putaendo", region_name: "V de Valparaíso" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de Valparaíso" },
        { id: 74, name: "Valparaí­so", region_name: "V de Valparaíso" },
        { id: 75, name: "Concón", region_name: "V de Valparaíso" },
        { id: 77, name: "Puchuncaví­", region_name: "V de Valparaíso" },
        { id: 78, name: "Quintero", region_name: "V de Valparaíso" },
        { id: 79, name: "Viña del Mar", region_name: "V de Valparaíso" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV Región de Los Ríos" },
        { id: 313, name: "Los Lagos", region_name: "XIV Región de Los Ríos" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV Región de Los Ríos" },
        { id: 315, name: "Mariquina", region_name: "XIV Región de Los Ríos" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "Requínoa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de Valparaío" },
        { id: 46, name: "San Esteban", region_name: "V de Valparaíso" },
        { id: 47, name: "Limache", region_name: "V de Valparaíso" },
        { id: 143, name: "Alto Biobío", region_name: "VIII del Bío Bío" },
        { id: 144, name: "Antuco", region_name: "VIII del Bío Bío" },
        { id: 145, name: "Cabrero", region_name: "VIII del Bío Bío" },
        { id: 58, name: "La Cruz", region_name: "V de Valparaíso" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de Valparaíso" },
        { id: 44, name: "Los Andes", region_name: "V de Valparaíso" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X Región de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X Región de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de Tarapacá" },
        { id: 2, name: "Iquique", region_name: "I de Tarapacá" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de Tarapacá" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "Colbún", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "Longaví", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃón", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "Río Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del Bí Bí" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del Bí Bí" },
        { id: 149, name: "Nacimiento", region_name: "VIII del Bí Bí" },
        { id: 151, name: "Quilaco", region_name: "VIII del Bí Bí" },
        { id: 152, name: "Quilleco", region_name: "VIII del Bí Bí" },
        { id: 166, name: "Santa Juana", region_name: "VIII del Bí Bí" },
        { id: 167, name: "Talcahuano", region_name: "VIII del Bí Bí" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del Bí Bí" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San José de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "Curacaví",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "María Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X Región de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X Región de Los Lagos" },
        { id: 216, name: "PuqueldÃón", region_name: "X Región de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X Región de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X Región de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X Región de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X Región de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X Región de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X Región de Los Lagos" },
        { id: 225, name: "Cochamó", region_name: "X Región de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X Región de Los Lagos" },
        { id: 12, name: "Ollague", region_name: "II de Antofagasta" },
        { id: 36, name: "Vicuña", region_name: "IV de Coquimbo" },
        { id: 37, name: "Combarbalá", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "Río Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X Región de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X Región de Los Lagos" },
        { id: 48, name: "Olmué", region_name: "V de Valparaí­so" },
        { id: 49, name: "Quilpué", region_name: "V de Valparaí­so" },
        { id: 311, name: "Corral", region_name: "XIV Región de Los RÃíos" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX Región de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX Región de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 302,
          name: "San Joaquín",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X Región de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X Región de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X Región de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X Región de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X Región de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI Región de Ñuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX Región de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de Tarapacá" },
        { id: 5, name: "Huara", region_name: "I de Tarapacá" },
        { id: 6, name: "Pica", region_name: "I de Tarapacá" },
        { id: 7, name: "Pozo Almonte", region_name: "I de Tarapacá" },
        { id: 17, name: "Chañaral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃó", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San Ramón",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de Valparaíso" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del Bío Bío" },
        { id: 56, name: "La Calera", region_name: "V de Valparaíso" },
        { id: 211, name: "Quellón", region_name: "X Región de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de Valparaíso" },
        { id: 67, name: "Catemu", region_name: "V de Valparaíso" },
        {
          id: 253,
          name: "Río Verde",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de Valparaíso" },
        { id: 69, name: "Panquehue", region_name: "V de Valparaíso" },
        { id: 71, name: "San Felipe", region_name: "V de Valparaíso" },
        {
          id: 279,
          name: "Estación Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "Aysén",
          region_name: "XI Aysén del General Carlos Ibañez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de Valparaíso" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 250,
          name: "Río Ibáñez",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 192,
          name: "Pitrufquén",
          region_name: "IX Región de la Araucania"
        },
        { id: 193, name: "Pucón", region_name: "IX Región de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de Valparaíso" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa María", region_name: "V de Valparaíso" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI Región de Ñuble" },
        { id: 324, name: "Chillán", region_name: "XVI Región de Ñuble" },
        {
          id: 325,
          name: "Chillán Viejo",
          region_name: "XVI Región de Ñuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI Región de Ñuble" },
        { id: 331, name: "Yungay", region_name: "XVI Región de Ñuble" },
        { id: 333, name: "Coelemu", region_name: "XVI Región de Ñuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "Vichuquén", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del Bío Bío" },
        { id: 179, name: "Carahue", region_name: "IX Región de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX Región de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX Región de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX Región de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX Región de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX Región de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX Región de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "Doñihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "Machalí­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV Región de Los Ríos" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 309,
          name: "La Unión",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV Región de Los Ríos" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV Región de Los Ríos"
        },
        { id: 318, name: "Valdivia", region_name: "XIV Región de Los Ríos" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del Bío Bío"
        },
        { id: 186, name: "Lautaro", region_name: "IX Región de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX Región de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX Región de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 197,
          name: "Toltén",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX Región de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX Región de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del Bío Bío" },
        { id: 150, name: "Negrete", region_name: "VIII del Bío Bío" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del Bío Bío" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del Bío Bío" },
        { id: 155, name: "Tucapel", region_name: "VIII del Bío Bío" },
        { id: 156, name: "Yumbel", region_name: "VIII del Bío Bío" },
        { id: 157, name: "Chiguayante", region_name: "VIII del Bío Bío" },
        { id: 158, name: "ConcepciÃón", region_name: "VIII del Bío Bío" },
        { id: 159, name: "Coronel", region_name: "VIII del Bío Bío" },
        { id: 160, name: "Florida", region_name: "VIII del Bío Bío" },
        { id: 206, name: "Lumaco", region_name: "IX Región de la Araucania" },
        { id: 207, name: "Purén", region_name: "IX Región de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX Región de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "Maipúº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI Región de Ñuble" },
        { id: 341, name: "San Carlos", region_name: "XVI Región de Ñuble" },
        { id: 342, name: "San Fabián", region_name: "XVI Región de Ñuble" },
        { id: 343, name: "San Nicolás", region_name: "XVI Región de Ñuble" },
        {
          id: 295,
          name: "Peñalolén",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de Maipó",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "Conchalí",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "Río Bueno",
          region_name: "XII Región de Magallanes y de la Antá¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X Región de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "Cañete", region_name: "VIII del Bío Bío" },
        { id: 356, name: "Los Alamos", region_name: "VIII del Bío Bío" },
        { id: 355, name: "Lebu", region_name: "VIII del Bío Bío" },
        {
          id: 346,
          name: "Peñaflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI Región de Ñuble" },
        { id: 337, name: "RáÂ¡nquil", region_name: "XVI Región de Ñuble" },
        { id: 338, name: "Treguaco", region_name: "XVI Región de Ñuble" },
        { id: 339, name: "Coihueco", region_name: "XVI Región de Ñuble" }
      ],
      regions: [
        {id: 1, region_name: "I de Tarapacá" },
        {id: 2, region_name: "II de Antofagasta" },
        {id: 3, region_name: "III de Atacama" },
        {id: 4, region_name: "IV de Coquimbo" },
        {id: 5, region_name: "V de Valparaíso" },
        {id: 6, region_name: "VI del Libertador General Bernardo O'Higgins" },
        {id: 7, region_name: "VII del Maule" },
        {id: 8, region_name: "VIII del Bí­o Bí­o" },
        {id: 9, region_name: "IX Región de la Araucania" },
        {id: 10, region_name: "X Región de Los Lagos" },
        {id: 11, region_name: "XI Aisén del General Carlos Ibáñez del Campo" },
        {id: 12, region_name: "XII Región de Magallanes y de la Antártica Chilena" },
        {id: 13, region_name: "Metropolitana de Santiago" },
        {id: 14, region_name: "XIV Región de Los Rí­os" },
        {id: 15, region_name: "XV de Arica y Parinacota" },
        {id: 16, region_name: "XVI Región de Ñuble" },
      ],
      categories_list:        [],
      segmentation_list:      [],
      // exportar
      json_data:              [],
      json_fields:            {},
      nameFile:               "",
      loading_table:          false,
      // paginacion
      pageSize:               10,
      currentPage:            1,
      maxPage:                0,
      // config
      refresh_call:           true,
      perfil:                 0,
    };
  },
  mounted() {
    this.getAllQuestions()
  },
  computed: {
    resumenTable: function() {
      if(this.search != "") {
        let name = ""
        if(this.sw_table == 1) name = "region"
        else if(this.sw_table == 2) name = "commune"
        else if(this.sw_table == 3) name = "name_business"
        return this.data_table
        .filter(dt => dt[name].toUpperCase().includes(this.search.toUpperCase()))
      } else return this.data_table
    }
  },
  methods: {
    // listar datos
    getAllQuestions() {
      this.question_list = [];
      this.$http.get(this.getUrlBase() + "/api/v1/polls/", this.getHeaders())
      .then( response => {
        response.body.forEach(element => {
          this.question_list.push(element);
        });
        this.getCategories()
      },
      error => {
        this.aerror = error.status;
        if(this.aerror == 401) this.getAllQuestions()
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: Listado de preguntas.";
        }
      })
    },
    getCategories() {
      this.categories_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/categories/", this.getHeaders())
      .then( response => {
        this.categories_list = response.body
        this.getSegmentation()
      }, 
      error => {
        this.aerror = error.status;
        if (this.aerror == 401) this.getCategories() 
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de categorías"
        }
      })
    },
    getCategoryName(id){
      if(id != null){
        return this.categories_list.filter(cl => cl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
    getSegmentation(){
      this.segmentation_list = []
      this.$http.get(this.getUrlBase() + "/api/v1/subsidiary-segmentation/", this.getHeaders())
      .then( response => {
        this.segmentation_list = response.body
      }, 
      error => {
        this.aerror = error.status
        if (this.aerror == 401) this.getSegmentation()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener listado de segmentaciones."
        }
      })
    },
    getSegmentationName(id){
      if(id != null){
        return this.segmentation_list.filter(sl => sl.id == id)[0].description
      } 
      else return "Sin especificar"
    },
// -------------------------------------------------------------------------------------------------
    prepareFilters() {
      this.currentPage = 1
      if(this.selected_question != -1) this.getData()
      else {
        this.snack500 = true
        this.contentError = "Favor una pregunta"
      }
    },
    // obtener datos por región al seleccionar la segmentación
    getData() {
      this.total_pos = 0
      this.poll_true = 0
      this.poll_false = 0
      this.loading_table = true
      this.configTable(1)
      let url = this.getUrlBase() + '/api/v1/reports/region-poll-true/?id_poll=' + this.selected_question
      if(this.selected_segmentation != -1) url += '&id_type=' + this.selected_segmentation
      if(this.selected_category != -1) url += "&id_category=" + this.selected_category
      this.breadscrumb = "";
      
      this.$http.get(url, this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        if(response.body.length != 0)
        response.body.forEach( (reg, index) => {
          reg.index = ++index
          reg.region = this.replace(this.getRegionName(reg.region_id))
          this.data_table.push(reg)
          this.json_data.push(reg)
          this.total_pos += parseInt(reg.total_pos)
          this.poll_true += parseInt(reg.poll_true)
          this.poll_false += parseInt(reg.poll_false)
          if(index == response.body.length) {
            this.getLastPage(this.data_table)
            this.loading_table = false
          }
        })
        else this.loading_table = false
      },
      error =>  {
        this.loading_table = false
        this.aerror = error.status;
        if (this.aerror == 401) this.getData()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      })
    },
    // obtener datos por comuna al seleccionar una región
    getDataByRegion(id) {
      this.breadscrumb =this.breadscrumb = this.regions.filter(r => r.id == id)[0].region_name
      this.total_pos = 0
      this.poll_true = 0
      this.poll_false = 0
      this.selected_region = id
      this.loading_table = true
      this.configTable(2)
      let url = this.getUrlBase() + '/api/v1/reports/commune-poll-true/?id_region=' + id + 
      "&id_poll=" + this.selected_question
      if(this.selected_segmentation != -1) url += '&id_type=' + this.selected_segmentation
      if(this.selected_category != -1) url += "&id_category=" + this.selected_category

      this.$http.get(url, this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        if(response.body.length != 0)
        response.body.forEach( (com, index) => {
          com.index = ++index
          com.commune = this.replaceComuna(com.commune)
          com.id_region = id
          com.region = this.replace(this.getRegionName(id))
          this.data_table.push(com)
          this.json_data.push(com)
          this.total_pos += parseInt(com.total_pos)
          this.poll_true += parseInt(com.poll_true)
          this.poll_false += parseInt(com.poll_false)
          if(index == response.body.length) {
            this.getLastPage(this.data_table)
            this.loading_table = false
          }
        })
        else this.loading_table = false
      },
      error =>  {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataByRegion(id)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Resumen por Región";
        }
      })
    },
    onSelectRow(item) {
      if(item != undefined) {
        this.search = ""
        if(this.sw_table == 1) {
          this.getDataByRegion(item.region_id)
          this.breadscrumb = this.getRegionName(item.region_id)
        } else if(this.sw_table == 2) {
          if(this.perfil != 2 && this.perfil != 5) this.getDataByCommune(item.id_commune, item.id_region)
          this.breadscrumb += " / " + this.getCommuneName(item.id_commune)
        }
      }
    },
    // obtener los pdv vistados por comuna
    getDataByCommune(id_commune, id_region) {
      this.loading_table = true
      this.configTable(3)
      let url = this.getUrlBase() + "/api/v1/reports/subsidiary-poll-true/?id_poll=" + 
      this.selected_question + "&id_commune=" + id_commune
      if(this.selected_segmentation != -1) url += "&id_type=" + this.selected_segmentation
      if(this.selected_category != -1) url += "&id_category=" + this.selected_category

      this.$http.get(url, this.getHeaders())
      .then( response => {
        this.data_table = []
        this.json_data = []
        response.body.forEach( (suc, index) => {
          this.count++
          suc.commune = this.replaceComuna(this.getCommuneName(id_commune))
          suc.region = this.replace(this.getRegionName(id_region))
          suc.category = this.getCategoryName(suc.id_category)
          suc.publish_t = suc.publish ? 'Si' : 'No'
          suc.training_t = suc.training ? 'Si' : 'No'
          suc.last_visit = this.getTime(suc.last_visit)
          suc.segmentation_name = this.getSegmentationName(suc.segmentation_score)
          suc.answer_t = suc.answer ? "Si" : "No"
          suc.q_home = suc.q_home != null ? suc.q_home : 0
          suc.coverage = suc.coverage != null ? suc.coverage : 0
          this.data_table.push(suc)
          this.json_data.push(suc)
          if(index == response.body.length-1) {
            this.getLastPage(this.data_table)
            this.loading_table = false
          }
        })
      },
      error => {
        this.loading_table = false;
        this.aerror = error.status;
        if (this.aerror == 401) this.getDataByCommune(id_commune, id_region)
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener Reporte PDV Visitados";
        }
      })
    },
// -------------------------------------------------------------------------------------------------
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.data_table.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.data_table.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage(array) {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < array.length; n++) {
        this.maxPage++;
      }
    },
    configTable(param){
      this.count = 0
      this.total_pos = 0
      this.data_table = []
      this.currentPage = 1
      this.sw_table = param
      switch(param) {
        case 1:
          this.json_fields = { 
            'Región' :            'region',
            'Encuestados' :       'total_pos',
            'Afirmativo' :        'poll_true',
            'Negativo' :          'poll_false'
          }
          this.file_name = "Resumen Encuesta Regional - " + this.question_list.filter(ql => ql.id == this.selected_question)[0].description 
          if(this.selected_segmentation != -1) this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
          if(this.selected_category != -1)  this.file_name += " | " + this.getCategoryName(this.selected_category)
          this.file_name += ".xls"
          break;
        case 2:
          this.json_fields = { 
            'Comuna' :            'commune',
            'Respuestas' :        'total_pos',
            'Afirmativo' :        'poll_true',
            'Negativo' :          'poll_false'
          }
          this.file_name = "Resumen Encuesta Comunal - " + this.question_list.filter(ql => ql.id == this.selected_question)[0].description
          if(this.selected_segmentation != -1) this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
          if(this.selected_category != -1)  this.file_name += " | " + this.getCategoryName(this.selected_category)
          this.file_name += ".xls"
          break;
        case 3:
          this.json_fields = {
            "Región":               "region",
            "Comuna":               "commune",
            "Foto":                 "picture_business",
            "Nombre":               "name_business",
            "Dirección":            "address",
            "Stock 356":            "stock",
            "Stock 374":            "stock374",
            "Última Visita":        "last_visit",
            "Categoría":            "category",
            "Con Publicidad":       "publish_t",
            "Capacitado":           "training_t",
            "Segmentación":         "segmentation_name",
            "Covertura":            "coverage",
            "Viviendas":            "q_home",
            "Respuesta":            "answer_t"
          }
            this.file_name = "Reporte Encuesta - " + this.question_list.filter(ql => ql.id == this.selected_question)[0].description
            if(this.selected_segmentation != -1) this.file_name += " | " + this.getSegmentationName(this.selected_segmentation)
            if(this.selected_category != -1)  this.file_name += " | " + this.getCategoryName(this.selected_category)
            this.file_name += ".xls"
          break;
      }
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replace(name){
      let nombre = name.replace("Ã¡","á").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").
      replace("í³","ó").replace("Ãº","ú").replace("Ã","Á").replace("Ã±","ñ").
      replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ")
      return nombre;
    },
    /**
     * Metodo para remplazar los caractes especiales del nombre de regiones
     */
    replaceComuna(name){
      let Comuna = name.replace("Ã¡","á").replace("Ãâ","Ñ").replace("Ã­Â­","í").replace("Ã‘","Ñ").replace("Ã¡","á").
      replace("Ã©","é").replace("Ã","í").replace("Ã","í").replace("Ã³","ó").replace("í³","ó").replace("Ãº","ú").
      replace("Ã","Á").replace("Ã±","ñ").replace("í±","ñ").replace("Ã‰","É").replace("Ã","Í").replace("í","ñ").
      replace("íÂ±","ñ").replace("íÂ¼","ü").replace("íÂ³","ó").replace("íÂ¡","á").replace("íÂ","í").
      replace("í©","é").replace("íº","ú").replace("í","Á").replace("íÂ","í").replace("ÁÂ±","ñ").
      replace("í¢â¬â¢","'").replace("íâ","Ñ")
      return Comuna;
    },
    clearFields(){
      this.selected_category = -1
      this.date_start = new Date()
      this.date_end = new Date()
    },
    getTime(fecha){
      var date = new Date(fecha)
      var options = {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      }
      date = date.toLocaleString("es-ES", options);
      return date.replace(".", "");
    },  
    formatDate(fecha) {
      fecha = new Date(fecha)
      return fecha.getFullYear() + "-" + (fecha.getMonth() + 1) +"-" + fecha.getDate()
    },
    customSort(value) {
      switch (this.currentSort) {
        case "last_visit":
        case "answer_t":
        case "name_business":
          return this.data_table.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "location":
          return this.data_table.sort((a, b) => {
          const sortBy = (this.sw_table == 1) ? 'region' : 'commune'
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
          });
          break;
        case "total_pos":
        case "poll_true":
        case "poll_false":
        case "index":
        return this.data_table.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy] - b[sortBy] 
          }
          return b[sortBy] - a[sortBy]
        })
        break
      }
    },
    getCoverageColor(coverage) {
      if(coverage == 0) return 'b-grey'
      else if(coverage > 0 && coverage <= 25) return 'b-blue'
      else if(coverage > 25 && coverage <= 50) return 'b-morado'
      else if(coverage > 50 && coverage <= 75) return 'b-yellow'
      else if(coverage > 75) return 'b-green'
    },
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.communes.filter(item => item.id == val)[0]
        return (obj != undefined) ? obj.name : "Sin información"
      }
    },
    //obtener el nombre de la region por su id
    getRegionName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.regions.filter(r => r.id == val)[0]
        return (obj != undefined) ? obj.region_name : "Sin información"
      }
    },
  },
  created() {
    this.perfil = this.$localStorage.get("ThePerfil")
  }
};
</script>
<style>
.md-table-empty-state {
  color: #000 !important;
}
#ContSurvey {
  padding: 0 2% 20px 2%;
}
/* headers*/
#location-table-survey > div.md-table-fixed-header > div > table > thead > tr{
  background-color: #448aff !important;
}
#location-table-survey > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: beige !important;
}
#location-table-survey > div.md-table-fixed-header > table > thead > tr > th {
  width: 20vw !important;
}
#location-table-survey > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td {
  width: 20vw !important;
}
/* headers pdv */
#pdv-table-visits > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
#pdv-table-visits > div.md-table-fixed-header > div > table > thead > tr > th > div > div {
  color: beige !important;
}
.img-suc {
  height: 35px !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
#pagging-visits {
  align-items: left;
  padding: 5px 0;
}
.pagging-visits-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-visits-icon {
  color: beige !important;
}
.pagging-visits-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}
/* div ficha pdv */
.div-pdv {
  display: inline-grid; 
  text-align: center !important; 
  width: 100%; 
  position: relative;
}
/* total row */
#location-table-survey {
  transition: 0.5ms all;
}
#location-table-survey > tr {
  background-color: #ff5111;
}
#location-table-survey > tr > td > div {
  color: beige;
  font-size: 16px;
  font-weight: bold;
}
#location-table-survey > tr > td {
  width: 20vw !important;
}
.icon-search2 {
  cursor: pointer;
  color: #f64b2d !important;
}
.icon-search2:hover {
  color: #ff5111 !important;
}
/* Total */
.texto-crumb {
  text-align: left;
  display: flex;
  color: #448aff;
  font-weight: bold;
}

</style>
