<template>
    <div id="reportProspectChecked">
        <md-card>
            <md-card-header>
                <md-avatar style="position: relative; top: -8px !important;">
                    <i class="material-icons">schedule</i>
                </md-avatar>
                <div class="md-title-report">Reportes de Prospectos atendidos</div>
            </md-card-header>
            <md-card-content class="pa-0">
                <div class="md-toolbar-row md-layout md-size-100">
                    <div class="md-layout-item md-layout md-alignment-center md-size-100 md-gutter">
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Desde</span>
                            <md-datepicker v-model="selected_datestart" md-immediately />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Hasta</span>
                            <md-datepicker v-model="selected_dateend" md-immediately />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <md-field>
                                <md-select name="product" placeholder="Producto" :value="selected_product" @md-selected="onSelect($event)">
                                    <md-option v-for="(prod, idx) in list_product" :value="prod.id" :key="'P'+idx">{{ prod.description }}</md-option>
                                </md-select>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                            <download-excel :data="data_excel" :fields="fields_excel" :name="name_excel" v-if="data_table.length != 0">
                            <md-icon class="md-size-2 btn">archive</md-icon>
                            </download-excel>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-content class="pa-0">
                <md-table id="reportsprospect_table" class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;"
                    :value="data_table" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
                    <md-table-empty-state v-if="search" :md-label="loading ? 'Cargando Datos' : 'Sin datos para mostrar'" 
                        :md-description="loading ? 'por favor espere un momentos los datos se están cargando' : 
                        'No se han encontrado registros'">
                        <md-progress-bar v-if="loading" class="progress-bar" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
                    </md-table-empty-state>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="N°" md-sort-by="index" style="text-align: center !important;">{{ item.index }}</md-table-cell>
                        <md-table-cell md-label="Nombre Captador" md-sort-by="user_created" style="text-align: left !important;">{{ item.user_created }}</md-table-cell>
                        <md-table-cell md-label="Rut Prospecto" md-sort-by="prospect_rut" style="text-align: left !important;">{{ item.prospect_rut }}</md-table-cell>
                        <md-table-cell md-label="Nombre Prospecto" md-sort-by="prospect_name" style="text-align: left !important;">{{ item.prospect_name }}</md-table-cell>
                        <md-table-cell md-label="Nombre Agendador" md-sort-by="caller_name" style="text-align: left !important;">{{ item.caller_name }}</md-table-cell>
                        <md-table-cell md-label="Estado" md-sort-by="schedule_status" style="text-align: left !important;">{{ item.schedule_status }}</md-table-cell>
                        <md-table-cell md-label="Producto" md-sort-by="product_type" style="text-align: left !important;">{{ item.product_type }}</md-table-cell>
                        <md-table-cell md-label="Fecha Captación" md-sort-by="created_at" style="text-align: left !important;">{{ item.created_at | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Fecha Agendamiento" md-sort-by="schedule_created_at" style="text-align: left !important;">{{ item.schedule_created_at | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Fecha Venta" md-sort-by="sale_date" style="text-align: left !important;">{{ item.sale_date }}</md-table-cell>
                        <!-- <md-table-cell md-label="Observaciones" md-sort-by="observation" style="text-align: left !important;">{{ item.observation }}</md-table-cell> -->
                        <md-table-cell md-label="Comprobante Venta">
                            <md-avatar :class="{'pointer': !item.sale_image.includes('None') }">
                                <img :src="item.sale_image" alt="comp.vent." @click="showImage(item.sale_image, !item.sale_image.includes('None'))">
                            </md-avatar>                            
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>

        <!-- dialog imagen -->
        <md-dialog :md-active.sync="dialog_image" style="width: 40vw;">
            <img :src="image" alt="comprobante venta">
        </md-dialog>
        <!-- <div class="footer-total mt-2">Total ventas: {{count_sales}}</div> -->
    <!-- alertas -->
        <md-dialog-alert :md-active.sync="alert" :md-content="content"/>
        <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
        <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
        <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
        <md-dialog-alert :md-active.sync="nodata" md-content="No se encontraron registros."/>

    </div>
</template>

<script>
export default {
    data() {
        return {
            dialog_image:               false,
            image:                      '',
            currentSort:                "user_created",
            currentSortOrder:           "asc",
            alert:                      false,
            snackPassDateStart:         false,
            snackPassToday:             false,
            snackEmptyFilter:           false,
            nodata:                     false,
            content:                    "",
            loading:                    false,
            data_table:                 [],
            count_sales:                0,
            data_excel:                 [],
            fields_excel:               {
                "Nombre Captador": "user_created",
                "Rut Prospecto": "prospect_rut",
                "Nombre Prospecto": "prospect_name",
                "Nombre Agendador": "caller_name",
                "Estado": "schedule_status",
                "Producto": "product_type",
                "Fecha Captación": "created_at",
                "Fecha Agendamiento": "schedule_created_at",
                "Fecha Venta": "sale_date",
                "Comprobante Venta": "sale_image"
                // "Observaciones": "observation"
            },
            name_excel:                 '',
            selected_datestart:         null,
            selected_dateend:           new Date(),
            selected_product:           null,
            list_product:               [],
            only_sales:                 false,
            search:                     false,
        }
    },
    created(){},
    mounted(){
        this.getProducts();
    },
    methods: {
        async getProducts() {
            this.list_product = [];
            try {
                const resp = await this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
                this.list_product = resp.body.filter(rb => rb.id != 1 && rb.id != 2 && rb.id != 8);
            } catch (error) {
                if (error.status == 401) this.getProducts();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener listado de productos.";
                }
            }
        },
        validateFields() {
            if (this.selected_datestart == null || this.selected_dateend == null) {
                this.snackEmptyFilter = true;
            } else if (this.selected_datestart > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend < this.selected_datestart) {
                this.snackPassDateStart = true;
            } else {
                this.getData();
            }
        },
        onSelect(event) {
            this.selected_product = event;
        },
        getData() {
            this.count_sales = 0;
            this.data_table = []
            this.data_excel = []
            this.search = true;
            this.loading = true;
            const startDate =
                this.selected_datestart.getFullYear() +
                "-" +
                (this.selected_datestart.getMonth() + 1) +
                "-" +
                this.selected_datestart.getDate();
            const endDate =
                this.selected_dateend.getFullYear() +
                "-" +
                (this.selected_dateend.getMonth() + 1) +
                "-" +
                this.selected_dateend.getDate();

            let url = this.getUrlBase() + "/api/v1/reports/prospect-attended/?date_start=" + startDate + "&date_end=" + endDate;
            if(this.selected_product != null) url += "&product=" + this.selected_product;

            this.$http.get(url, this.getHeaders()).then( response => {
                this.data_table = []
                this.data_excel = []
                if (response.body.length != 0) {
                    this.name_excel =
                        "Reporte Prospectos Atendidos " +
                        this.selected_datestart.getFullYear() +
                        (this.selected_datestart.getMonth() + 1) +
                        this.selected_datestart.getDate() +
                        "-" +
                        this.selected_dateend.getFullYear() +
                        (this.selected_dateend.getMonth() + 1) +
                        this.selected_dateend.getDate() +
                        ".xls";

                    response.body.forEach((item, index )=> {
                        item.index = ++index;
                        item.observation = item.observation != null ? item.observation : ''
                        item.sale_date = item.sale_date != null ? item.sale_date : ''
                        item.caller_name = item.caller_name != null ? item.caller_name : ''
                        this.data_table.push(item);
                        this.data_excel.push(item);
                        // if( item.schedule_status == 'Venta') this.count_sales++;
                    });
                    this.loading = false;
                } else {
                this.loading = false;
                }
            },
            error => {
                this.loading = false;
                if (error.status == 401) this.getData();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener datos relacionados con: Reporte de prospectos.";
                }
            });
        },
        customSort(value) {
            const sortBy = this.currentSort
            return this.data_table.sort((a, b) => {
                const sortBy = this.currentSort;
                if (this.currentSortOrder === "desc") {
                if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
                else return a[sortBy] - b[sortBy];
                } else {
                if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
                else return b[sortBy] - a[sortBy];
                }
            })
        },
        showImage(image, show) {
            if(show) {
                this.dialog_image = true;
                this.image = image;
            }

        }
    }
}
</script>

<style>
#reportsprospect_table {
    overflow-x: auto !important;
    height: 60vh;
}
#reportsprospect_table > div > div > table > thead > tr {
    background-color: #448aff !important;
}
#reportsprospect_table > div > div  > table > thead > tr > th > div > div {
    color: white !important;
}
#reportsprospect_table > div > div  > table > thead > tr > th {
    width: 10vw !important;
}

#reportsprospect_table > div  > table > tbody > tr > td {
    width: 10vw !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.footer-total {
    position: relative;
    text-align: right;
    font-weight: 600;
}
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
#reportsprospect_table > div.md-content.md-table-content.md-scrollbar.md-theme-default {
    height: auto !important;
    max-height: auto !important;
}
.md-title-report {
    font-size: 20px !important;
}
.pointer {
    cursor: pointer;
}
</style>