<template>
    <div id="reportScheduleCont">
        <md-card>
            <md-card-header>
                <md-avatar style="position: relative; top: -8px !important;">
                    <i class="material-icons">schedule</i>
                </md-avatar>
                <div class="md-title-report">Reportes de Prospectos</div>
            </md-card-header>
            <md-card-content class="pa-0">
                <div class="md-toolbar-row md-layout md-size-100">
                    <div class="md-layout-item md-layout md-alignment-center md-size-100 md-gutter">
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Desde</span>
                            <md-datepicker v-model="selected_datestart" md-immediately />
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <span style="top:0px; position:absolute;">Hasta</span>
                            <md-datepicker v-model="selected_dateend" md-immediately />
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                        <md-autocomplete v-model="selected_rut" :md-options="prospect_ruts" :md-open-on-focus="false" @md-selected="onSelectRut">
                            <label>Rut Prospecto</label>
                            <template slot="md-autocomplete-item" slot-scope="{ item, term }">
                                <md-highlight-text :md-term="term">{{ item.rut_completo }}</md-highlight-text>
                            </template>
                            <template slot="md-autocomplete-empty" slot-scope="{ term }">
                                Sin coincidencias para "{{ term }}".
                            </template>
                        </md-autocomplete>
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <md-field for="type" :class="{'md-invalid': errors.has('type')}">
                                <label>Estado</label>
                                <md-select ref="id_type" v-model="selected_status">
                                <md-option v-for="(item, idx) in state_list" v-bind:value="item.description" :key="idx">{{item.description}}</md-option>
                                </md-select>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <md-switch v-model="state" class="md-primary md-dense md-raised">
                                <span>Solo ventas</span>
                            </md-switch>
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
                        </div>
                        <div class="md-layout-item md-size-15 md-medium-size-15 md-small-size-50 md-xsmall-size-100">
                            <download-excel :data="data_excel" :fields="fields_excel" :name="name_excel" v-if="data_table.length != 0">
                            <md-icon class="md-size-2 btn">archive</md-icon>
                            </download-excel>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-content class="pa-0">
                <md-table id="reportschedule_table" class="md-large md-primary" style="background-color: #ffffff !important; overflow-x: hidden; top:10px; position:relative;"
                    :value="data_table" :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
                    <md-table-empty-state v-if="search" :md-label="loading ? 'Cargando Datos' : 'Sin datos para mostrar'" 
                        :md-description="loading ? 'por favor espere un momentos los datos se están cargando' : 
                        'No se han encontrado registros'">
                        <md-progress-bar v-if="loading" class="progress-bar" style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
                    </md-table-empty-state>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="N°" md-sort-by="index" style="text-align: center !important;">{{ item.index }}</md-table-cell>
                        <md-table-cell md-label="Nombre Captador" md-sort-by="user_created" style="text-align: left !important;">{{ item.user_created }}</md-table-cell>
                        <md-table-cell md-label="Rut Prospecto" md-sort-by="prospect_rut" style="text-align: left !important;">{{ item.prospect_rut }}</md-table-cell>
                        <md-table-cell md-label="Nombre Prospecto" md-sort-by="prospect_name" style="text-align: left !important;">{{ item.prospect_name }}</md-table-cell>
                        <md-table-cell md-label="Nombre Agendador" md-sort-by="caller_name" style="text-align: left !important;">{{ item.caller_name }}</md-table-cell>
                        <md-table-cell md-label="Estado" md-sort-by="schedule_status" style="text-align: left !important;">{{ item.schedule_status }}</md-table-cell>
                        <md-table-cell md-label="Producto" md-sort-by="product_type" style="text-align: left !important;">{{ item.product_type }}</md-table-cell>
                        <md-table-cell md-label="Fecha Captación" md-sort-by="created_at" style="text-align: left !important;">{{ item.created_at | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Fecha Agendamiento" md-sort-by="schedule_created_at" style="text-align: left !important;">{{ item.schedule_created_at | formatDate }}</md-table-cell>
                        <md-table-cell md-label="Fecha Venta" md-sort-by="sale_date" style="text-align: left !important;">{{ item.sale_date }}</md-table-cell>
                        <md-table-cell md-label="N° Venta" md-sort-by="number_sale" style="text-align: left !important;">{{ item.number_sale }}</md-table-cell>
                        <md-table-cell md-label="N° Tel Entel" md-sort-by="entel_number" style="text-align: left !important;">{{ item.entel_number }}</md-table-cell>
                        <md-table-cell md-label="Comprobante Venta">
                            <md-avatar :class="{'pointer': !item.sale_image.includes('None') }">
                                <img :src="item.sale_image" alt="comp.vent." @click="showImage(item.sale_image, !item.sale_image.includes('None'))">
                            </md-avatar>                            
                        </md-table-cell>
                        <md-table-cell md-label="Observaciones" md-sort-by="observation" style="text-align: left !important;">{{ item.observation }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
        </md-card>
        <!-- dialog imagen -->
    <md-dialog :md-active.sync="dialog_image" style="width: 40vw;">
        <img :src="image" alt="comprobante venta">
    </md-dialog>
        <!-- <div class="footer-total mt-2">Total ventas: {{count_sales}}</div> -->
    <!-- alertas -->
        <md-dialog-alert :md-active.sync="alert" :md-content="content"/>
        <md-dialog-alert :md-active.sync="snackPassDateStart" md-content="Datos incorrectos, la fecha de inicio no puede ser superior a la fecha de termino."/>
        <md-dialog-alert :md-active.sync="snackPassToday" md-content="Datos incorrectos, las fechas no pueden ser superior al día actual."/>
        <md-dialog-alert :md-active.sync="snackEmptyFilter" md-content="Campos incompletos, favor revisar filtros."/>
        <md-dialog-alert :md-active.sync="nodata" md-content="No se encontraron registros."/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            state:                      false,
            selected_status:            'Todos',
            state_list:                 [],
            dialog_image:               false,
            image:                      "",
            currentSort:                "user_created",
            currentSortOrder:           "asc",

            alert:                      false,
            snackPassDateStart:         false,
            snackPassToday:             false,
            snackEmptyFilter:           false,
            nodata:                     false,
            content:                    "",
            loading:                    false,
            data_table:                 [],
            count_sales:                0,
            data_excel:                 [],
            fields_excel:               {
                "Nombre Captador": "user_created",
                "Rut Prospecto": "prospect_rut",
                "Nombre Prospecto": "prospect_name",
                "Nombre Agendador": "caller_name",
                "Estado": "schedule_status",
                "Producto": "product_type",
                "Fecha Captación": "created_at",
                "Fecha Agendamiento": "schedule_created_at",
                "Fecha Venta": "sale_date",
                "Observaciones": "observation",
                "Comprobante Venta": "sale_image",
                "N° de Venta": "number_sale",
                "N° Tel Entel": "entel_number",
            },
            name_excel:                 '',
            prospect_ruts:              [],
            selected_datestart:         null,
            selected_dateend:           new Date(),
            selected_rut:               '',
            selected_rut_data:          {
                rut: '',
                dv: '',
                rut_completo: ''
            },
            only_sales:                 false,
            search:                     false,
        }
    },
    created(){},
    mounted(){
        this.getStates();
        this.getProspectRuts();
    },
    watch: {
        selected_rut() {
            if(this.selected_rut == '') {
                this.selected_rut_data = {
                    rut: '',
                    dv: '',
                    rut_completo: ''
                }
            } else {
                this.selected_rut = this.selected_rut_data.rut_completo
            }
        }
    },
    methods: {
        async getStates() {
            this.state_list = []
            try {
                let response = await this.$http.get(this.getUrlBase() + "/api/v1/status/", this.getHeaders())
                response.body = response.body.sort((a,b) => a.id - b.id).filter(a => a.id != 1)
                this.state_list.push({
                    id: null,
                    description: 'Todos',
                })
                this.state_list = this.state_list.concat(response.body);
            } catch (error) {
                this.aerror = error.status
                if(this.aerror == 0) this.contentError = "No se ha logrado conectar con el servidor, intente más tarde."
                if(this.aerror == 500) this.contentError = "Error al cargar Listado de estados."
                if(this.aerror == 401) this.getStates()
                if(this.aerror == 0 || this.aerror == 500) this.snack500 = true
            }
        },
        getProspectRuts() {
            this.prospect_ruts = [];
            this.$http.get(this.getUrlBase() + "/api/v1/reports/prospect-rut/", this.getHeaders()).then( response => {
                this.prospect_ruts = response.body
                    .filter((thing, index, self) => self.findIndex(t => t.rut === thing.rut && t.dv === thing.dv) === index)
                    .map( r => { return { rut: r.rut, dv: r.dv, rut_completo: r.rut + "-" + r.dv } });
            }, error => {
                if (error.status == 401) this.getProspectRuts();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener datos relacionados con: Listado de Ruts.";
                }
            });
        },
        onSelectRut(item) {
            // this.selected_rut = item.rut_completo
            this.selected_rut_data = {
                rut: item.rut,
                dv: item.dv,
                rut_completo: item.rut_completo
            };
        },
        validateFields() {
            if (this.selected_datestart == null) {
                this.snackEmptyFilter = true;
            } else if (this.selected_datestart > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend == null) {
                this.snackEmptyFilter = true;
            } else if (this.selected_dateend > this.today) {
                this.snackPassToday = true;
            } else if (this.selected_dateend < this.selected_datestart) {
                this.snackPassDateStart = true;
            } else {
                this.getData();
            }
        },
        getData() {
            this.count_sales = 0;
            this.data_table = []
            this.data_excel = []
            this.search = true;
            this.loading = true;
            const startDate =
                this.selected_datestart.getFullYear() +
                "-" +
                (this.selected_datestart.getMonth() + 1) +
                "-" +
                this.selected_datestart.getDate();
            const endDate =
                this.selected_dateend.getFullYear() +
                "-" +
                (this.selected_dateend.getMonth() + 1) +
                "-" +
                this.selected_dateend.getDate();

            let url = this.getUrlBase() + "/api/v1/reports/prospect-report/?date_start=" + startDate + "&date_end=" + endDate;
            if(this.selected_rut != '') url += "&rut=" + this.selected_rut_data.rut + "&dv=" + this.selected_rut_data.dv;
            if(this.state) url += '&status=bla';

            this.$http.get(url, this.getHeaders()).then( response => {
                this.data_table = []
                this.data_excel = []
                if (response.body.length != 0) {
                    if(this.selected_status != 'Todos') response.body = response.body.filter(rb => rb.schedule_status == this.selected_status)
                    this.name_excel =
                        "Reporte Prospectos " +
                        this.selected_datestart.getFullYear() +
                        (this.selected_datestart.getMonth() + 1) +
                        this.selected_datestart.getDate() +
                        "-" +
                        this.selected_dateend.getFullYear() +
                        (this.selected_dateend.getMonth() + 1) +
                        this.selected_dateend.getDate() +
                        ".xls";

                    response.body.forEach((item, index )=> {
                        item.index = ++index;
                        item.observation = item.observation != null ? item.observation : ''
                        item.sale_date = item.sale_date != null ? item.sale_date : ''
                        item.caller_name = item.caller_name != null ? item.caller_name : ''
                        this.data_table.push(item);
                        this.data_excel.push(item);
                        // if( item.schedule_status == 'Venta') this.count_sales++;
                    });
                    this.loading = false;
                } else {
                this.loading = false;
                }
            },
            error => {
                this.loading = false;
                if (error.status == 401) this.getData();
                if (error.status == 500) {
                    this.alert = true;
                    this.content = "Error al obtener datos relacionados con: Reporte de prospectos.";
                }
            });
        },
        customSort(value) {
            const sortBy = this.currentSort
            return this.data_table.sort((a, b) => {
                const sortBy = this.currentSort;
                if (this.currentSortOrder === "desc") {
                if(typeof a[sortBy] == "string") return a[sortBy].localeCompare(b[sortBy]);
                else return a[sortBy] - b[sortBy];
                } else {
                if(typeof a[sortBy] == "string") return b[sortBy].localeCompare(a[sortBy]);
                else return b[sortBy] - a[sortBy];
                }
            })
        },
        showImage(image, show) {
            if(show) {
                this.dialog_image = true;
                this.image = image;
            }

        }
    }
}
</script>

<style>
#reportschedule_table {
    overflow-x: auto !important;
    height: 60vh;
}
#reportschedule_table > div > div > table > thead > tr {
    background-color: #448aff !important;
}
#reportschedule_table > div > div  > table > thead > tr > th > div > div {
    color: white !important;
}
#reportschedule_table > div > div  > table > thead > tr > th {
    width: 15vw !important;
}
#reportschedule_table > div  > table > tbody > tr > td {
    width: 15vw !important;
}
#reportschedule_table > .md-table-fixed-header {
    width: max-content !important;  
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.footer-total {
    position: relative;
    text-align: right;
    font-weight: 600;
}
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
#reportschedule_table > div.md-content.md-table-content.md-scrollbar.md-theme-default {
    height: auto !important;
    max-height: auto !important;
}
.md-title-report {
    font-size: 20px !important;
}
.pointer {
    cursor: pointer;
}
</style>