<template>
    <div id="activationCont">
      <md-card class="cont md-size-95">
        <md-card-header >
            <div class="md-title" style="position: relative;">
              Activaciones

              <div style="position: absolute; right: 20px; top: -5px">
                <download-excel :data="json_data" :name="file_name">
                  <md-button class="md-icon-button"><md-icon class="material-icons" :class="{'rotate': loading_general }">{{ loading_general ? 'autorenew' : 'storage'}}</md-icon></md-button>
                  <md-tooltip md-direction="top">EXCEL GENERAL</md-tooltip>
                </download-excel>
              </div>
            </div>
        </md-card-header>
        <md-card-content class="md-layout md-alignment-center">
          <div class="md-layout md-layout-item md-gutter md-alignment-center" > <!--style="min-width: 1289px; !important;"-->
            <div class="md-layout-item md-size-30 md-xsmall-size-90 md-small-size-90 md-size-medium-30">
              <md-field>
                <md-select v-model="selected_type" placeholder="Tipo de Chip" @md-selected="clearData">
                  <md-option  v-for="(typeChip) in types"  :value="typeChip.id" :key="typeChip.id">{{typeChip.description}}</md-option>
                </md-select>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-xsmall-size-90 md-small-size-90 md-size-medium-30">
              <md-field>
                <md-select :disabled="loading" v-model="selected_year" placeholder="Año" @md-selected="dataTypeChip">
                  <md-option  v-for="(year) in years"  :value="year" :key="year">{{year}}</md-option>
                </md-select>
              </md-field>
            </div>
          </div>
          <div v-if="loading" class="md-layout md-alignment-center md-layout-item md-size-100">
            <md-progress-bar style="width: 90vw !important; height: 2px !important; position: absolute; z-index:20 !important;" md-mode="indeterminate"></md-progress-bar>
          </div>
        </md-card-content>
        <md-card-content>
          <div v-for="(item, idx) in activatesOrder" :key="idx" class="md-layout md-gutter md-alignment-left" style="display: inline-flex;">
            <md-card class="md-elevation-1" style="width: 450px; height: 450px; margin: 5% 10% 2% 10%">
              <md-card-header v-if="selected_type == 1" class="md-card-header1">
                <div style="color: white; position: relative; left:-140px; top:15px;">
                    <i class="material-icons">sim_card</i>
                </div>
                <span style="position:relative; cursor: pointer !important;" class="md-title2" @click="activationCharts(item.mes)">{{item.mes}}</span>
              </md-card-header>
              <md-card-header v-if="selected_type == 2" class="md-card-header2">
                <div style="color: white; position: relative; left:-140px; top:15px;">
                    <i class="material-icons">sim_card</i>
                </div>
                <span style="position:relative; cursor: pointer !important;" class="md-title2" @click="activationCharts(item.mes)">{{item.mes}}</span>
              </md-card-header>
              <md-card-header v-if="selected_type == 3" class="md-card-header3">
                <div style="color: white; position: relative; left:-140px; top:15px;">
                  <i class="material-icons">sim_card</i>
                </div>
                <span style="position:relative; cursor: pointer !important;" class="md-title2">{{item.mes}}</span>
              </md-card-header>
              <md-card-content>
                <div v-if="selected_type == 1" class="md-qpdv1">PQDV: {{ item.qpdv }}</div>
                <div v-if="selected_type == 2" class="md-qpdv2">PQDV: {{ item.qpdv }}</div>
                <div v-if="selected_type == 3" class="md-qpdv3">PQDV: {{ item.qpdv }}</div>
                <IEcharts :option="optionsSorted[idx]"></IEcharts>
              </md-card-content>
            </md-card>
          </div>
        </md-card-content>
    </md-card>
<!-- ALERTAS  -->
    <md-dialog-confirm md-confirm-text="Salir" :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
  </div>
</template>
<script>
import IEcharts from "vue-echarts-v3/src/full.js";

export default {
  name: "reportActivacion",
  components: {
    IEcharts
  },
  data() {
    return {
      // alertas
      aerror: "",
      snackOauth: false,
      snack500: false,
      contentError: "",
      position: "center",
      loading: false,
      // opciones gráfico
      options: [],
      years: [],
      // massive excel
      loading_general: false,
      json_fields: {},
      json_data: [],
      file_name: '',
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      loading: false,
      types: [],
      typeChip: [],
      selected_type: 0,
      selected_year: 0,
      activates: [],
      // configuracion
      today: null,
      yyyy: 0,
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.yyyy = this.today.getFullYear();
    this.setYearFilter();
    this.loadTypeChip();
    this.loadGeneralData();
  },
  computed: {
    activatesOrder() {
      const months = {
        Enero: 1,
        Febrero: 2,
        Marzo: 3,
        Abril: 4,
        Mayo: 5,
        Junio: 6,
        Julio: 7,
        Agosto: 8,
        Septiembre: 9,
        Octubre: 10,
        Noviembre: 11,
        Diciembre: 12
      };
      return this.activates.sort((a, b) => months[a.mes] - months[b.mes]);
    },
    optionsSorted() {
      const months = {
        Enero: 1,
        Febrero: 2,
        Marzo: 3,
        Abril: 4,
        Mayo: 5,
        Junio: 6,
        Julio: 7,
        Agosto: 8,
        Septiembre: 9,
        Octubre: 10,
        Noviembre: 11,
        Diciembre: 12
      };
      return this.options.sort(
        (a, b) => months[a.series[0].name] - months[b.series[0].name]
      );
    }
  },
  methods: {
    setYearFilter(){
      var first_year = 2018
      this.years.push(first_year);
      for(var i = 0; i < 20; i++){
        first_year++;
        if(first_year <= this.yyyy){
          this.years.push(first_year);        
        }
      }
    },    
    clearData(){
      this.activates = [];
    },
    //cargar filtros
    loadTypeChip() {
      this.loading = true
      this.$http.get(this.getUrlBase() + "/api/v1/type/", this.getHeaders())
      .then( response => {
        this.types = response.body.filter(a => a.is_active && a.id == 1 || a.id == 2)
        this.types.push({
          id: 3,
          description: "General",
          user_created: "contacto@icov.cl",
          is_active: true,
          created_at: "2018-05-27T00:00:00Z"
        });
        this.loading = false
      },
      error => {
        this.aerror = error.status
        this.loading = false
        if (this.aerror == 401) this.loadTypeChip()
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al obtener datos relacionados con: Listado de tipos"
        }
      })
    },
    //obtener datos para los gráficos de embudo mensuales según filtro
    dataTypeChip(year) {
      this.loading = true
      this.activates = []
      this.options = [];
      switch (this.selected_type) {
        case 1:
          this.$http.get(this.getUrlBase() + "/api/v1/reports/totalChipMonth356-t/?year="+year, this.getHeaders())
            .then(
              data => {
                data.body.forEach(item => {
                  if (item.totalpos != 0 || item.totaldelivery != 0 || item.totalreload != 0 || item.totalactivate != 0) {
                    var idx = this.months.indexOf(item.Month) + 1;
                    var activado = {
                      delivery: item.totaldelivery,
                      vendido: item.totalsales,
                      mes: item.Month,
                      recargado: item.totalreload,
                      habilitado: item.totalactivate,
                      qpdv: item.totalpos
                    };
                    this.options.push({
                      color: [
                        "rgba(207, 126, 19,1)",
                        "rgba(13, 120, 182,1)",
                        "rgba(117, 182, 13,1)",
                        "rgba(11, 165, 106,1)",
                        "rgba(140, 134, 30, 1)"
                      ],
                      title: {},
                      toolbox: {
                        show: true,
                        feature: {
                          saveAsImage: { show: true, title: "descargar" }
                        },
                        bottom: "5%",
                        right: "5%"
                      },
                      legend: {
                        left: "23%",
                        top: "4%",
                        height: "10px",
                        data: [
                          "Entregados",
                          "Vendidos",
                          "Habilitados",
                          "Recargados"
                        ],
                        icon: "circle",

                        formatter: function() {
                          return "";
                        }
                      },
                      calculable: false,
                      series: [
                        {
                          name: activado.mes,
                          type: "funnel",
                          // funnelAlign: "center",
                          left: "2%",
                          top: 50,
                          width: "80%",
                          height: "75%",
                          sort: "none",
                          gap: 3,
                          zindex: 4,
                          label: {
                            normal: {
                              show: true,
                              position: "inside"
                            },
                            emphasis: {
                              textStyle: {
                                fontSize: 15
                              }
                            }
                          },
                          labelLine: {
                            show: false,
                            normal: {
                              length: 10
                            }
                          },
                          itemStyle: {
                            normal: {
                              borderColor: "#fff",
                              borderWidth: 0,
                              label: {
                                position: "inside",
                                formatter: "{b}: {c}",
                                textStyle: {
                                  color: "#4e4e4e"
                                }
                              }
                            },
                            emphasis: {
                              show: false
                              // label: {
                              //   // position: "inside",
                              //   // formatter: "{b}: {c}"
                              // }
                            }
                          },
                          data: [
                            {
                              name: "Entregados",
                              value: activado.delivery
                            },
                            { name: "Vendidos", value: activado.vendido },
                            {
                              name: "Habilitados",
                              value: activado.habilitado
                            },
                            {
                              name: "Recargados",
                              value: activado.recargado
                            }
                          ]
                        },
                        {
                          name: activado.mes,
                          type: "funnel",
                          left: "2%",
                          top: 50,
                          width: "80%",
                          height: "75%",
                          sort: "none",
                          zindex: 1,
                          gap: 3,
                          label: {
                            normal: {
                              show: true,
                              position: "right",
                              formatter: "{c}%",
                              color: "#FF7F50",
                              fontWeight: "bold"
                            }
                          },
                          labelLine: {
                            normal: {
                              length: 40
                            }
                          },
                          itemStyle: {
                            borderWidth: 0,
                            emphasis: {
                              show: false
                              // label: {
                              //   // position: "inside",
                              //   // formatter: "{b}: {c}"
                              // }
                            }
                          },
                          data: [
                            {
                              name: "Entregados",
                              value: activado.delivery != 0 ? 100 : "0.00"
                            },
                            {
                              name: "Vendidos",
                              value: this.getPercent(
                                activado.vendido,
                                activado.delivery
                              )
                            },
                            {
                              name: "Habilitados",
                              value: this.getPercent(
                                activado.habilitado,
                                activado.delivery
                              )
                            },
                            {
                              name: "Recargados",
                              value: this.getPercent(
                                activado.recargado,
                                activado.habilitado
                              )
                            }
                          ]
                        }
                      ]
                    });
                    this.activates.push(activado);
                  }
                  this.loading = false;
                });
              },
              error => {
                this.aerror = error.status;
                if (this.aerror == 401) this.dataTypeChip(year)
                if (this.aerror == 500) {
                  this.snack500 = true;
                  this.contentError = "Error al obtener datos relacionados con: Gráfico de embudo tipo 356"
                }
                this.loading = false;
              }
            );
          break;
        case 2:
          this.$http
            .get(this.getUrlBase() + "/api/v1/reports/totalChipMonthAutoPlan-t/?year="+year, this.getHeaders())
            .then(
              data => {
                data.body.forEach(item => {
                  if (item.totalpos != 0 || item.totaldelivery != 0 || item.totalsuscripcion != 0 || item.totalprepago != 0) {
                    var idx = this.months.indexOf(item.Month) + 1;
                      var activado = {};
                      activado.delivery = item.totaldelivery;
                      activado.mes = item.Month;
                      activado.suscripcion = item.totalsuscripcion;
                      activado.prepago = item.totalprepago;
                      activado.vendido = item.totalsales;
                      activado.qpdv = item.totalpos;
                      this.options.push({
                        color: [
                          "rgba(207, 126, 19,1)",
                          "rgba(13, 120, 182,1)",
                          "rgba(117, 182, 13,1)",
                          "rgba(11, 165, 106,1)",
                          "rgba(140, 134, 30, 1)"
                        ],
                        title: {},
                        toolbox: {
                          show: true,
                          feature: {
                            saveAsImage: { show: true, title: "descargar" }
                          },
                          bottom: "5%",
                          right: "5%"
                        },
                        legend: {
                          left: "23%",
                          top: "4%",
                          height: "10px",
                          data: [
                            "Entregados",
                            "Vendidos",
                            "Suscripcion",
                            "Prepago"
                          ],
                          icon: "circle",

                          formatter: function() {
                            return "";
                          }
                        },
                        calculable: true,
                        series: [
                          {
                            name: activado.mes,
                            type: "funnel",
                            left: "2%",
                            top: 50,
                            width: "80%",
                            height: "75%",
                            sort: "none",
                            gap: 3,
                            zindex: 2,
                            label: {
                              normal: {
                                show: true,
                                position: "inside"
                              },
                              emphasis: {
                                textStyle: {
                                  fontSize: 15
                                }
                              }
                            },
                            labelLine: {
                              show: false,
                              normal: {
                                length: 10
                              }
                            },
                            itemStyle: {
                              normal: {
                                borderColor: "#fff",
                                borderWidth: 0,
                                label: {
                                  position: "inside",
                                  formatter: "{b}: {c}",
                                  textStyle: {
                                    color: "#4e4e4e"
                                  }
                                }
                              },
                              emphasis: {
                                label: {
                                  position: "inside",
                                  formatter: "{b}: {c}"
                                }
                              }
                            },
                            data: [
                              {
                                name: "Entregados",
                                value: activado.delivery
                              },
                              { name: "Vendidos", value: activado.vendido },
                              {
                                name: "Suscripcion",
                                value: activado.suscripcion
                              },
                              {
                                name: "Prepago",
                                value: activado.prepago
                              }
                            ]
                          },
                          {
                            name: activado.mes,
                            type: "funnel",
                            left: "2%",
                            top: 50,
                            width: "80%",
                            height: "75%",
                            sort: "none",
                            zindex: 1,
                            gap: 3,
                            label: {
                              normal: {
                                show: true,
                                position: "right",
                                formatter: "{c}%",
                                color: "#FF7F50",
                                fontWeight: "bold"
                              }
                            },
                            labelLine: {
                              normal: {
                                length: 65
                              }
                            },
                            itemStyle: {
                              borderWidth: 0
                            },
                            data: [
                              {
                                name: "Entregados",
                                value: activado.delivery != 0 ? 100 : "0.00"
                              },
                              {
                                name: "Vendidos",
                                value: this.getPercent(
                                  activado.vendido,
                                  activado.delivery
                                )
                              },
                              {
                                name: "Suscripcion",
                                value: this.getPercent(
                                  activado.suscripcion,
                                  activado.vendido
                                )
                              },
                              {
                                name: "Prepago",
                                value: this.getPercent(
                                  activado.prepago,
                                  activado.vendido
                                )
                              }
                            ]
                          }
                        ]
                      });
                      this.activates.push(activado);
                  }
                  this.loading = false;
                });
              },
              error => {
                this.aerror = error.status;
                if (this.aerror == 401) this.dataTypeChip(year)
                if (this.aerror == 500) {
                  this.snack500 = true;
                  this.contentError = "Error al obtener datos relacionados con: Gráfico de embudo tipo 374"
                }
                this.loading = false;
              }
            );
          break;
        case 3:
          this.$http
            .get(this.getUrlBase() + "/api/v1/reports/totalChipMonth356-t/?year="+year, this.getHeaders())
            .then(
              data => {
                data.body.forEach(item => {
                  if (item.totalpos != 0 || item.totaldelivery != 0 || item.totalreload != 0 || item.totalactivate != 0) {
                    var idx = this.months.indexOf(item.Month) + 1;
                    var activado = {};
                    activado.delivery = item.totaldelivery;
                    activado.mes = item.Month;
                    activado.vendido = item.totalsales;
                    activado.qpdv = item.totalpos;
                    this.activates.push(activado);
                  }
                  this.loading = false;
                });
              },
              error => {
                this.aerror = error.status;
                if (this.aerror == 401) this.dataTypeChip(year)
                if (this.aerror == 500) {
                  this.snack500 = true;
                  this.contentError = "Error al obtener datos relacionados con: Gráfico de embudo tipo general"
                }
                this.loading = true;
              }
            )
            .then(x => {
              this.$http
                .get(this.getUrlBase() + "/api/v1/reports/totalChipMonthAutoPlan-t/?year="+year, this.getHeaders())
                .then(response => {
                  response.body.forEach(item => {
                    // if (item.totaldelivery != 0){
                    if (
                      item.totalpos != 0 ||
                      item.totaldelivery != 0 ||
                      item.totalsuscripcion != 0 ||
                      item.totalprepago != 0
                    ) {
                        /*actualizar los campos de las options anteriormente instanciadas
                          según el nombre del MES*/
                        var idxAct = this.activates.findIndex(
                          x => x.mes == item.Month
                        );
                        if(idxAct != -1){
                          this.activates[idxAct].delivery += item.totaldelivery;
                          this.activates[idxAct].vendido += item.totalsales;
                        }
                        if(idxAct != -1){

                          this.options.push({
                            color: [
                              "rgba(207, 126, 19,1)",
                              "rgba(13, 120, 182,1)"
                            ],
                            title: {},
                            toolbox: {
                              show: true,
                              feature: {
                                saveAsImage: { show: true, title: "descargar" }
                              },
                              bottom: "5%",
                              right: "5%"
                            },
                            legend: {
                              left: "23%",
                              top: "4%",
                              height: "10px",
                              data: ["Entregados", "Vendidos"],
                              icon: "circle",

                              formatter: function() {
                                return "";
                              }
                            },
                            calculable: false,
                            series: [
                              {
                                name: this.activates[idxAct].mes,
                                type: "funnel",
                                // funnelAlign: "center",
                                left: "2%",
                                top: 50,
                                width: "80%",
                                height: "75%",
                                sort: "none",
                                gap: 3,
                                zindex: 4,
                                label: {
                                  normal: {
                                    show: true,
                                    position: "inside"
                                  },
                                  emphasis: {
                                    textStyle: {
                                      fontSize: 15
                                    }
                                  }
                                },
                                labelLine: {
                                  show: false,
                                  normal: {
                                    length: 10
                                  }
                                },
                                itemStyle: {
                                  normal: {
                                    borderColor: "#fff",
                                    borderWidth: 0,
                                    label: {
                                      position: "inside",
                                      formatter: "{b}: {c}",
                                      textStyle: {
                                        color: "#4e4e4e"
                                      }
                                    }
                                  },
                                  emphasis: {
                                    label: {
                                      position: "inside",
                                      formatter: "{b}: {c}"
                                    }
                                  }
                                },
                                data: [
                                  {
                                    name: "Entregados",
                                    value: this.activates[idxAct].delivery
                                  },
                                  { name: "Vendidos", value: this.activates[idxAct].vendido }
                                ]
                              },
                              {
                                name: this.activates[idxAct].mes,
                                type: "funnel",
                                left: "2%",
                                top: 50,
                                width: "80%",
                                height: "75%",
                                sort: "none",
                                zindex: 1,
                                gap: 3,
                                label: {
                                  normal: {
                                    show: true,
                                    position: "right",
                                    formatter: "{c}%",
                                    color: "#FF7F50",
                                    fontWeight: "bold"
                                  }
                                },
                                labelLine: {
                                  normal: {
                                    length: 40
                                  }
                                },
                                itemStyle: {
                                  borderWidth: 0
                                },
                                data: [
                                  {
                                    name: "Entregados",
                                    value: (this.activates[idxAct].delivery != 0) ? 100 : "0.00"
                                  },
                                  {
                                    name: "Vendidos",
                                    value: this.getPercent(
                                      this.activates[idxAct].vendido,
                                      this.activates[idxAct].delivery
                                    )
                                  }
                                ]
                              }
                            ]
                          });
                        }
                    }
                  });
                },
                 error =>{
                    this.snack500 = true;
                    this.contentError = "Error al obtener datos relacionados con: Gráfico de embudo tipo general"
                    this.loading = true;
                 });
            });

          break;

      }
    },
    //obtener porcentaje a partir de un total y una cantidad
    getPercent(cantidad, total) {
      if (total != 0) {
        return ((cantidad * 100) / total).toFixed(2);
      } else {
        return (0).toFixed(2);
      }
    },
    //redireccionar a gráficos de dispersión con parametro: mes y tipo de filtro
    activationCharts(Mes) {
      this.$router.push({
        name: "activationCharts",
        params: { month: Mes, type: this.selected_type, year: this.selected_year}
      });
    },
    // obtener datos de excel general
    async loadGeneralData() { 
      try {
        this.file_name = 'Gestion de Activacion General.xls'
        this.loading_general = true;
        const url = this.getUrlBase() + '/api/v1/reports/subsidiary-excel-accumulated/';
        let resp = await this.$http.get(url, this.getHeaders())
        resp = resp.body.sort((a,b) => { if(a.product_sales == 0) return 1; })

        resp.forEach( (row, r_index) => {

          let ps = []
          if(row.product_sales != 0) ps = row.product_sales

          this.json_data.push({
            "ID": row.id,
            "​​​Nombre": row.name_business,
            "​​​Region": row.region,
            "Comuna": row.commune,
            "Direccion": row.address,
            "Con Publicidad": row.check_publish ? 'Si' : 'No',
            "​​​Entregas 356": row.delivery356,
            "​​​Habilitaciones": row.hab,
            "Recargas": row.reload,
            "DOS": row.dos,
            "Entregas 374": row.delivery374,
            "Suscripciones": row.suscripcion,
            "Prepagos": row.prepago,
            "Capacitado": row.training ? 'Si' : 'No',
          })
          
          ps.forEach( sales => { this.json_data[r_index][sales.product] = sales.sales })
        })

        // hay objectos dentro del arreglo que no tienen ventas de productos por ende le faltan propiedades, 
        // hay que asignarle valores en 0 a las propiedades que no tenga
        const ewe = this.json_data.filter( jd => Object.keys(jd).length > 14)[0];
        
        this.json_data.forEach( d => {
          if(Object.keys(d).length == 14) {
            Object.keys(ewe).forEach( key => { if(d[key] == undefined) d[key] = 0 })
          }
        })
        this.loading_general = false;

      } catch (error) {
        this.loading_general = false;
        this.snack500 = true;
        this.contentError = 'No se logro obtener los datos de descargar general';
      }

    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  created() {}
};
</script>
<style lang='scss'>
.echarts {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.md-card-header2 {
  background-color: #dd673c !important;
  height: 75px;
}
.md-card-header {
  background-color: #3b7fff;
  color: beige;
}
.md-card-header1 {
  background-color: #3b7fff !important;
  height: 75px;
}
.md-card-header3 {
  background-color: #4ca835 !important;
  height: 75px;
}
.md-title2 {
  font-size: 20px !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff !important;
  text-align: center !important;
  position: relative;
  float: right;
  left: -150px;
  top: -15px;
}
.total {
  font-size: 14px !important;
  font-weight: 800;
}
.cont {
  width: 98% !important;
  height: auto !important;
}
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div
  > div.md-card-content
  > div
  > div
  > div.md-card-content
  > div {
  width: 345px !important;
  height: 300px !important;
}
.md-qpdv1 {
  max-height: 20px !important;
  max-width: 180px;
  background-color: #3b7fff;
  color: #ffffff;
  /* font-weight: bold; */
  position: relative;
  top: 5px;
  left: 80px;
  text-align: center;
  border-radius: 5%;
  margin: 0 0 3% 0;
}

.md-qpdv2 {
  max-height: 20px !important;
  max-width: 180px;
  background-color: #dd673c;
  color: #ffffff;
  /* font-weight: bold; */
  position: relative;
  top: 5px;
  left: 80px;
  text-align: center;
  border-radius: 5%;
  margin: 0 0 3% 0;
}

.md-qpdv3 {
  max-height: 20px !important;
  max-width: 180px;
  background-color: #4ca835;
  color: #ffffff;
  /* font-weight: bold; */
  position: relative;
  top: 5px;
  left: 80px;
  text-align: center;
  border-radius: 5%;
  margin: 0 0 3% 0;
}
/* ENDLESS ROTATE */
.rotate {
  -webkit-animation: rotate 1.5s linear infinite; 
          animation: rotate 1.5s linear infinite; 
}
@-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
@keyframes         rotate{ to{        transform: rotate(360deg); } }

</style>
