<template>
  <div id="ContSalesManCollection">
<!--  Sale's Man -->
    <md-table style="background-color: #ffffff !important; color:#000 !important; overflow-x: hidden; top:10px; position:relative;" :value="sortedProds"
      :md-sort.sync="currentSort" :md-sort-order.sync="currentSortOrder" :md-sort-fn="customSort" md-fixed-header>
      <md-table-toolbar style="padding: 0;">
        <div class="md-toolbar-row" style="background-color: #448AFF; color: #ffffff !important;">
          <div class="md-toolbar-section-start">
            <i class="material-icons" style="left:3%; position:relative;">monetization_on</i>
            <h1 class="md-title" style="color: #ffffff !important;">Reportes de Recaudaciones por Entregas</h1>
          </div>
        </div>
        <div class="md-toolbar-row md-layout md-size-100">
          <div class="md-layout-item md-layout md-alignment-center md-size-100">
            <div style="width: 30%; margin-right: 10%;">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Desde</span>
                <md-datepicker v-model="selected_datestart" md-immediately />
              </div>
            </div>
            <div style="width: 30%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <span style="top:0px; position:absolute;">Hasta</span>
                <md-datepicker v-model="selected_dateend" md-immediately />
              </div>
            </div>
            <div style="width: 10%">
              <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
                <md-icon v-on:click.native="validateFields" class="icon-search">search</md-icon>
              </div>
            </div>
            <div style="width: 10%;" v-if="validateFields">
              <download-excel :data="json_data" :fields="json_fields" :name="nameFile" v-if="collections.length != 0">
                <md-icon class="md-size-2 btn">archive</md-icon>
                <p style="position:relative; top:5px;">Descargar excel</p>
              </download-excel>
            </div>
          </div>
        </div>
        <div class="md-toolbar-row" v-if="swSelected">
          <md-table-empty-state style="align" md-label="Cargando Datos" md-description="por favor espere un momentos los datos se están cargando">
            <md-progress-bar style="width: 60% !important;top:80px !important; position: absolute; z-index:20 !important;"
              md-mode="indeterminate"></md-progress-bar>
          </md-table-empty-state>
        </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-sort-by="email" style="text-align: left;" md-label="Nombre">{{ item.email }}</md-table-cell>
        <md-table-cell md-sort-by="entregas356" md-label="Entregas 356" md-numeric>{{ item.entregas356 }}
        </md-table-cell>
        <md-table-cell md-sort-by="entregas356plus" md-label="Entregas 356+" md-numeric>{{ item.entregas356plus }}
        </md-table-cell>
        <md-table-cell md-sort-by="entregas374" md-label="Entregas 374" md-numeric>{{ item.entregas374 }}
        </md-table-cell>
        <md-table-cell md-sort-by="ventas356" md-label="Total 356" md-numeric>$ {{ item.ventas356.toLocaleString('es-CL') }}
        </md-table-cell>
        <md-table-cell md-sort-by="ventas356plus" md-label="Total 356+" md-numeric>$ {{ item.ventas356plus.toLocaleString('es-CL') }}
        </md-table-cell>
        <md-table-cell md-sort-by="ventas374" md-label="Total 374" md-numeric> $ {{ item.ventas374.toLocaleString('es-CL') }}
        </md-table-cell>
        <md-table-cell md-sort-by="total" md-label="Total" md-numeric>${{ item.total.toLocaleString('es-CL') }}</md-table-cell>
      </md-table-row>
    </md-table>

    <md-table v-if="sortedProds.length > 0" :value=[0]>
      <md-table-row slot="md-table-row" class="table-row-total">
        <md-table-cell>Total</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;">{{ entregas_356 }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;">{{ entregas_356_plus }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;">{{ entregas_374 }}</md-table-cell>        
        <md-table-cell md-numeric style="text-align: right !important;"> $ {{ total_356.toLocaleString('es-CL') }}</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;"> $ {{ total_356_plus.toLocaleString('es-CL') }}</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;"> $ {{ total_374.toLocaleString('es-CL') }}</md-table-cell>
        <md-table-cell md-numeric style="text-align: right !important;"> $ {{ totalSuma.toLocaleString('es-CL') }}</md-table-cell>
      </md-table-row>
    </md-table>

    <!-- <div id="pagging" v-if="searched.length > 10">
      <md-button class="pagging-btn md-icon-button" @click="prevTenPage">
        <md-icon class="pagging-icon-ten">first_page</md-icon>
      </md-button>
      <md-button class="pagging-btn md-icon-button" @click="prevPage">
        <md-icon class="pagging-icon">keyboard_arrow_left</md-icon>
      </md-button>
      <span class="padding-text">{{currentPage}} - {{ maxPage }}</span>
      <md-button class="pagging-btn md-icon-button" @click="nextPage">
        <md-icon class="pagging-icon">keyboard_arrow_right</md-icon>
      </md-button>
      <md-button class="pagging-btn md-icon-button" @click="nextTenPage">
        <md-icon class="pagging-icon">last_page</md-icon>
      </md-button>
    </div> -->
<!-- alertas -->
    <md-dialog-confirm
      :md-active.sync="snackOauth"
      md-content="Su sesión ha expirado, favor volver a iniciar sesión."
      md-confirm-text="Salir"
      @md-confirm="onConfirm"
      @md-cancel="onConfirm"
    />
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    <md-dialog-alert
      :md-active.sync="snackPassToday"
      md-content="Datos incorrectos, las fechas no pueden ser posterior al día actual."
    />
    <md-dialog-alert
      :md-active.sync="snackPassMonth"
      md-content="El mes seleccionado no puede ser posterior al mes actual."
    />
    <md-dialog-alert
      :md-active.sync="snackEmptyFilter"
      md-content="Campos incompletos, favor Seleccionar todos los campos requeridos."
    />
    <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>
  </div>
</template>
<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.email).includes(toLower(term)));
  }

  return items;
};
export default {
  name: "salesMan",
  data() {
    return {
      // alertas
      aerror: "",
      snackPassToday: false,
      snackEmptyFilter: false,
      snackPassMonth: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      contentError: "",
      //tabla
      currentSort: "user",
      currentSortOrder: "asc",
      collections: [],
      json_data: [],
      json_fields: {
        Email: "email",
        "Cantidad Entregas 356": "entregas356",
        "Monto c/autorización 356": "monto356_orden",
        "Monto s/autorización 356": "monto356_sin_orden",
        "Cantidad Entregas 356+": "entregas356plus",
        "Monto c/autorización 356+": "monto356plus_orden",
        "Monto s/autorización 356+": "monto356plus_sin_orden",
        "Cantidad Entregas 374": "entregas374",
        "Monto c/autorización 374": "monto374_orden",
        "Monto s/autorización 374": "monto374_sin_orden",
        "Total 356+": "ventas356plus",
        "Total 356": "ventas356",
        "Total 374": "ventas374"
      },
      nameFile: "",
      swSelected: false,
      entregas_356: 0,
      entregas_356_plus: 0,
      entregas_374: 0,
      total_356: 0,
      total_356_plus: 0,
      total_374: 0,
      totalSuma: 0,
      //selecciones
      disabledDates: date => {
        var d = new Date();
        return date > d;
      },
      swFilter: false,
      users: [],
      selected_datestart:null,
      selected_dateend: new Date(),
      selected_month: -1,
      selected_user: "",
      // config
      url: "",
      search: null,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      today: null,
      dd: 0,
      mm: 0,
      yyyy: 0,
      MonthActually: "",
       pageSize: 10,
      currentPage: 1,
      maxPage: 0,
      searched: [],
      refresh_call: true
    };
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.MonthActually = this.months[this.today.getMonth()];
    this.getAllUsers();
  },
  computed: {
    sortedProds: function() {
      return this.searched
    }
  },
  methods: {
    customSort(value) {
      if (this.currentSort == "email") {
        return value.sort((a, b) => {
          const sortBy = this.currentSort;
          if (this.currentSortOrder === "desc") {
            return a[sortBy].localeCompare(b[sortBy]);
          }
          return b[sortBy].localeCompare(a[sortBy]);
        });
      } else {
        switch (this.currentSort) {
          case "entregas356":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.entregas356 - b.entregas356;
              } else {
                return b.entregas356 - a.entregas356;
              }
            });
            break;
          case "entregas356plus":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.entregas356plus - b.entregas356plus;
              } else {
                return b.entregas356plus - a.entregas356plus;
              }
            });
            break;
          case "entregas374":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.entregas374 - b.entregas374;
              } else {
                return b.entregas374 - a.entregas374;
              }
            });
            break;
          case "ventas356":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.ventas356 - b.ventas356;
              } else {
                return b.ventas356 - a.ventas356;
              }
            });
            break;
          case "ventas356plus":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.ventas356plus - b.ventas356plus;
              } else {
                return b.ventas356plus - a.ventas356plus;
              }
            });
            break;            
          case "ventas374":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.ventas374 - b.ventas374;
              } else {
                return b.ventas374 - a.ventas374;
              }
            });
            break;
          case "total":
            return this.searched.sort((a, b) => {
              if (this.currentSortOrder == "desc") {
                return a.total - b.total;
              } else {
                return b.total - a.total;
              }
            });
            break;
        }
      }
    },
    //obtener todos los usuarios
    getAllUsers() {
      this.users = [];
      this.$http
        .get(this.getUrlBase() + "/api/v1/users/", this.getHeaders())
        .then(
          response => {
            response.body.forEach(user => {
              if (
                user.email.includes("arroba") ||
                user.email.includes("contacto@icov.cl")
              ) {
                this.users.push({
                  id: user.id,
                  full_name: user.first_name + " " + user.last_name,
                  email: user.email
                });
              }
            });
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getAllUsers();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Error al obtener los registros relacionados con: Listado de usuarios.";
            }
          }
        );
    },
    validateFields() {
      this.currentPage = 1;
      if (this.selected_datestart == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_datestart > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend == null) {
        this.snackEmptyFilter = true;
      } else if (this.selected_dateend > this.today) {
        this.snackPassToday = true;
      } else if (this.selected_dateend < this.selected_datestart) {
        this.snackPassDateStart = true;
      } else {
        this.getData();
      }
    },
    getData() {
      this.swSelected = true;
      this.collections = [];
      this.json_data = [];
      var path = "";
      this.entregas_356 = 0;
      this.entregas_356_plus = 0;
      this.entregas_374 = 0;
      this.total_356 = 0;
      this.total_356_plus = 0;
      this.total_374 = 0;
      this.totalSuma = 0;
      const startDate =
        this.selected_datestart.getFullYear() +
        "-" +
        (this.selected_datestart.getMonth() + 1) +
        "-" +
        this.selected_datestart.getDate();
      const endDate =
        this.selected_dateend.getFullYear() +
        "-" +
        (this.selected_dateend.getMonth() + 1) +
        "-" +
        this.selected_dateend.getDate();
        path =
          this.getUrlBase() +
          "/api/v1/reports/total-delivery-auth-user-month/?date_start=" +
          startDate +
          "&date_end=" +
          endDate;

      this.$http.get(path, this.getHeaders()).then( response => {
        if (response.body.length != 0) {
          response.body.forEach(item => {
            this.collections.push({
              email: item.user,
              entregas356: item.data.entregas356,
              entregas356plus: item.data.entregas356plus,
              entregas374: item.data.entregas374,
              monto356_orden: item.data.monto356_orden,
              monto356plus_orden: item.data.monto356plus_orden,
              monto374_orden: item.data.monto374_orden,
              monto356_sin_orden: item.data.monto356_sin_orden,
              monto356plus_sin_orden: item.data.monto356plus_sin_orden,
              monto374_sin_orden: item.data.monto374_sin_orden,
              ventas356: item.data.ventas356,
              ventas356plus: item.data.ventas356plus,
              ventas374: item.data.ventas374,
              total: item.data.ventas374 + item.data.ventas356 + item.data.ventas356plus
            });
            this.json_data = this.collections;
            this.swSelected = false;
            this.entregas_356 += item.data.entregas356;
            this.entregas_356_plus += item.data.entregas356plus;
            this.entregas_374 += item.data.entregas374;
            this.total_356 += item.data.ventas356;
            this.total_356_plus += item.data.ventas356plus;
            this.total_374 += item.data.ventas374;
            this.totalSuma = this.total_356 + this.total_374;
          });
            this.searched = this.collections;
            this.getLastPage();
          if (this.collections.length != 0) {
            if (this.swFilter) {
              this.nameFile =
                "Reporte de Recaudación -" +
                this.selected_user +
                "-" +
                this.months[this.selected_month + 1];
              (".xls");
            } else {
              this.nameFile =
                "Reporte de Recaudación -" +
                this.selected_user +
                "-" +
                this.selected_dateend.getFullYear() +
                (this.selected_dateend.getMonth() + 1) +
                this.selected_dateend.getDate() +
                ".xls";
            }
          } else {
            this.contentError = "No se han encontrado datos.";
            this.snackNoData = true;
            this.swSelected = false;
          }
        } else {
          this.snackNoData = true;
          this.swSelected = false;
        }
      },
      error => {
        this.swSelected = false;
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.getData();
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError =
            "Error al obtener datos relacionados con: Reporte de Recaudaciones por Colaborador.";
        }
      }
    );
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
     nextPage: function() {
      if (this.currentPage * this.pageSize < this.searched.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.searched.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.searched.length; n++) {
        this.maxPage++;
      }
    },
  },
  created() {}
};
</script>
<style>
.md-table-empty-state {
  color: #000 !important;
}
#ContSalesManCollection {
  padding: 0 2% 20px 2%;
}
#ContSalesManCollection > div > div.md-table-fixed-header > div > table > thead > tr {
  background-color: #448aff !important;
}
/* headers*/
#ContSalesManCollection > div > div.md-table-fixed-header > div > table > thead > tr > th
  > div
  > div {
  color: beige !important;
}
#ContSalesManCollection > div > div.md-table-fixed-header > div > table > thead > tr
  > th.md-table-head:nth-child(1) {
  width: 19vw !important;
}
#ContSalesManCollection > div > div.md-table-fixed-header > div > table > thead > tr
  > th:not(:nth-child(1)) {
  width: 16vw !important;
}
/* body */
#ContSalesManCollection > div.md-content.md-table.md-theme-default > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:nth-child(1) {
  width: 19vw !important;
}
#ContSalesManCollection > div.md-content.md-table.md-theme-default > div.md-content.md-table-content.md-scrollbar.md-theme-default > table > tbody > tr > td:not(:nth-child(1)) {
  width: 16vw !important;
}
.btn {
  cursor: pointer !important;
  color: green !important;
}
.btn:hover {
  color: #39af1c !important;
}
.icon-search {
  color: #ff7f50 !important;
  position: relative;
  top: 5px;
  font-size: 34px !important;
  cursor: pointer;
}
.icon-search:hover {
  color: #ff5111 !important;
}
#ContSalesManCollection > div {
  overflow: hidden;
}
#pagging {
  align-items: left;
  padding-top: 15px;
}
.pagging-btn {
  background-color: #f64b2d !important;
  height: 36px !important;
}
.pagging-icon {
  color: beige !important;
}
.pagging-icon-ten {
  color: beige !important;
}
.padding-text {
  position: relative;
  top: 10px;
  font-size: 18px;
}

.table-row-total {
  background-color: rgb(235, 117, 74) !important;
  color: rgb(255, 255, 255) !important;
}
</style>
