<template>
  <div class="md-layout md-alignment-center">
    <div class="container md-layout-item md-layout md-size-80 md-size-small-100">
<!-- cabecera -->
        <div class="flex md-layout md-size-65 md-xsmall-size-100" style="height: 80vh; position: relative; margin-bottom: 60px;">
          <md-card class="md-layout-item md-size-100 md-elevation-0">
            <md-toolbar class="md-primary md-layout-item md-size-100 elevation-0">
              <div class="flex md-size-100 mr-2">
                <div class="md-title">Canal: Capacitaciones</div>
              </div>
            </md-toolbar>
          </md-card>
<!-- ventana con mensajes general-->
          <div id="chatRoom" class="container chat-room pb-0 my-2">
            <div class="layout md-layout">
              <div class="flex md-layout-item md-size-100">
                <div v-for="(message, idx) in capacitacionFilter" :key="idx">
                  <div class="text-align-left pt-2" v-if="message.user_created == user.email">
                    <div class="talk-bubble tri-right left-in">
                        <div class="text-sm-left pl-2 pr-3" v-if="message.image == null">
                        <span class="font-weight-bold secondary--text">{{user.name}}:</span>
                        {{message.message}}
                        </div>
                        <div v-else class="text-sm-left pl-2 pr-3">
                          <span class="font-weight-bold secondary--text">{{user.name}}:</span>
                          <br>
                          <img :src="message.image" alt="img" width="250">
                          <br>
                          {{message.message}}
                        </div>
                        <div class="text-sm-left caption pl-2 pr-3">
                          <span>{{getTime(message.created_at)}}</span>
                        </div>
                    </div>
                  </div>
                  <div v-else class="text-align-right pt-2 mr-1">
                    <div class="talk-bubble tri-right round right-in">
                      <div v-if="message.image == null">
                        <div class="text-sm-right pl-2 pr-3">
                          <span class="font-weight-bold secondary--text">
                            {{getName(message.user_created)}}:
                          </span>
                          <p class="mb-0">{{message.message}}</p>
                          
                        </div>
                        <div class="text-sm-right caption pl-2 pr-3">
                          <span>{{getTime(message.created_at)}}</span>
                        </div>
                      </div>
                      <div v-else>
                          <span class="font-weight-bold secondary--text">{{getName(message.user_created)}}:</span>
                          <br>
                          <img :src="message.image" alt="img" width="250">
                          <br>
                          {{message.message}}
                          <div class="text-sm-right caption pl-2 pr-3">
                            <span>{{getTime(message.created_at)}}</span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!-- enviar message -->
          <md-card class="md-layout-item md-size-100 md-elevation-0" v-if="!prepare_photo">
            <div class="container md-layout md-size-100 md-alignment-center pb-0">
              <form class="md-layout md-layout-item md-size-100" @submit.prevent="validateCapacitation">
                <div clasS="flex md-layout md-layout-item md-size-100">
                  <md-field :class="{'md-invalid': errors.has('message')}" class="input-box">
                    <label for="message">Mensaje</label>
                    <md-input name="message" v-validate data-vv-rules="required|max:400" v-model="capacitacion.message" type="text"></md-input>
                    <md-button class="md-icon-button md-mini" @click.native="loadFile"><md-icon>camera_alt</md-icon></md-button>
                    <md-button class="md-icon-button md-mini" @click.native="sendMessage"><md-icon>send</md-icon>
                    </md-button>
                  </md-field>
                </div>
                <input type="file" style="display: none" ref="photo" accept="image/*" @change="onFilePicked">
              </form>
            </div>
          </md-card>
<!-- imagen -->
          <transition name="fade-slide-up" mode="out-in">
            <md-card v-if="photo.url != ''" class="card-image">
                <md-button class="md-icon-button md-mini mt-2" style="position: absolute; right: 10px; z-index: 92" @click.native="cancelPhoto">
                  <md-icon class="material-icons">close</md-icon>
                </md-button>
                <md-card-content class="card-image-body py-1">
                  <img :src="photo.url" alt="imagen" class="image">
                </md-card-content>
                <md-card-content class="card-image-actions">
                  <md-field :class="{'md-invalid': errors.has('message')}" class="input-box">
                    <label for="message">Mensaje</label>
                    <md-input name="message" v-validate data-vv-rules="required|max:400" v-model="capacitacion.message" type="text"></md-input>
                    <md-button class="md-icon-button md-mini" @click.native="sendPhoto">
                      <md-icon>send</md-icon>
                    </md-button>
                  </md-field>
                </md-card-content>
            </md-card>
          </transition>
        </div>
<!-- contactos -->
        <md-divider vertical class="mx-2 md-xsmall-hide" style="height: 80vh; width: 2px;"></md-divider>
        <div class="flex md-layout md-layout-item md-size-30 md-xsmall-size-100" style="height: 80vh; align-content: baseline;">
          <md-card class="mx-0 card-info-user" v-if="seleccionado">
            <md-card-header>
              <md-card-header-text style="align-self: center;">
                <div class="md-body-2 white">{{selected_user.first_name +' '+ selected_user.last_name}}</div>
                <div class="md-subhead white">{{selected_user.email}}</div>
              </md-card-header-text>
              <md-card-media>
                <img :src="selected_user.photo" height="125px"/>
              </md-card-media>
            </md-card-header>
            <v-card-actions class="px-3 pt-0 md-layout md-alignment-center">
              <div class="md-layout-item md-size-70">
                <span class="md-subhead white">Los mensajes serán enviado a este usuario.</span>
              </div>
              <dir class="md-layout-item md-size-30">
                <md-button class="md-icon-button" @click.native="unselectUser"><md-icon class="white">block</md-icon></md-button>
                <md-tooltip md-direction="right"><span>quitar filtro</span></md-tooltip>
              </dir>
            </v-card-actions>
          </md-card>
          <!-- filtrar usuarios -->
          <md-card v-if="!seleccionado" class="search-card">
            <md-card-content class="py-0 px-2">
              <md-field>
                <md-input type="text" v-model="filter_users" placeholder="buscar..."></md-input>
              </md-field>
            </md-card-content>
          </md-card>
          <!-- contactos -->
          <md-list class="md-double-line scroll-contact-c md-elevation-2" v-if="!seleccionado">
            <md-subheader class="blue white">Red Arroba</md-subheader>
            <md-list-item v-show="usuario.email != user.email && users.length != 0" v-for="(usuario, idx) in users_filter" :key="idx" avatar ripple @click="loadDataContact(usuario.email)">
              <md-avatar>
                <img :src="usuario.photo">
              </md-avatar>
              <div class="md-list-item-text">
                <span v-text="usuario.first_name +' '+ usuario.last_name"></span>
                <span v-html="usuario.email"></span>
              </div>
                <!-- <v-list-tile-action v-if="!usuario.seen">
                  <v-icon color="grey darken-3">check</v-icon>
                </v-list-tile-action>
                <v-list-tile-action v-if="usuario.seen">
                  <v-icon color="secondary">check</v-icon>
                </v-list-tile-action> -->
            </md-list-item>
          </md-list>
        </div>
    </div>
<!-- alertas -->
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    <md-dialog-alert :md-active.sync="snackNoData" md-content="Favor completar los campos requeridos."/>
  </div>
</template>
<script>
import { socket_capacitacion } from '../../router/index'

export default {
  name: "capacitaciones",
  data() {
    return {
      prepare_photo:                    false,
      // alertas
      aerror:                           "",
      contentError:                     "",
      snack401:                         false,
      snack500:                         false,
      snackNoData:                      false,
      // mensaje
      photo: {
        url:                            "",
        base64:                         "",
        file:                           {}
      },
      capacitacion: {
        user_created:                   "",
        created_at:                     "",
        message:                        ""
      },
      filter_users:                     '',
      users:                            [],
      capacitaciones:                   [],
      user: {
        name:                           "",
        email:                          "",
      },
      selected_user: {
        photo: "",
        first_name: "",
        last_name: "",
        email: ""
      },
      seleccionado:                     false,
      menuVisible:                      false,
      //config
      refresh_call:                     true,
      isConnected:                      false,
    };
  },
  mounted() {
    this.getAllUsers()
    this.connect()
  },
  computed: {
    capacitacionFilter() {
      if(this.seleccionado){
        return this.capacitaciones.filter(i => i.user_created == this.selected_user.email || i.user_created == this.user.email)
      } else return this.capacitaciones
    },
    users_filter() {
      if(this.filter_users != '') 
        return this.users.filter(u => 
          u.first_name.toLowerCase().includes(this.filter_users.toLowerCase()) ||
          u.last_name.toLowerCase().includes(this.filter_users.toLowerCase()) || 
          (u.first_name + " " + u.last_name).toLowerCase().includes(this.filter_users.toLowerCase()) || 
          u.email.toLowerCase().includes(this.filter_users.toLowerCase())
        );
      else return this.users;
    }
  },
  methods: {
    // inicializa conexión a web socket y obtiene los mensajes
    connect(){
        //indicar acción al metodo listener "onopen": cambiar estado a conectado y obtener mensajes anteriores      
        socket_capacitacion.onopen = () => {
          this.isConnected = true
          if(socket_capacitacion.readyState == 1) this.getLastMessages()
        };
        //indicar acción al metodo listener "onerror": dar aviso al usuario e intentar reconectar        
        socket_capacitacion.onerror = (error) => {
          this.isConnected = false;
          // this.snack500 = true;
          // this.contentError = "Se ha perdido la conexión del chat, intentaremos reconectar con el servidor."
        }
        //indicar acción al metodo listener "onmessage": obtener mensajes y almacenarlos en arreglo
        socket_capacitacion.onmessage = (response) => {
          var mensajes = JSON.parse(response.data)
          this.capacitaciones.push({
            image:          mensajes.image,
            message:        mensajes.message,
            created_at:     mensajes.created_at,
            user_created:   mensajes.user_created
          });
          //mostrar solo los últimos 50 mensajes
          this.capacitaciones = (this.capacitaciones.length > 100) ? 
                              this.capacitaciones :
                              this.capacitaciones.splice(0, 100)
          this.scrolltoBottom()
        };
    },
    // cierra el web socket
    disconnect() {
      socket_capacitacion.close(code = 1000, reason = '', {keepClosed: false, fastClose: false, delay: 1000})
      this.isConnected =false
    },
    loadFile() {
      this.$refs.photo.click ()
    },
		onFilePicked (e) {
      var that = this
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.photo.url = fr.result
          this.photo.file = files[0] // this is an image file that can be sent to server...
          this.prepare_photo = true
          this.base64(files[0], function(data) {
            that.photo.base64 = "data:image/jpeg;base64," + data.base64
          });
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
    },
    base64(file, callback) {
      var coolFile = {};
      function readerOnload(e) {
        var base64 = btoa(e.target.result);
        coolFile.base64 = base64;
        callback(coolFile);
      }

      var reader = new FileReader();
      reader.onload = readerOnload;
      var file = file;
      coolFile.filetype = file.type;
      coolFile.size = file.size;
      coolFile.filename = file.name;
      reader.readAsBinaryString(file);
    },
    // envía mensaje a web socket
    sendMessage(){
      try {
        socket_capacitacion.send(JSON.stringify({
          "user_created":     this.user.email,
          "message":          this.capacitacion.message,
          "recipient":        this.selected_user.email,
          "image":            null,
          "created_at":       new Date()
        }))
      } catch (error) {
        this.snack500 = true
        this.contentError = "No se logro enviar mensaje, favor volver a intentar."
      }
      this.capacitacion.message = ""
      this.scrolltoBottom()
    },
    sendPhoto(){
      this.prepare_photo = false
      try {
        socket_capacitacion.send(JSON.stringify({
          "user_created":     this.user.email,
          "message":          this.capacitacion.message,
          "recipient":        this.selected_user.email,
          "image":            this.photo.base64,
          "created_at":       new Date()
        }))
      } catch (error) {
        this.snack500 = true
        this.contentError = "No se logro enviar mensaje, favor volver a intentar."
      }
      this.capacitacion.message = ''
      this.photo.url = ''
      this.photo.base64 = ''
      this.photo.file = ''
      this.scrolltoBottom()
    },
    // cierra previsualización de imagen y limpia campos de esta misma
    cancelPhoto(){
      this.prepare_photo = false
      this.photo.url = ''
      this.photo.base64 = ''
      this.photo.file = {}
    },
    // obtener mensajes enviados anteriormente
    getLastMessages(){
      this.capacitaciones = [];
      this.$http.get(this.getUrlBase() + "/api/v1/capacitation/", this.getHeaders())
      .then( response => {
        response.body.forEach( message => {
            this.capacitaciones.push({
              image:        message.image,         //mensaje
              message:      message.message,       //mensaje
              user_created: message.user_created,  //email 
              created_at:   message.created_at     //fecha/hora creación
            }); 
            this.capacitaciones = this.capacitaciones.sort((a,b) => a.created_at - b.created_at);
            this.capacitaciones.splice(this.capacitaciones.length, 100);
            this.scrolltoBottom()
        });
      }, error => {
          this.aerror = error.status;
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener datos relacionados con: Historial de capacitaciones.";
          }
          if (this.aerror == 401) this.getLastMessages()
      });
    },
    // obtener todos los users registrados
    getAllUsers(){
      this.users = []
      this.$http.get(this.getUrlBase() + "/api/v1/users/", this.getHeaders())
      .then( response => {
        this.users = response.body
        this.getLastMessages()
      }, 
        error => {
          this.aerror = error.status;
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener listado de usuarios.";
          }
          if (this.aerror == 401) this.getAllUsers()
        })
    },
    getName(email){
      let user = this.users.filter(el => el.email == email)[0];
      return user.first_name + " " + user.last_name.substring(0,1)
    },
    // mostrar información de selected_user seleccionado
    loadDataContact(email) {
      this.selected_user = this.users.filter(el => el.email == email)[0];
      this.capacitacion.message = "";
      this.seleccionado = true
    },
    getTime(fecha) {
      var substring = new Date(fecha);
      var options = {
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };

      const dia = substring.toLocaleString("es-ES", options);
      // return substr.toString().substring(0,24);
      return dia.replace(".", "");
    },
    scrolltoBottom(){
      setTimeout(() => {
       var chat = document.getElementById("chatRoom");
        chat.scroll({
          top: chat.scrollHeight,
          behavior: 'smooth'
        });
      }, 100);
    },
    unselectUser() {
      this.seleccionado = false
      this.selected_user = {
        photo: "",
        first_name: "",
        last_name: "",
        email: ""
      }
    },
    onConfirm() {
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.user.email = this.$localStorage.get("theEmail");
    this.user.name = this.$localStorage.get("theName");
  }
};
</script>
<style>
#inspire
  > div.application--wrap
  > main
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div.flex.xs12.sm3.md3
  > div
  > div
  > div.v-list__group__items {
  max-height: 400px !important;
  overflow-y: auto;
  background-color: #e0e0e0 !important;
  color: #676767 !important;
}
.chat-room {
  height: 51vh !important;
  max-height: 53vh !important;
  overflow-y: auto !important;
}
.card-image {
  background-color: #081d2bce !important;
  position: absolute;
  top: 90px;
  left: 5%;
  width: 90%;
}
.card-image-body {
  position: relative;
  z-index: 90;
  height: 45vh;
  align-content: center;
}
.card-image-actions {
  position: relative;
  z-index: 91;
  background-color:rgba(240, 240, 240, 0.788);
}
.image{
  position: relative;
  left: 0;
  top: 10%;
  width: 18vw;
  background-color: white
}
.card-info-user {
  background-color: #396bc7db !important;
  height: fit-content;
}
/* CSS talk bubble */
.talk-bubble {
  border-radius: 4px 4px 6px / 2px 4px;
  background-color: #f7f7f7 !important;
  display: inline-block;
  padding-top: 5px;
  max-width: 500px;
  word-wrap: break-word;
}
.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  right: auto;
  top: 15px;
  bottom: auto;
  border: 8px solid;
  border-color: #f7f7f7 #f7f7f7 transparent transparent;
}
.tri-right.round.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 15px;
  bottom: auto;
  border: 10px solid;
  border-color: #f7f7f7 #f7f7f7 transparent transparent;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);  
}
.text-align-left {
  position: relative;
  text-align: left;
}
.text-align-right {
  position: relative;
  text-align: right;
}
.text-secondary {
  color: #600094 !important;
}
.search-card {
  height: fit-content;
  width: 100%;
  margin: 0 0 5px 0 !important;
}
.scroll-contact-c {
  width: -webkit-fill-available;
  height: 69vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden;
  background-color: #e0e0e0!important;
  border-color: #e0e0e0!important;
}
</style>