<template>
  <div class="md-layout md-alignment-center">
    <div class="container md-layout-item md-layout md-size-85 md-size-xsmall-100">
      <div class="layout">
<!-- enviar meta -->
        <div class="flex md-layout md-size-80 md-size-xsmall-100">
          <md-card class="md-layout-item md-size-100">
            <md-toolbar class="md-primary">
              <div class="flex mr-2">
                <div class="md-title">Metas</div>
                <span class="grey--text md-subhead">Envio de promociones</span>
              </div>
            </md-toolbar>
          </md-card>
          <md-card class="md-layout-item md-size-100" style="height: 65.4vh; max-height: 65.4vh">
            <div class="container md-layout-item md-size-100 md-alignment-center">
              <form class="md-layout md-size-100" @submit.prevent="validateMeta">
                <div class="flex md-layout-item md-size-100">
                  <md-field :class="{'md-invalid': errors.has('title')}" class="input-box">
                    <label for="title">Título</label>
                    <md-input v-validate data-vv-rules="required|max:100" name="title" id="title" v-model="meta.title"/>
                  </md-field>
                </div>
                <div class="flex md-layout-item md-size-100">
                  <md-field :class="{'md-invalid': errors.has('description')}" class="relative input-box">
                    <label for="description">Descripción</label>
                    <md-textarea name="description" v-validate md-counter="400" data-vv-rules="required|max:400" md-layout="box" v-model="meta.message" style="height: 44vh; max-height: 44vh"></md-textarea>
                    <md-button class="suffix-btn md-icon-button" @click.native="validateMeta"><md-icon>send</md-icon></md-button>
                  </md-field>
                </div>
              </form>
            </div>
          </md-card>
        </div>
<!-- Historíco metas -->
        <div class="flex ml-5 md-layout-item md-size-40 md-size-xsmall-100" xs12 sm5 md5>
          <md-card>
            <md-toolbar class="md-primary md-elevation-0">
              <span class="md-body-1 md-title">Promociones Realizadas hoy</span>
              <md-icon>beenhere</md-icon>
            </md-toolbar>
            <md-card-content class="px-0 py-0" style="height: 65.4vh">
              <md-list class="md-triple-line scroll-contact" v-if="metas.length != 0">
                <md-list-item v-for="(item, index) in metas" :key="index" @click="loadData(item)">
                  <div class="md-list-item-text">
                    <span class="secondary--text" v-text="item.title"></span>
                    <span class="grey--text text--darken-2" v-text="item.message"></span>
                    <span v-html="getTime(item.created_at)"></span>
                  </div>
                </md-list-item>
              </md-list>
              <md-list v-else class="scroll-contact">
                <md-list-item style="position: relative; top: 50%;">
                  <div class="md-list-item-text">
                    <span style="text-align: center">Sin datos para mostrar</span>
                  </div>
                </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
<!-- alertas -->
    <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    <md-dialog-alert :md-active.sync="snackSend" md-content="Se ha enviado su meta con exito."/>
    <md-dialog-alert :md-active.sync="snackNoData" md-content="Favor completar los campos requeridos."/>
  </div>
</template>
<script>
import { socket_metas } from '../../router/index'

export default {
  name: "metas",
  data() {
    return {
      // alertas
      aerror:                       "",
      contentError:                 "",
      snackSend:                    false,
      snack500:                     false,
      snackNoData:                  false,
      // modelos
      description:                  "",
      metas:                        [],
      meta: {
        title:                      "",
        message:                    ""
      },
      user: {
        id:                         null,
        name:                       "",
        email:                      "",
      },
      id_user:                      null,
      // config
      correo:                       "",
      refresh_call:                true
    }
  },
  mounted() {
    this.getUserId()
    this.getAllPromotions()
    this.connect()
  },
  methods: {
    // inicializa conexión a web socket y obtiene los mensajes
    connect(){
        //indicar acción al metodo listener "onopen": cambiar estado a conectado y obtener mensajes anteriores      
        socket_metas.onopen = () => {
          this.isConnected = true
        };
        //indicar acción al metodo listener "onerror": dar aviso al usuario e intentar reconectar        
        socket_metas.onerror = (error) => {
          this.isConnected = false;
        }
        //indicar acción al metodo listener "onmessage": obtener mensajes y almacenarlos en arreglo
        socket_metas.onmessage = (response) => {
          var mensajes = JSON.parse(response.data)
          this.metas.push({
            title:          mensajes.title,
            message:        mensajes.message,
            created_at:     mensajes.created_at,
          })
        }
    },
    // cierra el web socket
    disconnect() {
      socket_metas.close(code = 1000, reason = '', {keepClosed: false, fastClose: false, delay: 1000})
      this.isConnected =false
    },
    getAllPromotions(){
      this.$http.get(this.getUrlBase() + "/api/v1/promotions/", this.getHeaders())
      .then( response => {
       this.metas = response.body.sort((a, b) => b.created_at - a.created_at)
      },
      error => {
        if (error.status == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener listado de promociones realizadas.";
        }
        if (error.status == 401) this.getAllPromotions()
      })
    },
    // cargar datos en formulario al seleccionar una promoción antigua
    loadData(item){
      this.meta.title = item.title
      this.meta.message = item.message
    },
    validateMeta() {
      this.$validator.validateAll().then((result) => {
        if (result) this.sendPromotion()
      })
    },
    // enviar meta a websocket
    sendPromotion() { 
      try {
        socket_metas.send(JSON.stringify({
          'title': this.meta.title,
          'message': this.meta.message, 
          'user_created': this.user.email,
          'created_at': new Date(),
          'id_multistore': 1
        }))
      } catch (error) {
        this.snack500 = true
        this.contentError = "No se logro enviar la promoción, favor volver a intentar."
      }
      this.meta.title = "";
      this.meta.message = "";
    },
    getUserId(){
      this.$http.get(this.getUrlBase() + "/api/v1/users/", this.getHeaders())
      .then( response => {
        this.id_user = response.body.filter(rb => rb.email == this.user.email)[0].id
      },
      error => {
        if (error.status == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos vinculados al usuario actual.";
        }
        if(error.status == 401) this.getUserId()
      })
    },
    getTime(fecha) {
      var substring = new Date(fecha);
      var options = {
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };
      const dia = substring.toLocaleString("es-ES", options);
      // return substr.toString().substring(0,24);
      return dia.replace(".", "");
    },
    onConfirm() {
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.user.email = this.$localStorage.get("theEmail");
    this.user.name = this.$localStorage.get("theName");
  }
}
</script>
<style>
.wrap-text {
  word-wrap: break-word !important;
  white-space: pre-line !important;
}
.textarea-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 110px;
}
.textarea-icon:hover {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 110px;
}
.textarea-icon:focus {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 110px;
}
#inspire
  > div.application--wrap
  > main
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div.flex.xs12.sm3.md3
  > div
  > div
  > div.v-list__group__items {
  max-height: 400px !important;
  overflow-y: auto;
  background-color: #e0e0e0 !important;
  color: #676767 !important;
}
.bubble-chat {
  background-color: #dadada;
  border-radius: 4px 3px 6px / 2px 4px;
  display: inline-block;
  padding-top: 5px;
  max-width: 650px;
  word-wrap: break-word;
}
.scroll-contact {
  height: 100%;
  overflow-y: scroll !important;
  overflow-x: hidden;
  background-color: #e0e0e0!important;
  border-color: #e0e0e0!important;
}
.suffix-btn {
  position: absolute;
  bottom: 20px;
  right: 2px;
}
</style>
