<template >
     <div class="maps">
        <div class="boxResumenMaps2">
          <div class="map-box-content">
<!-- regiones -->
            <md-card class="md-card-region">
                <md-card-content>
                  <md-field style="position:relavite !important; top:-15px !important;">
                    <md-select v-model="regiones" placeholder="Región"  @md-selected="selectedRegion">
                      <md-option  v-for="(regiones) in region"  :value="regiones.id" :key="regiones.id">{{regiones.name}}</md-option>
                    </md-select>
                  </md-field>
                    <md-field style="position:relavite !important; top:-20px !important;">
                      <md-select v-model="communs" placeholder="Comuna" name="communs" id="idComuns" @md-selected="selectedCommun">
                        <md-option  v-for="(communs) in commune"  :value="communs.id" :key="communs.id">{{communs.name}}</md-option>
                     </md-select>
                  </md-field>
                  <md-progress-bar v-if="swLoadingSelect" class="md-progress-regions4" md-mode="indeterminate"></md-progress-bar>
                </md-card-content>
              </md-card>
<!-- resumen -->
              <md-card class="md-card-resumen md-primary">
                <md-card-header style="height:40px !important;">
                  <div class="md-title-resumen1" style="top: -5px; position: relative;">Puntos creados por región</div>
                </md-card-header>
                <md-card-content class="content-bg2 md-layout md-gutter md-alignment-top-center">
                <md-list class="md-layout-item list-sm">
                  <md-list-item class="list-item-sm" v-for="(reg, index) in numberRegions" :key="index" v-show="index < 6">
                    <span class="list-md-text">{{getNumberByRegion(index)}}:
                      <span class="list-md-text-value">{{getTotalByRegion(index)}}</span>
                    </span>
                  </md-list-item>
                  </md-list>
                  <md-list class="md-layout-item list-sm">
                  <md-list-item class="list-item-sm" v-for="(reg, index) in numberRegions" :key="index" v-show="index >= 6 && index < 12">
                    <span class="list-md-text">{{getNumberByRegion(index)}}:
                      <span class="list-md-text-value">{{getTotalByRegion(index)}}</span>
                    </span>
                  </md-list-item>
                  </md-list>
                  <md-list class="md-layout-item list-sm">
                  <md-list-item class="list-item-sm" v-for="(reg, index) in numberRegions" :key="index" v-show="index >= 12">
                    <span class="list-md-text">{{getNumberByRegion(index)}}:
                      <span class="list-md-text-value">{{getTotalByRegion(index)}}</span>
                    </span>
                  </md-list-item>
                  </md-list>
                </md-card-content>
                <md-divider></md-divider>
                <span class="md-title-legend1">Leyenda</span>
                <md-card-content class="content-bg md-layout md-alignment-top-center">
                  <div class="md-layout-item list-sm">
                    <md-list style="width: 50%!important; left:19% !important;" class="md-layout-item md-alignment-center">
                        <md-list-item style="width: 240px;">
                          <img class="md-list-icon" src="https://cdn0.iconfinder.com/data/icons/user-icons-4/100/user-17-256.png"/>
                          <span class="md-list-item-text list-lg-text">creados hoy: {{ totalCreados }}</span>
                        </md-list-item>
                        <md-list-item style="width: 240px;">
                          <img class="md-list-icon" src="../../assets/yellow_marker.png"/>
                          <span class="md-list-item-text list-lg-text">visitados hoy: {{ totalVisitas }}</span>
                        </md-list-item>
                     </md-list>
                   </div>
                </md-card-content>
            </md-card>
          </div>
        </div>
<!-- mapa -->
          <div v-if="loading" class="loadDiv">
            <md-progress-bar class="pg-bar" md-mode="indeterminate"></md-progress-bar>
          </div>

          <gmap-map
            :center="center"
            :options="mapOptions"
            :zoom="zoom"
            style="width: 100%; height: 100%">
            <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false">
                <div>
                    <div></div>
                    <div><img :src="dataMarker.photo" width="150px" /> </div>
                    <div>
                        <p>Local: {{ dataMarker.title }} </p>
                        <p>Región: {{ dataMarker.region }}</p>
                        <p>Comuna: {{ dataMarker.commune }}</p>
                        <p v-if="perfil != 2 && perfil != 5">Dirección: {{ dataMarker.address }}</p>
                        <p>Entregados 356: {{ dataMarker.total_356 }}</p>
                        <p>Entregados 374: {{ dataMarker.total_374 }}</p>
                    </div>
               </div>

              </gmap-info-window>
            <gmap-marker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="false"
              :icon="m.icon"
              @click="toggleInfoWindow(m,index)"
            ></gmap-marker>
          </gmap-map>
<!-- btn position -->
  <md-button  class="btn-position" :md-ripple="false" @click="getLocation">
  <img src="static/css/static/img/current_position_user.png" width="25px"> Mostrar posición actual</md-button>
<!-- alertas -->
     <md-dialog-confirm md-confirm-text="Salir" :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackNoPoints" md-content="No hay puntos de venta en el sector seleccionado."/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="No se encontraron registros."/>

 </div>
</template>
<script>
export default {
  data() {
    return {
      // alertas
      snackNoPoints: false,
      snackNoData: false,
      snackOauth: false,
      snack500: false,
      //config
      aerror: "",
      posByRegion: [],
      swLoadingSelect: false,
      loading: true,
      communes: [
        { id: 26, name: "Canela", region_name: "IV de Coquimbo" },
        { id: 28, name: "Illapel", region_name: "IV de Coquimbo" },
        { id: 29, name: "Los Vilos", region_name: "IV de Coquimbo" },
        { id: 30, name: "Salamanca", region_name: "IV de Coquimbo" },
        { id: 31, name: "Andacollo", region_name: "IV de Coquimbo" },
        { id: 32, name: "Coquimbo", region_name: "IV de Coquimbo" },
        { id: 33, name: "La Higuera", region_name: "IV de Coquimbo" },
        { id: 34, name: "La Serena", region_name: "IV de Coquimbo" },
        { id: 35, name: "Paihuano", region_name: "IV de Coquimbo" },
        { id: 15, name: "Maria Elena", region_name: "II de Antofagasta" },
        { id: 16, name: "Tocopilla", region_name: "II de Antofagasta" },
        { id: 163, name: "Lota", region_name: "VIII del Bío Bío" },
        { id: 164, name: "Penco", region_name: "VIII del Bío Bío" },
        { id: 51, name: "Cabildo", region_name: "V de Valparaíso" },
        { id: 52, name: "La Ligua", region_name: "V de Valparaíso" },
        { id: 53, name: "Papudo", region_name: "V de Valparaíso" },
        { id: 54, name: "Petorca", region_name: "V de Valparaíso" },
        { id: 55, name: "Zapallar", region_name: "V de Valparaíso" },
        {
          id: 80,
          name: "Codegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 234, name: "Osorno", region_name: "X Región de Los Lagos" },
        {
          id: 235,
          name: "San Juan de la Costa",
          region_name: "X Región de Los Lagos"
        },
        {
          id: 236,
          name: "Río Negro",
          region_name: "X Región de Los Lagos"
        },
        { id: 237, name: "Palena", region_name: "X Región de Los Lagos" },
        { id: 238, name: "Futaleufú", region_name: "X Región de Los Lagos" },
        { id: 239, name: "Chaitén", region_name: "X Región de Los Lagos" },
        { id: 240, name: "HualaihuÃÂ©", region_name: "X Región de Los Lagos" },
        {
          id: 108,
          name: "Peralillo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 109,
          name: "Placilla",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 110,
          name: "Pumanque",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 111,
          name: "San Fernando",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 112,
          name: "Santa Cruz",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 113, name: "Cauquenes", region_name: "VII del Maule" },
        { id: 114, name: "Chanco", region_name: "VII del Maule" },
        { id: 115, name: "Pelluhue", region_name: "VII del Maule" },
        { id: 116, name: "Curicó", region_name: "VII del Maule" },
        { id: 117, name: "HualaÃÂ±ÃÂ©", region_name: "VII del Maule" },
        {
          id: 244,
          name: "Cochrane",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 245,
          name: "O'Higgins",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 61, name: "Algarrobo", region_name: "V de Valparaí­so" },
        { id: 62, name: "Cartagena", region_name: "V de Valparaí­so" },
        { id: 63, name: "El Quisco", region_name: "V de Valparaí­so" },
        { id: 64, name: "El Tabo", region_name: "V de Valparaíso" },
        { id: 65, name: "San Antonio", region_name: "V de Valparaíso" },
        { id: 66, name: "Santo Domingo", region_name: "V de Valparaíso" },
        { id: 70, name: "Putaendo", region_name: "V de Valparaíso" },
        {
          id: 257,
          name: "Timaukel",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 258,
          name: "Natales",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 259,
          name: "Torres del Paine",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 260, name: "Colina", region_name: "Metropolitana de Santiago" },
        { id: 73, name: "Casablanca", region_name: "V de Valparaíso" },
        { id: 74, name: "Valparaí­so", region_name: "V de Valparaíso" },
        { id: 75, name: "Concón", region_name: "V de Valparaíso" },
        { id: 77, name: "Puchuncaví­", region_name: "V de Valparaíso" },
        { id: 78, name: "Quintero", region_name: "V de Valparaíso" },
        { id: 79, name: "Viña del Mar", region_name: "V de Valparaíso" },
        {
          id: 82,
          name: "Coltauco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 91,
          name: "Pichidegua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 312, name: "Lanco", region_name: "XIV Región de Los Ríos" },
        { id: 313, name: "Los Lagos", region_name: "XIV Región de Los Ríos" },
        { id: 314, name: "MÃÂ¡fil", region_name: "XIV Región de Los Ríos" },
        { id: 315, name: "Mariquina", region_name: "XIV Región de Los Ríos" },
        {
          id: 93,
          name: "Rancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 94,
          name: "Rengo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 95,
          name: "Requínoa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 96,
          name: "San Vicente de Tagua Tagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 24, name: "Huasco", region_name: "III de Atacama" },
        { id: 45, name: "Rinconada", region_name: "V de Valparaío" },
        { id: 46, name: "San Esteban", region_name: "V de Valparaíso" },
        { id: 47, name: "Limache", region_name: "V de Valparaíso" },
        { id: 143, name: "Alto Biobío", region_name: "VIII del Bío Bío" },
        { id: 144, name: "Antuco", region_name: "VIII del Bío Bío" },
        { id: 145, name: "Cabrero", region_name: "VIII del Bío Bío" },
        { id: 58, name: "La Cruz", region_name: "V de Valparaíso" },
        { id: 14, name: "Calama", region_name: "II de Antofagasta" },
        {
          id: 256,
          name: "Primavera",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 43, name: "Calle Larga", region_name: "V de Valparaíso" },
        { id: 44, name: "Los Andes", region_name: "V de Valparaíso" },
        {
          id: 212,
          name: "Curaco de VÃÂ©lez",
          region_name: "X Región de Los Lagos"
        },
        { id: 213, name: "Quinchao", region_name: "X Región de Los Lagos" },
        { id: 1, name: "Alto Hospicio", region_name: "I de Tarapacá" },
        { id: 2, name: "Iquique", region_name: "I de Tarapacá" },
        { id: 3, name: "CamiÃÂ±a", region_name: "I de Tarapacá" },
        { id: 119, name: "Molina", region_name: "VII del Maule" },
        { id: 25, name: "Vallenar", region_name: "III de Atacama" },
        { id: 121, name: "Romeral", region_name: "VII del Maule" },
        { id: 122, name: "Sagrada Familia", region_name: "VII del Maule" },
        { id: 123, name: "Teno", region_name: "VII del Maule" },
        { id: 125, name: "Colbún", region_name: "VII del Maule" },
        { id: 126, name: "Linares", region_name: "VII del Maule" },
        { id: 127, name: "Longaví", region_name: "VII del Maule" },
        { id: 128, name: "Parral", region_name: "VII del Maule" },
        { id: 129, name: "Retiro", region_name: "VII del Maule" },
        { id: 130, name: "San Javier", region_name: "VII del Maule" },
        { id: 268, name: "Paine", region_name: "Metropolitana de Santiago" },
        { id: 133, name: "ConstituciÃón", region_name: "VII del Maule" },
        { id: 134, name: "Curepto", region_name: "VII del Maule" },
        { id: 135, name: "Empedrado", region_name: "VII del Maule" },
        { id: 137, name: "Pelarco", region_name: "VII del Maule" },
        { id: 138, name: "Pencahue", region_name: "VII del Maule" },
        { id: 139, name: "Río Claro", region_name: "VII del Maule" },
        { id: 140, name: "San Clemente", region_name: "VII del Maule" },
        { id: 141, name: "San Rafael", region_name: "VII del Maule" },
        { id: 142, name: "Talca", region_name: "VII del Maule" },
        { id: 147, name: "Los ÃÂngeles", region_name: "VIII del Bí Bí" },
        { id: 148, name: "MulchÃÂ©n", region_name: "VIII del Bí Bí" },
        { id: 149, name: "Nacimiento", region_name: "VIII del Bí Bí" },
        { id: 151, name: "Quilaco", region_name: "VIII del Bí Bí" },
        { id: 152, name: "Quilleco", region_name: "VIII del Bí Bí" },
        { id: 166, name: "Santa Juana", region_name: "VIII del Bí Bí" },
        { id: 167, name: "Talcahuano", region_name: "VIII del Bí Bí" },
        { id: 168, name: "TomÃÂ©", region_name: "VIII del Bí Bí" },
        { id: 263, name: "Pirque", region_name: "Metropolitana de Santiago" },
        {
          id: 265,
          name: "San José de Maipo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 270, name: "AlhuÃÂ©", region_name: "Metropolitana de Santiago" },
        {
          id: 271,
          name: "Curacaví",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 272,
          name: "María Pinto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 273,
          name: "Melipilla",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 274,
          name: "San Pedro",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 288,
          name: "Lo Barnechea",
          region_name: "Metropolitana de Santiago"
        },
        { id: 214, name: "QueilÃÂ©n", region_name: "X Región de Los Lagos" },
        { id: 215, name: "Chonchi", region_name: "X Región de Los Lagos" },
        { id: 216, name: "PuqueldÃón", region_name: "X Región de Los Lagos" },
        { id: 217, name: "Castro", region_name: "X Región de Los Lagos" },
        { id: 218, name: "Dalcahue", region_name: "X Región de Los Lagos" },
        { id: 219, name: "Quemchi", region_name: "X Región de Los Lagos" },
        {
          id: 221,
          name: "Puerto Varas",
          region_name: "X Región de Los Lagos"
        },
        { id: 223, name: "Llanquihue", region_name: "X Región de Los Lagos" },
        { id: 224, name: "Frutillar", region_name: "X Región de Los Lagos" },
        { id: 225, name: "Cochamó", region_name: "X Región de Los Lagos" },
        { id: 226, name: "Fresia", region_name: "X Región de Los Lagos" },
        { id: 12, name: "Ollague", region_name: "II de Antofagasta" },
        { id: 36, name: "Vicuña", region_name: "IV de Coquimbo" },
        { id: 37, name: "Combarbalá", region_name: "IV de Coquimbo" },
        { id: 38, name: "Monte Patria", region_name: "IV de Coquimbo" },
        { id: 39, name: "Ovalle", region_name: "IV de Coquimbo" },
        { id: 40, name: "Punitaqui", region_name: "IV de Coquimbo" },
        { id: 41, name: "Río Hurtado", region_name: "IV de Coquimbo" },
        { id: 227, name: "Los Muermos", region_name: "X Región de Los Lagos" },
        { id: 228, name: "MaullÃÂ­n", region_name: "X Región de Los Lagos" },
        { id: 48, name: "Olmué", region_name: "V de Valparaí­so" },
        { id: 49, name: "Quilpué", region_name: "V de Valparaí­so" },
        { id: 311, name: "Corral", region_name: "XIV Región de Los RÃíos" },
        {
          id: 201,
          name: "Collipulli",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 202,
          name: "CuracautÃÂ­n",
          region_name: "IX Región de la Araucania"
        },
        { id: 203, name: "Ercilla", region_name: "IX Región de la Araucania" },
        {
          id: 204,
          name: "Lonquimay",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 205,
          name: "Los Sauces",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 302,
          name: "San Joaquín",
          region_name: "Metropolitana de Santiago"
        },
        { id: 229, name: "Calbuco", region_name: "X Región de Los Lagos" },
        { id: 230, name: "Purranque", region_name: "X Región de Los Lagos" },
        { id: 231, name: "Puyehue", region_name: "X Región de Los Lagos" },
        {
          id: 232,
          name: "Puerto Octay",
          region_name: "X Región de Los Lagos"
        },
        { id: 233, name: "San Pablo", region_name: "X Región de Los Lagos" },
        { id: 301, name: "Renca", region_name: "Metropolitana de Santiago" },
        { id: 322, name: "Putre", region_name: "XV de Arica y Parinacota" },
        { id: 336, name: "Quirihue", region_name: "XVI Región de Ñuble" },
        {
          id: 210,
          name: "Victoria",
          region_name: "IX Región de la Araucania"
        },
        { id: 4, name: "Colchane", region_name: "I de Tarapacá" },
        { id: 5, name: "Huara", region_name: "I de Tarapacá" },
        { id: 6, name: "Pica", region_name: "I de Tarapacá" },
        { id: 7, name: "Pozo Almonte", region_name: "I de Tarapacá" },
        { id: 17, name: "Chañaral", region_name: "III de Atacama" },
        { id: 8, name: "Antofagasta", region_name: "II de Antofagasta" },
        { id: 9, name: "Mejillones", region_name: "II de Antofagasta" },
        { id: 18, name: "Diego de Almagro", region_name: "III de Atacama" },
        { id: 19, name: "Caldera", region_name: "III de Atacama" },
        { id: 20, name: "CopiapÃó", region_name: "III de Atacama" },
        { id: 21, name: "Tierra Amarilla", region_name: "III de Atacama" },
        {
          id: 303,
          name: "San Miguel",
          region_name: "Metropolitana de Santiago"
        },
        { id: 10, name: "Sierra Gorda", region_name: "II de Antofagasta" },
        { id: 11, name: "Taltal", region_name: "II de Antofagasta" },
        { id: 22, name: "Alto del Carmen", region_name: "III de Atacama" },
        { id: 23, name: "Freirina", region_name: "III de Atacama" },
        {
          id: 304,
          name: "San Ramón",
          region_name: "Metropolitana de Santiago"
        },
        { id: 50, name: "Villa Alemana", region_name: "V de Valparaíso" },
        { id: 291, name: "Macul", region_name: "Metropolitana de Santiago" },
        { id: 162, name: "Hualqui", region_name: "VIII del Bío Bío" },
        { id: 56, name: "La Calera", region_name: "V de Valparaíso" },
        { id: 211, name: "Quellón", region_name: "X Región de Los Lagos" },
        { id: 60, name: "Quillota", region_name: "V de Valparaíso" },
        { id: 67, name: "Catemu", region_name: "V de Valparaíso" },
        {
          id: 253,
          name: "Río Verde",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 254,
          name: "San Gregorio",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        {
          id: 255,
          name: "Porvenir",
          region_name: "XII Región de Magallanes y de la Antártica Chilena"
        },
        { id: 68, name: "Llay-Llay", region_name: "V de Valparaíso" },
        { id: 69, name: "Panquehue", region_name: "V de Valparaíso" },
        { id: 71, name: "San Felipe", region_name: "V de Valparaíso" },
        {
          id: 279,
          name: "Estación Central",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 89,
          name: "Olivar",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 241,
          name: "Aysén",
          region_name: "XI Aysén del General Carlos Ibañez del Campo"
        },
        {
          id: 242,
          name: "Cisnes",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        { id: 57, name: "Hijuelas", region_name: "V de Valparaíso" },
        {
          id: 243,
          name: "Guaitecas",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 247,
          name: "Coyhaique",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 248,
          name: "Lago Verde",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 249,
          name: "Chile Chico",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 250,
          name: "Río Ibáñez",
          region_name: "XI Aisén del General Carlos Ibañez del Campo"
        },
        {
          id: 190,
          name: "Padre Las Casas",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 191,
          name: "Perquenco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 192,
          name: "Pitrufquén",
          region_name: "IX Región de la Araucania"
        },
        { id: 193, name: "Pucón", region_name: "IX Región de la Araucania" },
        { id: 59, name: "Nogales", region_name: "V de Valparaíso" },
        {
          id: 209,
          name: "TraiguÃÂ©n",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 298,
          name: "Quilicura",
          region_name: "Metropolitana de Santiago"
        },
        { id: 72, name: "Santa María", region_name: "V de Valparaíso" },
        {
          id: 98,
          name: "Litueche",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 100,
          name: "Navidad",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 101,
          name: "Paredones",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 102,
          name: "Pichilemu",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 103,
          name: "ChÃÂ©pica",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 104,
          name: "Chimbarongo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 105,
          name: "Lolol",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 323, name: "Bulnes", region_name: "XVI Región de Ñuble" },
        { id: 324, name: "Chillán", region_name: "XVI Región de Ñuble" },
        {
          id: 325,
          name: "Chillán Viejo",
          region_name: "XVI Región de Ñuble"
        },
        { id: 327, name: "Pemuco", region_name: "XVI Región de Ñuble" },
        { id: 331, name: "Yungay", region_name: "XVI Región de Ñuble" },
        { id: 333, name: "Coelemu", region_name: "XVI Región de Ñuble" },
        {
          id: 106,
          name: "Nancagua",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 118, name: "LicantÃÂ©n", region_name: "VII del Maule" },
        { id: 124, name: "Vichuquén", region_name: "VII del Maule" },
        { id: 172, name: "Maule", region_name: "VIII del Bío Bío" },
        { id: 179, name: "Carahue", region_name: "IX Región de la Araucania" },
        {
          id: 180,
          name: "Cholchol",
          region_name: "IX Región de la Araucania"
        },
        { id: 181, name: "Cunco", region_name: "IX Región de la Araucania" },
        {
          id: 182,
          name: "Curarrehue",
          region_name: "IX Región de la Araucania"
        },
        { id: 183, name: "Freire", region_name: "IX Región de la Araucania" },
        {
          id: 184,
          name: "Galvarino",
          region_name: "IX Región de la Araucania"
        },
        { id: 185, name: "Gorbea", region_name: "IX Región de la Araucania" },
        {
          id: 299,
          name: "Quinta Normal",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 81,
          name: "Coinco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 83,
          name: "Doñihue",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 300, name: "Recoleta", region_name: "Metropolitana de Santiago" },
        {
          id: 84,
          name: "Graneros",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 85,
          name: "Las Cabras",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 86,
          name: "Machalí­",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 87,
          name: "Malloa",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 307, name: "Futrono", region_name: "XIV Región de Los Ríos" },
        {
          id: 308,
          name: "Lago Ranco",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 309,
          name: "La Unión",
          region_name: "XIV Región de Los Ríos"
        },
        {
          id: 90,
          name: "Peumo",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        { id: 316, name: "Paillaco", region_name: "XIV Región de Los Ríos" },
        {
          id: 317,
          name: "Panguipulli",
          region_name: "XIV Región de Los Ríos"
        },
        { id: 318, name: "Valdivia", region_name: "XIV Región de Los Ríos" },
        { id: 319, name: "Arica", region_name: "XV de Arica y Parinacota" },
        { id: 320, name: "Camarones", region_name: "XV de Arica y Parinacota" },
        {
          id: 92,
          name: "Quinta de Tilcoco",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 97,
          name: "La Estrella",
          region_name: "VI del Libertador General Bernardo O'Higgins"
        },
        {
          id: 267,
          name: "Calera de Tango",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 165,
          name: "San Pedro de la Paz",
          region_name: "VIII del Bío Bío"
        },
        { id: 186, name: "Lautaro", region_name: "IX Región de la Araucania" },
        {
          id: 187,
          name: "Loncoche",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 188,
          name: "Melipeuco",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 189,
          name: "Nueva Imperial",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 194,
          name: "Saavedra",
          region_name: "IX Región de la Araucania"
        },
        { id: 195, name: "Temuco", region_name: "IX Región de la Araucania" },
        {
          id: 196,
          name: "Teodoro Schmidt",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 197,
          name: "Toltén",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 198,
          name: "VilcÃÂºn",
          region_name: "IX Región de la Araucania"
        },
        {
          id: 199,
          name: "Villarrica",
          region_name: "IX Región de la Araucania"
        },
        { id: 200, name: "Angol", region_name: "IX Región de la Araucania" },
        {
          id: 276,
          name: "Cerro Navia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 146, name: "Laja", region_name: "VIII del Bío Bío" },
        { id: 150, name: "Negrete", region_name: "VIII del Bío Bío" },
        {
          id: 278,
          name: "El Bosque",
          region_name: "Metropolitana de Santiago"
        },
        { id: 153, name: "San Rosendo", region_name: "VIII del Bío Bío" },
        { id: 154, name: "Santa BÃÂ¡rbara", region_name: "VIII del Bío Bío" },
        { id: 155, name: "Tucapel", region_name: "VIII del Bío Bío" },
        { id: 156, name: "Yumbel", region_name: "VIII del Bío Bío" },
        { id: 157, name: "Chiguayante", region_name: "VIII del Bío Bío" },
        { id: 158, name: "ConcepciÃón", region_name: "VIII del Bío Bío" },
        { id: 159, name: "Coronel", region_name: "VIII del Bío Bío" },
        { id: 160, name: "Florida", region_name: "VIII del Bío Bío" },
        { id: 206, name: "Lumaco", region_name: "IX Región de la Araucania" },
        { id: 207, name: "Purén", region_name: "IX Región de la Araucania" },
        { id: 208, name: "Renaico", region_name: "IX Región de la Araucania" },
        {
          id: 251,
          name: "Punta Arenas",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        {
          id: 252,
          name: "Laguna Blanca",
          region_name: "XII Región de Magallanes y de la AntÃ¡rtica Chilena"
        },
        { id: 261, name: "Lampa", region_name: "Metropolitana de Santiago" },
        {
          id: 284,
          name: "La Granja",
          region_name: "Metropolitana de Santiago"
        },
        { id: 262, name: "Tiltil", region_name: "Metropolitana de Santiago" },
        {
          id: 264,
          name: "Puente Alto",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 285,
          name: "La Pintana",
          region_name: "Metropolitana de Santiago"
        },
        { id: 266, name: "Buin", region_name: "Metropolitana de Santiago" },
        {
          id: 269,
          name: "San Bernardo",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 281,
          name: "Independencia",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 275,
          name: "Cerrillos",
          region_name: "Metropolitana de Santiago"
        },
        { id: 286, name: "La Reina", region_name: "Metropolitana de Santiago" },
        {
          id: 283,
          name: "La Florida",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 287,
          name: "Las Condes",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 280,
          name: "Huechuraba",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 289,
          name: "Lo Espejo",
          region_name: "Metropolitana de Santiago"
        },
        { id: 290, name: "Lo Prado", region_name: "Metropolitana de Santiago" },
        { id: 292, name: "Maipúº", region_name: "Metropolitana de Santiago" },
        { id: 293, name: "ÃâuÃÂ±oa", region_name: "Metropolitana de Santiago" },
        {
          id: 294,
          name: "Pedro Aguirre Cerda",
          region_name: "Metropolitana de Santiago"
        },
        { id: 340, name: "ÃâiquÃÂ©n", region_name: "XVI Región de Ñuble" },
        { id: 341, name: "San Carlos", region_name: "XVI Región de Ñuble" },
        { id: 342, name: "San Fabián", region_name: "XVI Región de Ñuble" },
        { id: 343, name: "San Nicolás", region_name: "XVI Región de Ñuble" },
        {
          id: 295,
          name: "Peñalolén",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 296,
          name: "Providencia",
          region_name: "Metropolitana de Santiago"
        },
        { id: 297, name: "Pudahuel", region_name: "Metropolitana de Santiago" },
        { id: 305, name: "Santiago", region_name: "Metropolitana de Santiago" },
        { id: 306, name: "Vitacura", region_name: "Metropolitana de Santiago" },
        {
          id: 344,
          name: "Isla de Maipó",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 345,
          name: "Talagante",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 353,
          name: "Conchalí",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 352,
          name: "Río Bueno",
          region_name: "XII Región de Magallanes y de la Antá¡rtica Chilena"
        },
        {
          id: 351,
          name: "Puerto Montt",
          region_name: "X Región de Los Lagos"
        },
        { id: 350, name: "Palmilla", region_name: "II de Antofagasta" },
        { id: 349, name: "Ancud", region_name: "III de Atacama" },
        { id: 354, name: "Cañete", region_name: "VIII del Bío Bío" },
        { id: 356, name: "Los Alamos", region_name: "VIII del Bío Bío" },
        { id: 355, name: "Lebu", region_name: "VIII del Bío Bío" },
        {
          id: 346,
          name: "Peñaflor",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 347,
          name: "Padre Hurtado",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 348,
          name: "La Cisterna",
          region_name: "Metropolitana de Santiago"
        },
        {
          id: 321,
          name: "General Lagos",
          region_name: "XV de Arica y Parinacota"
        },
        { id: 335, name: "Portezuelo", region_name: "XVI Región de Ñuble" },
        { id: 337, name: "RáÂ¡nquil", region_name: "XVI Región de Ñuble" },
        { id: 338, name: "Treguaco", region_name: "XVI Región de Ñuble" },
        { id: 339, name: "Coihueco", region_name: "XVI Región de Ñuble" }
      ],  
      commune: [],
      region: [],
      regiones: [],
      numberRegions: [
        "I",
        "II",
        "III",
        "IV",
        "V",
        "VI",
        "VII",
        "VIII",
        "IX",
        "X",
        "XI",
        "XII",
        "RM",
        "XIV",
        "XV",
        "XVI"
      ],
      communs: [],
      center: { lat: -33.4446479, lng: -70.6582718 },
      zoom: 5,
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      dd: 0,
      mm: 0,
      yyyy: 0,
      failure: false,
      today: new Date(),
      contentError: "",
      infoWinOpen: false,
      iconOptions: {},
      iconOptions2: {},
      totalVisitas:0,
      totalCreados:0,
      allVisitToday:[],
      allCreateToday:[],
      currentMidx: null,
      mapOptions: {
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_TOP
        },
        streetViewControl: true,
        streetViewControlOptions: {
            position: google.maps.ControlPosition.RIGHT_TOP
        },
      },
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      markers: [],
      dataMarker: {
        photo: "",
        title: "",
        delivery: 0,
        address: "",
        created_by: "",
        region: '',
        commune: ''        
      },
      type: 0,
      sucursales: [],
      url: "",
      user: {
        approve: false,
        position: {},
        icon: {}
      },
      refresh_call: true,
      perfil: 0
    };
  },
  mounted() {
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1; //January is 0!
    this.yyyy = this.today.getFullYear();
    this.getAllRegions();
    this.getTotalPOSByRegion();
    this.loadAllPins();
  },
  methods: {
    //obtener el nombre de la comuna por su id
    getCommuneName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.communes.filter(item => item.id == val)[0]
        return (obj != undefined) ? obj.name : "Sin información"
      }
    },
    //obtener el nombre de la region por su id
    getRegionName(val) {
      if(val == 0 || val == undefined || val == null) return "Sin información"
      else {
        var obj = this.communes.filter(item => item.id == val)[0]
        return (obj != undefined) ? obj.region_name : "Sin información"
      }
    },
    //retornar puntos de región especifica
    getNumberByRegion(id) {
      return this.numberRegions[id];
    },    
    //retornar puntos de región especifica
    getTotalByRegion(id) {
      var idx = this.posByRegion.findIndex(item => item.name[0] == id+1);
      if (idx != -1) {
        return this.posByRegion[idx].total;
      }
    },
    //obtener el total de puntos por region
    getTotalPOSByRegion() {
      this.$http
        .get(this.getUrlBase() + "/api/v1/reports/totalSubsidiaryRegion/?filter_by=3", this.getHeaders())
        .then(
          response => {
            response.body.forEach(item => {
              this.posByRegion.push(item);
            });
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getTotalPOSByRegion();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: total de puntos por región";
            }
          }
        );
    },
    //obtener todas las regiones
    getAllRegions() {
      this.swLoadingSelect = true;
      this.$http
        .get(this.getUrlBase() + "/api/v1/regions/", this.getHeaders())
        .then(
          response => {
            this.region = response.body;
            this.swLoadingSelect = false;
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.getAllRegions();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: listado de regiones";
            }
            this.swLoadingSelect = false;
          }
        );
    },
    //obtener todas las comunas de una region
    loadCommun(val) {
      this.swLoadingSelect = true;
      this.$http
        .get(this.getUrlBase() + "/api/v1/reports/commune/?idRegion=" + val, this.getHeaders())
        .then(
          data => {
            this.commune = data.body;
            this.swLoadingSelect = false;
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.loadCommun(val)
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: listado de comunas";
            }
            this.swLoadingSelect = false;
          }
        );
    },
    //cargar comunas y puntos por region en el mapa
    selectedRegion(val) {
      this.loadCommun(val);
      this.region.forEach(data => {
        if (data.id === val) {
          this.center = { lat: data.lat, lng: data.lng };
        }
      });

      this.loadMapNews(this.getUrlBase() + "/api/v1/reports/subsidiary-delivery-total-region/?id_region=" + val);
      this.zoom = 8;
    },
    /**
     * Cargar puntos por comuna en el mapa
     */
    selectedCommun(val) {
      this.resumen = false;
      //cargar posición comuna seleccionada
      this.commune.forEach(data => {
        if (data.id === val) {
          this.center = { lat: data.lat, lng: data.lng };
          this.zoom = 12;
        }
      });

      this.markers = [];
      let count_created = 0;
      let count_visited = 0;
      for(let create of this.allCreateToday){
        if(create.idcommune == val){
          count_created ++;
          this.iconOptions = {};
            this.iconOptions2 = {
              url: "static/css/static/img/maps-create-today.png",
              size: { width: 50, height: 50, f: "px", b: "px" },
              scaledSize: { width: 50, height: 50, f: "px", b: "px" }
            };
            var photo = create.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+create.picture_business;

            this.markers.push({
              photo: photo,
              position: {
                lat: create.latitude,
                lng: create.longitude
              },
              title: create.name_business,
              delivery: 0,
              icon: this.iconOptions2,
              address: create.address,
            });
        }
      }
      this.totalCreados = count_created;
      for(let visitados of this.allVisitToday){
        if(visitados.idcommune == val){
          count_visited++
           this.iconOptions = {};

            this.iconOptions2 = {
              url: "static/css/static/img/yellow_marker.png",
              size: { width: 50, height: 50, f: "px", b: "px" },
              scaledSize: { width: 50, height: 50, f: "px", b: "px" }
            };
            var photo = visitados.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+visitados.picture_business;

            this.markers.push({
              photo: photo,
              position: {
                lat: visitados.latitude,
                lng: visitados.longitude
              },
              title: visitados.name_business,
              delivery: visitados.total_deliveries,
              icon: this.iconOptions2,
              address: visitados.address,
            });
        }
      }
      this.totalVisitas = count_visited;

    },
    /**
     * Metodo que carga todo los puntos creados y visitados el dia de hoy
     */
    loadAllPins() {
      //cargar pines sucursales creadas hoy
        this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-delivery-total/",
           this.getHeaders()
          )
          .then( response => {
            this.allCreateToday = response.body[0].pos_today
            this.allVisitToday = response.body[0].visits_today

            this.totalCreados = response.body[0].pos_today.length
            for(let deliverys of response.body[0].pos_today){
              this.iconOptions = {};

              this.iconOptions2 = {
                url: "static/css/static/img/maps-create-today.png",
                size: { width: 50, height: 50, f: "px", b: "px" },
                scaledSize: { width: 50, height: 50, f: "px", b: "px" }
              };
              var photo = deliverys.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+deliverys.picture_business;

              this.markers.push({
                photo: photo,
                position: {
                  lat: deliverys.latitude,
                  lng: deliverys.longitude
                },
                title: deliverys.name_business,
                total_356: deliverys.total_356,
                total_374: deliverys.total_374,
                icon: this.iconOptions2,
                address: deliverys.address,
                commune: this.getCommuneName(deliverys.idcommune),
                region: this.getRegionName(deliverys.idcommune),
              });
            }
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.loadAllPins();
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError = "Error al obtener datos relacionados con: mapa general";
            }
            this.loading = false;
            this.failure = true;
          }
        )
        .then(this.visitedPins());
    },
    /** Metodo que permite traer todo los puntos de locales vistados
     * diariamente
     */
    visitedPins() {
      //cargar pines sucursales visitadas hoy
      this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-delivery-total/", this.getHeaders())
        .then( response => {
          this.totalVisitas = response.body[0].visits_today.length

          for(let deliverys of response.body[0].visits_today){
            // console.log(deliverys)
            this.iconOptions = {};
            this.iconOptions2 = {
              url: "static/css/static/img/yellow_marker.png",
              size: { width: 50, height: 50, f: "px", b: "px" },
              scaledSize: { width: 50, height: 50, f: "px", b: "px" }
            };

            // var photo = deliverys.picture == null? "src/assets/icon.png" : deliverys.picture;
            var photo = deliverys.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+deliverys.picture_business;


            this.markers.push({
              photo: photo,
              position: {
                lat: deliverys.latitude,
                lng: deliverys.longitude
              },
              title: deliverys.name_business,
              total_356: deliverys.total_356,
              total_374: deliverys.total_374,
              icon: this.iconOptions2,
              address: deliverys.address,
              commune: this.getCommuneName(deliverys.idcommune),
              region: this.getRegionName(deliverys.idcommune),
            });
          }
          this.loading = false;
        },
        error => {
          this.aerror = error.status;
          if (this.aerror == 401) {
            this.visitedPins();
          }
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al obtener datos relacionados con: mapa general";
          }
          this.loading = false;
          this.failure = true;
        }
      )
      if(this.user.approve){
        this.markers.push({
          position: this.user.position,
          icon: this.user.icon
        })
      }
    },
    //cargar puntos creados hoy a arreglo markers
    loadMapNews(urlMapMarkers, region_id) {
      this.markers = [];
      this.loading = true;
      this.$http
      .get(urlMapMarkers, this.getHeaders())
      .then(response => {
          this.totalCreados = response.body[0].pos_today.length
          this.markers = [];
        for(let deliverys of response.body[0].pos_today){
          this.iconOptions = {};

          this.iconOptions2 = {
            url: "static/css/static/img/maps-create-today.png",
            size: { width: 50, height: 50, f: "px", b: "px" },
            scaledSize: { width: 50, height: 50, f: "px", b: "px" }
          };
          var photo = deliverys.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+deliverys.picture_business;

          this.markers.push({
            photo: photo,
            position: {
              lat: deliverys.latitude,
              lng: deliverys.longitude
            },
            total_356: deliverys.total_356,
            total_374: deliverys.total_374,
            title: deliverys.name_business,
            icon: this.iconOptions2,
            address: deliverys.address,
            commune: this.getCommuneName(deliverys.idcommune),
            region: this.getRegionName(deliverys.idcommune),
          });
        }
        //Actualizar visitas
        this.totalVisitas = response.body[0].visits_today.length

        for(let deliverys of response.body[0].visits_today){
          this.iconOptions = {};
          this.iconOptions2 = {
            url: "static/css/static/img/yellow_marker.png",
            size: { width: 50, height: 50, f: "px", b: "px" },
            scaledSize: { width: 50, height: 50, f: "px", b: "px" }
          };
          var photo = deliverys.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+deliverys.picture_business;
          this.markers.push({
            photo: photo,
            position: {
              lat: deliverys.latitude,
              lng: deliverys.longitude
            },
            title: deliverys.name_business,
            delivery: 0,
            icon: this.iconOptions2,
            address: deliverys.address,
            commune: this.getCommuneName(deliverys.idcommune),
            region: this.getRegionName(deliverys.idcommune),
          });
        }

        },
        error => {
        this.aerror = error.status;
        if (this.aerror == 401) {
          this.loadMapNews(urlMapMarkers, region_id)
        }
        if (this.aerror == 500) {
          this.snack500 = true;
          this.contentError = "Error al obtener datos relacionados con: mapa general";
        }
        this.loading = false;
        this.failure = true;
      })
      if(this.user.approve){
        this.markers.push({
          position: this.user.position,
          icon: this.user.icon
        })
      }
    },
    //cargar puntos visitados hoy a arreglo markers
    loadMapVisited(urlMapMarkers) {
      this.loading = true;
      this.$http
        .get(urlMapMarkers, this.getHeaders())
        .then(response => {
          response.body.forEach(deliverys => {
            this.iconOptions = {};
            let dateSale = new Date(deliverys.created_at);
            let ddSale = dateSale.getDate();
            let mmSale = dateSale.getMonth() + 1;
            let yyyySale = dateSale.getFullYear();
            var entregados = deliverys.total_deliveries;
            var stock = deliverys.stock356 + deliverys.stockautoplan;
            this.totald += deliverys;
            if (mmSale == this.mm) {
              if (
                this.mm == mmSale &&
                this.yyyy == yyyySale &&
                this.dd == ddSale
              ) {
                this.iconOptions = {
                  url: "static/css/static/img/yellow_marker.png",
                  size: { width: 30, height: 50, f: "px", b: "px" },
                  scaledSize: { width: 30, height: 50, f: "px", b: "px" }
                };
              }
              var photo = deliverys.picture_business == null ? "src/assets/icon.png" : "http://vm-icov-001.riosoft.cl/templates/images/photo/"+deliverys.picture_business;
              this.markers.push({
                position: { lat: deliverys.latitude, lng: deliverys.longitude },
                title: deliverys.name,
                photo: deliverys.picture,
                icon: this.iconOptions,
                total_356: deliverys.total_356,
                total_374: deliverys.total_374,
                address: deliverys.address,
              });
            }
          });
          this.loading = false;
        })
        .catch(err => {
          this.contentError = JSON.stringify(err.body);
          this.failure = true;
        });
    },
    //obtener la posición del dispositivo
    getLocation() {
      if (navigator.geolocation) {
        var geo_options = {
          enableHighAccuracy: true, 
          maximumAge        : 30000, 
          timeout           : 27000
        };
        var that = this
        navigator.geolocation.getCurrentPosition(function(position) {
          that.user = {
              approve: true,
              icon: {
                // url: "static/css/static/img/maps-activate.png",
                url: "static/css/static/img/current_position_user.png",
                size: { width: 55, height: 55, f: "px", b: "px" },
                scaledSize: { width: 55, height: 55, f: "px", b: "px" }
              },
              position: {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              }
            }
          that.markers.push({
            position: that.user.position,
            icon: that.user.icon
          })
        },
        error => {
          that.showError(error)
        })
      } else { 
        this.snack500 = true
        this.contentError = "La Geolocalización no es soportada .";
      }
    },
    showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          this.contentError = "El usuario no ha aceptado la solicitud de geolocalización";
          break;
        case error.POSITION_UNAVAILABLE:
          this.contentError = "La información de la posición no esta disponible.";
          break;
        case error.TIMEOUT:
          this.contentError = "Se ha terminado el tiempo de espera al solicitar la posición del dispositivo.";
          break;
        case error.UNKNOWN_ERROR:
          this.contentError = "Ha ocurrido un error desconocido.";
          break;
      }
      this.snack500 = true
    },
    //mostrar ventana de información de punto seleccionado en el mapa
    toggleInfoWindow: function(marker, idx) {
      if(marker.title != undefined){
        this.infoWindowPos = marker.position;
        this.dataMarker.photo = marker.photo;
        this.dataMarker.address = marker.address;
        this.dataMarker.title = marker.title;
        this.dataMarker.total_356 = marker.total_356,
        this.dataMarker.total_374 = marker.total_374;
        this.dataMarker.created_by = marker.created_by;
        this.dataMarker.commune = marker.commune
        this.dataMarker.region = marker.region
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx == idx) {
          this.infoWinOpen = !this.infoWinOpen;
        } else {
          //if different marker set infowindow to open and reset current marker index
          this.infoWinOpen = true;
          this.currentMidx = idx;
        }
      }
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  },
  computed: {
    sortedSubsidiaries: function() {
      return this.sucursales.sort((a, b) => b.puntaje - a.puntaje);
    }
  },
  created() {
    this.perfil = this.$localStorage.get("ThePerfil");
    this.type = this.$route.params.type;
  }
};
</script>
<style>
.md-card-header-text {
  height: 50px;
}
.md-card-resumen {
  top: 0px !important;
  left: -20px;
  width: 350px !important;
}
.maps {
  position: relative;
  width: 100%;
  height: 100%;
}
.md-card-region {
  top: 0px;
  left: -20px !important;
  width: 350px !important;
  height: 150px !important;
  background-color: #4285f4 !important;
}
.md-list-item-content {
  min-height: 50px !important;
}
span {
  font-size: 10px;
}
.md-card-sel {
  margin: 2% 0 0 0;
  height: 200px !important;
}
.lblResumenTitle {
  font-size: 12px;
}
.boxResumenMaps2 {
  display: box;
  position: absolute;
  background-color: #f4f3f4;
  width: 400px;
  height: 80hv;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 4px 9px 26px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 9px 26px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 9px 26px -5px rgba(0, 0, 0, 0.75);
}
.loadDiv {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  z-index: 2;
}
.pg-bar {
  height: 5px;
}
.md-content {
  padding: 0 0 0 0;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: beige !important;
  opacity: 1; /* Firefox */
}
/* ::-webkit-scrollbar {
  display: none;
} */
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div
  > ul {
  overflow-y: scroll;
  max-height: 100%;
}
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div.md-card.md-card-resumen.md-primary.md-theme-default
  > ul
  > div
  > li
  > div
  > div
  > div.md-list-item-text
  > div
  > i {
  min-width: 14px !important;
  width: 14px !important;
}
/* iconos markers */
.md-list-icon {
  height: 30px !important;
  margin: 0 20px 0 0;
}
.md-list-icon1 {
  height: 30px !important;
  margin: 0 29px 0 9px;
}
/* contenido de cards */
.content-bg {
  background-color: #ffffff;
  height: 160px;
  width: 350px;
}
.content-bg2 {
  background-color: #ffffff;
  height: 170px;
  width: 350px;
  margin-left: 0 !important;
}
/* listas */
.list-sm {
  position: relative;
  width: 33% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.list-item-sm {
  height: 25px;
  min-height: 25px !important;
}
.list-md-text {
  font-size: 12px;
}
.list-md-text-value {
  color: #ff9f50;
  font-size: 14px;
}
.list-lg-text {
  font-size: 16px;
}
/* sobreescribir listas vue-material */
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div.md-card.md-card-resumen.md-primary.md-theme-default
  > div.md-card-content.content-bg2.md-layout.md-gutter.md-alignment-top-center
  > ul {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div.md-card.md-card-resumen.md-primary.md-theme-default
  > div.md-card-content.content-bg2.md-layout.md-gutter.md-alignment-top-center {
  padding: 0 !important;
  margin-left: 0 !important;
}
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div.md-card.md-card-resumen.md-primary.md-theme-default
  > div.md-card-content.content-bg2.md-layout.md-gutter.md-alignment-top-center
  > ul
  > li
  > div {
  height: 25px;
  min-height: 25px !important;
}
#menuCont
  > div
  > main
  > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar
  > div
  > div
  > div.boxResumenMaps2
  > div
  > div.md-card.md-card-resumen.md-primary.md-theme-default
  > div.md-card-content.content-bg2.md-layout.md-gutter.md-alignment-top-center
  > ul
  > li
  > div
  > div {
  height: 25px;
  min-height: 25px !important;
}
.md-progress-regions4 {
  position: relative;
  top: -12px;
  width: 100%;
}
.md-title-resumen1 {
  color: beige;
  font-size: 18px;
}
.md-title-legend1 {
  color: beige;
  font-size: 14px;
}
.btn-position {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: #e7e7e785 !important;
  color: #333 !important;
}
</style>
