<template>
  <div class="md-layout md-alignment-center">
    <md-card class="md-layout-item md-size-90 md-elevation-8" style="height: auto;">
      <md-card-header class="md-layout md-alignment-center-center" style="background-color: #448aff !important;">
        <md-avatar>
          <md-icon class="white">backup</md-icon>
        </md-avatar>
        <div class="md-layout-item white" style="font-size: 28px;">Importaciones masivas</div>
      </md-card-header>
      <!-- FILTRO | SELECCION DE SUCURSAL -->
      <md-card-content class="md-layout md-layout-item md-alignment-center pb-1 px-1">
        <div class="md-layout-item md-layout md-alignment-center md-size-100">
          <div class="md-layout-item md-size-30 px-1">
            <md-field>
              <label>Tipo de Importación</label>
              <md-select v-model="import_selection" @md-selected="showForm">
                <md-option v-for="(item, index) in filterSelection" :value="item.id" :key="index" :disabled="loading_pdv && index == 1">
                  {{item.name}}
                  <md-progress-bar style="position: absolute; bottom: 0; left: 0;" v-if="loading_pdv  && index == 1" md-mode="indeterminate"></md-progress-bar>
                </md-option>
              </md-select>
            </md-field>
          </div>
          <div v-if="import_selection == 2" class="md-layout-item md-size-30 px-1">
            <md-autocomplete v-model="company.name_business" :md-options="subsidiary_name_list" :md-open-on-focus="false" @md-selected="getSubsidiaryID">
              <label>Sucursal</label>
              <template slot="md-autocomplete-item" slot-scope="{ item, term }">
                <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
              </template>
              <template slot="md-autocomplete-empty" slot-scope="{ term }">
                Sin coincidencias para "{{ term }}".
              </template>
            </md-autocomplete>
          </div>
          <div class="md-layout-item md-size-30 px-1">
            <md-field class="md-size-100">
              <label>Adjuntar archivo</label>
              <md-file :disabled="import_selection == -1 || import_selection == 2 && company.name_business == ''" id="csv_file" ref="file" name="csv_file" 
                accept=".csv" v-model="file_name" required @change="loadCSV"/>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-divider></md-divider>
      <!-- REQUISITOS -->
      <md-card-content class="md-layout md-layout-item md-alignment-top-center b-grey-light"  v-if="swSelected">
        <div class="md-layout-item md-size-45">
          <md-list class="b-grey-light">
            <md-subheader>Formato archivo</md-subheader>
            <md-list-item>
              <md-icon class="md-icon-orange">navigate_next</md-icon>
              <span class="md-list-item-text">Tipo de archivo: .CSV</span>
            </md-list-item>
            <md-list-item>
              <md-icon class="md-icon-orange">navigate_next</md-icon>
              <span class="md-list-item-text">Cabeceras obligatorias y en mayúscula</span>
            </md-list-item>    
            <md-list-item>
              <md-icon class="md-icon-orange">navigate_next</md-icon>
              <span class="md-list-item-text">Separaciones de datos con: ; <span class="sub-item">(punto y coma)</span></span>
            </md-list-item>    
          </md-list>
        </div>
        <div class="md-layout-item md-size-45">
          <md-list class="b-grey-light">
            <md-subheader>Cabeceras obligatorias</md-subheader>
            <md-list-item v-if="import_selection == 1 || import_selection == 2 || import_selection == 3">
              <md-icon v-if="!hasLCCID" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">LCCID<span class="sub-item">identificador del chip | tipo: numérico, largo: 20</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 1">
              <md-icon v-if="!hasTexto" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">TEXT <span class="sub-item">observación del chip | tipo: alfanumérico, largo: 200</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 1">
              <md-icon v-if="!hasIdtype" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">IDTYPE<span class="sub-item">tipo de chip | opciones: 356, 356+, 374 | tipo: numérico, largo: 4</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 1">
              <md-icon v-if="!hasLMSI" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">LMSI<span class="sub-item">tipo: numérico, largo: 20</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 1">
              <md-icon v-if="!hasPatente" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">PATENTE<span class="sub-item">tipo: alfanumérico, largo: 10</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 2">
              <md-icon v-if="!hasUserCreated" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">USER_CREATED<span class="sub-item">correo usuario | tipo: alfanumérico, largo: 70</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 2">
              <md-icon v-if="!hasCreatedAt" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">CREATED_AT<span class="sub-item">fecha entrega del chip | tipo: fecha(yyyy-mm-dd)</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3">
              <md-icon v-if="!hasDateActivate" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">DATE_ENABLED<span class="sub-item">fecha habilitación | tipo: fecha(yyyy-mm-dd) </span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3">
              <md-icon v-if="!hasDateSuscrition" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">DATE_SUSCRIPTION<span class="sub-item">fecha Suscripción | tipo: fecha(yyyy-mm-dd) </span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3">
              <md-icon v-if="!hasDateReload" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">DATE_RELOAD<span class="sub-item">fecha recarga | tipo: fecha(yyyy-mm-dd) </span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3">
              <md-icon v-if="!hasDatePrepago" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">DATE_PREPAID<span class="sub-item">fecha Prepago | tipo: fecha(yyyy-mm-dd) </span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3">
              <md-icon v-if="!hasPhone" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">PHONE<span class="sub-item">número de teléfono | tipo: numérico</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3 || import_selection == 4">
              <md-icon v-if="!hasRut" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">RUT<span class="sub-item">número de identificación del cliente | tipo: alfanumérico</span></span>
            </md-list-item>
            <md-list-item v-if="import_selection == 3 || import_selection == 4">
              <md-icon v-if="!hasAmount" class="md-icon-grey">check_circle_outline</md-icon>
              <md-icon v-else class="md-icon-green">check_circle_outline</md-icon>
              <span class="md-list-item-text">AMOUNT<span class="sub-item">monto de recarga | tipo: numérico</span></span>
            </md-list-item>
          </md-list>
        </div>
      </md-card-content>
      <md-divider></md-divider>
      <!-- DETALLE CSV | ACCION -->
      <md-card-content class="md-layout md-layout-item" v-if="valid_file">
        <div class="md-layout-item">
            <md-icon class="c-blue icon-special">attachment_load</md-icon>
            <span class="md-title c-grey">Archivo Adjunto: <span class="c-blue" style="font-weight: bold;">{{file_name}}</span></span>
        </div>
        <div class="md-layout md-layout-item md-size-100" style="overflow-x: auto; overflow-y: hidden">
          <table>
            <thead>
              <tr><th v-for="(key) in parse_header" :key="key" style="text-align: center">{{ key | capitalize }}</th></tr>
            </thead> 
            <tbody>
              <tr v-for="csv in pagging_parse_csv" :key="csv">
                <td v-for="(key, index) in parse_header" :key="index" 
                  :style="key == 'ESTADO' ? 'text-align:center;' : ''">
                  <span v-if="key != 'ESTADO'"> {{csv[key]}}</span>
                  <md-icon v-if="csv[key] == 'check'" class="c-green">{{csv[key]}}</md-icon>
                  <md-icon v-else-if="csv[key] == 'close'" class="c-red">{{csv[key]}}</md-icon>
                  <md-icon v-else-if="csv[key] == 'remove'" class="grey">{{csv[key]}}</md-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- footer -->
        <table>
          <tfoot>
            <tr class="py-0">
              <td style="text-align: center !important;">
                <div style="display: inline; white-space: nowrap;">
                  <span style="font-weight: bold;"><md-icon class="grey">list</md-icon>{{ parse_csv.length }} &nbsp;&nbsp;| 
                    <md-tooltip md-direction="top">Registros</md-tooltip>
                  </span>
                  <span style="font-weight: bold;"><md-icon class="c-green">check</md-icon>{{countSuccess}} &nbsp;&nbsp;| 
                    <md-tooltip md-direction="top">Ingresados</md-tooltip>
                  </span>
                  <span style="font-weight: bold;"><md-icon class="c-red">close</md-icon>{{countReject}}
                    <md-tooltip md-direction="top">Rechazados</md-tooltip>
                  </span>
                </div>
              </td>
              <td style="line-height: 40px; text-align: right;">
                <div style="display: inline;">
                  <md-button @click="prevPage" class="mx-1 md-icon-button md-mini md-plain"><md-icon>keyboard_arrow_left</md-icon></md-button>
                  <span class="px-1">{{ currentPage + ' - ' + maxPage}}</span>
                  <md-button @click="nextPage" class="mx-1 md-icon-button md-mini md-plain"><md-icon>keyboard_arrow_right</md-icon></md-button>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="md-layout md-layout-item md-size-100 md-alignment-center pt-1">
          <md-progress-bar md-mode="determinate" :md-value="progress_perc" style="width: 90% !important;"></md-progress-bar>
          <md-button :disabled="loading" @click.native="progress_perc != 100 ? saveFile() : clickToExport()" class="pointer md-raised md-primary md-btn-large">
            <md-icon>{{ progress_perc != 100 ? 'cloud_upload' : 'save' }}</md-icon>&nbsp;
            {{ progress_perc != 100 ?  'cargar' : 'exportar a excel' }}
          </md-button>
        </div>
        <div v-show="false">
          <download-excel ref="export_xls" :data="json_data" :fields="json_fields" :name="nameFile">
          </download-excel>
        </div>
      </md-card-content>
    </md-card>
    <md-dialog-alert
        :md-active.sync="sw_error"
        :md-content="errorContent" />
    <md-dialog-alert
        :md-active.sync="done"
        md-content="Proceso terminado."
        />
  </div>
</template>

<script>
export default {
  name: "Imports",
  data() {
    return {
      // progress bar
      total_rows:           0,
      loading:              false,
      loading_pdv:          false,
      processed:            0,
      done:                 false,
      // attachment
      swAttach_error:       false,
      attachment_load:      false,
      endPoint:             "",
      file_stack:           [],
      history_uploads:      [],
      // cargar archivo
      file_empty:           false,
      file:                 null,
      file_name:            "",
      sw_error:             false,
      //validaciones de campos en archivo csv
      valid_file:           false,
      requiredError:        null,
      // pagging
      pageSize:             10,
      currentPage:          1,
      maxPage:              0,
      // exportar
      json_data:            [],
      json_fields:          {},
      nameFile:             "",
      // csv
      parse_header:         [],
      parse_csv:            [],
      //columnas
      hasLCCID:             false,
      hasTexto:             false,
      hasIdtype:            false,
      hasLMSI:              false,
      hasPatente:           false,
      hasIdChip:            false,
      hasIdSubsidiary:      false,
      hasUserCreated:       false,
      hasCreatedAt:         false,
      hasPhone:             false,
      hasRut:               false,
      hasAmount:            false,
      hasDateActivate:      false,
      hasDateSuscrition:    false,
      hasDatePrepago:       false,
      hasDateReload:        false,
      sw_error:             false,
      //counts
      countSuccess:         0,
      countReject:          0,
      // config
      perfil:               "",
      errorContent:         "",
      swSelected:           false,
      import_selection:     -1,
      subsidiary_list:      [],
      company: {
        id: 0,
        name_business: "",
        address: "",
        enterprise: "",
        latitude: "",
        longitude: "",
        is_active: false,
        picture:
          "http://this-icov-001.riosoft.cl/templates/images/photo/templates/images/picture/course_no_image.png",
        user_created: ""
      },
      selections: [
        {
          id: 1,
          name: "Cargar Chips",
          enable: true,
          group: "2"
        },
        {
          id: 2,
          name: "Entrega Chips",
          enable: true,
          group: "3"
        },
        {
          id: 3,
          name: "Cargar Habilitaciones/Recargas",
          enable: true,
          group: "2"
        }
      ],
      today:                null,
      dd:                   0,
      mm:                   0,
      yyyy:                 0,
      months: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ],
      refresh_call:         true
    };
  },
  filters: {
    capitalize: function(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  },
  mounted() {
    this.today = new Date();
    this.dd = this.today.getDate();
    this.mm = this.today.getMonth() + 1;
    this.yyyy = this.today.getFullYear();
    this.endPoint = this.getUrlBase() + "/api/v1/attachment/";
    this.getSubsidiaries()
  },
  created() {
    this.email = this.$localStorage.get("theEmail");
    this.perfil = this.$localStorage.get("ThePerfil");
  },
  computed: {
    pagging_parse_csv() {
      this.current_page = 1
      return this.parse_csv.filter((row, index) => {
          let start = (this.currentPage - 1) * this.pageSize;
          let end = this.currentPage * this.pageSize;
          if (index >= start && index < end) return true;
        });
    },
    filterSelection() {
      if(this.perfil != 1){
        return this.selections.filter(s => s.enable && s.group == this.perfil)
      } else return this.selections
    },
    orderAttachments: function() {
      return this.history_uploads.sort((a, b) => a.created_at - b.created_at);
    },
    progress_perc() {
      // this.parse_csv.length => 100%
      // this.processed => current processed rows
      if( this.processed != 0)
        return (this.processed * 100) / this.total_rows // get PERC
        else return 0
    },
    subsidiary_name_list() {
      return this.subsidiary_list.map((item) => {return item.name_business})
    }
  },
  methods: {
    //convertir csv a json
    csvJSON(csv) {
      var lines = csv.split("\n")
      var result = []
      this.parse_header = []
      var data = {}
      this.parse_header = lines[0].split(";")
      this.parse_header.push('ESTADO','MOTIVO')
      lines.map((line, indexLine) => {
        if (indexLine < 1) return // Jump header line

        var obj = {}
        var currentline = line.split(";")
        this.parse_header.map((header, indexHeader) => {
          this.json_fields[header] = header
          obj[header] = currentline[indexHeader]
          if(indexHeader == this.parse_header.length-1){
            obj.ESTADO = "remove"
            obj.MOTIVO = ""
            this.json_fields["ESTADO"] = "ESTADO"
            this.json_fields["MOTIVO"] = "MOTIVO"
          }
        })
        result.push(obj)
      })
      result.pop() // remove the last item because undefined values
      return result // JavaScript object
    },
    loadCSV(e) {
      this.clearFields();
      var vm = this;
      if (window.FileReader) {
        var reader = new FileReader();
        reader.readAsText(e.target.files[0])
        this.file_name = e.target.files[0].name
        // Handle errors load
        reader.onload = async (event) => {
          var csv = event.target.result
          this.parse_csv = await this.csvJSON(csv)
          this.getLastPage()
          this.validateFile(this.import_selection)
        };
        reader.onerror = function(evt) {
          if (evt.target.error.name == "NotReadableError") {
            alert("Canno't read file !");
          }
        };
      } else {
        alert("FileReader are not supported in this browser.");
      }
    },
    //validar columnas del archivo
    validateFile(sw) {
      this.hasLCCID = this.parse_csv[0].hasOwnProperty("LCCID")
      this.hasTexto = this.parse_csv[0].hasOwnProperty("TEXT")
      this.hasIdtype = this.parse_csv[0].hasOwnProperty("IDTYPE")
      this.hasLMSI = this.parse_csv[0].hasOwnProperty("LMSI")
      this.hasPatente = this.parse_csv[0].hasOwnProperty("PATENTE")
      this.hasUserCreated = this.parse_csv[0].hasOwnProperty("USER_CREATED")
      this.hasCreatedAt = this.parse_csv[0].hasOwnProperty("CREATED_AT")
      this.hasDateActivate = this.parse_csv[0].hasOwnProperty("DATE_ENABLED")
      this.hasDateSuscrition = this.parse_csv[0].hasOwnProperty("DATE_SUSCRIPTION")
      this.hasDatePrepago = this.parse_csv[0].hasOwnProperty("DATE_PREPAID")
      this.hasPhone = this.parse_csv[0].hasOwnProperty("PHONE")
      this.hasRut = this.parse_csv[0].hasOwnProperty("RUT")
      this.hasDateReload = this.parse_csv[0].hasOwnProperty("DATE_RELOAD")
      this.hasAmount = this.parse_csv[0].hasOwnProperty("AMOUNT")
      switch (sw) {
        case 1: // cargas de chips
          if (!this.hasLCCID || !this.hasTexto || !this.hasIdtype || !this.hasLMSI || !this.hasPatente) {
            this.errorFileValidation()
          } else {
            this.file = null
            this.valid_file = true
          }
          break;
        case 2: // entregas --> ARROBA
          if (!this.hasLCCID || !this.hasUserCreated || !this.hasCreatedAt) {
            this.errorFileValidation()
          } else {
            this.file = null
            this.valid_file = true
          }
          break;
        case 3: // habilitaciones --> Entel
          if (!this.hasLCCID || !this.hasDateActivate || !this.hasRut || !this.hasDateSuscrition || 
              !this.hasDateReload || !this.hasDatePrepago || !this.hasPhone || !this.hasAmount) {
            this.errorFileValidation()
          } else {
            this.file = null
            this.valid_file = true
          }
          break;
      }
    },
    //validar | subir archivo datos a la BD
    async saveFile() {
      this.total_rows = this.parse_csv.length
      this.loading = true
      this.file = []
      switch (this.import_selection) {
        case 1: // cargas chips
          for(let [index, item] of this.parse_csv.entries()) {
            try {
              ++this.processed
              let id_type = '';
              if(item.IDTYPE == '356') id_type = 1
              else if(item.IDTYPE == '374') id_type = 2
              else id_type = 8;

              let data_form = new FormData()
              data_form.append("created_at", this.today)
              data_form.append("update_at", null)
              data_form.append("lccid", item.LCCID)
              data_form.append("text", item.TEXT)
              data_form.append("user_created", this.email)
              data_form.append("idType", id_type)
              data_form.append("LMSI", item.LMSI)
              data_form.append("patente", item.PATENTE)
              data_form.append("phone", null)
              let response = await this.$http.post(this.getUrlBase() + "/api/v1/chip/", data_form, this.getHeaders())
              this.countSuccess++
              this.parse_csv[index].ESTADO = 'check'

            } catch (error) {
              if(error.status == 401) this.getToken()
              var err = error.bodyText;
              var message = err.replace(/[{}'"]/g, "").replace("[", "").replace("]", "")
              this.countReject++
              this.parse_csv[index].MOTIVO = message
              this.parse_csv[index].ESTADO = 'close'
            }
            if(index == this.parse_csv.length - 1) {
              this.exportExcel()
              this.loading = false
              this.done = true
            }
          }
          break
        case 2: // entregas chips
          for(let [index, item] of this.parse_csv.entries()) {
            try {
              ++this.processed
              let data_form = new FormData()
              data_form.append("user_created", item.USER_CREATED)
              data_form.append("idChip", item.LCCID)
              data_form.append("lccid", item.LCCID)
              data_form.append("idSubsidiary", this.company.id)
              data_form.append("created_at", item.CREATED_AT)
              data_form.append("dateActivate", "")
              data_form.append("dateReload", "")
              data_form.append("datePrepago", "")
              data_form.append("dateSuscripcion", "")
              data_form.append("dateReload", "")
              let r_insert = await this.$http.post(this.getUrlBase() + "/api/v1/chipDeliveryInsert/", data_form, this.getHeaders())
              this.countSuccess++
              this.parse_csv[index].ESTADO = "check"
            } catch (error) {
              if(error.status == 401) this.getToken()
              var err = error.bodyText
              var message = err.replace(/[{}'"]/g, "").replace("[", "").replace("]", "")
              this.countReject++
              this.parse_csv[index].MOTIVO = message
              this.parse_csv[index].ESTADO = 'close'
            }
            if(index == this.parse_csv.length - 1) {
              this.exportExcel()
              this.loading = false
              this.done = true
            }
          }
          break
        case 3: // habilitaciones chips
          for(let [index, item] of this.parse_csv.entries()) {
            try {
              ++this.processed
              let data_form = new FormData()
              data_form.append("idChip", item.LCCID)
              data_form.append("lccid", item.LCCID)
              data_form.append("dateActivate", item.DATE_ENABLED)
              data_form.append("dateReload", item.DATE_RELOAD)
              data_form.append("datePrepago", item.DATE_PREPAID)
              data_form.append("dateSuscripcion", item.DATE_SUSCRIPTION)
              data_form.append("dateReload", item.DATE_RELOAD)
              data_form.append("phone", item.PHONE)
              
              let r_insert = await this.$http.post(this.getUrlBase() + "/api/v1/chipDeliveryInsert/", data_form, this.getHeaders())
              this.countSuccess++
              this.parse_csv[index].ESTADO = "check"
            } catch (error) {
              if(error.status == 401) this.getToken()
              var err = error.bodyText
              var message = err.replace(/[{}'"]/g, "").replace("[", "").replace("]", "")
              this.countReject++
              this.parse_csv[index].MOTIVO = message
              this.parse_csv[index].ESTADO = 'close'
            }
            if(index == this.parse_csv.length - 1) {
              this.exportExcel()
              this.loading = false
              this.done = true
            }
          }
          break
      }
    },
    async exportExcel() {
      for( let[index, item] of this.parse_csv.entries()) {
        let obj = {}
        this.parse_header.forEach( h => { obj[h] = item[h] })
        this.json_data.push(obj)
      }
      this.json_data.map( item => item.ESTADO = item.ESTADO == 'check' ? "INGRESADO" : "NO INGRESADO")
      switch(this.import_selection){
        case 1:
          this.nameFile = "Carga de Chips - " + this.file_name.split(".")[0] + ".xls";
          break;
        case 2:
          this.nameFile = "Entrega de Chips - " + this.file_name.split(".")[0] + ".xls";
          break;
        case 3:
          this.nameFile = "Carga de Hab/Rec - " + this.file_name.split(".")[0] + ".xls";
          break;
      }
    },
    showForm(val) {
      this.valid_file = false
      this.swSelected = true
      this.clearFields()
    },
    //---------------------------------OLD UPLOAD FILES REC/HAB-------------------------------------
    discardFile(index) {
      // console.log(index);
      this.file_stack.splice(index, 1);
      if (this.file_stack.length == 0) {
        this.file_empty = true;
      }
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        if (this.file_stack.length != 0) {
          // Before adding a file
          if (
            this.file_stack.findIndex(item => item.name == newFile.name) != -1
          ) {
            return prevent();
            this.sw_error = true;
            this.errorContent =
              "No se puede ingresar el mismo archivo dos veces.";
          }
        }
      }
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        // add
        // console.log("add", newFile);
        this.file_empty = false;
      }
    },
    // ---------------------------------------------------------------------------------------------
    async getSubsidiaries() {
      this.loading_pdv = true
      this.subsidiary_list = []
      try {
        let response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-basic-information/", this.getHeaders())
        this.subsidiary_list = response.body
        this.loading_pdv = false
      } catch (error) {
        if(error.status == 401) this.getSubsidiaries()
        this.loading_pdv = true
        if(error.status != 401){
          this.sw_error = true
          this.errorContent = "error al cargar listado de puntos de ventas."
        }
      }
    },
    getSubsidiaryID(item) {
      this.company.id = this.subsidiary_list.filter(el => el.name_business == item)[0].id
    },
    errorFileValidation() {
      this.file = null
      this.file_name = ''
      this.valid_file = false
      this.sw_error = true
      this.errorContent = "El archivo no cuenta con todos los campos necesarios para la carga de datos."
      this.parse_header = []
      this.parse_csv = []
    },
    getTime(fecha) {
      const substr = new Date(fecha);

      var options = {
        weekday: "long",
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric"
      };

      const dia = substr.toLocaleString("es-ES", options);
      // console.log(substr.toString().substring(0,24));
      // return substr.toString().substring(0,24);
      return dia.replace(".", "");
    },
    toSubsidiaries() {
      this.atitle = "Datos de Sucursal";
      this.$router.push({ name: "ConfigSubsidiary" });
    },
    clickToExport() {
      this.$refs.export_xls.$el.click()
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    nextPage: function() {
      if (this.currentPage * this.pageSize < this.parse_csv.length)
        this.currentPage++;
    },
    nextTenPage: function() {
      if ((this.currentPage + 10) * this.pageSize < this.searched.length){
        this.currentPage += 10;
      } else {
        this.currentPage = this.maxPage;
      }
    },
    prevPage: function() {
      if (this.currentPage > 1) this.currentPage--;
    },
    prevTenPage: function() {
      if (this.currentPage > 10){
        this.currentPage += -10;
      } else{
        this.currentPage = 1;
      }
    },
    getLastPage() {
      this.maxPage = 0;
      for (var n = 0; n * this.pageSize < this.parse_csv.length; n++) {
        this.maxPage++;
      }
    },
    //limpiar ESTADO validaciones
    clearFields() {
      this.parse_header = []
      this.parse_csv = []
      this.hasLCCID = false
      this.hasTexto = false
      this.hasLMSI = false
      this.hasPatente = false
      this.hasIdtype = false
      this.hasConcesion = false
      this.file = null
      this.processed = 0
      this.$refs.file.value = ''
      this.countSuccess = 0
      this.countReject = 0
    },
  }
};
</script>
<style scoped>
.b-grey-light {
  background-color: rgb(236, 236, 236) !important;
}
.white {
  color: beige !important;
}
.c-blue {
  color: #448aff !important;
}
.b-white {
  background-color: #ffffff !important;
}
.b-blue {
  background-color: #448aff !important;
}
.c-grey {
  color: #5e5e5e !important;
}
.c-green {
  color: #009425 !important;
}
.c-red {
  color: #940500 !important;
}
.icon-special {
  font-size: 28px !important;
  display: inline-block;
  top: -8px;
  position: relative;
}
.md-btn-large {
  width: 90%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #448aff !important;
  color: beige !important; 
}
td {
  border: 1px #cfcfcf solid;
}
td,
th {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.chip {
  margin: 2% 0;
}
.inline {
  display: inline;
}
#fabs {
  background-color: #ff6702;
  color: #ffffff;
}
#fabs:hover {
  color: #4b4b4b;
}
.md-icon-green {
  color: rgb(3, 187, 34) !important;
  position: relative;
  left: 10px;
}
.md-icon-orange {
  color: #db5d09 !important;
}
.md-icon-grey {
  color: rgb(131, 131, 131) !important;
  position: relative;
  left: 10px;
}
.sub-item {
  font-size: 14px;
  color: #448aff;
}
.md-button-disabled {
  background-color: #9c9c9c !important;
}
.pointer {
  cursor: pointer;
}
.bg-grey {
  background-color: #e4e4e4 !important;
}
</style>