<template>
    <div id="LoginCont" class="md-layout md-glutten md-alignment-center">
      <!-- <img src="../../assets/entel-logo-login.png" width="80" alt="logo" class="logo-login"> -->
      <!-- <img src="../../assets/comercial_arroba_new.png" alt="logo" width="80" class="logo2-login"> -->
      <div class="version_number">v1.40.30</div>
      <md-card class="md-card-login md-layout-item md-size-30 md-xsmall-size-80">
       <md-card-header style="background-color: transparent !important;">
            <div class="md-header-titulo">Inicio de Sesión</div>
        </md-card-header>
        <md-card-content>
          <md-field>
              <label style="color: black !important;">Email</label>
              <md-input type="email" v-model="user.email"></md-input>
          </md-field>
          <md-field>
              <label style="color: black !important;">Contraseña</label>
              <md-input type="password" v-model="user.password"></md-input>
          </md-field>
        </md-card-content>
        <md-card-actions style="justify-content: center !important;">
          <div class="div-relative">
             <md-button id="sendBtn" @click="login" :disabled="loadingLogin" class="md-raised md-primary">
            <!-- <md-icon>chevron_right</md-icon> -->Entrar
            </md-button>
            <md-progress-bar v-if="loadingLogin" class="md-progress-login" md-mode="indeterminate"></md-progress-bar>
          </div>
      
        </md-card-actions>
        <a id="linkCont" @click="recoverPassword"><p>¿Olvidaste la contraseña?</p></a>
      </md-card>
      
      <!-- <md-progress-bar v-if="loadingLogin" class="md-progress-login" md-mode="indeterminate"></md-progress-bar> -->

<!-- alertas -->
     <md-dialog-alert :md-active.sync="snack500" md-content="Error de conexión, favor revisar tu conexión a internet"/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="Campos incompletos, favor revisar formulario."/>
     <md-dialog-alert :md-active.sync="snackGroup" md-content="Sin permisos de acceso, su cuenta no tiene los permisos necesarios para acceder al sistema."/>
     <md-dialog-alert :md-active.sync="snack401" md-content="Datos incorrectos, favor ingresar nuevamente los datos."/>
     <md-dialog-alert :md-active.sync="snack0" md-content="No se logro llegar al servidor, vuelva a interntar en unos momentos."/>
    </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      // alertas
      snackGroup: false,
      snack401: false,
      snack500: false,
      snack0: false,
      snackNoData: false,
      loadingLogin: false,
      // secrets
      oauthProd: {
        client_id: "zy0ZO81FCDV912mAj0TatOsRDXM3HIXvNLLVLlTY",
        client_secret: "5vVQDrWxRP04jpWgw6pa55BWfGn1WuUSoZDLAIJICjClvg875Mu0OFAhvx9ZGUzLRWO6q0OxfxxM9n75vUASJzLfedAsGmrywpkIZUbU4IrFi5wrxht1fHDaF431xYNI",
      },
      // oauthDev: {
      //   client_id: "UlOS5QbFQYqYepCBwP896ZViUJjWUfRvUHDTRohg",
      //   client_secret: "c1EyfCSoy8qrHfw5kI78qXoBImtIXqkzaZ85aesYlWOkIrEYhOB187gXd3hsQcWAUNbH8KNzMa44hONrRshYXdY0D8XKObeDOznpKv2bhUoszw11adB4hhzOdioyRj1P",
      // },
      oauthDev: {
        client_id: "26r0EIVrr3vzFrOVf8wilpXcPPWQyMxiXOM4eeqw",
        client_secret: "Gz0cS2ZLtGcw1n4qtNvb1K9HJKp2zLo4WlkmK2NBigKqFDB6BonHpMJBlDM6bxFoNeg5GARV7tHVN0iHSnM9BKZPwE4jxhQpAcVaSeD3AnfxJxk4kY1Op9XpA7RO6tqZ",
      },
      oauth: {},
      // url
      swUrl: true,
      url: "",
      urlProd: "https://vm-icov-001.riosoft.cl",
      // urlDev: "http://192.168.100.9:8000",
      urlDev: "http://testing.redarroba.cl:8001",
      user: {
        email: "",
        password: ""
      },
      aerror: ""
    };
  },
  created(){
    this.$localStorage.remove("working")
    this.$localStorage.remove("client_id")
    this.$localStorage.remove("client_secrt")
    this.$localStorage.remove("access_token")
    this.$localStorage.remove("refresh_token")
    this.$localStorage.remove("expire_in")
    this.$localStorage.remove("alert_perm")
    this.$localStorage.remove("theToken")
    this.$localStorage.remove("ThePerfil")
    this.$localStorage.remove("theName")
    this.$localStorage.remove("theEmail")
  },
  mounted() {
    this.url = this.swUrl ? this.urlProd : this.urlDev;
    this.oauth = this.swUrl ? this.oauthProd : this.oauthDev;
    this.setUrlBase(this.url);
    this.setClientID(this.oauth.client_id)
    this.setClientSecret(this.oauth.client_secret)
  },
  methods: {
    login() {
      if ( this.user.password === null || this.user.password === undefined || this.user.password === "")
        this.noPassword = true;
      else {
        this.loadingLogin = true;
        var oauth_form = new FormData();
        oauth_form.append("client_id", this.oauth.client_id);
        oauth_form.append("client_secret", this.oauth.client_secret);
        oauth_form.append("username", this.user.email);
        oauth_form.append("password", this.user.password);
        oauth_form.append("grant_type", "password");

        this.$http.post(this.getUrlBase() + "/o/token/", oauth_form).then( response => {
            this.$localStorage.set("theEmail", this.user.email);
            //asignar headers global para http requests
            var auth = response.body;
            this.updateToken( auth.access_token, auth.refresh_token, auth.expires_in);
            this.loginOnSocket();
            this.getUserData();
          },
          error => {
            this.loadingLogin = false
            this.aerror = error.status
            if (this.aerror == 500) this.snack500 = true
            if (this.aerror == 401) this.snack401 = true
            if (this.aerror == 0) this.snack0 = true
          }
        );
      }

    },
    async getUserData(){
      
      this.$localStorage.set("theEmail", this.user.email)

      const response = await this.$http.get(this.getUrlBase() +"/api/v1/user/?email=" + this.user.email, this.getHeaders())
      const user = response.body[0];

      if(user.email == this.user.email) {
        this.$localStorage.set("theName", user.first_name + " " + user.last_name)
        this.$localStorage.set("ThePerfil", user.groups)
        this.$localStorage.set("thePhoto", user.photo)

        if(user.groups != 4) this.getCurrentReloads(user.id)
        else this.snackGroup = true
      }
    },
    async loginOnSocket() {

      var oauth_form = new FormData();
      oauth_form.append("email", this.user.email);
      oauth_form.append("password", this.user.password);

      await this.$http.post(this.getUrlBase() + "/api/v1/rest-login/", oauth_form);

    },
    async getCurrentReloads(id){
      if(id == 1 || id == 74 || id == 72 || id == 32){
        try {
          const response = await this.$http.get(this.getUrlBase() + "/api/v1/reports/chip-delivery-alert/", this.getHeaders())
          this.$localStorage.set("alert_perm", true)
          this.$localStorage.set("alert_percent", response.body.Entregas)
          this.$localStorage.set("alert_amount", response.body.total)
          this.$router.push({ name: "Home" })
        } catch (error) { this.snack500 = true }
      } else this.$router.push({ name: "Home" })

    },
    recoverPassword() {
      this.$router.push({ name: "Recover" });
    }
  }
};
</script>
<style>
.md-card-login {
  border-radius:  2%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: fit-content !important;
  transition: 1.5s all;
  -webkit-transition: 1.5s all;
  background-color: lightgray;
  opacity: 0.6;
  border-radius: 5px;
}
.md-card-login > .md-card-header > .title {
  font-size: 24px;
  font-weight: bold;
  color: beige !important;
  text-shadow: 2px 2px 2px #4b4b4b;
}
#LoginCont{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/background-arroba.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.md-header-titulo {
  font-size: 24px;
  font-weight: bold;
  color:rgb(255, 255, 255) !important;
  text-shadow: 1px 3px 4px rgb(85, 88, 86);
}

/* #LoginCont::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(197, 197, 197, 0.171)
} */
 /* #LoginCont::after {
  background-image: url("../../assets/paper-pattern.png");
   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAV0lEQVQoU2NkQAOq/mf+g4RubzRhRJaCc2AK0DXCNIAVYjMFWSNIMSMuq2Amw+RxKkR3ClwhzAPoCuBuxOYJdB+DDIF7BpskzKNgzyD7Gj38kD1KdDg"); 
   filter: hue-rotate(10);
  animation: grain 10s steps(10) infinite;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.15;
  position: fixed;
  top: -110%;
  width: 300%;
}  */

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }/* top: 78vh; */
  70% { transform:translate(0%, 15%) }/* top: 78vh; */
  80% { transform:translate(3%, 35%) }/* top: 78vh; */
  90% { transform:translate(-10%, 10%) }
}
.md-card-header-login{
  background-color: #337ab7 !important;
  /* height: 60px; */
}
#linkCont {
  margin: 8px;
  text-decoration: none;
  cursor: pointer;
}
#linkCont > p {
  color:#ABE727 !important;
  text-shadow: 1px 2px 1px #4b4b4bb7;
}
/* p {
  color: #337ab7;
  margin: 8px;
} */
.md-title {
  color: beige !important;
}
#hereSpan {
  color: #ff6702;
  text-decoration: none;
}
#inputCont {
  margin: 0px 16px;
}
#sendBtn {
  background-color: #44A4FA;
}
.login-avatar {
  position: relative;
  top: -12px;
}
.logo-login{
  position: absolute;
  top: 25px;
  left: 25px;
}
.logo2-login{
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 20px;
}
.md-progress-login{
  position: absolute;
  width: 87px;
  top: -5px;
  
}
.version_number {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgba(255, 255, 255, 0.76);
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 2;
}

.div-relative {
  position: relative;
  justify-content: center;
  display: flex;
}
</style>
