<template >
    <div id="menuCont" style="height:100%">
        <md-app style="height:100%">
          <md-app-toolbar class="md-primary sticky-top" style="z-index: 100;">
              <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                <md-icon>menu</md-icon>
              </md-button>
              <md-button class="md-icon-button" @click="toggleMenu" v-if="menuVisible">
                <md-icon>keyboard_arrow_left</md-icon>
              </md-button>
              <!-- v-if="atitle" -->
              <span class="md-title">{{atitle}}</span>
              <!-- notificaciones -->
              <div style="position: absolute; right: 10px; top: 15px;" v-if="user.perfil != 6">
                <md-badge md-position="top" :md-content="bgNotifications" v-if="bgNotifications != 0">
                  <md-button class="md-icon-button" @click="showNotifications"><md-icon>notifications</md-icon></md-button>
                </md-badge>
                <md-button v-else class="md-icon-button" @click="showNotifications"><md-icon>notifications</md-icon></md-button>
                <!-- listado -->
                <md-menu md-size="big" md-direction="top-end" mdCloseOnClick :md-active.sync="swNotifications">
                  <md-menu-content>
                    <div class="relative">
                      <md-toolbar class="md-elevation-0 md-primary sticky-top">
                        <md-icon dark>notifications</md-icon>
                        <span class="md-body-2 md-title">Notificaciones</span>
                      </md-toolbar>
                      <md-list v-if="notifications.length != 0" class="md-triple-line">
                        <br>
                        <md-list-item v-for="(item, index) in notifications" :key="index">
                          <md-avatar>
                            <md-button class="md-icon-button event-icon" @click="toComunicationChannel(item.event)"><md-icon>{{ item.icon }}</md-icon></md-button>
                            <md-tooltip md-direction="left">{{item.event}}</md-tooltip>
                          </md-avatar>
                          <div class="md-list-item-text" style="height: auto;">
                            <span style="width: 160px; text-overflow: ellipsis;" v-html="item.message"></span>
                            <span v-html="item.user_created"></span>
                            <span v-html="item.created_at"></span>
                          </div>
                        </md-list-item>
                      </md-list>
                      <md-list v-else>
                        <md-list-item>
                          <div class="md-list-item-text">Nada nuevo para visualizar</div>
                        </md-list-item>
                      </md-list>
                    </div>
                    <div v-if="notifications.length != 0" class="clear-action"><a @click="clearNotifications">borrar todo</a></div>
                  </md-menu-content>
                </md-menu>
              </div>
          </md-app-toolbar>
<!-- datos usuario -->
            <md-app-drawer :md-active.sync="menuVisible" md-persistent="full" style="height:100%">
                <md-toolbar class="info-user" md-elevation="1">

                  <div class="md-layout md-alignment-center" style="width: 100%; padding-top: 20px;">
                    <div class="md-layout-item md-size-100">
                      <md-avatar class="md-large">
                        <img :src="user.photo" alt="Avatar">
                      </md-avatar>
                    </div>
                  </div>
                  <div class="md-layout md-alignment-center pt-2" style="width: 100%;">
                    <div class="md-layout-item md-list-item-text">
                      <span class="md-body-2 primary-color">{{ user.name }} 
                      <span style="color: #ff7f20 !important;"> |</span> {{ group }}</span>
                    </div>
                  </div>
                  <div class="md-layout md-alignment-center" style="width: 100%; padding-bottom: 20px">
                    <div class="md-layout-item md-size-20 md-list-item-text">
                      <router-link to="/" style="color: #ff7f20 !important; font-weight: bold;" @click.native="logOut">salir</router-link>
                    </div>
                  </div>
                </md-toolbar>
                <md-list class="menu-list" v-if="user.perfil != 6">
<!-- inicio -->
                  <md-list-item @click="routerTo('Inicio','Home')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">home</md-icon>
                      <span class="md-list-item-text">Inicio</span>
                  </md-list-item>
                  <md-list-item @click="routerTo('Agenda', 'Schedule')" v-if="user.perfil == 1 || user.perfil == 6 || user.perfil == 3">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">schedule</md-icon>
                      <span class="md-list-item-text">Agenda</span>
                  </md-list-item>
<!-- Importaciones -->
                  <md-list-item @click="routerTo('Importaciones', 'Imports')" v-if="user.perfil == 1 || user.perfil == 2 || user.perfil == 3">
                      <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">backup</md-icon>
                      <span class="md-list-item-text">Importaciones</span>
                  </md-list-item>
<!-- Catálogo -->
                  <md-list-item @click="routerTo('Catálogo de Producto', 'ProductCatalog')" v-if="user.perfil == '1' || user.perfil == '3'">
                      <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">apps</md-icon>
                      <span class="md-list-item-text">Catálogo de Productos</span>
                  </md-list-item>
<!-- Mensajería -->
                    <md-list-item @click="toggleMessages" v-if="user.perfil == '1' || user.perfil == '3'">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">chat_bubble</md-icon>
                        <span class="md-list-item-text">Mensajería</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" @click="routerTo('Capacitaciones', 'capacitacion')" v-if="messagesVisible">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">school</md-icon>
                        <span class="md-list-item-text">Capacitación</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" @click="routerTo('Metas','metas')" v-if="messagesVisible">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">beenhere</md-icon>
                        <span class="md-list-item-text">Metas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" @click="routerTo('Incidencias','incidencias')" v-if="messagesVisible">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">report</md-icon>
                        <span class="md-list-item-text">Incidencias</span>
                    </md-list-item>

<!-- Reportes -->
                    <md-list-item @click="toggleReports">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assessment</md-icon>
                        <span class="md-list-item-text">Reportes</span>
                    </md-list-item>
    <!-- gestion -->
                    <md-list-item id="accordionMarginL" v-if="reportsVisible" @click="toggleGestion">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">timeline</md-icon>
                        <span class="md-list-item-text">Gestión</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Activaciones', 'reportActivation')"  v-show="user.perfil == '1' || user.perfil == '2' || user.perfil == '5'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">show_chart</md-icon>
                        <span class="md-list-item-text">Gestión de Activación</span>
                    </md-list-item>
                    <!-- <md-list-item id="accordionMarginXL" v-if="gestionVisible" v-show="user.perfil == '1' || user.perfil == '3'" @click="reportConcesion">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">timeline</md-icon>
                        <span class="md-list-item-text">Gestión de Concesiones</span>
                    </md-list-item> -->
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Capacitaciones', 'reportCapacitation')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">school</md-icon>
                        <span class="md-list-item-text">Gestión de Capacitación</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Encuestas', 'reportSurvey')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">live_help</md-icon>
                        <span class="md-list-item-text">Gestión de Encuestas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Segmentación 0/30', 'ReportSegmentation030')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">trending_up</md-icon>
                        <span class="md-list-item-text">Gestión de Segmentación 0 - 30</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Estudio de Mercado', 'marketResearch')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">timeline</md-icon>
                        <span class="md-list-item-text">Estudio de Mercado</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Prospectos', 'reportSchedule')" v-show="user.perfil == '1' || user.perfil == '3'">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">schedule</md-icon>
                        <span class="md-list-item-text">Gestión de Prospectos</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Prospectos Atendidos', 'reportProspectChecked')" v-show="user.perfil == '1' || user.perfil == '3'">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">schedule</md-icon>
                        <span class="md-list-item-text">Gestión de Prospectos Atendidos</span>
                    </md-list-item>  
                    <md-list-item id="accordionMarginXL" v-if="gestionVisible" @click="routerTo('Reporte de Ejecutivos', 'reportExecutive')" v-show="user.perfil == '1' || user.perfil == '3'">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">schedule</md-icon>
                        <span class="md-list-item-text">Gestión de Ejecutivos</span>
                    </md-list-item>                     
    <!-- punto de venta -->
                     <md-list-item id="accordionMarginL" v-if="reportsVisible" @click="toggleSubsidiary">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">store_mall_directory</md-icon>
                        <span class="md-list-item-text">Puntos de ventas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Comisiones por Habilitaciones', 'reportSubsidiaryCommissionEnable')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment_turned_in</md-icon>
                        <span class="md-list-item-text">Comisiones Almaceneros</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Comisiones por Ventas','reportSubsidiaryCommissionSales')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment_turned_in</md-icon>
                        <span class="md-list-item-text">Comisiones Punto de Venta</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Portabilidad', 'reportPorted')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">swap_horizontal_circle</md-icon>
                        <span class="md-list-item-text">Gestión de Portabilidad</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Publicidad', 'reportPublish')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">wallpaper</md-icon>
                        <span class="md-list-item-text">Gestión de Publicidad</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Stock', 'reportStock')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">sim_card</md-icon>
                        <span class="md-list-item-text">Gestión de Stock</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Segmentación por PDV', 'ReportSegmentationHist')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">trending_up</md-icon>
                        <span class="md-list-item-text">Gestión de la Segmentación</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reporte de Puntos de Venta Sin Visitar', 'reportSubsidiaryNoVisits')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">pin_drop</md-icon>
                        <span class="md-list-item-text">Gestión de PDV No Visitados</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reporte de Puntos de Venta Visitados', 'reportSubsidiaryVisits')">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">person_pin_circle</md-icon>
                        <span class="md-list-item-text">Gestión de PDV Visitados</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reportes de Premios', 'reportRewards')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">sim_card</md-icon>
                        <span class="md-list-item-text">Gestión de Premios</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="subsidiaryVisible" @click="routerTo('Reporte de Ventas', 'reportSales')" v-show="user.perfil == '1' || user.perfil == '3'">
                         <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment_turned_in</md-icon>
                        <span class="md-list-item-text">Gestión de Ventas</span>
                    </md-list-item>

    <!-- colaboradores -->
                     <md-list-item id="accordionMarginL" v-if="reportsVisible" @click="toggleSalesMan" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">supervisor_account</md-icon>
                        <span class="md-list-item-text">Colaboradores</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="salesManVisible" @click="routerTo('Reportes de Colaboradores', 'salesMan')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">sim_card</md-icon>
                        <span class="md-list-item-text">Gestión de Entregas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="salesManVisible" @click="routerTo('Reportes de Colaboradores', 'salesManPublish')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">wallpaper</md-icon>
                        <span class="md-list-item-text">Publicidad Entregada</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="salesManVisible" @click="routerTo('Reporte de Recaudaciones', 'salesManCollection')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">monetization_on</md-icon>
                        <span class="md-list-item-text">Gestión de Recaudaciones</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="salesManVisible" @click="routerTo('Reportes de Colaboradores', 'salesManRoute')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">near_me</md-icon>
                        <span class="md-list-item-text">Gestión de Rutas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginXL" v-if="salesManVisible" @click="routerTo('Reporte de Comisiones', 'salesManCommission')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment_turned_in</md-icon>
                        <span class="md-list-item-text">Comisiones</span>
                    </md-list-item>

<!-- Configuraciones -->   <!-- Icov - Arroba -->
                    <md-list-item @click="toggleConfig" v-if="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">settings</md-icon>
                        <span class="md-list-item-text">Configuraciones</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Validador de Chips', 'chipValidator')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">check_circle</md-icon>
                        <span class="md-list-item-text">Validador de Chips</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Autorizaciones', 'valueAuthorizations')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">monetization_on</md-icon>
                        <span class="md-list-item-text">Autorizaciones</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Usuarios', 'ConfigUser')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">supervisor_account</md-icon>
                        <span class="md-list-item-text">Usuario</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Sucursales', 'ConfigSubsidiary')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">store_mall_directory</md-icon>
                        <span class="md-list-item-text">Sucursal</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Productos', 'ConfigProduct')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">devices_other</md-icon>
                        <span class="md-list-item-text">Producto</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Tipo Producto', 'ConfigType')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">sim_card</md-icon>
                        <span class="md-list-item-text">Tipo de Producto</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Puntos', 'ConfigPoint')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">local_offer</md-icon>
                        <span class="md-list-item-text">Puntos</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Estados Agenda', 'ConfigState')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">edit_attributes</md-icon>
                        <span class="md-list-item-text">Estados Agenda</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Estados Sucursal', 'ConfigSubsidiaryState')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">edit_attributes</md-icon>
                        <span class="md-list-item-text">Estados Sucursal</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Categoría', 'ConfigCategory')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">device_hub</md-icon>
                        <span class="md-list-item-text">Categoría</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Encargados de Comunas', 'ConfigManagerCommune')" v-show="user.perfil == '1'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">supervised_user_circle</md-icon>
                        <span class="md-list-item-text">Encargado Comuna</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración Preguntas', 'ConfigQuestion')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment</md-icon>
                        <span class="md-list-item-text">Preguntas</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" @click="routerTo('Configuración FAQ', 'configFaq')" v-show="user.perfil == '1' || user.perfil == '3'">
                        <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">assignment</md-icon>
                        <span class="md-list-item-text">FAQ</span>
                    </md-list-item>
                    <md-list-item id="accordionMarginL" v-if="configVisible" v-show="user.perfil == '1'" @click="scoreSubsidiary">
                        <md-icon class="md-icon-menu" v-if="!scoring_sucess && !scoring_error" style="color: #ff7f20 !important;">star</md-icon>
                        <md-icon class="md-icon-menu" v-if="scoring_sucess" style="color: green !important;">check_circle</md-icon>
                        <md-icon class="md-icon-menu" v-if="scoring_error" style="color: red !important;">error</md-icon>
                        <span class="md-list-item-text">Calificar Sucursales</span>
                        <md-progress-bar md-mode="indeterminate" v-if="scoring_loading" style="position: absolute; height:2px; bottom: 0px; left: 0px; width: 100%;"></md-progress-bar>
                    </md-list-item>
                </md-list>
                <md-list v-if="user.perfil == 6">
                  <md-list-item @click="routerTo('Agenda', 'Schedule')">
                    <md-icon class="md-icon-menu" style="color: #ff7f20 !important;">schedule</md-icon>
                    <span class="md-list-item-text">Agenda</span>
                  </md-list-item>
                </md-list> 
            </md-app-drawer>
<!-- router -->
            <md-app-content style="100%">
              <router-view/>
            </md-app-content>
        </md-app>
<!-- alertas -->
      <md-dialog-confirm md-confirm-text="Salir" :md-active.sync="snackOauth" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
      <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
    </div>

</template>

<script>
// import { socket_notifications } from '../../router/index'
import global from '../../global'

export default {
  name: "Menu",
  data() {
    return {
      // alerts
      scoring_loading:    false,
      scoring_sucess:     false,
      scoring_error:      false,
      snackOauth:         false,
      snack500:           false,
      contentError:       "",
      // menu
      atitle:             "Inicio",
      user: {
        id: "",
        token: "",
        email: "",
        perfil: 0,
        name: ""
      },
      group:              "",
      // configuration
      atoken:             "",
      url:                "",
      // toggles
      accordionLike:      true,
      menuVisible:        false,
      reportsVisible:     false,
      gestionVisible:     false,
      subsidiaryVisible:  false,
      salesManVisible:    false,
      messagesVisible:    false,
      usersVisible:       false,
      configVisible:      false,
      surveyVisible:      false,
      // badgets
      swNotifications:    false,
      swMessages:         false,
      bgNotifications:    0,
      bgMessages:         0,
      data:               false,
      notifications:      [],
      messages:           [],
      x_n:                0,
      y_n:                0,
      x_m:                0,
      y_m:                0,
    };
  },
  mounted() {
    // if( this.user.perfil != 6) this.connect()
    this.getPerfil(this.user.perfil);
  },
  watch: {
    atitle: function() {
      if (this.atitle == "") {
        this.atitle = "Inicio";
      }
    }
  },
  methods: {
  //######BADGES######
    showNotifications(e){
      this.swNotifications = !this.swNotifications;
      // e.preventDefault()
      //   this.x_n = e.clientX
      //   this.y_n = e.clientY
      //   this.$nextTick(() => {
      //     this.swNotifications = true
      //   })
      this.bgNotifications = 0
    },
    showMessages(e){
      this.swNotifications = !this.swNotifications;
      // e.preventDefault()
      //   this.x_m = e.clientX
      //   this.y_m = e.clientY
      //   this.$nextTick(() => {
      //     this.swMessages = true;
      //   })
      this.bgMessages = 0
    },
    //redireccionar a componente según tipo de notificación/mensaje cliqueado
    toComunicationChannel(channel) {
      switch(channel) {
        case 'capacitacion':
          this.$router.push({ name: "capacitacion"})
          break;
        case 'incidencias':
          this.$router.push({ name: "incidencias"})
          break;
        case 'promocion':
          this.$router.push({ name: "metas"})
          break;
      }
      this.notifications = this.notifications.filter(n => n.event != channel)
    },
    //iniciarlizar socket de notificaciones
    connect() {
      socket_notifications.onopen = () => {};
      socket_notifications.onerror = (error) => {
        this.isConnected = false;
        // this.snack500 = true;
        // this.contentError = "Se ha perdido la conexión, volveremos a reconectar con el servidor."
        console.error('Se ha perdido la conexión, volveremos a reconectar con el servidor.')
      }
      socket_notifications.onmessage = (response) => {
        const mensaje = JSON.parse(response.data)
        this.bgNotifications++;
        // if(mensaje.user_created != this.email) {
          // if(mensaje.seen == true) {
            let icon = this.setIcon(mensaje.event)

            this.notifications.push({
              icon: icon,
              event: mensaje.event,
              message: mensaje.event != 'promocion' ? mensaje.message : mensaje.title,
              created_at: mensaje.created_at,
              user_created: mensaje.user_created
            });
            this.data = true
          // }
        // }
      };
    },
    // obtener icono para mostrar en notificación
    setIcon(channel) {
      switch(channel) {
        case 'capacitacion':
          return 'school'
          break;
        case 'incidencias':
          return 'report'
          break;
        case 'promocion':
          return 'beenhere'
          break;
      }
    },
    // limpiar arreglo de notificaciones
    clearNotifications() {
      this.notifications = []
      this.bgNotifications = 0
      this.data = false
    },
  // metodo para scorear sucursales
    scoreSubsidiary(){
      this.scoring_loading = true;
      this.$http.get(this.getUrlBase() + "/api/v1/reports/subsidiary-score-update-database/", this.getHeaders()).then( response => {
        this.setSubsidiaryAccumulatedTable();
        setTimeout(() => {
          this.scoring_loading = false
          this.scoring_sucess = false
          this.scoring_error = false
        }, 3000)
      }, error => {
        this.scoring_loading = false
        this.scoring_error = true
        setTimeout(() => {
          this.scoring_sucess = false
          this.scoring_error = false
        }, 3000);
        this.aerror = error.status
        if (this.aerror == 401) {
          this.snackOauth = true
        }
        if (this.aerror == 500) {
          this.snack500 = true
          this.contentError = "Error al calificar los puntos de venta."
        }
      })
    },
    // metodo que actualiza tabla de pdv general con datos de entregas y ventas para reporte de activación
    setSubsidiaryAccumulatedTable() {
      this.$http.get(this.getUrlBase() + '/api/v1/reports/subsidiary-accumulated-table/', this.getHeaders())
      .then(r => {
        this.scoring_sucess = true;
        this.snack500 = true
        this.contentError = "Se han calificado exitosamente los puntos de venta."
      });
    },
    //#####router//#####
    routerTo(title, route) {
      this.atitle = title;
      this.$router.push({ name: route });
      this.menuVisible = !this.menuVisible;
    },
  // desplegar menú
    toggleUsers() {
      this.usersVisible = !this.usersVisible;
    },
    toggleReports() {
      this.reportsVisible = !this.reportsVisible;
      if (this.salesManVisible) this.toggleSalesMan();
      if (this.subsidiaryVisible) this.toggleSubsidiary();
      if (this.gestionVisible) this.toggleGestion();
      // if (this.reportsVisible) this.$dispatch('content-visible', this);
    },
    toggleSalesMan() {
      this.salesManVisible = !this.salesManVisible;
    },
    toggleMessages() {
      this.messagesVisible = !this.messagesVisible;
    },
    toggleConfig() {
      this.configVisible = !this.configVisible;
    },
    toggleSubsidiary(){
      this.subsidiaryVisible = !this.subsidiaryVisible;
    },
    toggleGestion(){
      this.gestionVisible = !this.gestionVisible;
    },
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
  // cerrar sesión
    logOut() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
    //enviar a login
    dismissDialog() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
  // mensajería
    capacitacion() {
      this.atitle = "capacitaciones";
      this.$router.push({ name: "capacitacion" });
      this.menuVisible = !this.menuVisible;
    },
    metas() {
      this.atitle = "Metas";
      this.$router.push({ name: "metas" });
      this.menuVisible = !this.menuVisible;
    },
    incidencias() {
      this.atitle = "Incidencias";
      this.$router.push({ name: "incidencias" });
      this.menuVisible = !this.menuVisible;
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    },
  // obtener perfil  
    getPerfil(id) {
      this.$http.get(this.getUrlBase() + "/api/v1/groups/" + id, this.getHeaders())
      .then( resp => {
        this.group = resp.body.name;
      })
    }
  },
  created() {
    this.atoken = this.$localStorage.get("theToken");
    this.user.email = this.$localStorage.get("theEmail");
    this.user.perfil = this.$localStorage.get("ThePerfil");
    this.user.name = this.$localStorage.get("theName");
    this.user.photo = this.$localStorage.get("thePhoto");
  }
};
</script>
<style>
.md-toolbar > span {
  color: #1e90ff;
}
.overflow-over {
  overflow: over !important;
}
.sticky-top {
  position: sticky !important;
  top: 0 !important;
}
#menuCont {
  background-color: white;
}
.md-app {
  /* max-height: 400px; */
  min-height: 700px;
  border: 1px solid rgba(#000, 0.12);
  /* bottom: 60px; */
  overflow-y: auto !important;
}
.md-drawer {
  width: fit-content !important;
}
.content {
  overflow: hidden;
}
#nestedChild {
  margin-left: 130px;
}
#barFooter > a {
  text-decoration: none;
  float: right;
  margin-right: 16px;
}
#barFooter > a > p {
  color: #ff6702;
}
#dialogBtn {
  color: #ff6702;
  float: right;
}
#accordionMarginL {
  margin-left: 30px;
}
#accordionMarginXL {
  margin-left: 60px;
}
.md-app-drawer {
  width: fit-content !important;
}
.md-icon-menu {
  color: #ff7f20 !important;
}
#menuCont > div{
  height: 100%
}
body > div.md-menu-content-top-end.md-menu-content-big.md-menu-content.md-theme-default > div > ul {
  padding: 0 !important;
}
body > div.overflow-over.md-menu-content-top-end.md-menu-content-big.md-menu-content.md-theme-default > div > ul > ul {
  padding: 0 !important;
}
#menuCont > div > main > div.md-toolbar.md-app-toolbar.md-primary.sticky-top.md-theme-default > div > div.md-badge-content > div {
  background: radial-gradient(#53798b, transparent);
  background-size: 200% 200%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  color: beige;
}
body > div.overflow-over.md-menu-content-top-end.md-menu-content-big.md-menu-content.md-theme-default > div {
  overflow: -webkit-paged-y;
}
@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName { 
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
.clear-action {
  position: fixed;
  top: 65px;
  right: 15px;
}
.info-user {
  position: sticky;
  top: 0;
  background-color: white !important;
  z-index: 101;
}
.menu-list {
  height: calc(100vh - 146px) !important;
  overflow: auto;
}
</style>
