<template>
    <div style="height: 100%;">
        <div style="height: 250px; width: 100%;"></div>
        <div>
            <h1 class="h1-error">Error 404.</h1>
            <p style="color: #ffffff; font-size: 24px">No se ha encontrado la página.</p>
            <router-link to="/" exact>
                <p class="to-login">Volver al Login</p>
            </router-link>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style>
.h1-error {
  font-size: 46px !important;
  color: aliceblue;
}
.to-login {
  color: #263cb8 !important;
  font-size: 22px !important;
  font-weight: bold;
}
.to-login:hover {
  color: #475dd6 !important;
  text-decoration: unset;
}
</style>

