<template>
  <div id="mainRecoverCont">
    <div id="recoverCont" class="md-layout md-glutten md-alignment-center">
      <div style="height: 130px; width: 100%;"></div>
      <md-card class="md-card-recover">
        <md-card-content>
          <div class="btn-align-left">
            <md-button v-if="validate" class="md-fab md-mini btn-return md-elevation-0" @click="goBack">
              <md-icon class="icon-return">keyboard_arrow_left</md-icon>
            </md-button>
          </div>
          <div id="inputCont">
            <md-field>
                <label>Email</label>
                <md-input v-if="!readable" type="email" v-model="user.email"></md-input>
                <md-input v-else readOnly="true" type="email" v-model="user.email"></md-input>  
            </md-field>
          </div>
          <div v-if="!validate">
              <md-button id="sendBtn" @click="validateEmail" class="md-raised md-primary">Validar Correo</md-button>
          </div> 
          <div id="inputCont" v-if="validate">
            <form @submit.prevent="changePassword">                
              <md-field id="passwordCont" :class="{'md-invalid': errors.has('password')}">
                <label>Contraseña</label>
                <md-input v-validate data-vv-rules="required|min:6" ref="password" name="password" type="password" v-model="recover.password" required></md-input>
              </md-field>
              <div style="position: absolute; top: 170px; right: 30px; color: #FF1744;" v-if="recover.password != '' && errors.has('password')">mínimo 6 caracteres.</div>
              <md-field id="repasswordCont" :class="{'md-invalid': errors.has('repassword')}">
                  <label>Repetir Contraseña</label>
                  <md-input v-validate data-vv-rules="confirmed:password" name="repassword" type="password" v-model="recover.repassword" required></md-input>
              </md-field>
              <div style="position: absolute; top: 225px; right: 30px; color: #FF1744;" v-if="recover.repassword != '' && errors.has('repassword')">la contraseña no coincide.</div>
            </form>
          </div>
          <div v-if="validate">
              <md-button id="sendBtn" @click="changePassword" class="md-raised md-primary">Cambiar contraseña</md-button>
          </div>  
        </md-card-content>
          <md-card-actions class="md-card-footer-recover">
              <a id="linkCont" @click="toLogin"><p>Volver atrás</p></a>
          </md-card-actions>
      </md-card>
      <md-progress-bar v-if="loadingResponse" class="md-progress-recover md-accent" md-mode="indeterminate"></md-progress-bar>

      <md-dialog :md-active.sync="successful">
          <md-dialog-content>
              <h2>Ver mail!</h2>
              <h4 class="message-validate">Favor revisa tu mail para cambio de contraseña</h4>
              <md-button id="dialogBtn" @click="dismissDialog">Ok</md-button>
          </md-dialog-content>
        </md-dialog>
<!-- alertas -->
     <md-dialog-confirm :md-active.sync="snack401" md-content="Su sesión ha expirado, favor volver a iniciar sesión." @md-confirm="onConfirm" @md-cancel="onConfirm"/>
     <md-dialog-alert :md-active.sync="snack500" :md-content="contentError"/>
     <md-dialog-alert :md-active.sync="snackNoData" md-content="Campos incompletos, favor revisar formulario."/>
     <md-dialog-alert :md-active.sync="snackWrongEmail" md-content="Formato correo incorrecto, favor revisar correo."/>
     <md-dialog-alert :md-active.sync="snackWrongPass" md-content="Las contraseñas no coinciden, favor volver a intentar."/>
     <md-dialog-alert :md-active.sync="successful" md-content="Exito, su contraseña ha sido enviada al correo."/>
    </div>
  </div>
</template>

<script>
export default {
  name: "Recover",
  data() {
    return {
      //alerts
      aerror: "",
      snackGroup: false,
      contentError: "",
      snackWrongMail: false,
      snackWrongPass: false,
      snack400: false,
      snack401: false,
      snack500: false,
      snackNoData: false,
      snackWrongEmail: false,
      position: "center",
      isInfinity: false,
      Infinity: true,
      duration: 10000,
      //config
      loadingResponse: false,
      readable: false,
      password: "",
      repassword: "",
      validate: false,
      successful: false,
      noData: false,
      wrongEmail: false,
      wrongPass: false,
      snack500: false,
      failure: false,
      user: {
        email: ""
      },
      recover: {
        uid: "",
        token: "",
        password: "",
        repassword: ""
      },
      atoken: "",
      url: "",
    };
  },
  mounted() {
  },
  methods: {
    validateEmail() {
      if (
        this.user.email == null ||
        this.user.email == "" ||
        this.user.email == undefined
      ) {
        this.snackNoData = true;
      } else {
        this.loadingResponse = true;
        var data_reset = new FormData();
        data_reset.append("email", this.user.email);

        this.$http.post(this.getUrlBase() + "/password/reset/", data_reset).then(
          response => {
            this.validate = true;
            this.recover.uid = response.body.uid;
            this.recover.token = response.body.token;
            this.loadingResponse = false;
            this.readable = true;
          },
          error => {
            this.aerror = error.status;
            if (this.aerror == 401) {
              this.snack401 = true;
            }
            if (this.aerror == 500) {
              this.snack500 = true;
              this.contentError =
                "Error al intentar validar el correo de usuario.";
            }
            if (this.aerror == 400) {
              this.snackWrongMail = true;
            }
            this.loadingResponse = false;
          }
        );
      }
    },
    changePassword() {
      if (
        this.recover.password.length < 6 &&
        this.recover.password != this.recover.repassword
      ) {
        this.snackWrongPass = true;
      } else {
        this.loadingResponse = true;
        var data_reset = new FormData();
        data_reset.append("uid", this.recover.uid);
        data_reset.append("token", this.recover.token);
        data_reset.append("new_password1", this.recover.password);
        data_reset.append("new_password2", this.recover.repassword);

        this.$http
          .post(
            this.getUrlBase() +
              "/password/reset/confirm/" +
              this.recover.uid +
              "/" +
              this.recover.token +
              "/",
            data_reset
          )
          .then(
            response => {
              this.sendEmail();
              this.loadingResponse = false;
            },
            error => {
              if (this.aerror == 400) {
                this.snack400 = true;
              }
              if (this.aerror == 401) {
                this.snack401 = true;
              }
              if (this.aerror == 500) {
                this.snack500 = true;
                this.contentError = "Error al intentar cambiar la contraseña.";
              }
              this.loadingResponse = false;
            }
          );
      }
    },
    sendEmail() {
      this.loadingResponse = true;
      var email = new FormData();
      email.append("email", this.user.email);
      email.append(
        "subject_email",
        "Confirmación cambio de contraseña - RED AMIGOS"
      );
      email.append(
        "message_email",
        "Saludos, se ha cambiado su contraseña.\nLa nueva contraseña es: " +
          this.recover.password
      );

      this.$http.post(this.getUrlBase() + "/api/v1/sendemail/", email).then(
        response => {
          this.successful = true;
          this.loadingResponse = false;
        },
        error => {
          this.aerror = error.status;
          if (this.aerror == 401) {
            this.snack401 = true;
          }
          if (this.aerror == 500) {
            this.snack500 = true;
            this.contentError = "Error al enviar correo de confirmación.";
          }
          if (this.aerror == 400) {
            this.snackWrongMail = true;
          }
          this.loadingResponse = false;
        }
      );
    },
    goBack() {
      this.readable = false;
      this.validate = false;
    },
    toLogin() {
      this.$router.push({ name: "Login" });
    },
    dismissDialog() {
      this.successful = !this.successful;
      this.$router.push({ name: "Login" });
    },
    onConfirm() {
      this.$localStorage.set("theToken", "");
      this.$localStorage.set("ThePerfil", "");
      this.$localStorage.set("theName", "");
      this.$localStorage.set("theEmail", "");
      this.$router.push({ name: "Login" });
    }
  }
};
</script>
<style >
.md-card-recover {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: 350px !important;
  width: 390px !important;
}
#mainRecoverCont {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/background-arroba.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}
#recoverCont {
  margin-left: auto;
  margin-right: auto;
  min-height: 380px;
  min-width: 320px;
  width: calc(100% - 40px);
}
#innerDiv {
  margin: 10% auto 24px auto;
  min-height: 364px;
  min-width: 320px;
  max-width: 412px;
  width: calc(100% - 40px);
  padding: 36px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
}
#inputCont {
  margin: 30px 16px 0 16px;
}
#sendBtn {
  background-color: #ff6702;
}
#dialogBtn {
  color: #ff6702;
  float: right;
}
#passwordCont {
  width: 100%;
}
#repasswordCont {
  width: 100%;
}
.md-progress-recover {
  position: absolute;
  bottom: 20%;
  height: 3px;
  width: 28%;
}
.btn-return {
  background-color: #fff !important;
}
.icon-return {
  color: #ff6702 !important;
}
.btn-align-left {
  position: absolute;
  top: -5px;
  left: -5px;
  float: left;
}
.md-card-footer-recover {
  justify-content: center !important;
  position: absolute;
  bottom: -15px !important;
  width: 100%;
}
</style>
