<template>
  <div id="app" style="height: 100vh">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  created(){
    if(this.$localStorage.get('working') != null) this.refreshToken()
  } 
}
</script>

<style lang="scss" src="./style.scss"></style>
