main {
  overflow-x: hidden !important;
  height: 100vh;
}
html {
  overflow: hidden;
  height: 100vh
}
body {
  position: relative;
  height: - !important;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
table {
  width: 100% !important;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #979797 !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #448aff !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a97cf !important;
}
.ma-auto {
  margin: auto !important
}
.my-auto {
  margin-bottom: auto !important;
  margin-top: auto !important
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}
.mt-auto {
  margin-top: auto
}
.mr-auto {
  margin-right: auto
}
.mb-auto {
  margin-bottom: auto
}
.ml-auto {
  margin-left: auto
}
.ma-0 {
  margin: 0 !important
}
.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important
}
.mt-0 {
  margin-top: 0 !important
}
.mr-0 {
  margin-right: 0 !important
}
.mb-0 {
  margin-bottom: 0 !important
}
.ml-0 {
  margin-left: 0 !important
}
.pa-0 {
  padding: 0 !important
}
.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important
}
.pt-0 {
  padding-top: 0 !important
}
.pr-0 {
  padding-right: 0 !important
}
.pb-0 {
  padding-bottom: 0 !important
}
.pl-0 {
  padding-left: 0 !important
}
.ma-1 {
  margin: 4px !important
}
.my-1 {
  margin-bottom: 4px !important;
  margin-top: 4px !important
}
.mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important
}
.mt-1 {
  margin-top: 4px !important
}
.mr-1 {
  margin-right: 4px !important
}
.mb-1 {
  margin-bottom: 4px !important
}
.ml-1 {
  margin-left: 4px !important
}
.pa-1 {
  padding: 4px !important
}
.py-1 {
  padding-bottom: 4px !important;
  padding-top: 4px !important
}
.px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important
}
.pt-1 {
  padding-top: 4px !important
}
.pr-1 {
  padding-right: 4px !important
}
.pb-1 {
  padding-bottom: 4px !important
}
.pl-1 {
  padding-left: 4px !important
}
.ma-2 {
  margin: 8px !important
}
.my-2 {
  margin-bottom: 8px !important;
  margin-top: 8px !important
}
.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important
}
.mt-2 {
  margin-top: 8px !important
}
.mr-2 {
  margin-right: 8px !important
}
.mb-2 {
  margin-bottom: 8px !important
}
.ml-2 {
  margin-left: 8px !important
}
.pa-2 {
  padding: 8px !important
}
.py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important
}
.px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important
}
.pt-2 {
  padding-top: 8px !important
}
.pr-2 {
  padding-right: 8px !important
}
.pb-2 {
  padding-bottom: 8px !important
}
.pl-2 {
  padding-left: 8px !important
}
.ma-3 {
  margin: 16px !important
}
.my-3 {
  margin-bottom: 16px !important;
  margin-top: 16px !important
}
.mx-3 {
  margin-left: 16px !important;
  margin-right: 16px !important
}
.mt-3 {
  margin-top: 16px !important
}
.mr-3 {
  margin-right: 16px !important
}
.mb-3 {
  margin-bottom: 16px !important
}
.ml-3 {
  margin-left: 16px !important
}
.pa-3 {
  padding: 16px !important
}
.py-3 {
  padding-bottom: 16px !important;
  padding-top: 16px !important
}
.px-3 {
  padding-left: 16px !important;
  padding-right: 16px !important
}
.pt-3 {
  padding-top: 16px !important
}
.pr-3 {
  padding-right: 16px !important
}
.pb-3 {
  padding-bottom: 16px !important
}
.pl-3 {
  padding-left: 16px !important
}
.ma-4 {
  margin: 24px !important
}
.my-4 {
  margin-bottom: 24px !important;
  margin-top: 24px !important
}
.mx-4 {
  margin-left: 24px !important;
  margin-right: 24px !important
}
.mt-4 {
  margin-top: 24px !important
}
.mr-4 {
  margin-right: 24px !important
}
.mb-4 {
  margin-bottom: 24px !important
}
.ml-4 {
  margin-left: 24px !important
}
.pa-4 {
  padding: 24px !important
}
.py-4 {
  padding-bottom: 24px !important;
  padding-top: 24px !important
}
.px-4 {
  padding-left: 24px !important;
  padding-right: 24px !important
}
.pt-4 {
  padding-top: 24px !important
}
.pr-4 {
  padding-right: 24px !important
}
.pb-4 {
  padding-bottom: 24px !important
}
.pl-4 {
  padding-left: 24px !important
}
.ma-5 {
  margin: 48px !important
}
.my-5 {
  margin-bottom: 48px !important;
  margin-top: 48px !important
}
.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important
}
.mt-5 {
  margin-top: 48px !important
}
.mr-5 {
  margin-right: 48px !important
}
.mb-5 {
  margin-bottom: 48px !important
}
.ml-5 {
  margin-left: 48px !important
}
.pa-5 {
  padding: 48px !important
}
.py-5 {
  padding-bottom: 48px !important;
  padding-top: 48px !important
}
.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important
}
.pt-5 {
  padding-top: 48px !important
}
.pr-5 {
  padding-right: 48px !important
}
.pb-5 {
  padding-bottom: 48px !important
}
.pl-5 {
  padding-left: 48px !important
}
.font-weight-thin {
  font-weight: 100!important
}
.font-weight-light {
  font-weight: 300!important
}
.font-weight-regular {
  font-weight: 400!important
}
.font-weight-medium {
  font-weight: 500!important
}
.font-weight-bold {
  font-weight: 700!important
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}
//--------------------------------------------------------------------------------
.container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: auto;
  padding: 24px;
  width: 100%;
}
.layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
}
.relative {
  position: relative;
}
.input-box {
  /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
  /* padding-top: 2px; */
  border-radius: 2px;
  background: rgba(0,0,0,.06);
  border: 0;
}
.fade-slide-up-enter-active {
  transition: all 0.5s ease;
}
.fade-slide-up-leave-active {
  transition: all 0.5s ease;
}
.fade-slide-up-enter, .fade-slide-up-leave-to {
  transform: translateY(40px);
  opacity: 0;
}
.material-icons {
  color: beige !important;
}
.badge-p {
  margin: 0 2px;
  display: inline-flex;
  position: relative;
  align-items: center;
  height: 30px;
  width: 30px;
  text-align: center;
  align-content: center;
  line-height: 1rem;;
  font-size: 13px;
  border-radius: 50%;
  color:white;
}
.badge-p > i {
  position: relative;
}
.badge-s {
  margin: 0 2px;
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  padding: 0 5px 0 3px;
  min-width: fit-content;
  text-align: center;
  line-height: 1rem;;
  align-self: center;
  font-size: 13px;
  border-radius: 10px;
  color:white;
}
.badge-s > i {
  position: relative;
}
.badge-s > span {
  font-size: 16px;
  font-weight: bold;
}
.i-star {
  color: rgb(235, 117, 74) !important;
}
.green {
  background-color:  #39af1c
}
.orange {
  background-color: #f64b2d;
}
.blue {
  background-color: #448aff;
}
.white {
  color: beige !important;
}
.c-blue {
  color: #448aff !important;
}
.c-light-blue {
  color: #299cdf !important;
}
.b-green {
  background-color:  #39af1c !important;
}
.b-grey {
  background-color: rgb(94, 94, 94) !important;
}
.b-blue {
  background-color: #448aff;
}
.b-morado {
  background-color: #9B0076
}
.b-yellow {
  background-color: #dad61f !important;
}
.b-red {
  background-color: #dd1919 !important;
}
.b-purple {
  background-color: #8c2078 !important;
}
.b-light-blue {
  background-color: #299cdf !important;
}
h3 {
  color: coral !important;
}

.map-box-content {
  display: box;
  position: absolute;
  width: 300px;
  height: 600px;
  margin: 30px;
}
#searchInput {
  float: right;
  width: 200px;
  margin: 0 2% 0 0;
}